<header class="docs-page__header">
    <h1 class="docs-page__h1">Superdesk UI Framework</h1>
    <ul class="docs-page__header-nav">
        <li class="docs-page__header-nav-item docs-page__header-nav-item--active"><a class="docs-page__header-nav-link" href="#/design">Design</a></li>
        <li class="docs-page__header-nav-item"><a class="docs-page__header-nav-link" href="#/components">Components</a></li>
        <li class="docs-page__header-nav-item"><a class="docs-page__header-nav-link" href="#/react">React</a></li>
        <li class="docs-page__header-nav-item"><a class="docs-page__header-nav-link" href="#/playgrounds">Playground</a></li>
    </ul>

</header>

<aside class="docs-page__sidebar" doc-scroll ng-class="{scroll:boolChangeClass}" ng-if="page">
    <ul class="docs-page__nav" doc-nav>
        <li ng-repeat="group in components">
            <span class="docs-page__nav-title">{{group.name}}</span>
            <ul class="docs-page__nav--sub-level">
                <li class="docs-page__nav-item" ng-repeat="(name, item) in group.items"
                    ng-class="{'docs-page__nav-item--active': isActive(name)}"><a href="#/components/{{name}}">{{item.name}}</a>
                </li>
            </ul>
        </li>
    </ul>
</aside>

<main class="docs-page__content docs-page__container-fluid" ng-if="page" ng-include="'../examples/pages/design/' + page + '.html'"></main>

<main class="docs-page__content docs-page__container-fluid" ng-if="!page">
    This is default page
</main>