<header class="docs-page__header">
    <a href="#/" class="docs-page__header-logo"></a>
    <h1 class="docs-page__h1">Superdesk UI</h1>
    <ul class="docs-page__header-nav">
        <li class="docs-page__header-nav-item"><a class="docs-page__header-nav-link" href="#/">Home</a></li>
        <li class="docs-page__header-nav-item docs-page__header-nav-item--active"><a class="docs-page__header-nav-link" href="#/design">Design guidelines</a></li>
        <li class="docs-page__header-nav-item"><a class="docs-page__header-nav-link" href="#/components">Components</a></li>
        <li class="docs-page__header-nav-item"><a class="docs-page__header-nav-link" href="#/react">React</a></li>
        <li class="docs-page__header-nav-item"><a class="docs-page__header-nav-link" href="#/playgrounds">Playground</a></li>
    </ul>
</header>

<aside class="docs-page__sidebar">
    <ul class="docs-page__nav" doc-nav>
        <li ng-repeat="group in design">
            <span class="docs-page__nav-title">{{group.name}}</span>
            <ul class="docs-page__nav--sub-level">
                <li class="docs-page__nav-item" ng-repeat="(name, item) in group.items"
                    ng-class="{'docs-page__nav-item--active': isActive(name)}"><a href="#/design/{{name}}">{{item.name}}</a>
                </li>
            </ul>
        </li>
    </ul>
</aside>

<main class="docs-page__content docs-page__container-fluid" ng-if="page" ng-include="'design/' + page + '.html'"></main>

<main class="docs-page__content docs-page__container-fluid" ng-if="!page">
    <section class="docs-page__container">
        <div class="docs-page__hero">
            <figure class="docs-page__hero-image">
                <img src="/illustration--design.svg" alt="Design guidelines">
            </figure>
            <h2 class="docs-page__hero-h2 docs-page__color--primary">Superdesk Design guidelines</h2>
            <p class="docs-page__hero-text">What to do and what not while creating user interfaces in Superdesk.</p>
        </div>
    </section>
</main>