<header class="docs-page__header">
    <a href="#/" class="docs-page__header-logo"></a>
    <h1 class="docs-page__h1">Superdesk UI</h1>
    <ul class="docs-page__header-nav">
        <li class="docs-page__header-nav-item"><a class="docs-page__header-nav-link" href="#/">Home</a></li>
        <li class="docs-page__header-nav-item"><a class="docs-page__header-nav-link" href="#/design">Design guidelines</a></li>
        <li class="docs-page__header-nav-item"><a class="docs-page__header-nav-link" href="#/components">Components</a></li>
        <li class="docs-page__header-nav-item"><a class="docs-page__header-nav-link" href="#/react">React</a></li>
        <li class="docs-page__header-nav-item docs-page__header-nav-item--active"><a class="docs-page__header-nav-link" href="#/playgrounds">Playground</a></li>
    </ul>
</header>
<main class="docs-page__content">
    <div class="docs-page__hero sd-margin-b--0">
        <figure class="docs-page__hero-image">
            <img src="/illustration--playground.svg" alt="React">
        </figure>
        <h2 class="docs-page__hero-h2 docs-page__color--primary">UI Playgrounds</h2>
        <p class="docs-page__hero-text">Examples and drafts for more complex modules<br>
            and full-page layouts.</p>
    </div>
    <section class="docs-page__container sd-margin-t--0">
        <div class="flex-grid flex-grid--boxed flex-grid--wrap-items flex-grid--small-3">

            <div class="sd-card flex-grid__item" ng-repeat="(group, content) in playgrounds">
                <div class="sd-card__header sd-card__header--with-thumb sd-card__header--gradient-1">
                    <div class="sd-card__thumbnail sd-card__thumbnail--size-xxs">
                        <h4 class="sd-card__thumbnail-heading" style="text-transform: capitalize;">{{group}}</h4>
                    </div>
                </div>
                <div class="sd-card__content">
                    <ul class="text-link__group">
                        <li class="text-link__item" ng-repeat="(route, page) in content">
                            <a class="text-link" href="#/playgrounds/{{route}}" target="_blank" ng-if="!page.component">{{page.name}}</a>
                            <a class="text-link" href="#/playgrounds/react/{{route}}" target="_blank" ng-if="page.component">{{page.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
</main>