// Complete CSS Grid layout 
// ---------------------------------------------


// ------ Basic page with space for the main navigation on the left ------ //
.sd-page-grid--basic {
    margin: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 4.8rem 1fr auto auto;
    grid-gap: 0;
    height: 100vh;
    position: relative;
    background-color: aquamarine;

    .sd-main-menu {
        grid-column: 1/2;
        grid-row: 1/5;
        background-color: #272727;
        width: 30rem;
        box-shadow: inset -4px 0 12px rgba(0,0,0,0.9);
        display: none;
        .sd-left-nav__btn {
            color: rgba(255, 255, 255, 0.75);
        }
        .sd-left-nav__group-header {
            border-top: 1px solid rgba(255, 255, 255, 0.14);
        }
    }
    .sd-top-menu {
        grid-column: 2/3;
        grid-row: 1/2;
        z-index: 2;
        position: static;
    }
    .sd-content {
        grid-column: 2/3;
        grid-row: 2/3;
        z-index: 1;
        background-color: #f8f8f8;
        overflow: auto;
    }    
    .bottom-bar {
        height:3rem;
        background-color: #222;
        grid-column: 2/3;
        grid-row: 4/5;
        z-index: 2;
        display: flex;
        align-items: center;
        flex-direction: row;
        color: rgba(255, 255, 255, 0.75);
        padding: 0 10px; 
    }
}

.sd-page-content__left-tabs, 
.sd-page-content__right-tabs {
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    &::after {
        display: block;
        bottom: 0;
        content: '';
        width: 4px;
        position: absolute;
        z-index: 80;
        top: 0;
    }
}
.sd-page-content__left-tabs::after {
    right: -4px;
    background-image: linear-gradient(to right,rgba(0,0,0,.25) 0,transparent 100%);
}
.sd-page-content__right-tabs::after {
    left: -4px;
    background-image: linear-gradient(to left,rgba(0,0,0,.25) 0,transparent 100%);
}

// Container for layouts consisting of main content block with 2 slide-in panes 
.sd-column-box--3 {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: auto;
}
.sd-column-box__main-column {
    flex-grow: 1;
    flex-shrink: 1;
    width: 50%;
    overflow: auto;
}

.sd-page-content__content-block {
    transition: all 0.2s ease-out;
    transition-delay: 0.1s;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    flex-grow: 1;
    position: relative;
    .subnav {
        flex-shrink: 0;
        flex-grow: 0;
    }
    .sd-list-item-group {
        margin: 2.4rem;
        opacity: 1;
        transition: opacity 0.2s ease-in;
        transition-delay: 0.1s;
    }
    .sd-column-box--3 {
        opacity: 1;
        transition: opacity 0.2s ease-in;
        transition-delay: 0.1s;
    }
    .sd-list-header {
        margin: 2.4rem 2.4rem -2rem 2.4rem;
    }
}

.sd-page-content__content-block--right::before {
    border-left: 3px solid #6C6C6C;
    background-image: linear-gradient(to right,rgba(0,0,0,.2) 0,transparent 100%);
    display: block;
    bottom: 0;
    content: '';
    width: 6px;
    position: absolute;
    z-index: 8000;
    top: 0;
}

.sd-edit-panel {
    background-color: $white;
    transition: all .2s ease-out;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

// ------ Basic page with space for the main navigation on the left ------ //
.sd-page-content--split {
    width: 100%;
    display: flex;
    flex-direction: row;
    // override basic behaviour of the sd-sidebar-menu
    .sd-sidebar-menu {
        position: relative;
        top: 0;
        bottom: auto;
    }
    // Content block width modifiers
    .sd-page-content__content-block--100 {
        width: calc(100vw - #{$sd-sidebarMenu-width});
    }
    .sd-page-content__content-block--70 {
        width: calc(70vw - #{$sd-sidebarMenu-width});
    }
    .sd-page-content__content-block--50 {
        width: calc(50vw - #{$sd-sidebarMenu-width});
    }
    .sd-page-content__content-block--30 {
        width: calc(30vw - #{$sd-sidebarMenu-width});
    }
}

$planningEditor-width: 50rem;

.sd-page-content--slide-in {
    width: 100%;
    display: flex;
    flex-direction: row;
    // override basic behaviour of the sd-sidebar-menu
    .sd-sidebar-menu {
        position: relative;
        top: 0;
        bottom: auto;
    }

    .sd-page-content__content-block--main {
        width: calc(100vw - #{$sd-sidebarMenu-width});
    }
    
    .sd-page-content__content-block--30-slide {
        width: 0;
        .side-panel {
            opacity: 0;
            transition: opacity 0.2s ease-in;
            transition-delay: 0s;
            
        }
    }
    &--open {
        .sd-page-content__content-block--main {
            width: calc(100vw - #{$sd-sidebarMenu-width + $planningEditor-width});
        }
        .sd-page-content__content-block--30-slide {
            width: $planningEditor-width;
            .side-panel {
                opacity: 1;
                transition-delay: 0.2s;
            }
        }
    }
}


// Page specific behaviour

.sd-page-content--split {
    &.edit-closed {
        #leftContent.sd-page-content__content-block {
            width: calc(100vw - #{$sd-sidebarMenu-width});
        }
        #editPane.sd-page-content__content-block {
            width: 0;
            opacity: 0;
        }
        .open-preview .sd-preview-panel {
            width: 50rem;
        }
    }
}

.sd-page-content--split {
    &.sd-page-content--split-left {
        #leftContent.sd-page-content__content-block {
            width: 0;
            opacity: 0;
            .sd-list-item-group {
                opacity: 0;
                transition-delay: 0s;
            }
            .sd-column-box--3 {
                opacity: 0;
                transition-delay: 0s;   
            }
            .sd-list-header {
                opacity: 0;
                transition-delay: 0s;
            }
        }

    }
    &.sd-page-content__content-block.shift-to-left {
        #editPane.sd-page-content__content-block {
            width: calc(100vw - #{$sd-sidebarMenu-width});
        }
        #leftContent.sd-page-content__content-block {
            width: 0;
        }
    }
}


// .sd-page-content--split {

//     &.sd-page-content--split-left {
//         #leftContent.sd-page-content__content-block {
//             width: 0;
//             opacity: 0;
//             .sd-list-item-group {
//                 opacity: 0;
//                 transition-delay: 0s;
//             }
//             .sd-column-box--3 {
//                 opacity: 0;
//                 transition-delay: 0s;   
//             }
//             .sd-list-header {
//                 opacity: 0;
//                 transition-delay: 0s;
//             }
//         }
//         .open-preview .sd-preview-panel {
//             width: 60rem;
//         }
//         .sd-page-content__right-content {
//             width: calc(100vw - 98px);
//         }

//     }
//     &.sd-page-content--split-left.shift-to-left {
//         .sd-page-content__right-content {
//             width: calc(100vw - 98px);
//         }
//         .sd-page-content__left-content {
//             width: 0;
//         }
//     }
//     &.sd-page-content--split-right {
//         .sd-page-content__right-content {
//             width: 0;
//             opacity: 0;
//             .sd-list-item-group {
//                 opacity: 0;
//                 transition-delay: 0s;
//             }
//             .sd-column-box--3 {
//                 opacity: 0;
//                 transition-delay: 0s;   
//             }
//             .sd-list-header {
//                 opacity: 0;
//                 transition-delay: 0s;
//             }
//         }
//         .open-preview .sd-preview-panel {
//             width: 60rem;
//         }
//         .sd-page-content__left-content {
//             width: calc(100vw - 98px);
//         }
//     }
//     &.sd-page-content--split-right.shift-to-right {
//         .sd-page-content__left-content {
//             width: calc(100vw - 98px);
//         }
//         .sd-page-content__right-content {
//             width: 0;
//         }
//     }
//     &.shift-to-right {
//         .sd-page-content__left-content  {
//             width: calc(65vw - 49px);
//         }
//         .sd-page-content__right-content {
//             width: calc(35vw - 49px);
//         }
//     }
//     &.shift-to-left {
//         .sd-page-content__left-content  {
//             width: calc(35vw - 49px);
//         }
//         .sd-page-content__right-content {
//             width: calc(65vw - 49px);
//         }
//     }
// }




// ----------- OTHER ELEMENTS ----------- //

.sd-sidebar-menu__btn--closed {
    .sd-sidebar-menu__helper-icon {
        transform: rotate(180deg);
    }
}

.sd-filters-panel, .sd-preview-panel {
    width: 0;
    transition: all .2s ease-out;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    .side-panel {
        opacity: 0;
        transition: all 0.1s ease-out;
        transition-delay: 0;
    }
}
.sd-filters-panel {
    background-color: $sd-filters-bg;
    border-right: 2px solid rgba(187, 187, 187, 0); 
}
.sd-preview-panel {
    background-color: #fff;
    border-left: 1px solid rgba(187, 187, 187, 0); 
}
.open-filters {
    .sd-filters-panel {
        width: 36rem;
        border-right: 2px solid rgba(187, 187, 187, 1);
        .side-panel {
            opacity: 1;
            transition: all 0.2s ease-out;
            transition-delay: .2s;
        } 
    }
}
.open-preview {
    .sd-preview-panel {
        width: 36rem;
        border-left: 1px solid rgba(187, 187, 187, 1);
        .side-panel {
            opacity: 1;
            transition: all 0.2s ease-out;
            transition-delay: .2s;
        }  
    }
}

.sd-filters-panel, .sd-preview-panel {
    .side-panel {
        opacity: 0;
    }
}
.text-label {
    display: inline-block;
    min-width: 4rem;
    color: $gray;
    font-weight: 300;
}