// Complete CSS Grid layout 
// ---------------------------------------------


// ------ Basic page with space for the main navigation on the left ------ //
.sd-page-grid--basic {
    margin: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 4.8rem 1fr auto auto;
    grid-gap: 0;
    height: 100vh;
    position: relative;
    background-color: aquamarine;

    .sd-main-menu {
        grid-column: 1/2;
        grid-row: 1/5;
        background-color: #272727;
        width: 30rem;
        box-shadow: inset -4px 0 12px rgba(0,0,0,0.9);
        display: none;
        .sd-left-nav__btn {
            color: rgba(255, 255, 255, 0.75);
        }
        .sd-left-nav__group-header {
            border-top: 1px solid rgba(255, 255, 255, 0.14);
        }
    }
    .sd-top-menu {
        grid-column: 2/3;
        grid-row: 1/2;
        z-index: 2;
        position: static;
    }
    .sd-content {
        grid-column: 2/3;
        grid-row: 2/3;
        z-index: 1;
        background-color: var(--color-bg-50);
        overflow: auto;
    }    
    .bottom-bar {
        height:3rem;
        background-color: #222;
        grid-column: 2/3;
        grid-row: 4/5;
        z-index: 2;
        display: flex;
        align-items: center;
        flex-direction: row;
        color: rgba(255, 255, 255, 0.75);
        padding: 0 10px; 
    }
}

.sd-page-content__left-tabs, 
.sd-page-content__right-tabs {
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    &::after {
        display: block;
        bottom: 0;
        content: '';
        width: 4px;
        position: absolute;
        z-index: 80;
        top: 0;
    }
}
.sd-page-content__left-tabs::after {
    right: -4px;
    background-image: linear-gradient(to right,rgba(0,0,0,.25) 0,transparent 100%);
}
.sd-page-content__right-tabs::after {
    left: -4px;
    background-image: linear-gradient(to left,rgba(0,0,0,.25) 0,transparent 100%);
}

// Container for layouts consisting of a main content block with 1 or 2 slide-in panes 
.sd-column-box--3, .sd-column-box--2 {  
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: auto;
}
.sd-column-box__main-column {
    flex-grow: 1;
    flex-shrink: 1;
    // width: 50%;
    overflow: auto;
    &--padded {
        padding: 2rem;
    }
    &--20 {
        width:20%;
    }
    &--30 {
        width:30%;
    }
    &--40 {
        width:40%;
    }
    // 50% is the default width
    &--60 {
        width:60%;
    }
    &--70 {
        width:70%;
    }
    &--80 {
        width:80%;
    }
    &--photo-preview {
        display: flex;
        flex-direction: column;
        background-color: #212121;
        position: relative;
        .sd-photo-preview {
            flex-grow: 1;
        }
    }
    &--left {
        border-right: 1px solid #BEBCBC;
    }
    &--border-right {
        border-right: 2px solid #8f8f8f;
    }
    &--flex {
        display: flex;
        flex-direction: column;
    }
}
.sd-column-box__main-column-inner {
    overflow-y: auto;
    padding: 2rem;
    flex-grow: 1;
}
.sd-column-box__slide-in-column {
    width: 26rem;
    transition: all .2s ease-out;
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgba(0, 0, 0, 0.27);
    overflow-x: hidden;
    position: relative;
    flex-shrink: 0;
    &::before{
        display: block;
        top: 0;
        bottom: 0;
        content: '';
        width: 4px;
        position: absolute;
        left: 0;
        z-index: 80;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.12) 0%, transparent 100%);
    }
    .sd-column-box__slide-in-column-inner {
        opacity: 1;
        transition: all 0.1s ease-out;
        transition-delay: 0.2s;
        background-color: rgba(255, 255, 255, 0.7);
    }
    &--large {
        width: 40rem;
    }
    &--dark-ui {
        background-color: #3b3b3b;
        .sd-column-box__slide-in-column-inner {
            background-color: #3b3b3b;
        }
        .sd-slide-in-panel__heading {
            color: rgba(255,255,255,0.75);
        }
    }
    &--closed {
        width: 0;
        border-left: 1px solid rgba(187, 187, 187, 0);
        overflow: hidden;
        .sd-column-box__slide-in-column-inner {
            opacity: 0;
            transition: all 0.1s ease-out;
            transition-delay: 0;
        }
    }
}
.sd-slide-in-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.sd-slide-in-panel__header {
    flex-grow: 0;
    flex-shrink: 0;
    z-index: 2;
    position: relative;
    min-height: 4.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
}
.sd-slide-in-panel__heading {
    padding: 0 2rem 0 1.6rem;
    margin: 0;
    font-size: 1.5rem;
    color: $gray;
    font-weight: 300;
    letter-spacing: 0.02em;
    &--marg-b10 {
        margin-bottom: 1rem;
    }
    &--marg-b16 {
        margin-bottom: 1.6rem;
    }
    &--marg-b20 {
        margin-bottom: 2rem;
    }
}
.sd-slide-in-panel__close {
    position: absolute;
    right: 1rem;
    top: 1.1rem;
    z-index: 2;
    color: $gray;
}
.sd-slide-in-panel__content {
    flex-grow: 1;
    overflow-y: auto;
}
.sd-slide-in-panel__content-block {
    padding: 1.6rem;
    &--first {
        padding-top: 3.2rem
    }
    .sd-slide-in-panel__heading {
        padding: 0;
    }
}




.sd-page-content__content-block {
    transition: all 0.2s ease-out;
    transition-delay: 0.1s;
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;
    flex-grow: 1;
    position: relative;
    .subnav {
        flex-shrink: 0;
        flex-grow: 0;
    }
    .sd-list-item-group {
        margin: 2.4rem;
        opacity: 1;
        transition: opacity 0.2s ease-in;
        transition-delay: 0.1s;
    }
    .sd-column-box--3 {
        opacity: 1;
        transition: opacity 0.2s ease-in;
        transition-delay: 0.1s;
    }
    .sd-list-header {
        margin: 2.4rem 2.4rem -2rem 2.4rem;
    }
    &--double-sidebar {
        width: calc(100vw - #{$sd-sidebarMenu-width * 2});
    }

}

.sd-page-content__content-block--right::before {
    border-left: 3px solid #6C6C6C;
    background-image: linear-gradient(to right,rgba(0,0,0,.2) 0,transparent 100%);
    display: block;
    bottom: 0;
    content: '';
    width: 6px;
    position: absolute;
    z-index: 8000;
    top: 0;
}

.sd-edit-panel {
    background-color: $white;
    transition: all .2s ease-out;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

// ------ Basic page with space for the main navigation on the left ------ //
.sd-page-content--split {
    width: 100%;
    display: flex;
    flex-direction: row;
    // override basic behaviour of the sd-sidebar-menu
    .sd-sidebar-menu {
        position: relative;
        top: 0;
        bottom: auto;
    }
    // Content block width modifiers
    .sd-page-content__content-block--100 {
        width: calc(100vw - #{$sd-sidebarMenu-width});
    }
    .sd-page-content__content-block--70 {
        width: calc(70vw - #{$sd-sidebarMenu-width});
    }
    .sd-page-content__content-block--50 {
        width: calc(50vw - #{$sd-sidebarMenu-width});
    }
    .sd-page-content__content-block--30 {
        width: calc(30vw - #{$sd-sidebarMenu-width});
    }
}

$planningEditor-width: 53rem;

.sd-page-content--slide-in {
    display: flex;
    flex-direction: row;
    // override basic behaviour of the sd-sidebar-menu
    .sd-sidebar-menu {
        position: relative;
        top: 0;
        bottom: auto;
    }

    .sd-page-content__content-block--main {
        width: calc(100vw - #{$sd-sidebarMenu-width});
    }
    
    .sd-page-content__content-block--30-slide {
        width: 0;
        .side-panel {
            opacity: 0;
            transition: opacity 0.2s ease-in;
            transition-delay: 0s;
            
        }
    }
    &--open {
        .sd-page-content__content-block--main {
            width: calc(100vw - #{$sd-sidebarMenu-width + $planningEditor-width});
        }
        .sd-page-content__content-block--30-slide {
            width: $planningEditor-width;
            .side-panel {
                opacity: 1;
                transition-delay: 0.2s;
            }
        }
    }
}


// Page specific behaviour

.sd-page-content--split {
    &.edit-closed {
        #leftContent.sd-page-content__content-block {
            width: calc(100vw - #{$sd-sidebarMenu-width});
        }
        #editPane.sd-page-content__content-block {
            width: 0;
            opacity: 0;
        }
        .open-preview .sd-preview-panel {
            width: 50rem;
        }
    }
}

.sd-page-content--split {
    &.sd-page-content--split-left {
        #leftContent.sd-page-content__content-block {
            width: 0;
            opacity: 0;
            .sd-list-item-group {
                opacity: 0;
                transition-delay: 0s;
            }
            .sd-column-box--3 {
                opacity: 0;
                transition-delay: 0s;   
            }
            .sd-list-header {
                opacity: 0;
                transition-delay: 0s;
            }
        }

    }
    &.sd-page-content__content-block.shift-to-left {
        #editPane.sd-page-content__content-block {
            width: calc(100vw - #{$sd-sidebarMenu-width});
        }
        #leftContent.sd-page-content__content-block {
            width: 0;
        }
    }
}

// ----------- OTHER ELEMENTS ----------- //

.sd-sidebar-menu__btn--closed {
    .sd-sidebar-menu__helper-icon {
        transform: rotate(180deg);
    }
}

.sd-filters-panel, .sd-preview-panel, .sd-publish-panel {
    width: 0;
    transition: all .2s ease-out;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    .side-panel {
        opacity: 0;
        transition: all 0.1s ease-out;
        transition-delay: 0;
    }
}
.sd-filters-panel {
    background-color: $sd-filters-bg;
    border-right: 0px solid rgba(0, 0, 0, 0); 
}
.sd-preview-panel {
    background-color: #fff;
    border-left: 0px solid rgba(0, 0, 0, 0);
    &--dark-ui {
        background-color: darken($grayMedium, 10%);
    }

}
.open-filters {
    .sd-filters-panel {
        width: 36rem;
        border-right: 2px solid rgba(0, 0, 0, 0.25);

        &--border-left {
            border-right: none;
            border-left: 2px solid rgba(0, 0, 0, 0.25);
        }
        .side-panel {
            opacity: 1;
            transition: all 0.2s ease-out;
            transition-delay: .2s;
        } 
    }
}
.open-preview {
    .sd-preview-panel {
        width: 36rem;
        border-left: 1px solid rgba(0, 0, 0, 0.25);
        flex-shrink: 0;
        &--dark-ui {
            border-left-color: rgba(0, 0, 0, 0.4);
        }
        .side-panel {
            opacity: 1;
            transition: all 0.2s ease-out;
            transition-delay: .2s;
        }  
    }
    .authoring & {
        .sd-preview-panel {
            width: auto;            
            max-width: 32rem;
        }
    }
}

.sd-filters-panel, .sd-preview-panel {
    .side-panel {
        opacity: 0;
    }
}
.text-label {
    display: inline-block;
    min-width: 4rem;
    color: $gray;
    font-weight: 300;
    &--auto {
        min-width: auto;
    } 
}

.sd-content-navigation-panel {
    width: 20rem;
    background-color: #f0f0f0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;
    border-right-color: $grayLight;
    border-right-style: solid;
    border-right-width: 0;
    transition: all .2s ease-out .1s;

    &--border-right {
        border-right-width: 2px;
    }
    .subnav {
        flex-shrink: 0;
    }

    .content-nav-closed & {
        width: 0;
       
        .sd-content-nav {
            opacity: 0;
            transition: all .1s ease-out;
        }
        &.sd-content-navigation-panel--border-right {
            border-right-width: 0;
        }        
    }
}

// publish panel
.sd-publish-panel {
    .open-publish & {
        width: 40rem;
        flex-shrink: 0;

        .side-panel {
            opacity: 1;
            transition: all 0.2s ease-out;
            transition-delay: .2s;
        }
    }
}
.authoring {
    .open-publish {
        .sd-publish-panel {
            width: auto;            
            max-width: 32rem;
            flex-grow: 1;
            flex-shrink: 1;
        }
    }
}

// DARK UI ---------------------------------------------
//------------------------------------------------------

.dark-ui,
[class^="--dark-ui"],
[class*="--dark-ui"] {
    .sd-filters-panel {
        background-color: $sd-filters-darkUI-bg;
    }
}




// GRID LAYOUT TEST ------------------------------------------------------------------------------------------------------------------------
//------------------------------------------------------------------------------------------------------------------------------------------

// Main content structure for layouts like Monitoring list and Global Search. Consists of top toolbar (subnav), manin content area and 
// slide-in panels on the left (filte panel) and right (preview panel).
.sd-main-content-grid {
    margin: 0;
    display: grid;
    grid-template-columns: [slideInLeft] auto [mainContent] 1fr [slideInRight] auto [overlayContainer] 0;
    grid-template-rows: [headerToolbar] auto [contentBlock] 1fr;
}
.sd-main-content-grid__header {
    grid-column: 1/4;
    grid-row: headerToolbar;
    display: flex;
    flex-direction: column;
}
.sd-main-content-grid__content {
    grid-column: mainContent;
    grid-row: contentBlock;
    overflow-y: auto;
    &.sd-main-content-grid__content--with-filters {
        display: grid;
        grid-template-rows: [filterBar] auto [innerContent] 1fr;
    }
}
//---- With filter tags on top -----------
// use this combination when there is a filter bar on top of the content (e.g. Global Search)
.sd-main-content-grid__content {
    &.sd-main-content-grid__content--with-filters {
        display: grid;
        grid-template-rows: [filterBar] auto [innerContent] 1fr;
    }
}
.sd-main-content-grid__content-filter-bar {
    grid-row: filterBar;
}
.sd-main-content-grid__content-inner {
    grid-row: innerContent;
    overflow-y: auto;
}

.sd-main-content-grid__filter {
    grid-column: slideInLeft;
    grid-row: contentBlock;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.sd-main-content-grid__preview {
    grid-column: slideInRight;
    grid-row: contentBlock;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.sd-main-content-grid__overlay {
    grid-column: overlayContainer;
    grid-row: 1/-1;
    overflow: visible;
    width: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
}

.side-panel__container {
    grid-column: 1/2;
    width:0;
    overflow: hidden;
    transition: all ease-in-out 0.1s;
    .side-panel {
        opacity: 0;
        transition: opacity ease-in-out 0.4s;
    }
}

.sd-main-content-grid__preview.open-preview {
    .side-panel__container {
        width:460px;
        overflow-y: auto;
        .side-panel {
            opacity: 1;
        }
    } 
}
.sd-main-content-grid__filter.open-filters {
    .side-panel__container {
        width:360px;
        overflow-y: auto;
        .side-panel {
            opacity: 1;
        }
        &.side-panel__container--small {
            width: 300px;
        }

    } 
}


// main section fot placing left navigation bar, main content, splitter and editor.
.sd-content-wrapper { 
    margin: 0;
    display: grid;
    grid-template-columns: [sideTabsLeft] auto [contentArea] 1fr [contentSplitter] auto [authoringArea] auto;
    grid-template-rows: 1fr;
}
.sd-content-wrapper__left-tabs { 
    grid-column: sideTabsLeft;
    &.sd-sidebar-menu {
        position: static;
        box-shadow: 1px 0 0 rgba(0,0,0,0.08), 1px 0 4px rgba(0,0,0,0.16);
        //z-index: 10;
    }
}
.sd-content-wrapper__main-content-area { 
    grid-column: contentArea;
    overflow: auto;
}
.sd-content-wrapper__content-splitter { 
    grid-column: contentSplitter;

    // this styling might be moved to an inner element
    width: 3px;
    background-color: #666;
    cursor: col-resize;
}
.sd-content-wrapper__authoring-content-area { 
    grid-column: authoringArea;
    display: grid;
}

// main page structure - top bar, slide-in main navigation, content area and footer (open items bar).
.sd-page-grid--test {
    margin: 0;
    display: grid;
    grid-template-columns: [slideInNavigation] auto [contentContainer] 1fr;
    grid-template-rows: [mainToolbar] 4.8rem [contentContainer] 1fr [footerBar] auto;
    grid-gap: 0;
    height: 100vh;
    position: relative;
    background-color: aquamarine;

    .sd-main-menu {
        grid-column: slideInNavigation;
        grid-row: 1/-1;
        background-color: #272727;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        .sd-main-menu__inner {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            width: 0;
            overflow: hidden;
            transition: opacity ease-in-out 0.2s, width ease-in-out 0.1s;
            opacity: 0;
            box-shadow: inset -8px 0px 12px -4px rgba(0, 0, 0, 0.6);
        }
        &.sd-main-menu--open {
            .sd-main-menu__inner {
                width: 30rem;
                opacity: 1;
            }
        }
    }
    .sd-top-menu {
        grid-column: contentContainer;
        grid-row: mainToolbar;
        z-index: 2;
        position: static;
    }
    .sd-content {
        grid-column: contentContainer;
        grid-row: contentContainer;
        z-index: 1;
        overflow: auto;
        background-color: var(--color-bg-50);

    }    
    .bottom-bar {
        grid-column: contentContainer;
        grid-row: footerBar;
        height:3rem;
        background-color: #222;
        z-index: 2;
        display: flex;
        align-items: center;
        flex-direction: row;
        color: rgba(255, 255, 255, 0.75);
        padding: 0 10px; 
    }
}

// EDITOR 3 Layout ======================================= //
.sd-authoring-page {
    display: grid;
    grid-template-columns: [authoringMain] 1fr [authoringSideTabs] auto [publishContainer] 0px;
    grid-template-rows: [authoringHeader] auto [authoringMainRow] 1fr;
}
.sd-authoring-page__header {
    grid-column: 1/3;
    grid-row: authoringHeader;
    display: flex;
    flex-direction: column;
}
.sd-authoring-page__main-container {
    grid-column: authoringMain;
    grid-row: authoringMainRow;
    display: flex;
    position: relative;
    flex-direction: column;
    position: relative;
    min-width: 60rem;
}
.sd-authoring-page__side-tabs {
    grid-column: authoringSideTabs;
    grid-row: authoringMainRow;
    //position: relative;
}
.sd-authoring-page__publish-container {
    grid-column: publishContainer;
    grid-row: 1/-1;
    position: relative;
    overflow: visible;
    width: 0 !important;
}
// =================================== END EDITOR 3 Layout //


.sd-overlay-panel-2 {
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    background: $panel-bg--03;
    color: $sd-text;
    overflow: hidden;
    transition: all 0.1s ease-out;
    .side-panel {
        opacity: 0;
        transition: all 0s ease-out;
        transition-delay: 0;
    }
    &--left {
        box-shadow: 2px 0px 0px 0px rgba(102, 102, 102, 1), 2px 0px 12px 0px rgba(0, 0, 0, 0.3);
        left:0;
    }
    &--right {
        box-shadow: -2px 0px 0px 0px rgba(102, 102, 102, 1), -2px 0px 12px 0px rgba(0, 0, 0, 0.3);
        right:0;
    }
    &--dark-ui {
        background-color: $sd-background-darkUI;
        color: $white;
        &.sd-overlay-panel-2--left {
            box-shadow: 2px 0px 12px 0px rgba(0, 0, 0, 0.3);
        }
        &.sd-overlay-panel-2--right {
            box-shadow: -2px 0px 12px 0px rgba(0, 0, 0, 0.3);
        }
    }
    &--open {
        width:32.8rem;
        overflow: auto;
        .side-panel {
            opacity: 1;
            transition: all 0.2s ease-out;
            transition-delay: .1s;
        }
        &.sd-overlay-panel--medium {
            width:40rem;
        }
        &.sd-overlay-panel--large {
            width:68rem;
        }
    }
}

.sd-authoring-page__publish-container,
.sd-main-content-grid__overlay {
    .sd-overlay-panel {
        top:0;
        bottom:0;
        z-index: 100;
    }
}
