/// @group sd-alert

/// Default background color for labels.
$sd-alert-background: scale-color($grayLight, $alpha: -50%) !default;

/// Default text color for sd-alerts.
$sd-alert-color: $grayDark !default;

/// Alternate text color for sd-alerts.
$sd-alert-color-alt: $gray !default;

/// Coloring classes. A map of classes to output in the CSS.
$sd-alert-palette: $sd-extended-palette;

/// Default padding inside sd-alerts.
$sd-alert-padding: 1.8rem 3rem 1.8rem 2rem !default;

$sd-alert-padding-small: 0.8rem 2.4rem 0.8rem 1.2rem;

$sd-alert-lineheight-large: 1;

/// Default radius of sd-alerts.
$sd-alert-radius: 4px !default;

/// Default shadow for sd-alerts.
$sd-alert-shadow: 0 1px 4px rgba(0,0,0,.2), 0 0 1px rgba(0,0,0,.1);
$sd-alert-shadow-small: 0 1px 2px rgba(0,0,0,.12), 0 0 1px rgba(0,0,0,.08);


/// Removes background fill for hollow buttons.
@mixin sd-alert-hollow-style($color: $sd-alert-color-alt) {
    border: 1px solid $color;
    background-color: scale-color($color, $lightness: 95%);
    color: $color;
}

//$sd-info-btn-hover: scale-color($button-background, $lightness: -85%) !default;

/// Generates base styles for a sd-alert.
@mixin sd-alert {
    padding: $sd-alert-padding;
    vertical-align: middle;
    border-radius: $sd-alert-radius;
    line-height: 1.4em;
    font-size: 1.4rem;
    border: 1px solid transparent;
    font-weight: 400;
    position: relative;
    box-shadow: $sd-alert-shadow;
    & strong {
        font-weight: 500;
    }
}


.sd-alert {
    @include sd-alert;
    margin-bottom: 2rem;
    background: $sd-alert-background;
    color: $sd-alert-color;
    max-height: 20rem;
    max-width: 100%;
    height:auto;
    transition: all linear 100ms;
    display: flex;
        @each $name, $color in $sd-alert-palette {
        &.sd-alert--#{$name} {
            background: $color;
            color: white;
        }
    }
    &.sd-alert--hollow {
        @include sd-alert-hollow-style;
        @each $name, $color in $sd-alert-palette {
            &.sd-alert--#{$name} {
                @include sd-alert-hollow-style($color);
            }
        }
    }
    p {
        font-size: 1.4rem;
        color: inherit;
        margin-bottom: 1em;
    }
    & p:last-child,
    & p:only-child {
        margin-bottom: 0;
    }
    &--hidden {
        opacity:0;
        max-height: 0.1rem;
        max-width: 10%;
        padding:0;
        overflow:hidden;
        font-size: 0.1rem;
        transition: font-size ease-out 300ms, padding ease-out 300ms, max-width ease-out 200ms, max-height ease-out 300ms, opacity ease-out 200ms;
        //transition: all ease-out 300ms;
    }
    &--small {
        font-size: 1.3rem;
        font-weight: 300;
        padding: $sd-alert-padding-small;
        box-shadow: $sd-alert-shadow-small;
        transition: all linear 90ms;
    }
    &--marg-b12 {
        margin-bottom: 1.2rem;
    }
}

.sd-alert__close {
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
    width: 2.1rem;
    height: 2.1rem;
    padding: 0;
    z-index: 1;
    opacity: .2;
    line-height: 2.1rem;
    color: inherit;
    border-radius: 50%;
    &::after {
        font-family: sd_icons;
        font-size: 16px;
        content: "\e647";
        width: 16px;
        height:16px;
        position: absolute;
        top:0;
        left: 0.3rem;
        line-height: inherit;
        color: inherit;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
    }
    &:hover {
        opacity: .8;
        background-color: rgba(255,255,255,.3);
    }
    &:active {
        opacity: 1;
        background-color: rgba(255,255,255,.5);
    }
}
.sd-alert--small {
    .sd-alert__close {
        top: 0.4rem;
    }
}

.sd-alert__container {
    position: relative;
    min-height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.sd-alert__icon {
    margin: 0.1rem 1.2rem 0 -0.5rem;
    flex-shrink: 0;
}
.sd-alert--small {
    .sd-alert__icon {
        margin-left: 0;
    }
}
.sd-alert__info-btn {
    cursor: pointer;
    height: 2.2rem; 
    width: 2.2rem;
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-style: italic;
    line-height: 2.4rem;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    color:white;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    flex-grow: 0;
    flex-shrink: 1;
    transition: all linear 100ms 0.2s, background ease-in 200ms;
    background: $sd-alert-color-alt;
    & [class^="icon-"], & [class*=" icon-"] {
        color:inherit;
        margin-top: 0.3rem;
    }
    &:hover {
        background: scale-color($sd-alert-color-alt, $lightness: -20%);
    }
    @each $name, $color in $sd-alert-palette {
        &.sd-alert__info-btn--#{$name} {
            background: $color;
            color: white;
            &:hover {
                background: scale-color($color, $lightness: -20%);
    }
        }
    }
    &--hidden {
        opacity: 0;
        height:1px;
        width:1px;
        flex-shrink: 1;
        transition: all linear 100ms;
    }

}

.sd-alert__container {
    .sd-alert {
        flex-grow: 1;
    }
}


