/// @group sd-alert

/// Default padding inside sd-alerts.
$sd-alert-padding: 1.8rem 3rem 1.8rem 2rem !default;
$sd-alert-padding-small: 0.8rem 2.4rem 0.8rem 1.2rem;
$sd-alert-lineheight-large: 1;

$sd-alert-padding: 1.8rem 3rem 1.8rem 2rem !default;
$sd-alert-padding-small: 0.8rem 2.4rem 0.8rem 1.2rem;

$sd-alert-padding-x: 2rem 3rem !default;
$sd-alert-padding-y: 1.8rem !default;
$sd-alert-padding-x-small: 1.2rem 2.4rem;
$sd-alert-padding-y-small: 0.8rem;


/// Default radius of sd-alerts.
$sd-alert-radius: var(--b-radius--medium) !default;

/// Default shadow for sd-alerts.
$sd-alert-shadow: 0 1px 4px rgba(0,0,0,.2), 0 0 1px rgba(0,0,0,.1);
$sd-alert-shadow-small: 0 1px 2px rgba(0,0,0,.12), 0 0 1px rgba(0,0,0,.08);

/// Transition between normal and hidden state
$sd-alert-transition: font-size ease-out 300ms, padding ease-out 300ms, max-width ease-out 200ms, max-height ease-out 300ms, opacity ease-out 200ms;
$sd-alert-transition-small: font-size ease-out 20ms, padding ease-out 200ms, max-width ease-out 100ms, max-height ease-out 80ms, opacity ease-out 160ms;

@mixin sd-alert {
    max-height: 20rem;
    max-width: 100%;
    height:auto;
    transition: all linear 100ms;
    display: flex;
    padding-block-start: $sd-alert-padding-y;
    padding-block-end: $sd-alert-padding-y;
    padding-inline: $sd-alert-padding-x;
    vertical-align: middle;
    border-radius: $sd-alert-radius;
    line-height: 1.4em;
    font-size: 1.4rem;
    border: 1px solid transparent;
    font-weight: 400;
    position: relative;
    box-shadow: $sd-alert-shadow;
    background-color: var(--sd-alert-bg);
    margin-bottom: 2rem;
    & strong {
        font-weight: 500;
    }
    &--hidden {
        opacity: 0;
        max-height: 0.1rem;
        max-width: 10%;
        padding:0;
        overflow:hidden;
        font-size: 0.1rem;
        transition: $sd-alert-transition;
    }
    &--small {
        font-size: 1.3rem;
        padding-block-start: $sd-alert-padding-y-small;
        padding-block-end: $sd-alert-padding-y-small;
        padding-inline: $sd-alert-padding-x-small;
        box-shadow: $sd-alert-shadow-small;
        transition: $sd-alert-transition-small;
    }
    &--marg-b12 {
        margin-bottom: 1.2rem;
    }
    &--no-margin {
        margin-bottom: 0;
    }
}
@mixin sd-alert-hollow {
    border: 1px solid var(--sd-alert-border);
    background-color: var(--sd-alert-bg);
    --sd-alert-hs: 214, 13%;
    --sd-alert-l: var(--sd-alert-hs), 50%;
    --sd-alert-txt: hsla(var(--sd-alert-l), 1);
    --sd-alert-bg: hsla(var(--sd-alert-l), 0.05);
    [class^="icon-"], [class*=" icon-"] {
      color: var(--sd-alert-color);
    }
  }


.sd-alert {
    @include sd-alert;
    color: var(--color-text-light);
    --sd-alert-bg: var(--sd-colour-alert-bg-neutral);
    p {
        font-size: 1.4rem;
        color: inherit;
        margin-block-end: 1em;
        &:last-child, &:only-child {
            margin-block-end: 0;
        }
    }
    &--primary, &--info, &--success, &--warning, &--alert, &--highlight, &--sd-green {
        color: $white;
    }
    &--primary, &--info {
        --sd-alert-bg: var(--sd-colour-info);
    }
    
    &--success {
        --sd-alert-bg: var(--sd-colour-success);
    }
    
    &--warning {
        --sd-alert-bg: var(--sd-colour-warning);
    }
    
    &--alert {
        --sd-alert-bg: var(--sd-colour-alert);
    }
    
    &--highlight {
        --sd-alert-bg: var(--sd-colour-highlight);
    }
    
    &--sd-green {
        --sd-alert-bg: var(--sd-colour-superdesk);
    }
    &.sd-alert--hollow {
        --sd-alert-hs: 214, 13%;
        --sd-alert-border: var(--sd-colour-line--strong);
        --sd-alert-color: var(--color-text-light);
        @include sd-alert-hollow;
        &.sd-alert--primary {
            --sd-alert-hs: var(--sd-colour-info-hs);
            --sd-alert-border: var(--sd-colour-info);
            --sd-alert-color: var(--sd-colour-info);
            color: var(--sd-alert-color);
        }
        
        &.sd-alert--success {
            --sd-alert-hs: var(--sd-colour-success-hs);
            --sd-alert-border: var(--sd-colour-success);
            --sd-alert-color: var(--sd-colour-success);
            color: var(--sd-alert-color);
        }
        
        &.sd-alert--warning {
            --sd-alert-hs: var(--sd-colour-warning-hs);
            --sd-alert-border: var(--sd-colour-warning);
            --sd-alert-color: var(--sd-colour-warning);
            color: var(--sd-alert-color);
        }
    
        &.sd-alert--alert {
            --sd-alert-hs: var(--sd-colour-alert-hs);
            --sd-alert-border: var(--sd-colour-alert);
            --sd-alert-color: var(--sd-colour-alert);
            color: var(--sd-alert-color);
        }
    
        &.sd-alert--highlight {
            --sd-alert-hs: var(--sd-colour-highlight-hs);
            --sd-alert-border: var(--sd-colour-highlight);
            --sd-alert-color: var(--sd-colour-highlight);
            color: var(--sd-alert-color);
        }
    
        &.sd-alert--sd-green {
            --sd-alert-hs: var(--sd-colour-superdesk-hs);
            --sd-alert-border: var(--sd-colour-superdesk);
            --sd-alert-color: var(--sd-colour-superdesk);
            color: var(--sd-alert-color);
        }

    }
 
}

.sd-alert__close {
    position: absolute;
    inset-block-start: 0.3rem;
    inset-inline: auto 0.3rem;
    width: 2.1rem;
    height: 2.1rem;
    padding: 0;
    z-index: 1;
    opacity: .2;
    line-height: 2.1rem;
    color: inherit;
    border-radius: $border-radius__base--full;
    &::after {
        font-family: sd_icons;
        font-size: 16px;
        content: "\e647";
        width: 16px;
        height:16px;
        position: absolute;
        top:0;
        left: 0.3rem;
        line-height: inherit;
        color: inherit;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
    }
    &:hover {
        opacity: .8;
        background-color: hsla(0, 0%, 100%, 0.3);
    }
    &:active {
        opacity: 1;
        background-color: hsla(0, 0%, 100%, 0.5);
    }
}

.sd-alert--small {
    .sd-alert__close {
        inset-block-start: 0.4rem;
    }
}

.sd-alert__container {
    position: relative;
    min-height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.sd-alert__icon {
    margin: 0.1rem 1.2rem 0 -0.5rem;
    flex-shrink: 0;
}
.sd-alert--small {
    .sd-alert__icon {
        margin-left: 0;
    }
}
.sd-alert__info-btn {
    cursor: pointer;
    height: 2.2rem; 
    width: 2.2rem;
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-style: italic;
    line-height: 2.4rem;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    color:white;
    text-align: center;
    display: inline-block;
    border-radius: $border-radius__base--full;
    flex-grow: 0;
    flex-shrink: 1;
    transition: all linear 100ms 0.2s, background-color ease-in 200ms;
    background-color: var(--sd-colour-neutral);
    & [class^="icon-"], & [class*=" icon-"] {
        color:inherit;
        margin-top: 0.3rem;
    }
    &:hover {
        background-color: var(--sd-colour-neutral--hover);
    }
    &--hidden {
        opacity: 0;
        height:1px;
        width:1px;
        flex-shrink: 1;
        transition: all linear 100ms;
    }
    &--primary, &--info {
        background-color: var(--sd-colour-info);
        &:hover {
            background-color: var(--sd-colour-info--hover);
        }
    }
    
    &--success {
        background-color: var(--sd-colour-success);
        &:hover {
            background-color: var(--sd-colour-success--hover);
        }
    }
    
    &--warning {
        background-color: var(--sd-colour-warning);
        &:hover {
            background-color: var(--sd-colour-warning--hover);
        }
    }
    
    &--alert {
        background-color: var(--sd-colour-alert);
        &:hover {
            background-color: var(--sd-colour-alert--hover);
        }
    }
    
    &--highlight {
        background-color: var(--sd-colour-highlight);
        &:hover {
            background-color: var(--sd-colour-highlight--hover);
        }
    }
    
    &--sd-green {
        background-color: var(--sd-colour-superdesk);
        &:hover {
            background-color: var(--sd-colour-superdesk--hover);
        }
    }

}

.sd-alert__container {
    .sd-alert {
        flex-grow: 1;
    }
}


