// Animation, TODO: Refactor
.fade.ng-hide {
  opacity: 0;
}

.fade.ng-hide-remove,
.fade.ng-hide-add {
  display: block !important;
}

.fade.ng-hide-remove {
  transition: all linear 200ms;
}

.fade.ng-hide-add {
  position: absolute;
  transition: all linear 300ms;
}