.sd-avatar {
    display: block;
    position: relative; // required for absolutely positioned indicators

    &--indicator-status--offline {
        display: block;
        background-color: #fff;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        position: absolute;
        bottom: -1px;
        right: -4px;
        box-shadow: 0px 0 0 2px #fff;
        border: 1px solid #a2c59e;
        box-sizing: border-box;
    }

    &--indicator-status--online {
        @extend .sd-avatar--indicator-status--offline;
    
        background-color: #67b461;
        border: 1px solid #67b461;
    }

    &--indicator-admin {
        @include border-radius(50%);
        position: absolute;
        top: -4px;
        left: -4px;
        z-index: 1;
        color: #FF5722 !important;

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 4px;
            left: 4px;
            background: #fff;
            width: 8px;
            height: 8px;
            z-index: -1;
            border-radius: 50%;
            
        }
    }

    &--small {
        height: 24px;
        width: 24px;
        font-size: 1rem;

        .sd-avatar--indicator-admin {
            top: -4px;
            left: -6px;
        }
    }

    &--medium {
        height: 30px;
        width: 30px;
        font-size: 1rem;
    }

    &--large {
        height: 48px;
        width: 48px;
        font-size: 1.8rem;

        .sd-avatar--indicator-status--offline,
        .sd-avatar--indicator-status--online {
            height: 12px;
            width: 12px;
            bottom: -1px;
            right: -4px;
        }
        .sd-avatar--indicator-admin {
            top: -2px;
            left: -4px;
        }
    }
    &--x-large {
        height: 96px;
        width: 96px;
        font-size: 3.2rem;

        .sd-avatar--indicator-status--offline,
        .sd-avatar--indicator-status--online {
            height: 16px;
            width: 16px;
            bottom: -2px;
            right: 4px;
        }
        .sd-avatar--indicator-admin {
            top: 2px;
            left: 0;
            width: 24px;
            height: 24px;
            font-size: 24px;
            &:after {
                height: 14px;
                width: 14px;
                top: 1px;
                left: 5px;
            }
        }
    }
    &--xx-large {
        height: 120px;
        width: 120px;
        font-size: 4rem;

        .sd-avatar--indicator-status--offline,
        .sd-avatar--indicator-status--online {
            height: 18px;
            width: 18px;
            bottom: -2px;
            right: 8px;
        }
        .sd-avatar--indicator-admin {
            top: 4px;
            left: 4px;
            width: 24px;
            height: 24px;
            font-size: 24px;
            &:after {
                height: 14px;
                width: 14px;
                top: 1px;
                left: 5px;
            }
        }
    }

    .sd-avatar-content {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: $white;
        text-transform: uppercase;
        letter-spacing: -0.03em;
        overflow: hidden;
        border-radius: 50%;
    
        > img {
            width: 100%;
        }

        &--text {
            background-color: #005b7f;
        }
    
        &--empty {
            background-color: #005b7f;
            background-image: url('~../../images/avatar_64.png');
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}