.sd-avatar {
    display: inline-block;
    position: relative; // required for absolutely positioned indicators

    &.sd-avatar--indicator-status--offline {
        .sd-avatar-content {
            outline: 2px solid var(--sd-colour-avatar-outline--offline);
            outline-offset: 2px;
        }
        &.sd-avatar--x-small,
        &.sd-avatar--small {
            .sd-avatar-content {
                outline: 1px solid var(--sd-colour-avatar-outline--offline);
            }
        }
    }

    &.sd-avatar--indicator-status--online {
        .sd-avatar-content {
            outline: 2px solid var(--sd-colour-avatar-outline--online);
            outline-offset: 2px;
        }
        &.sd-avatar--x-small,
        &.sd-avatar--small {
            .sd-avatar-content {
                outline: 1px solid var(--sd-colour-avatar-outline--online);
            }
        }
    }

    &--indicator-admin {
        border-radius: $border-radius__base--full;
        position: absolute;
        inset-block-start: -4px;
        inset-inline-start: -4px;
        inset-inline-end: auto;
        z-index: 1;
        color: #FF5722 !important;

        &:after {
            content: '';
            display: block;
            position: absolute;
            inset-block-start: 4px;
            left: 4px;
            background: var(--sd-colour-background__base--00);
            width: 8px;
            height: 8px;
            z-index: -1;
            border-radius: $border-radius__base--full;
        }
    }

    &--x-small {
        height: 20px;
        width: 20px;
        font-size: 1rem;

        .sd-avatar--indicator-admin {
            inset-block-start: -4px;
            left: -6px;
        }
    }

    &--small {
        height: 24px;
        width: 24px;
        font-size: 1rem;

        .sd-avatar--indicator-admin {
            inset-block-start: -4px;
            left: -6px;
        }
    }

    &--medium {
        height: 30px;
        width: 30px;
        font-size: 1.4rem;
    }

    &--large {
        height: 48px;
        width: 48px;
        font-size: 1.8rem;

        .sd-avatar--indicator-status--offline,
        .sd-avatar--indicator-status--online {
            height: 12px;
            width: 12px;
            inset-block-end: -1px;
            inset-inline-end: -4px;
            inset-inline-start: auto;
        }
        .sd-avatar--indicator-admin {
            inset-block-start: -2px;
            inset-inline-start: -4px;
            inset-inline-end: auto;
        }
    }
    &--x-large {
        height: 96px;
        width: 96px;
        font-size: 3.2rem;

        .sd-avatar--indicator-status--offline,
        .sd-avatar--indicator-status--online {
            height: 16px;
            width: 16px;
            inset-block-end: -2px;
            inset-inline-end: 4px;
        }
        .sd-avatar--indicator-admin {
            inset-block-start: 2px;
            inset-inline-start: 0;
            width: 24px;
            height: 24px;
            font-size: 24px;
            &:after {
                height: 14px;
                width: 14px;
                inset-block-start: 1px;
                left: 5px;
            }
        }
    }
    &--xx-large {
        height: 120px;
        width: 120px;
        font-size: 4rem;

        .sd-avatar--indicator-status--offline,
        .sd-avatar--indicator-status--online {
            height: 18px;
            width: 18px;
            inset-block-end: -2px;
            inset-inline-end: 8px;
        }
        .sd-avatar--indicator-admin {
            inset-block-start: 4px;
            inset-inline-start: 4px;
            inset-inline-end: auto;
            width: 24px;
            height: 24px;
            font-size: 24px;
            &:after {
                height: 14px;
                width: 14px;
                inset-block-start: 1px;
                inset-inline-start: 5px;
            }
        }
    }

    .sd-avatar-content {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        border-radius: $border-radius__base--full;
        color: $white;
        text-transform: uppercase;
        letter-spacing: -0.03em;
        overflow: hidden;
    
        > img {
            width: 100%;
        }

        &--text {
            background-color: var(--sd-colour-avatar-bg);
        }
    
        &--dummy-img {
            background-color: var(--sd-colour-avatar-bg);
            background-image: url('~../../images/avatar_dummy.svg');
            background-repeat: no-repeat;
            background-size: cover;
            border: 1px solid var(--sd-colour-avatar-border);
            //box-shadow: inset 0 0 0 1px #005b7f;
        }
        &.sd-avatar-content--add-item {
            background-color: var(--sd-colour-avatar-bg--light);
            border: 1px dashed var(--sd-colour-avatar-border--light);
            background-image: linear-gradient(var(--sd-colour-avatar-add) 0 0), linear-gradient(var(--sd-colour-avatar-add) 0 0);
            background-position:center;
            background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
            background-repeat:no-repeat;
            outline: 1px solid transparent;
            outline-offset: 0px;
            transition: all 0.2s ease;
            &:hover {
                background-image: linear-gradient(var(--sd-colour-avatar-add--hover) 0 0), linear-gradient(var(--sd-colour-avatar-add--hover) 0 0);
                cursor: pointer;
                outline: 1px solid var(--sd-colour-interactive);
                outline-offset: 2px;
            }
            &:active {
                background-image: linear-gradient(var(--sd-colour-avatar-add) 0 0), linear-gradient(var(--sd-colour-avatar-add) 0 0);
                cursor: pointer;
                outline: 2px solid var(--sd-colour-interactive);
            }
        }
        &.sd-avatar-content--number {
            background-color: var(--sd-colour-avatar-bg--light);
            color: var(--color-text-light);
            outline: 1px solid transparent;
            outline-offset: 0px;
            transition: all 0.2s ease;
            &:hover {
                cursor: pointer;
                outline: 1px solid var(--sd-colour-interactive);
                outline-offset: 2px;
            }
            &:active {
                cursor: pointer;
                outline: 2px solid var(--sd-colour-interactive);
            }
        }
    }
    
    &.sd-avatar--empty-light {
        .sd-avatar-content--dummy-img {
            background-color: var(--sd-colour-avatar-bg--light);
            border: 1px dashed var(--sd-colour-avatar-border--light);
        }
    }

    .sd-avatar__icon {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        inset-block-end: -4px;
        inset-inline-end: -4px;
        [class^="icon-"], [class*=" icon-"] {
            text-shadow: -1px 1px 0 var(--sd-item__main-Bg), 1px 1px 0 var(--sd-item__main-Bg), 1px -1px 0 var(--sd-item__main-Bg), -1px -1px 0 var(--sd-item__main-Bg);
        }
        &.sd-avatar__icon--state-default {
            [class^="icon-"], [class*=" icon-"] {
                color: var(--sd-colour-state--default);
            }
        }
        &.sd-avatar__icon--state-in-progress {
            [class^="icon-"], [class*=" icon-"] {
                color: var(--sd-colour-state--in-progress);
            }
        }
        &.sd-avatar__icon--state-done {
            [class^="icon-"], [class*=" icon-"] {
                color: var(--sd-colour-state--done);
            }
        }
        &.sd-avatar__icon--state-canceled {
            [class^="icon-"], [class*=" icon-"] {
                color: var(--sd-colour-state--default) !important;
            }
        }

    }
    &.sd-avatar--x-small {
        .sd-avatar__icon {
            inset-block-end: -4px;
            inset-inline-end: -10px;
        }
    }
    &.sd-avatar--small {
        .sd-avatar__icon {
            inset-block-end: -4px;
            inset-inline-end: -8px;
        }
    }
    &.sd-avatar--medium {
        .sd-avatar__icon {
            inset-block-end: -3px;
            inset-inline-end: -6px;
        }
    }
    &.sd-avatar--large {
        .sd-avatar__icon {
            inset-block-end: -1px;
            inset-inline-end: -4px;
        }
    }
    &.sd-avatar--x-large {
        .sd-avatar__icon {
            inset-block-end: -2px;
            inset-inline-end: -4px;
            [class^="icon-"], [class*=" icon-"] {
                --icon-base-size: 32px;
                text-shadow: -2px 2px 0 var(--sd-item__main-Bg), 2px 2px 0 var(--sd-item__main-Bg), 2px -2px 0 var(--sd-item__main-Bg), -2px -2px 0 var(--sd-item__main-Bg);
            }
        }
    }
    &.sd-avatar--xx-large {
        .sd-avatar__icon {
            inset-block-end: -1px;
            inset-inline-end: -2px;
            [class^="icon-"], [class*=" icon-"] {
                --icon-base-size: 32px;
                text-shadow: -2px 2px 0 var(--sd-item__main-Bg), 2px 2px 0 var(--sd-item__main-Bg), 2px -2px 0 var(--sd-item__main-Bg), -2px -2px 0 var(--sd-item__main-Bg);
            }
        }
    }
}



.sd-avatar-group {
    display: flex;
    &.sd-avatar-group--stacked {
        flex-wrap: nowrap;
        gap: 0;
        > .sd-avatar {
            margin: 0 -0.8rem 0 0;
            .sd-avatar-content {
                --avatar-shadow: var(--sd-item__main-Bg);
                box-shadow: 0 0 0 2px var(--avatar-shadow);
            }
            &--large {
                margin: 0 -1.2rem 0 0;
            }
            &:hover {
                z-index: 100;
            }
        }
        margin-inline-end: 8px;
        &.sd-avatar-group--stacked--gap-small {
            gap: $sd-base-increment * 0.5;
            > .sd-avatar {
                margin: 0;
            }
            margin-inline-end: 0;
        }
        &.sd-avatar-group--stacked--gap-medium {
            gap: $sd-base-increment * 1;
            > .sd-avatar {
                margin: 0;
            }
            margin-inline-end: 0;
        }
        &.sd-avatar-group--stacked--gap-large {
            gap: $sd-base-increment * 1.5;
            > .sd-avatar {
                margin: 0;
            }
            margin-inline-end: 0;
        }
    }
    &.sd-avatar-group--grid {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: $sd-base-increment * 1.5;
    }
}
