// Flex grid
// ---------------------------------------------

@mixin flex($grow, $shrink, $basis) {
    -webkit-flex: $grow $shrink $basis;
        -ms-flex: $grow $shrink $basis;
            flex: $grow $shrink $basis;
}

$flex-grid-gap:          16px; // space between items is $flex-grid-gap*2
$flex-grid-box-bg:       white;

// grid

.flex-grid {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    overflow-x: auto;
    .flex-grid__item {
        position: relative;
    }
    &--wrap-items {
        flex-wrap: wrap;
    }
    &--content-center {
        justify-content: center;
    }
    &--boxed {
        .flex-grid__item {
            margin: $flex-grid-gap;
            background-color: $flex-grid-box-bg;
        }
    }
    // default grid setup (mobile first), calc for 1-6 columns

    &--boxed {
        &.flex-grid--small {
            &-6 {
                .flex-grid__item {
                    @include flex(0, 0, calc(16.6666% - #{$flex-grid-gap * 2}));
                    max-width: calc(16.6666% - #{$flex-grid-gap * 2});
                }
            }
            &-5 {
                .flex-grid__item {
                    @include flex(0, 0, calc(20% - #{$flex-grid-gap * 2}));
                    max-width: calc(20% - #{$flex-grid-gap * 2});
                }
            }
            &-4 {
                .flex-grid__item {
                    @include flex(0, 0, calc(25% - #{$flex-grid-gap * 2}));
                    max-width: calc(25% - #{$flex-grid-gap * 2});
                }
            }
            &-3 {
                .flex-grid__item {
                    @include flex(0, 0, calc(33.3333% - #{$flex-grid-gap * 2}));
                    max-width: calc(33.3333% - #{$flex-grid-gap * 2});
                }
            }
            &-2 {
                .flex-grid__item {
                    @include flex(0, 0, calc(50% - #{$flex-grid-gap * 2}));
                    max-width: calc(50% - #{$flex-grid-gap * 2});
                }
            }
            &-1 {
                .flex-grid__item {
                    @include flex(0, 0, calc(100% - #{$flex-grid-gap * 2}));
                    max-width: calc(100% - #{$flex-grid-gap * 2});
                }
            }
        }
    }
    &--small {
        &-6 {
            .flex-grid__item {
                @include flex(0, 0, 16.6666%);
                max-width: 16.6666%;
            }
        }
        &-5 {
            .flex-grid__item {
                @include flex(0, 0, 20%);
                max-width: 20%;
            }
        }
        &-4 {
            .flex-grid__item {
                @include flex(0, 0, 25%);
                max-width: 25%;
            }
        }
        &-3 {
            .flex-grid__item {
                @include flex(0, 0, 33.3333%);
                max-width: 33.3333%;
            }
        }
        &-2 {
            .flex-grid__item {
                @include flex(0, 0, 50%);
                max-width: 50%;
            }
        }
        &-1 {
            .flex-grid__item {
                @include flex(0, 0, 100%);
                max-width: 100%;
            }
        }
    }
}

// medium screen media query /40em = 640px/
@media only screen and (min-width: 40em) {
    .flex-grid {
        &--boxed {
            &.flex-grid--medium {
                &-6 {
                    .flex-grid__item {
                        @include flex(0, 0, calc(16.6666% - #{$flex-grid-gap * 2}));
                        max-width: calc(16.6666% - #{$flex-grid-gap * 2});
                    }
                }
                &-5 {
                    .flex-grid__item {
                        @include flex(0, 0, calc(20% - #{$flex-grid-gap * 2}));
                        max-width: calc(20% - #{$flex-grid-gap * 2});
                    }
                }
                &-4 {
                    .flex-grid__item {
                        @include flex(0, 0, calc(25% - #{$flex-grid-gap * 2}));
                        max-width: calc(25% - #{$flex-grid-gap * 2});
                    }
                }
                &-3 {
                    .flex-grid__item {
                        @include flex(0, 0, calc(33.3333% - #{$flex-grid-gap * 2}));
                        max-width: calc(33.3333% - #{$flex-grid-gap * 2});
                    }
                }
                &-2 {
                    .flex-grid__item {
                        @include flex(0, 0, calc(50% - #{$flex-grid-gap * 2}));
                        max-width: calc(50% - #{$flex-grid-gap * 2});
                    }
                }
                &-1 {
                    .flex-grid__item {
                        @include flex(0, 0, calc(100% - #{$flex-grid-gap * 2}));
                        max-width: calc(100% - #{$flex-grid-gap * 2});
                    }
                }
            }
        }
        &--medium {
            &-6 {
                .flex-grid__item {
                    @include flex(0, 0, 16.6666%);
                    max-width: 16.6666%;
                }
            }
            &-5 {
                .flex-grid__item {
                    @include flex(0, 0, 20%);
                    max-width: 20%;
                }
            }
            &-4 {
                .flex-grid__item {
                    @include flex(0, 0, 25%);
                    max-width: 25%;
                }
            }
            &-3 {
                .flex-grid__item {
                    @include flex(0, 0, 33.3333%);
                    max-width: 33.3333%;
                }
            }
            &-2 {
                .flex-grid__item {
                    @include flex(0, 0, 50%);
                    max-width: 50%;
                }
            }
            &-1 {
                .flex-grid__item {
                    @include flex(0, 0, 100%);
                    max-width: 100%;
                }
            }
        }
    }
}
// large screen media query /60em = 960px/
@media only screen and (min-width: 60em) {
    .flex-grid {
        &--boxed {
            &.flex-grid--large {
                &-6 {
                    .flex-grid__item {
                        @include flex(0, 0, calc(16.6666% - #{$flex-grid-gap * 2}));
                        max-width: calc(16.6666% - #{$flex-grid-gap * 2});
                    }
                }
                &-5 {
                    .flex-grid__item {
                        @include flex(0, 0, calc(20% - #{$flex-grid-gap * 2}));
                        max-width: calc(20% - #{$flex-grid-gap * 2});
                    }
                }
                &-4 {
                    .flex-grid__item {
                        @include flex(0, 0, calc(25% - #{$flex-grid-gap * 2}));
                        max-width: calc(25% - #{$flex-grid-gap * 2});
                    }
                }
                &-3 {
                    .flex-grid__item {
                        @include flex(0, 0, calc(33.3333% - #{$flex-grid-gap * 2}));
                        max-width: calc(33.3333% - #{$flex-grid-gap * 2});
                    }
                }
                &-2 {
                    .flex-grid__item {
                        @include flex(0, 0, calc(50% - #{$flex-grid-gap * 2}));
                        max-width: calc(50% - #{$flex-grid-gap * 2});
                    }
                }
                &-1 {
                    .flex-grid__item {
                        @include flex(0, 0, calc(100% - #{$flex-grid-gap * 2}));
                        max-width: calc(100% - #{$flex-grid-gap * 2});
                    }
                }
            }
        }
        &--large {
            &-6 {
                .flex-grid__item {
                    @include flex(0, 0, 16.6666%);
                    max-width: 16.6666%;
                }
            }
            &-5 {
                .flex-grid__item {
                    @include flex(0, 0, 20%);
                    max-width: 20%;
                }
            }
            &-4 {
                .flex-grid__item {
                    @include flex(0, 0, 25%);
                    max-width: 25%;
                }
            }
            &-3 {
                .flex-grid__item {
                    @include flex(0, 0, 33.3333%);
                    max-width: 33.3333%;
                }
            }
            &-2 {
                .flex-grid__item {
                    @include flex(0, 0, 50%);
                    max-width: 50%;
                }
            }
            &-1 {
                .flex-grid__item {
                    @include flex(0, 0, 100%);
                    max-width: 100%;
                }
            }
        }
    }
}
// extra large screen media query /100em = 1600px/
@media only screen and (min-width: 100em) {
    .flex-grid {
        &--boxed {
            &.flex-grid--xlarge {
                &-6 {
                    .flex-grid__item {
                        @include flex(0, 0, calc(16.6666% - #{$flex-grid-gap*2}));
                        max-width: calc(16.6666% - #{$flex-grid-gap * 2});
                    }
                }
                &-5 {
                    .flex-grid__item {
                        @include flex(0, 0, calc(20% - #{$flex-grid-gap * 2}));
                        max-width: calc(20% - #{$flex-grid-gap * 2});
                    }
                }
                &-4 {
                    .flex-grid__item {
                        @include flex(0, 0, calc(25% - #{$flex-grid-gap * 2}));
                        max-width: calc(25% - #{$flex-grid-gap * 2});
                    }
                }
                &-3 {
                    .flex-grid__item {
                        @include flex(0, 0, calc(33.3333% - #{$flex-grid-gap * 2}));
                        max-width: calc(33.3333% - #{$flex-grid-gap * 2});
                    }
                }
                &-2 {
                    .flex-grid__item {
                        @include flex(0, 0, calc(50% - #{$flex-grid-gap * 2}));
                        max-width: calc(50% - #{$flex-grid-gap * 2});
                    }
                }
                &-1 {
                    .flex-grid__item {
                        @include flex(0, 0, calc(100% - #{$flex-grid-gap * 2}));
                        max-width: calc(100% - #{$flex-grid-gap * 2});
                    }
                }
            }
        }
        &--xlarge {
            &-6 {
                .flex-grid__item {
                    @include flex(0, 0, 16.6666%);
                    max-width: 16.6666%;
                }
            }
            &-5 {
                .flex-grid__item {
                    @include flex(0, 0, 20%);
                    max-width: 20%;
                }
            }
            &-4 {
                .flex-grid__item {
                    @include flex(0, 0, 25%);
                    max-width: 25%;
                }
            }
            &-3 {
                .flex-grid__item {
                    @include flex(0, 0, 33.3333%);
                    max-width: 33.3333%;
                }
            }
            &-2 {
                .flex-grid__item {
                    @include flex(0, 0, 50%);
                    max-width: 50%;
                }
            }
            &-1 {
                .flex-grid__item {
                    @include flex(0, 0, 100%);
                    max-width: 100%;
                }
            }
        }
    }
}