// Boxed lists
// Simpler version of the list item.
.boxed-list {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: $sd-base-increment * 1;
    margin-block-end: $sd-base-increment * 2;
}

.boxed-list--compact {
    gap: $sd-base-increment * 1;
}

.boxed-list--comfortable {
    gap: $sd-base-increment * 1.5;
}

$boxed-list-palette: $sd-basic-palette;

.boxed-list__item {
    display: grid;
    grid-template-rows: [mainRow] 1fr [footerRow] auto;
    grid-template-columns: [mediaCol] auto [contentCol] 1fr [actionsVisible] auto [actionsHidden] auto;
    position: relative;
    flex-direction: row;
    border-radius: var(--b-radius--small);
    background-color: var(--sd-item__main-Bg);
    box-shadow: $shadow__base--z1;
    transition: all 0.2s ease-in-out;
    flex-shrink: 0;

    @each $name, $color in $boxed-list-palette {
        &.boxed-list__item--#{$name} {
            &::before {
                content: "";
                width: 4px;
                height: 100%;
                position: absolute;
                inset-block-start: 0px;
                inset-inline-start: 0px;
                background-color: $color;
                z-index: 1;
                border-radius: 3px 0 0 3px;
            }
        }
    }

    &.boxed-list__item--selected.boxed-list__item--clickable {
        &:hover {
            box-shadow: var(--sd-shadow__item--selected);
            background-color: var(--color-selected-bg--hover) !important;
        }
    }

    &:hover {
        .boxed-list__slide-in-actions,
        .boxed-list__actions--slide-in {
            padding-inline-start: 0.6rem;
            width: auto;
            max-width: 32px;
            overflow: visible;
            opacity: 1;
            transition: all ease-in 0.1s;

            .icn-btn {
                opacity: 0.4;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

.boxed-list__item--selected {
    box-shadow: var(--sd-shadow__item--selected);
}

.boxed-list__item--unread {
    box-shadow: var(--sd-shadow__item--unread);
}

.boxed-list__item--clickable {
    &:hover {
        cursor: pointer;
        box-shadow: $shadow__base--z2;
    }
    &:active {
        box-shadow: 0 0 2px 1px hsla(0, 0%, 0%, 0.12);
    }
}

.boxed-list__item--blank {
    background-color: transparent !important;
    box-shadow: none;
}

.boxed-list__item--disabled {
    pointer-events: none;
    opacity: 0.5;
}

.boxed-list__item--comfortable {
    min-height: 3.2rem;
    padding: var(--space--1-5);
}

.boxed-list__item--compact {
    min-height: none;
    padding: $sd-base-increment $sd-base-increment $sd-base-increment $sd-base-increment * 0.5;
}

.boxed-list__item--loose {
    min-height: 4.8rem;
    padding: var(--space--2);
}

.boxed-list__item-media {
    grid-column: mediaCol;
    grid-row: mainRow;
    display: flex;
    flex-direction: column;
    padding: 0 0.2rem 0 0.2rem;
    flex: 0 1 auto;

    [class^="icon-"],
    [class*="icon-"],
    [class^="big-icon--"],
    [class*=" big-icon--"] {
        color: var(--color-text);
        opacity: 0.5;
    }

    [class^="icon-"],
    [class*="icon-"] {
        color: var(--color-text);
        opacity: 0.5;
        width: 3.2rem;
        height: 3.2rem;
        font-size: 3.2rem;
        line-height: 1;
    }
}

.boxed-list__item-content {
    grid-column: contentCol;
    grid-row: mainRow;
    display: flex;
    flex-direction: column;
    padding: 0 0.8rem 0 0.8rem;
    overflow: hidden;
    position: relative;
}

.boxed-list__item-content--centered {
    align-items: center;
    justify-content: center;
}

.boxed-list__item-content-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
}

.boxed-list__item-content-row--fixed {
    align-items: baseline;
    white-space: nowrap;
}

.boxed-list__item-footer {
    grid-column: 1/-1;
    grid-row: footerRow;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.8rem 0.8rem 0 0.8rem;
    margin-block-start: 0.8rem;
}

.boxed-list__item-footer--allign-baseline {
    align-items: baseline;
}

.boxed-list__item-content-row + .boxed-list__item-content-row  {
    margin-block-start: 0.8rem;
}

.boxed-list__slide-in-actions,
.boxed-list__static-actions,
.boxed-list__actions--slide-in,
.boxed-list__actions--static {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 0;
    gap: 2px;

    .icn-btn {
        margin: 0 -0.6rem 0 0;
    }
}

.boxed-list__slide-in-actions,
.boxed-list__actions--slide-in {
    grid-column: actionsHidden;
    grid-row: mainRow;
    width: 0;
    max-width: 0;
    overflow: hidden;
    opacity: 0;
    transition: all ease-in-out 0.2s;

    .icn-btn {
        flex: 0 0 auto;
        opacity: 0;
        transition: all ease-in-out 0.2s;
    }
}

.boxed-list__static-actions,
.boxed-list__actions--static  {
    grid-column: actionsVisible;
    grid-row: mainRow;

    .icn-btn {
        opacity: 0.4;

        &:hover {
            opacity: 1;
        }
    }
}

.boxed-list__item {
    &.boxed-list__item--align-center {
        .boxed-list__item-content {
            justify-content: center;
        }

    }
}
