/// Padding inside buttons.
/// @type List
$button-padding: 0.7rem 1.4rem !default;
$button-padding-small: 0.5rem 1rem;
$button-padding-large: 1rem 2rem;

$button-padding-icon-only: 0.5rem 0.8rem;
$button-padding-small-icon-only: 0.2rem 0.4rem;
$button-padding-large-icon-only: 0.9rem 1.4rem;

$button-padding-icon-only-circle: 0.5rem 0.5rem;
$button-padding-small-icon-only-circle: 0.2rem 0.2rem;
$button-padding-large-icon-only-circle: 0.9rem 0.9rem;

/// Margin around buttons.
/// @type List
$button-margin: 0 !default;

/// Default background color for buttons.
/// @type Color
$button-background: scale-color($default-color, $alpha: -75%) !default;

/// Background color on hover for buttons.
/// @type Color
$button-background-hover: scale-color($button-background, $lightness: -85%) !default;

/// Border color for active button state
$active-button-border-color: scale-color($black, $alpha: -60%) !default;

/// Font color for buttons.
/// @type List
$button-color: $grayDark !default;

/// Alternative font color for buttons.
/// @type List
$button-color-alt: $white !default;

/// Border radius for buttons, defaulted to global-radius.
/// @type Number
//$button-radius: $global-radius !default;
$button-radius: 2px !default;

/// Sizes for buttons / Font size
/// @type Map
$button-sizes: (
  btn--small: 1rem,
  btn--default: 1.2rem,
  btn--large: 1.4rem,
) !default;

/// opacity for a disabled button.
/// @type List
$button-opacity-disabled: 0.25 !default;

/// Background color lightness on hover for buttons.
/// @type Number
$button-background-hover-lightness: -20% !default;

/// Color lightness on hover for hollow buttons.
/// @type Number
$button-hollow-hover-lightness: -40% !default;

/// UI dark buttons
$button-background-ui-dark: scale-color($default-color-ui-dark, $alpha: -75%) !default;
$button-background-hover-ui-dark: scale-color($button-background-ui-dark, $lightness: -20%) !default;
$button-color-ui-dark: $white !default;
$button-background-hover-lightness-ui-dark: -20% !default;

/// transitions for buttons.
$button-transition: background-color 0.2s ease-out, color 0.1s ease-out !default;
$button-hover-box-shadow: 0 1px 2px 0 rgba(0,0,0,.3) !default;

// Button-base() mixin
@mixin button-base {
  //@include disable-mouse-outline;
  display: inline-block;
  vertical-align: middle;
  margin: $button-margin;
  padding: $button-padding;

  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: $button-radius;
  transition: $button-transition;

  font-size: map-get($button-sizes, btn--default);
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.1em;
  text-align: center;
  cursor: pointer;
}

/// Expands a button to make it full-width.
@mixin button-expand($expand: true) {
  @if $expand {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  @else {
    display: inline-block;
    width: auto;
    margin: $button-margin;
  }
}

/// Active styles
@mixin button-active-style () {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.4);
    border-style: solid;
    border-color: $active-button-border-color $active-button-border-color transparent $active-button-border-color;
    border-width: 1px;
}


/// Sets the visual style of a button.
@mixin button-style(
  $background: $button-background,
  $background-hover: $button-background-hover,
  $color: $button-color,
  $background-hover-lightness: $button-background-hover-lightness
) {

  @if $background-hover == auto {
    $background-hover: scale-color($background, $lightness: $background-hover-lightness);
  }

  background-color: $background;
  color: $color;

  &:hover, &:focus {
    background-color: $background-hover;
    color: $color;
    box-shadow: $button-hover-box-shadow;
  }
  &:active {
    @include button-active-style;
  }
}

/// Removes background fill on hover and focus for hollow buttons.
@mixin button-hollow {
  &,
  &:hover, &:focus {
    background-color: transparent;
  }
}

@mixin button-hollow-style(
  $color: $button-color,
  $hover-lightness: $button-hollow-hover-lightness
) {

  $color-hover: scale-color($color, $alpha: $hover-lightness);

  border: 1px solid $color;
  color: $color;

  &:hover, &:focus {
    border-color: $color-hover;
    color: $color-hover;
  }
}

// UI dark
@mixin button-ui-dark-style(
  $background: $button-background-ui-dark,
  $background-hover: $button-background-hover-ui-dark,
  $color: $button-color-ui-dark,
  $background-hover-lightness: $button-background-hover-lightness-ui-dark
) {

  @if $background-hover == auto {
    $background-hover: scale-color($background, $lightness: $background-hover-lightness);
  }

  background-color: $background;
  color: $color;

  &:hover, &:focus {
    background-color: $background-hover;
    color: $color;
    box-shadow: $button-hover-box-shadow;
  }
  &:active {
    @include button-active-style;
  }
}

@mixin button-text-only-style(
  $background: $button-background,
  $color: $button-color,
  $background-hover: $button-background-hover,
  $ui-dark: false
) {
  
  // no background by default
  background-color: transparent;

  // hover for colored buttons
  @if $background-hover == auto {
    $background-hover: scale-color($background, $alpha: -80%);
  }

  // hover for default gray button
  @else {
    $background-hover: scale-color($background, $alpha: -50%);
  }

  // button colors
  // UI dark
  @if $ui-dark {
    color: $default-color-ui-dark;
    $background-hover: scale-color($background, $alpha: -60%); // fix for default hover background on UI dark
  }

  // default UI (light)
  @else {
    color: $color;
  }

  &:hover, &:focus {
    background-color: $background-hover;
    color: $color;
    box-shadow: $button-hover-box-shadow;
  }
  &:active {
    @include button-active-style;
  }
}

/// Adds disabled styles to a button by fading the element, reseting the cursor, and disabling pointer events.
@mixin button-disabled(
  $background-color: $button-background,
  $color: $button-color
  ) {
  opacity: $button-opacity-disabled;
  cursor: not-allowed;
  box-shadow: none;

  &:hover, &:focus {
    background-color: $background-color;
    color: $color;
    box-shadow: none;
    border: 1px solid transparent;
  }
}

/// Adds all styles for a button. For more granular control over styles, use the individual button mixins.
@mixin button(
  $expand: false,
  $background: $button-background,
  $background-hover: $button-background-hover,
  $color: $button-color
) {
  @include button-base;

  @include button-style($background, $background-hover, $color);

  @if $expand {
    @include button-expand;
  }
}

.btn {
    @include button;

    // Sizes
    @each $size, $value in map-remove($button-sizes, btn--default) {
      &.#{$size} {
        font-size: $value;
        @if $size == btn--small {
          padding: $button-padding-small;
        }
        @if $size == btn--large {
          padding: $button-padding-large;
        }
      }
    }

    &.btn--active { @include button-active-style; }
    
    &.btn--expanded { @include button-expand; }

    // Colors
    @each $name, $color in $sd-basic-palette {
        &.btn--#{$name} {
          @if $name == default {
            @include button-style($button-background, auto, $button-color); // btn--default class if needed
          }
          @else {
            @include button-style($color, auto, $button-color-alt); // for all colored buttons we use alt color (white)
            [class^="icon-"], [class*=" icon-"] {
              color: $button-color-alt;
            }
          }
        }
    }

    // Hollow style    
    &.btn--hollow {
      @include button-hollow;
      @include button-hollow-style;

      @each $name, $color in $sd-basic-palette {
        &.btn--#{$name} {
          @include button-hollow-style($color);
          [class^="icon-"], [class*=" icon-"] {
            color: $color;
          }
        }
      }
    }

    // Text only style
    &.btn--text-only {
      @include button-text-only-style;

      @each $name, $color in $sd-basic-palette {
        &.btn--#{$name} {
          @include button-text-only-style($color, $color, auto, false);
        }
      }
    }

    // Disabled style
    &.btn--disabled,
    &[disabled] {
      @include button-disabled;

      @each $name, $color in $sd-basic-palette {
        &.btn--#{$name} {
          @include button-disabled($color, $button-color-alt);
        }
      }

      // Hollow disabled style
      &.btn--hollow {
        @include button-hollow;
        @include button-hollow-style($button-color, 0);

        @each $name, $color in $sd-basic-palette {
          &.btn--#{$name} {
            @include button-hollow-style($color, 0);
          }
        }
      }

      // Text only disabled style
      &.btn--text-only {
        @include button-text-only-style($background: transparent);
        &:hover, &:focus, &:active {
          box-shadow: none;
          border-color: transparent;
        }

        @each $name, $color in $sd-basic-palette {
          &.btn--#{$name} {
            @include button-text-only-style(transparent, $color, transparent, false);
            &:hover, &:focus, &:active {
              box-shadow: none;
              border-color: transparent;
            }
          }
        }
      }
    }

    // UI dark style
    &.btn--ui-dark {
      @include button-ui-dark-style;

      @each $name, $color in $sd-basic-palette-ui-dark {
        &.btn--#{$name} {
          @include button-ui-dark-style($color, auto, $button-color-alt);
        }
      }
      
      &.btn--disabled,
      &[disabled] {
        @include button-ui-dark-style($button-background-ui-dark, auto, $button-color-ui-dark, 0);

        &:hover, &:focus, &:active {
          box-shadow: none;
          border-color: transparent;
        }
        @each $name, $color in $sd-basic-palette-ui-dark {
          &.btn--#{$name} {
            @include button-ui-dark-style($color, auto, $button-color-alt, 0);
            &:hover, &:focus, &:active {
              box-shadow: none;
              border-color: transparent;
            }
          }
        }
      }
      
      // Text only UI dark
      &.btn--text-only {
        @include button-text-only-style($button-background-ui-dark, $default-color-ui-dark, auto, true);

        @each $name, $color in $sd-basic-palette-ui-dark {
          $btn-background-hover: scale-color($color, $alpha: -80%);
          &.btn--#{$name} {
            @include button-ui-dark-style(transparent, $btn-background-hover, $color);
          }
        }

        // Text only disabled UI dark
        &.btn--disabled,
        &[disabled] {
          @include button-text-only-style(transparent, $default-color-ui-dark, transparent, true);
          &:hover, &:focus, &:active {
            box-shadow: none;
          }

          @each $name, $color in $sd-basic-palette-ui-dark {
            &.btn--#{$name} {
              @include button-ui-dark-style(transparent, transparent, $color);
              &:hover, &:focus, &:active {
                box-shadow: none;
              }
            }
          }
        }
      }

      // Hollow UI dark
      &.btn--hollow {
        @include button-hollow;
        @include button-hollow-style(scale-color($default-color-ui-dark, $alpha: -30%));

        @each $name, $color in $sd-basic-palette-ui-dark {
          &.btn--#{$name} {
            @include button-hollow-style($color);
          }
        }
        
        // Hollow disabled UI dark
        &.btn--disabled,
        &[disabled] {
          @include button-hollow;
          @include button-hollow-style($default-color-ui-dark, 0);
          &:hover, &:focus, &:active {
            box-shadow: none;
          }

          @each $name, $color in $sd-basic-palette-ui-dark {
            &.btn--#{$name} {
              @include button-hollow-style($color, 0);
              &:hover, &:focus, &:active {
                box-shadow: none;
              }
            }
          }
        }
      }
    }

    // Add some space, i there is more buttons side by side
    &+.btn {
      margin-left: 4px;
    }
    // Icons inside buttons (with text included as well)
    [class^="icon-"], [class*=" icon-"] {
        margin: -0.6rem 0.6rem -0.3rem -0.3rem;
        line-height: 1;
        vertical-align: middle;
    }
    &.btn--icon-only {
      padding: $button-padding-icon-only;
      [class^="icon-"], [class*=" icon-"] {
          display:inline-block;
          margin: 0;
          vertical-align: middle;
      }
      &.btn--large {
        padding: $button-padding-large-icon-only;
      }
      &.btn--small {
        padding: $button-padding-small-icon-only;
      }
    }
    &.btn--icon-only-circle {
      padding: $button-padding-icon-only-circle;
      border-radius: 50%;
      [class^="icon-"], [class*=" icon-"] {
          display:inline-block;
          margin: 0;
          vertical-align: middle;
      }
      &.btn--large {
        padding: $button-padding-large-icon-only-circle;
      }
      &.btn--small {
        padding: $button-padding-small-icon-only-circle;
      }
    }
}

// SD create button
.sd-create-btn {
    width: 48px;
    height: 48px;
    line-height: 48px;
    padding: 0 !important;
    overflow: hidden;
    position: relative;
    background: $white;
    i {
        position: absolute;
        z-index: 1;
        display: block;
        top: 50%; margin-top: -8px;
        left: 50%; margin-left: -8px;
        opacity: 1 !important;
        color: $white;
    }
    .circle {
        @include border-box();
        display: inline-block;
        text-align: center;
        width: 26px;
        height: 26px;
        margin: 0;
        padding: 0;
        margin-top: 11px;
        border-radius: 50%;
        background-color: $sd-blue;
        color: $white;
        position: relative;
        @include transition(all, 60ms, ease-in);
    }
    &:hover {
        .circle {
            width: 34px;
            height: 34px;
            margin-top: 7px;
            margin-left: 0;
        }
    }
    &:active {
        .circle {
            width: 68px;
            height: 68px;
            margin: -10px 0 0 -10px;
            @include transition(all, 30ms, ease-in);
        }
    }
}