// Modal for onboarding pages. Includes support for slider and pagination.

.sd-carousel {
    position: fixed;
    inset-inline-start: 40px;
    inset-inline-end: 40px;
    inset-block-start: 40px;
    inset-block-end: 40px;
    align-items: center;
    flex-direction: row;
    z-index: 1050;
    display: flex;
}

.sd-carousel__dialog {
    display: flex;
    max-height: 100%;
    flex: 0 1 auto;
    margin: 0 auto;
    max-width: 680px;
    width: 100%;
    position: relative;
}

.sd-carousel__content {
    background: var(--color-modal-Bg);
    background-clip: padding-box;
    outline: 0;
    box-shadow: 0 4px 24px hsla(0, 0%, 0%, 0.2), 0 10px 28px hsla(0, 0%, 0%, 0.35);
    border-radius: 1rem 1rem 0.8rem 0.8rem;
    min-height: 40rem;
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    max-height: 80rem;

}

.sd-carousel__page {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}

.sd-carousel__page-header {
    width: 100%;
    height: 200px;
    border-radius: 0.8rem 0.8rem 0 0;
    background-color: hsl(217, 28%, 26%);
    flex-grow: 0;
    position: relative;
    overflow: hidden;
}

.sd-carousel__page-header--color-2 {
    background-color: hsl(268, 22%, 53%);
}

.sd-carousel__page-header--color-3 {
    background-color: hsl(184, 42%, 60%);
}

.sd-carousel__page-header-illustration {
    position: absolute;
    inset-inline-start: 0;
    inset-block-end: 0;
    opacity: 0.65;
}

.sd-carousel__page-heading {
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    letter-spacing: .03em;
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 2;
    color: $white;
    font-size: 3.2rem;
    line-height: 1;
    inset-block-start: calc(50% - 1.6rem);
}

.sd-carousel__page-text {
    padding: 3rem;
    flex-grow: 1;
    font-size: 1.6rem;
    line-height: 140%;
    font-weight: 300;

    p {
        margin-block-end: 1em;
        &:last-child, &:only-child {
            margin-block-end: 0;
        }
    }

    h3 {
        font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
        font-size: 2rem;
        margin-block-end: 0.8em;
        font-weight: 700;
    }
}

.sd-carousel__page-footer {
    text-align: center;
    padding: 0 3rem 3rem;
    flex-grow: 0;
}

@mixin modalNavButton-style(
    $background: var(--sd-item__main-Bg),
    $background-hover: var(--sd-item__main-Bg--hover),
    $background-active: var(--sd-item__main-Bg--alternate)
) {
    border-radius: $border-radius__base--full;
    cursor: pointer;
    height: 5.6rem;
    line-height: 5.6rem;
    position: absolute;
    inset-block-start: calc(50% - 2.8rem);
    width: 5.6rem;
    box-shadow: 0 4px 24px rgba(0,0,0,.20), 0 10px 28px rgba(0,0,0,.35);
    color: $sd-green;
    transition: $button-transition;
    background-color: $background;

    &:hover {
        background-color: $background-hover;
    }

    &:active {
        background-color: $background-active;
    }

    &::after {
        content: " ";
        font-family: 'sd_icons';
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        inset-block-start:0;
        text-align: center;
        z-index: 2;
        color: $sd-green;
        width: 5.6rem;
        font-size: 2.4rem; 
    }
}

.sd-carousel__nav-button {
    @include modalNavButton-style;
}

.sd-carousel__nav-button--next {
    inset-inline-end: -88px;
    color: inherit;

    &::after {
        content: "\e643";
    }
}

.sd-carousel__nav-button--prev {
    inset-inline-start: -88px;
    color: inherit;

    &::after {
        content: "\e642";
    }
}

.sd-carousel__nav-button--end {
    inset-inline-end: -88px;
    background-color: var(--sd-colour-success);

    &::after {
        content: "\e61d";
        color: $white;
    }

    &:hover {
        background-color: var(--sd-colour-success--hover);
    }

    &:active {
        background-color: var(--sd-colour-success--active);
    }
}

.sd-carousel__page-indication-bar {
    inset-block-end: -3.6rem;
    height: 2.6rem;
    position: absolute;
    text-align: center;
    width: 100%;
}

.sd-carousel__page-indicator {
    background-color: rgba(255,255,255,.2);
    border: 1px solid rgba(0,0,0,.4);
    border-radius: $border-radius__base--full;
    cursor: pointer;
    display: inline-block;
    height: 1.4rem;
    width: 1.4rem;
    margin: 0.6rem;
    transition: $button-transition;
}

.sd-carousel__page-indicator--selected {
    background-color: rgba(255,255,255,0.8);
    border-color: rgba(0,0,0,.6);
}

.sd-carousel__backdrop {
    z-index: 1045;
    background: rgba(0,0,0,.45);
    position: fixed;
    inset-block-start: 0;
    inset-block-end: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
}
