.sd-content-divider {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--color-text);
    list-style: none;
    border-block-end: 0;
    border-inline-start: 0;
    border-inline-end: 0;
    border-block-start: 1px var(--sd-colour-line--medium);
    border-style: solid;

    &.sd-content-divider--with-text {
        --text-size: var(--text-size-medium);
        display: flex;
        color: var(--color-text);
        font-weight: 500;
        font-size: var(--text-size);
        white-space: nowrap;
        text-align: center;
        border-block-start: 0;
        border-block-end: 0;
        border-inline-start: 0;
        border-inline-end: 0;
        border-top-color: var(--sd-colour-line--medium);
        border-style: solid;

        &.sd-content-divider--text-x-small {
            --text-size: 1.1rem;
            text-transform: uppercase;
            color: var(--color-text-muted);
            font-weight: 500;
            letter-spacing: 0.06em;
        }
        
        &.sd-content-divider--text-small {
            --text-size: var(--text-size-small);
        }

        &.sd-content-divider--text-medium {
            --text-size: var(--text-size-medium);
        }

        &.sd-content-divider--text-large {
            --text-size: var(--text-size-large);
            font-weight: 700;
            font-family: var(--font-secondary);
        }
    }

    &.sd-content-divider--horizontal {
        --margin-block: 0;
        display: flex;
        clear: both;
        width: 100%;
        min-width: 100%;

        &.sd-content-divider--margin-x-small {
            --margin-block: var(--space--1);
        }

        &.sd-content-divider--margin-small {
            --margin-block: var(--space--2);
        }

        &.sd-content-divider--margin-medium {
            --margin-block: var(--space--3);
        }

        &.sd-content-divider--margin-large {
            --margin-block: var(--space--4);
        }

        &.sd-content-divider--margin-none {
            --margin-block: 0;
        }

        margin-block: var(--margin-block);
    }

    &.sd-content-divider--horizontal.sd-content-divider--with-text {

        &::before, &::after {
            content: "";
            position: relative;
            inset-block-start: 50%;
            width: 50%;
            border-block-start: 1px transparent;
            border-top-color: transparent;
            border-top-color: inherit;
            border-block-end: 0;
            border-inline-start: 0;
            border-inline-end: 0;
            transform: translateY(50%);
            border-style: inherit;
        }

        &.sd-content-divider--text-left {
            &::before {
                width: 5%;
            }
            &::after {
                width: 95%;
            }
        }

        &.sd-content-divider--text-right {
            &::before {
                width: 95%;
            }
            &::after {
                width: 5%;
            }
        }

        &.sd-content-divider--margin-x-small {
            --margin-block: var(--space--1);
        }

        &.sd-content-divider--margin-small {
            --margin-block: var(--space--2);
        }

        &.sd-content-divider--margin-medium {
            --margin-block: var(--space--3);
        }

        &.sd-content-divider--margin-large {
            --margin-block: var(--space--4);
        }

        &.sd-content-divider--margin-none {
            --margin-block: var(--space--0-5);
        }

        margin-block: var(--margin-block);
    }

    &.sd-content-divider--vertical {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        border-block-start: 0;
        border-inline-start: 1px var(--sd-colour-line--medium);
        border-style: solid;
        flex-grow: 0;
        align-self: stretch;
        min-height: var(--space--2);

        &.sd-content-divider--with-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-inline-start: 0;

            .sd-content-divider__inner-text {
                padding: var(--space--0-5) var(--space--2);
            }

            &::before, &::after {
                content: "";
                background-color: transparent;
                position: relative;
                height: 50%;
                border-inline-start: 1px var(--sd-colour-line--medium);
                border-inline-end: 0;
                border-block-end: 0;
                border-block-start: 0;
                width: 1px;
                border-style: solid;
            }

            &.sd-content-divider--dashed {
                &::before, &::after {
                    border-left-style: dashed;
                }
                
            }

            &.sd-content-divider--dotted {
                &::before, &::after {
                    border-style: dotted;
                    border-color: var(--sd-colour-line--strong);
                }
            }
        }

        &.sd-content-divider--margin-x-small {
            --margin-inline: var(--space--1);
        }

        &.sd-content-divider--margin-small {
            --margin-inline: var(--space--2);
        }

        &.sd-content-divider--margin-medium {
            --margin-inline: var(--space--3);
        }

        &.sd-content-divider--margin-large {
            --margin-inline: var(--space--4);
        }

        &.sd-content-divider--margin-none {
            --margin-inline: 0;
        }
        
        margin-inline: var(--margin-inline);
    }

    &.sd-content-divider--dashed {
        border-style: dashed;
    }

    &.sd-content-divider--dotted {
        border-style: dotted;
        border-color: var(--sd-colour-line--strong);
    }

    &.sd-content-divider--no-border {
        border: 0 !important;
        
        &::before, &::after {
            border: 0 !important;
        }
    }
}

.sd-content-divider__inner-text {
    display: inline-block;
    padding: 0 var(--space--1);
}
