
.drag-handle-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    outline: none;
    color: var(--color-text);
    background-color: transparent;
    .drag-handle-dots {
        transition: all 0.1s ease;
        opacity: 0.55;
    }
    &:hover {
        cursor: grab;
        .drag-handle-dots {
            opacity: 0.85;
        }
    }
    &:active {
        cursor: grabbing;
        .drag-handle-dots {
            opacity: 1;
        }
    }
    &.drag-handle-wrapper--boxed {
        padding: var(--drag-handle-boxed-padding);
        background-color: var(--drag-handle-boxed-color-bg-normal);
        border-radius: var(--drag-handle-boxed-radius);
        &:hover {
            background-color: var(--drag-handle-boxed-color-bg-hover);
        }
        &:active {
            background-color: var(--drag-handle-boxed-color-bg-active);
            color: white;
        }
    }
}

.drag-handle-dots {
    mask-image: url(../img/OneDot.svg);
    mask-repeat: repeat;
    width: var(--handle-width);
    height: var(--handle-height);
    background-color: currentColor;
    margin-block: auto;
}

