.basic-drag-block {
    border: 2px dashed #cacaca;
    background-color: $sd-background;
    position: relative;
    padding: 1.2rem;
    color: $grayText;
    text-align: center;
    border-radius: $border-radius__base--x-small;
    i {
        opacity: 0.4;
        vertical-align: bottom;
        margin: -4px 4px -2px 0;
    }
    a {
        display: inline-block;
    }
    .basic-drag-block__text {
        display: inline-block;
    }
}
