// EDITOR Themes
$color-swatch-border-color: scale-color($sd-blue, $alpha: -100%);
$color-swatch-border-active-color: $sd-blue;

$color-swatch-size: 6.8rem;
$color-swatch-inner-size: 6rem;

$theme-background: $white !default;
$theme-color: $sd-text !default;


// Theme fonts
$font-sans-1: 'Roboto', sans-serif;
$font-serif-1: 'Merriweather', serif;
$font-monospace-1: 'Roboto Mono', monospace;

$theme-font-list: (
  sans: $font-sans-1,
  serif: $font-serif-1,
  mono: $font-monospace-1,
);

$themes: (
  'default': (
    'bg-color': $white,
    'text-color': $sd-text
  ),
  'dark': (
    'bg-color': $grayDarker,
    'text-color': #AACCD1
  ),
  'blue': (
    'bg-color': #06356A,
    'text-color': $white
  ),
  'turquoise': (
    'bg-color': #5AC7C3,
    'text-color': #122235
  ),
  'military': (
    'bg-color': #949E5F,
    'text-color': #252818
  ),
  'natural': (
    'bg-color': #EFE9C5,
    'text-color': #1D1414
  )
);

$headline-font-size: (
    small: 2.3rem,
    medium: 2.8rem,
    large: 3.2rem,
);

$abstract-font-size: (
    small: 1.4rem,
    medium: 1.6rem,
    large: 1.8rem,
);

$body-font-size: (
    small: 1.4rem,
    medium: 1.6rem,
    large: 1.8rem,
);



@mixin editor-lable-base() {
    display: inline-block;
    padding: 0.4rem 0.7rem 0.3rem 0.7rem;
    vertical-align: middle;
    border-radius: 2px;
    text-transform: uppercase;
    line-height: 1rem;
    letter-spacing: 0.05em;
    font-size: 1rem;
    white-space: nowrap;
    font-weight: 500;
    background-color: rgba(0,0,0,0.5);
    color: $white;
    font-family: "Roboto";
}

.color-swatch__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(6.8rem, 6.8rem));
    grid-gap: 0.9rem;
    margin: 0.4rem 0 2.4rem 0;
}
@mixin color-swatch-base() {
    height: $color-swatch-size;
    width: $color-swatch-size;
    padding: 0.2rem;
    border-radius: 50%;
    border: 2px solid $color-swatch-border-color;
}
@mixin color-swatch-inner-base() {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: $color-swatch-inner-size;
    width: $color-swatch-inner-size;
    border-radius: 50%;
    background-color: $white;
    color: $sd-text;
    text-align: center;
    font-size: 2rem;
    line-height: $color-swatch-inner-size;
    text-transform: uppercase;
    box-shadow: 0 1px 3px rgba(0,0,0,.16), 0 0 1px rgba(0,0,0,.1);
    cursor: pointer;
    &:hover {
        box-shadow: 0 1px 3px rgba(0,0,0,.26), 0 0 1px rgba(0,0,0,.2);
    }
}
.color-swatch {
    @include color-swatch-base();
    &--selected {
        border-color: $color-swatch-border-active-color;
        .color-swatch__inner {
            box-shadow: none !important;
        }
    }
    @each $theme, $colors in $themes {
        &.sd-editor--theme-#{$theme} {
            .color-swatch__inner {
                background-color: map-get($colors, bg-color);
                color: map-get($colors, text-color);
            }
        }
    }
}
.color-swatch__inner {
    @include color-swatch-inner-base();
}



// ------ THEME PREVIEW ------ //
// text fields
.text-field__headline {
    font-weight: 500;
    min-height: 6rem;
}
.text-field__abstract {
    font-weight: 400;
    font-style: italic;
    min-height: 9.2rem;
}
.text-field__body {
    font-weight: 300;
    min-height: 9.2rem;
}


.theme-preview {
    margin: 0 -2rem -2rem -2rem;
    padding: 2rem;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
    .theme-preview__label {
        opacity: 0.7;
        transition: opacity 0.3s ease-out;
    }
    &:hover {
        .theme-preview__label {
            opacity: 1;
        }  
    }
    @each $name, $font in $theme-font-list {
        &.sd-editor--font-#{$name} {
            font-family: $font;
        }
    }
    @each $theme, $colors in $themes {
        &.sd-editor--theme-#{$theme} {
          background-color: map-get($colors, bg-color);
          color: map-get($colors, text-color);
        }
    }
    @each $name, $size in $headline-font-size {
        &.sd-editor--headline-#{$name} {
            .text-field__headline {
                font-size: $size;
            }
        }
    }
    @each $name, $size in $abstract-font-size {
        &.sd-editor--abstract-#{$name} {
            .text-field__abstract {
                font-size: $size;
            }
        }
    }
    @each $name, $size in $body-font-size {
        &.sd-editor--body-#{$name} {
            .text-field__body {
                font-size: $size;
            }
        }
    }
}

.theme-preview__block {
    margin-bottom: 1.2rem;
    &:last-child {
        margin-bottom: 0;
    }
}
.theme-preview__label {
    @include editor-lable-base();
}
.theme-preview__text-field {
    display: flex;
    line-height: 140%;
    color: inherit;
    font-family: inherit;
    border-bottom: 1px dotted $neutral-border-color;
    margin-bottom: 0.8rem;
    padding: 1rem 0 0.5rem;
    flex-direction: column;
    justify-content: flex-end;
}
.theme-preview__media-field {
    display: flex;
    color: inherit;
    font-family: inherit;
    margin-bottom: 0.8rem;
    padding: 1rem 0 0.5rem;
    flex-direction: column;
}
.theme-preview__button-bar {
    text-align: right;
    .sd-check__wrapper + .sd-check__wrapper {
        margin-left: 0.2rem;
    }
}


// ------ THEME IN EDITOR ------ //
.main-article {
    @each $theme, $colors in $themes {
        &.sd-editor--theme-#{$theme} {
            background-color: map-get($colors, bg-color);
            color: map-get($colors, text-color);
            .Editor3-root .DraftEditor-editorContainer blockquote {
                border-left-color: map-get($colors, text-color);
            }
        }
    }
    @each $name, $font in $theme-font-list {
        &.sd-editor--font-#{$name} {
            font-family: $font;
        }
    }
    @each $name, $size in $headline-font-size {
        &.sd-editor--headline-#{$name} {
            .headline .Editor3-root .DraftEditor-editorContainer {
                font-size: $size;
            }
            // Editor 2
            .headline .text-editor, .headline p .text-editor, .headline div .text-editor {
                font-size: $size;
            }
        }
    }
    @each $name, $size in $abstract-font-size {
        &.sd-editor--abstract-#{$name} {
            .abstract .Editor3-root .DraftEditor-editorContainer {
                font-size: $size;
            }
            // Editor 2
            .abstract, .abstract p, .abstract div {
                font-size: $size;
            }
        }
    }
    @each $name, $size in $body-font-size {
        &.sd-editor--body-#{$name} {
            .body .Editor3-root .DraftEditor-editorContainer {
                font-size: $size;
                h1 {
                    font-size: 2em;
                }
                h2 {
                    font-size: 1.5em;
                    line-height: 140%;
                }
                h3 {
                    font-size: 1.125em;
                }
                h4 {
                    font-size: 0.875em;
                }
                h5 {
                    font-size: 0.75em;
                }
                h6 {
                    font-size: 0.6875em;
                    color: inherit;
                    text-transform: uppercase;
                    opacity: 0.7;
                    letter-spacing: 0.03em;
                }
                h1, h2, h3, h4, h5, h6 {
                    line-height: 140%;
                }
                blockquote {
                    margin-left: 0;
                    padding-left: 1em;
                    border-left: 4px solid;
                    font-style: italic;
                }
            }
            // Editor 2
            .body-text .text-editor {
                font-size: $size;
                p {
                    font-size: $size;
                }
            }
        }
    }
}