.content-state--empty {
    position: relative;
    height: 100%;
    display: flex;
}
.content-state__empty-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.content-state__heading {
    @include sd-margin('1','bottom');
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
    font-size: 1.6rem;
    color: inherit;
    text-align: center;
    font-weight: 700;
    opacity: 0.65;
}
.content-state__description {
    text-align: center;
    color: inherit;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 150%;
    max-width: 76%;
    opacity: 0.55;
}
.content-state__image-l {
    position: relative;
    width: 78%;
    height: 0;
    padding-bottom: 56%;
    max-width: 24rem;
    margin: -8rem auto;
    @include sd-margin('2','bottom');
    background-repeat: no-repeat;
    background-size: 100%;
    &--01 {
        background-image: url('../img/empty_states/empty_large_1.svg');
    }
}