.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix {
    @include clearfix();
}
.no-padding {
    padding: 0 !important;
}
.no-border {
    border: 0 !important;
}
.no-line-height {
    line-height: 0 !important;
}

// Shadow helper classes
// --------------------------------------------------
    
.sd-shadow--z1 {
    box-shadow: 0 1px 3px rgba(0,0,0,.16), 0 0 1px rgba(0,0,0,.1) !important;
    transition: box-shadow 0.3s ease-out; 
    &.btn:active {
        box-shadow: none !important;
        transition: box-shadow 0.4s ease-out;        
    }
}
.sd-shadow--z2 {
    box-shadow: 0 1px 4px rgba(0,0,0,.16), 0 2px 6px rgba(0,0,0,.12), 0 0 1px rgba(0,0,0,.1) !important;
    transition: box-shadow 0.3s ease-out; 
    &.btn:active {
        box-shadow: none !important;
        transition: box-shadow 0.4s ease-out;        
    }
}
.sd-shadow--z3 {
    box-shadow: 0 1px 6px rgba(0,0,0,.16), 0 3px 8px rgba(0,0,0,.24), 0 0 1px rgba(0,0,0,.1) !important;
    transition: box-shadow 0.3s ease-out; 
    &.btn:active {
        box-shadow: none !important;
        transition: box-shadow 0.4s ease-out;        
    }
}
.sd-shadow--z4 {
    box-shadow: 0 2px 10px rgba(0,0,0,.2), 0 6px 16px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.1) !important;
    transition: box-shadow 0.3s ease-out; 
    &.btn:active {
        box-shadow: none !important;
        transition: box-shadow 0.4s ease-out;        
    }
}


// Webkit scroll
// --------------------------------------------------

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    margin: -1px 0;
    position: fixed;
    right: 10px;
}
::-webkit-scrollbar:hover {
    background-color: rgba(140,140,140,.2);
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.3);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,.6);
    cursor: pointer;
}

// text overflow
// --------------------------------------------------

.sd-overflow-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

// content no wrap 
// --------------------------------------------------

.sd-no-wrap {
    white-space: nowrap;
}

// Element with badge
.element-with-badge {
    display: inline-block;
    position: relative;
    .badge {
      position: absolute;
      top: -.9rem;
      right: -.9rem;
    }
    + .element-with-badge, + .btn {
      margin-left: 1.2rem;
      vertical-align: top;
    }
}
.btn + .element-with-badge {
    margin-left: 1.2rem;
    vertical-align: top;
}

// Deafult headings 
// --------------------------------------------------

.sd-heading-3 {
    font-size: 1.6rem;
    margin-bottom: 1.6rem; 
}

// Deafult text syles based on type of data  
// --------------------------------------------------

.sd-text__slugline {
    color: $sd-slugline;
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-right: 1rem;
}
p strong {
    font-weight: 500;
}
time {
    color: #747474;
    font-weight: 300;
    letter-spacing: .025em;
    &.small {
        font-size: calc(100% - 0.1rem);
    }
}
.sd-text__date-time {
    color: #747474;
    font-weight: 300;
    letter-spacing: .025em;
    &--small {
        font-size: 1.2rem;
    }
}
.sd-text__strong {
    font-weight: 500;
    font-size: 1.4rem;
}
.sd-text__date-and-author {
    font-size: 1.2rem;
}
.sd-text__author {
    font-weight: 500;
    //color: $sd-text;
}
.sd-text__info {
    font-weight: 300;
    color: $grayText;
}

.sd-text__right {
    text-align: right;
}

.dark-ui {
    .sd-text__slugline {
        color: $sd-slugline-darkUI;
    }
}

// Dashboard content header
.dashboard-content-header {
    display: flex;
    padding: 1.5rem;
}

.big-number-block {
    display: flex;
    color: $grayNeutral;

    &__number {
        font-size: 3.6rem;
        font-weight: 300;
        line-height: 100%;
        letter-spacing: -.02em;
    }
    &__text {
        margin: 0 1rem;
        line-height: 120%;
        font-weight: 300;
    }

    &--grow {
        flex-grow: 1;
    }
    &--center {
        align-items: center;
    }
}
.dashboard-thumbnail-block {
    display: flex;

    &__image {
        border: 1px solid #d6d6d6;
    }
    &__meta {
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
    }
    &__label {
        font-size: 1.2rem;
        color: $grayLight;
    }
    &__heading {
        display: flex;
        font-weight: 700;
        padding: .3rem 0;

        i {
            margin-right: .5rem;
        }
    }
    &__link {
        color: $sd-blue;
        text-decoration: none;
        border-bottom: 1px dotted $sd-blue;
        &:hover {
            border-bottom: 1px solid $sd-blue;
        }
    }
}

// panel border
.panel-border-left {
    border-right: 0;
    border-left: 2px solid rgba(0, 0, 0, 0.4);
}
.panel-border-right {
    border-left: 0;
    border-right: 2px solid rgba(0, 0, 0, 0.4);
}

// auto margin
.ml-auto {
    margin-left: auto !important;
}
.mr-auto {
    margin-right: auto !important;
}
.mt-auto {
    margin-top: auto !important;
}
.mb-auto {
    margin-bottom: auto !important;
}
