/// Icon labels

/// Default background color for icon labels.
$label-icon-background: transparent !default;
$label-icon-background-translucent: rgba(123,123,123,0.16);

/// Default text color for icon labels.
$label-icon-color: var(--color-label-text);

/// Alternate text color for icon labels.
$label-icon-color-alt: $white !default;

/// Coloring classes. A map of classes to output in the CSS.
$label-icon-palette: $sd-basic-palette;

/// Default padding inside labels.
$label-icon-padding: 0.6rem !default;

/// Generates base styles for a icon label.
@mixin label-icon {
    display: inline-flex;
    padding: 0;
    padding-inline-end: $label-icon-padding;
    vertical-align: middle;
    align-items: center;
    line-height: 1;
    font-size: 13px;
    white-space: nowrap;
    cursor: default;
}

@mixin label-icon-translucent {
    font-size: 12px;
    height: 24px;
    border-radius: $border-radius__base--full;
    padding-inline: 0.8rem 1.2rem;
}


.label-icon {
    @include label-icon;

    background: $label-icon-background;
    color: $label-icon-color;
    
    [class^="icon-"], & [class*=" icon-"] {
        color: $label-icon-color;
        margin-inline-end: .4rem;
        opacity: 1 !important;
    }

    @each $name, $color in $label-icon-palette {
        &.label-icon--#{$name} {
            color: $color;
            [class^="icon-"], & [class*=" icon-"] {
                color: $color !important;
            }
        }
    }
    &.label-icon--translucent {
        @include label-icon-translucent;
        background-color: $label-icon-background-translucent;
        @each $name, $color in $label-icon-palette {
            &.label-icon--#{$name} {
                background-color: scale-color($color, $alpha: -88%);
            }
        }
    }

}
