
$label-background: var(--sd-colour-bg--08) !default;
$label-color: var(--color-text--inverse) !default;

/// Alternate text color for labels.
$label-color-alt: var(--sd-colour-btn-txt-neutral) !default;
$label-background-translucent: var(--sd-colour-bg-translucent--08);

/// Coloring classes. A map of classes to output in the CSS.
$label-palette: $sd-extended-palette;

$font-size__label--default: 0.9rem;
$font-size__label--large: 1.2rem;

/// Removes background fill for hollow buttons.
@mixin label-hollow-style($color: $label-color-alt) {
    border: 1px solid $color;
    background-color: transparent !important;
    color: $color;
}
@mixin label-translucent-style($color: $label-color-alt) {
    background-color: $label-background-translucent;
    color: $color;
}

/// Generates base styles for a label.
@mixin label {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline: $padding-x__label--default;
    vertical-align: middle;
    border-radius: $border-radius__base--full;
    text-transform: uppercase;
    line-height: $height__label--default;
    height: $height__label--default;
    letter-spacing: 0.125em;
    font-size: $font-size__label--default;
    white-space: nowrap;
    cursor: default;
    border: 1px solid transparent;
    font-weight: 500;
    &--large {
        padding-block-start: $padding-y__label--large;
        padding-block-end: $padding-y__label--large;
        padding-inline: $padding-x__label--large;
        font-size: $font-size__label--large;
        height: $height__label--large;
        line-height: $height__label--large;
    }
}

@mixin label-base {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    margin: $label-margin;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline: $padding-x__label--default;
    height: $height__label--default;
    font-size: $font-size__label--default;
    border: none;
    border-radius: $border-radius__base--full;
    text-transform: uppercase;
    line-height: $height__label--default;
    font-weight: 500;
    letter-spacing: 0.125em;
    text-align: center;
    white-space: nowrap;
    color: var(--color-text--inverse);
    background-color: var(--sd-lbl-bg);
    [class^="icon-"], [class*=" icon-"] {
      color: currentColor;
    }
  }

.label {
    @include label;
    background: $label-background;
    color: $label-color;
    @each $name, $color in $label-palette {
        &.label--#{$name} {
            background: $color;
        }
    }
    &.label--hollow {
        @include label-hollow-style;
        @each $name, $color in $label-palette {
            &.label--#{$name} {
                @include label-hollow-style($color);
            }
        }
    }
    &.label--translucent {
        @include label-translucent-style;
        @each $name, $color in $label-palette {
            &.label--#{$name} {
                @include label-translucent-style($color);
                background-color: scale-color($color, $alpha: -80%);
            }
        }
    }
    &--annotation {
        background-color: $annotation-color;
        color: $grayMedium;
    }
    &--comment {
        background-color: $comment-color;
        color: $grayMedium;
    }
    &--no-transform {
        text-transform: none;
        letter-spacing: 0.04em;
    }
}

// link label
a.label {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0.8rem;
    padding-inline-end: 1.8rem;

    &::before {
        display: inline-block;
        font-family: 'sd_icons';
        content: '\e6b0';
        position: absolute;
        inset-block-start: 0;
        inset-inline-end: 0.3rem;
        width: 1.6rem;
        height: 1.6rem;
        font-size: 1.6rem;
        font-family: 'sd_icons';
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
    }
    &:hover, &:focus {
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    }
}

.label.label--hollow.label--darkBlue2 {
    border: 1px solid var(--sd-navy-color);
    color: var(--sd-navy-color);
}
.label.label--darkBlue2 {
    background: var(--sd-navy-color);
}