/// @group label

/// Default background color for labels.
$label-background: $gray !default;

/// Default text color for labels.
$label-color: $white !default;

/// Alternate text color for labels.
$label-color-alt: $gray !default;

/// Coloring classes. A map of classes to output in the CSS.
$label-palette: $sd-extended-palette;

/// Default padding inside labels.
$label-padding: 0 0.8rem !default;
$label-padding-large: 0.5rem 1.2rem;
$label-link-padding: 0 1.8rem 0 0.8rem;

$label-lineheight-large: 1;

/// Default radius of labels.
$label-radius: 8px !default;
$label-radius-large: 1.2rem;

$label-sizes: (
  label--default: 0.9rem,
  label--large: 1.2rem,
) !default;

/// Removes background fill for hollow buttons.
@mixin label-hollow-style($color: $label-color-alt) {
    border: 1px solid $color;
    background-color: transparent !important;
    color: $color;
}

/// Generates base styles for a label.
@mixin label {
    display: inline-block;
    padding: $label-padding;
    vertical-align: middle;
    border-radius: $label-radius;
    text-transform: uppercase;
    line-height: 1.4rem;
    letter-spacing: 0.125em;
    font-size: map-get($label-sizes, label--default);
    white-space: nowrap;
    cursor: default;
    border: 1px solid transparent;
    font-weight: 500;
}


.label {
    @include label;

    // Sizes
    @each $size, $value in map-remove($label-sizes, label--default) {
      &.#{$size} {
        font-size: $value;
        @if $size == label--large {
          padding: $label-padding-large;
          line-height: $label-lineheight-large;
          border-radius: $label-radius-large;
        }
      }
    }

    background: $label-background;
    color: $label-color;
    @each $name, $color in $label-palette {
        &.label--#{$name} {
            background: $color;
        }
    }
    &.label--hollow {
        @include label-hollow-style;
        

        @each $name, $color in $label-palette {
            &.label--#{$name} {
                @include label-hollow-style($color);
            }
        }
    }
    &--annotation {
        background-color: $annotation-color;
        color: $grayMedium;

    }
    &--comment {
        background-color: $comment-color;
        color: $grayMedium;
    }
    &--no-transform {
        text-transform: none;
        letter-spacing: 0.04em;
    }
}

// link label
a.label {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    padding: $label-link-padding;

    &::before {
        display: inline-block;
        font-family: 'sd_icons';
        content: '\e6b0';
        position: absolute;
        top: 0;
        right: 0.3rem;
        width: 1.6rem;
        height: 1.6rem;
        font-size: 1.6rem;
        font-family: 'sd_icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
    }

    &:hover, &:focus {
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    }
    &:not(.label--hollow) {
        &:hover, &:focus {
            color: white;
        }
    }
}
