@mixin clearfix {
    *zoom: 1;
    &:before,
        &:after {
        display: table;
        content: "";
    }
    &:after {
        clear: both;
    }
}
// Border radius
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}
@mixin box-shadow-both($shadow1 , $shadow2) {
    box-shadow: $shadow1, $shadow2;
}
// Text overflow ellipsis
@mixin text-overflow() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
// Font weight
@mixin text-light() {
    font-weight: 300;
}
@mixin text-normal() {
    font-weight: 400;
}
@mixin text-semibold() {
    font-weight: 500;
}
@mixin text-bold() {
    font-weight: 700;
}
@mixin text-extrabold() {
    font-weight: 800;
}
// Box sizing
@mixin box-sizing($boxmodel) {
        box-sizing: $boxmodel;
}
@mixin border-box() {
    @include box-sizing(border-box);
}
// Opacity
@mixin opacity($opacity: 100) {
    opacity: $opacity / 100;
     filter: "alpha(opacity=#{$opacity})";
}
// Box shadow
@mixin box-shadow($top, $left, $blur, $spread, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $spread $color;
    -moz-box-shadow:inset $top $left $blur $spread $color;
    box-shadow:inset $top $left $blur $spread $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $spread $color;
    -moz-box-shadow: $top $left $blur $spread $color;
    box-shadow: $top $left $blur $spread $color;
  }
}
// Transition -- example: @include transition(padding, 1s, ease-in-out);
@mixin transition($transition-property, $transition-time, $method) {
	-webkit-transition: $transition-property $transition-time $method;
	-moz-transition: $transition-property $transition-time $method;
	-ms-transition: $transition-property $transition-time $method;
	-o-transition: $transition-property $transition-time $method;
	transition: $transition-property $transition-time $method;
}