// MODALS
// ------

// Recalculate z-index where appropriate
$zindexDropdown: 1000;
$zindexPopover: 1010;
$zindexTooltip: 1040;
$zindexModalBackdrop: 1045;
$zindexModal: 1050;
$nav-height: 48px;

.modal-open {
    overflow: hidden;
    .dropdown__menu {  z-index: $zindexDropdown + $zindexModal; }
    .dropdown.open { *z-index: $zindexDropdown + $zindexModal; }
    .popover       {  z-index: $zindexPopover  + $zindexModal; }
    .tooltip       {  z-index: $zindexTooltip  + $zindexModal; }
}

// Variables
$modal-base-width : 480px;
$modal-large-width : 680px;
$modal-fill-width: 100%;
$modal-fullscreen-width: 100%;

$modal-border-radius: 4px;
$modal-line-color: #e4e4e4;

$modal-header-height : $nav-height;
$modal-footer-height : 58px;
$modal-subnav-height : $nav-height;

$modal-padding : 2rem;

// Box shadow
@mixin modal-box-shadow {
    @include box-shadow(0, 0, 8px, 2px, rgba(0, 0, 0, 0.3));
}
// Map with all modal sizes
$modal-sizes: (
  default: $modal-base-width,
  large: $modal-large-width,
  fill: $modal-fill-width,
  fullscreen: $modal-fullscreen-width,
) !default;

@mixin modal-base(
    $align-items: flex-start, 
    $space-around: 40px
    ) {
    position: fixed;
    left: $space-around;
    right: $space-around;
    top: $space-around;
    bottom: $space-around;
    align-items: $align-items;
    flex-direction: column;
    overflow: hidden;
    z-index: $zindexModal;
    display: none;
}
@mixin modal-dialog() {
    display: flex;
    max-height: 100%;
    flex: 0 1 auto;
    margin: 0 auto;
}
@mixin modal-content() {
    background-color: $white;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    @include border-radius($modal-border-radius);
    @include modal-box-shadow();
}
@mixin modal-header() {
    padding: $modal-padding - .8rem $modal-padding;
    border-bottom: 1px solid $modal-line-color;
    min-height: $modal-header-height;
}
@mixin modal-body() {
    background: $sd-background;
    overflow-y: auto;
    padding: $modal-padding;
    position: relative;
}
@mixin modal-footer() {
    padding: $modal-padding - .8rem $modal-padding;
    text-align: right; // right align buttons
    border-top: 1px solid $modal-line-color;
    @include clearfix(); // clear it in case folks use .pull-* classes on buttons
}

// Base modal calculation, with different sizes
.modal {
    @include modal-base;
    &.in {
        display: flex !important;
    }
    // default size, no class needed
    .modal__dialog {
        @include modal-dialog();
        max-width: map-get($modal-sizes, default);
        width: 100%;
    }
    .modal__content {
        @include modal-content();
        flex: 0 0 100%;
        .modal__header, .modal__footer {
            flex: 0 0 auto;
            width: 100%;            
        }
        .modal__header {
            @include modal-header();
            &--padding-20 {
                padding: 10px 20px;
            }
            &--flex {
                display: flex;
                flex-direction: row;
                align-items: center;
                .modal__heading {
                    flex-grow: 1;
                }
            }
        }
        .modal__footer {
            @include modal-footer();
        }
        .modal__body {
            @include modal-body();
            flex: 0 1 auto;
            width: 100%; 
            max-width: $modal-base-width;
            // modifier to add min height, if needed
            &--add-min-height {
                min-height: 300px; 
                // we reset this value if the screen height is lower than 500px
                @media (max-height: 500px) {
                    min-height: auto;
                }
            }
            &--no-padding {
                padding: 0;
            }           
        }
    }
    // loop for different modal sizes
    @each $name, $value in $modal-sizes {
        // fill modal
        @if $name == fill {
            &--#{$name} {
                @include modal-base(flex-start, 30px);
                align-items: initial;
                flex-direction: initial;
                padding: 10px;
                .modal__content {
                    margin: 0 !important;
                }
                .modal__body {
                    flex: 1 1 auto !important;
                }
            }
        }
        // fullscreen modal (preview article dialog)
        @if $name == fullscreen {
            &--#{$name} {
                @include modal-base(flex-start, 0px);
                .modal__dialog {
                    width: 100%;
                    height: 100%;
                } 
                .modal__content {
                    flex: 0 0 100%;
                    margin: 0;
                    @include border-radius(0);
                }
                .modal__body {
                    max-height: none;
                    flex: 1 1 auto !important;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
        // all other sizes from $modal-sizes except default one
        @if $name != default {
            &--#{$name} {
                .modal__dialog {
                   max-width: $value; 
                }
                .modal__body {
                    max-width: $value !important;
                }
            }
        }
    }
    // modifier, change body to white background 
    &.modal--white {
        .modal__body {
            background: $white !important;
        }
    }
    // fix for calling a modal from another modal
    &.modal--double {
        z-index: 1060;
        &+.modal__backdrop {
            z-index: 1055;
        }
    }
    // modal with tabs and footer inside body
    &.modal--tabs {
        .modal__body {
            position: relative;
            display: flex;
            flex-direction: column;
            padding: 0;
            background: transparent;
            // fix for modal with form
            > form {
                display: flex;
                flex-direction: column;
            }
        }
        .modal__body-header {
            height: 48px;
            width: 100%;
            background: $white;
            border-bottom: 1px solid $modal-line-color;
            padding: 0;
            &--add-padding {
                padding: 1rem 2rem; // useful if we use body header for something else but tabs
                height: auto;
                min-height: 48px;
            }
        }
        .modal__body-content {
            flex: 1 1 auto;
            width: 100%;
            overflow-y: auto;
            padding: $modal-padding;
            background: $sd-background;
            min-height: 60px;
        }
        .modal__body-footer {
            flex: 0 0 auto;
            padding: $modal-padding - .8rem $modal-padding;
            border-top: 1px solid $modal-line-color;
            text-align: right;
        }
    }
    p {
        margin: 0 0 1em 0;
    }
    &.modal--dark-ui {
        .modal__content {
            background-color: #333;
            color: $white;
            .modal__body-header {
                background-color: #333;
                color: $white;
            }
            .modal__body-content, .modal__body {
                background-color: #444;
                color: $white;  
            }
            .modal__header {
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            }
            .modal__footer {
                border-top: 1px solid rgba(0, 0, 0, 0.12);
            }
            .subnav {
                background-color: #292929;
                color: $white;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35), 0 1px 0 0 rgba(0, 0, 0, 0.3);
            }  
        }
    }
}
.modal__content {
    .subnav {
        flex-shrink: 0;
    }
}
.modal__close {
    margin: 2px -6px 0;
    border: 0;
    background: 0;
    padding: 0px 4px;
    @include opacity(30);
    &:hover {
        @include opacity(70);
        cursor: pointer;
    }
}
.modal__heading {
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;

}

// Background
.modal__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindexModalBackdrop;
    background-color: $black;
    // Fade for backdrop
    &.fade { opacity: 0; }
}
.modal__backdrop,
.modal__backdrop.fade.in {
    @include opacity(30);
}