// Information box with big circle icon
.panel-info {
    background-color: transparent;
    box-shadow: none;
    padding: 5rem 0 0;
    text-align: center;
    color: #888;
    &__icon {
        display: block;
        box-sizing: border-box;
        padding-top: 1.6rem;
        height: 9rem;
        width: 9rem;
        background-color: #fff;
        border-radius: 50%;
        margin: 0 auto;
        @include box-shadow(0, 0, 6px, 1px, rgba(0,0,0,.08));
        i {
            display: block;
            width: 56px;
            height: 48px;
            opacity: .2;
            margin: 14px auto 0;
            font-size: 5.2rem;
        }
    }
    &__heading {
        font-size: 1.8rem;
        font-weight: 400;
        margin: 12px 0 0;
        line-height: 27px;
    }
    &__description {
        margin: 4px 0 0;
        font-weight: 300;
    }
}