.sd-popover {
    background: var(--color-surface-base);
    color: var(--color-text-default);
    padding: var(--space--1) var(--space--1-5) var(--space--1-5);
    border-radius: var(--b-radius--medium);
    box-shadow: var(--sd-shadow--z4);
    max-width: 320px !important;
}

.sd-popover__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: var(--space--0-5);
    min-height: 20px;
}

.sd-popover__title {
    font-size: var(--text-size-xx-small);
    line-height: 1;
    text-transform: uppercase;
    color: var(--color-text-muted);
    padding: 0;
    margin: 0;
}

.sd-popover__close {
    margin-inline-end: -4px;
}
