.sd-popover {
    background: #333;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
}

.sd-popover--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.sd-popover--title {
    font-size: 11px;
    line-height: 1;
    text-transform: uppercase;
    color: #ccc;
    padding: 0;
    margin: 0;
}


.sd-popover--close {
    padding: 0;
    margin: 0;
    line-height: 1;

    &:hover, &:active {
        [class^="icon-"], [class*=" icon-"] {
            color: $sd-blue;
        }
    }
}
