.sd-popover {
    background: var(--sd-colour-bg--05);
    color: #fff;
    padding: 8px 12px 12px;
    border-radius: $border-radius__base--medium;
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    max-width: 320px !important;
}

.sd-popover__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    min-height: 20px;
}

.sd-popover__title {
    font-size: 11px;
    line-height: 1;
    text-transform: uppercase;
    color: #ccc;
    padding: 0;
    margin: 0;
}

.sd-popover__close {
    margin-right: -4px;
}
