// Dashboard content header

.dashboard-content-header {
    display: flex;
    padding: 1.5rem;
}

.big-number-block {
    display: flex;
    color: $grayNeutral;
}

.big-number-block__number {
    font-size: 3.6rem;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: -.02em;
}

.big-number-block__text {
    margin: 0 1rem;
    line-height: 120%;
    font-weight: 300;
}

.big-number-block--grow {
    flex-grow: 1;
}

.big-number-block--center {
    align-items: center;
}

.dashboard-thumbnail-block {
    display: flex;
}

.dashboard-thumbnail-block__image {
    border: 1px solid #d6d6d6;
}

.dashboard-thumbnail-block__meta {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
}

.dashboard-thumbnail-block__label {
    font-size: 1.2rem;
    color: $grayLight;
}

.dashboard-thumbnail-block__heading {
    display: flex;
    font-weight: 700;
    padding: .3rem 0;

    i {
        margin-inline-end: .5rem;
    }
}

.dashboard-thumbnail-block__link {
    color: $sd-colour-interactive;
    text-decoration: none;
    border-block-end: 1px dotted $sd-colour-interactive;

    &:hover {
        border-block-end: 1px solid $sd-colour-interactive;
        text-decoration: none;
        color: $sd-colour-interactive;
    }
}

// Panel border
.panel-border-left {
    border-inline-end: 0;
    border-inline-start: 2px solid rgba(0, 0, 0, 0.4);
}

.panel-border-right {
    border-inline-start: 0;
    border-inline-end: 2px solid rgba(0, 0, 0, 0.4);
}

// Overlay block
.sd-overlay-block {
    position: relative;

    .sd-overlay-block__overlay-message {
        display: none;
        margin-block-start: 1rem;
        color: $grayText;
    }
    
    img {
        width: 100%;
    }

    &:hover {
        .sd-overlay-block__overlay {
            opacity: 1;
        }
    }
}

.sd-overlay-block__overlay {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    inset-block-end: 0;
    inset-inline-start: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.2s linear opacity;   
    opacity: 0;
    color: #fff;
}

.sd-overlay-block__overlay-action-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;        
}

.sd-overlay-block__overlay-action {
    flex-grow: 0;
    flex-shrink: 0;
    color: #fff;
    width: 5.6rem;
    height: 5.6rem;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: $border-radius__base--full;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s linear all;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;

    i {
        color: #fff;
        height: 2.4rem;
        width: 2.4rem;
        font-size: 2.4rem;
        line-height: 1;
        opacity: 0.5;
        transition: 0.2s linear all;
    }

    &:hover {
        border-color: white;
        background-color: rgba(0, 0, 0, 0.4);
        text-decoration: none;

        i {
            opacity: 1;
        }
    }

    + .sd-overlay-block__overlay-action {
        margin-inline-start: 2rem;
    }
}

.sd-overlay-block--no-image {
    height: 160px;
    border: 2px dashed $grayDark;

    img {
        display: none;
    }

    .sd-overlay-block__overlay {
        opacity: 1;
    }

    .sd-overlay-block__overlay-action-group {
        flex-direction: column;
    }

    .sd-overlay-block__overlay-message {
        display: block;
    }
}
