sd-tag-input {
    display: block;
    padding-bottom: 3rem;   
    &[data-label] {
        position: relative;
        padding-top: 1rem;
    }
}

// Testing
.sd-tag-input {
    display: block;
    padding-bottom: 3rem;   
    &[data-label] {
        position: relative;
        padding-top: 1rem;
    }
}
// Testing

.tags-input__label {
    position: absolute;
    display: inline-block;
    font-size: 1.1rem;
    margin: 0;
    top:0;
    line-height: 100%;
    color: $grayText;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.08em;
}

tags-input {
    display: block;
    .tags-input__host {
        position: relative;
        margin-top: 0.5rem;
        margin-bottom: 0;
        height: 100%;
        &:active {
            outline: none;
        }
    }
    .tags-input__tags {
        padding: 0.1rem 0 0 0.1rem;
        overflow: hidden;
        word-wrap: break-word;
        cursor: text;
        background-color: transparent;
        border:none;
        transition: border linear 0.2s, box-shadow linear 0.2s;
        border-bottom: 1px solid $sd-inputBorderColor;
        height: 100%;
        &:hover {
            border-color: rgba(0,0,0,0.3);
        }
        &.focused {
            outline: none;
            border-bottom: 1px solid $sd-blue;
            box-shadow: 0 1px 0  $sd-blue;
            .tags-input__input {
                width: auto;
            }
        }
        .tags-input__tag-list {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        .tags-input__tag-item {
            @include tag-label;
            margin: 2px 4px 2px 0;
            float: left;
            transition: background-color .2s ease-out, color .1s ease-out, opacity .1s ease-out;
            background: $tag-label-background;
            color: currentColor;
            &.selected {
                background-color: scale-color($sd-blue, $alpha: -35%);

            }
            .tags-input__remove-button {
                height: 1.8rem;
                width: 1.8rem;
                padding: 0;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-size: inherit;
                line-height: 1;
                text-decoration: none;
                text-align: center;
                vertical-align: middle;
                border-radius: 50%;
                background-color: rgba(255,255,255,0.35);
                color: inherit;
                cursor: pointer;
                transition: background-color .2s ease-out, color .1s ease-out, opacity .1s ease-out;
                opacity: 0.2;
                margin-right: -1rem;
                margin-left:  0.8rem;
                &:hover {
                    opacity: 0.75;
                    text-decoration: none;
                    background-color: rgba(255,255,255,0.65);
                  }

                &:active {
                    opacity: 1;
                    background-color: rgba(255,255,255,0.85);
                    [class^="icon-"], [class*=" icon-"] {
                      color: $sd-blue;
                      opacity: 1;
                    }
                }
            }

            ti-tag-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                .tags-input__helper-box {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    span {
                        flex-grow: 1;
                    }
                }
            }
        }
        .tags-input__input {
            border: 0;
            outline: none;
            margin: 0.2rem;
            padding: 0;
            float: left;
            height: 26px;
            color: currentColor;
            background-color: transparent;
            &.invalid-tag {
                color: $red;
            }
            &::-ms-clear {
                display: none;
            }

            // Override width and box-shadow from superdesk-client-core
            width: 20px;
            &:focus {
                box-shadow: unset !important;
            }
            &::placeholder {
                opacity: 0.8;
                font-weight: 300;
                font-style: italic;
            }
        }
        &--boxed {
            background-color: rgba(0, 0, 0, 0.05);
            padding-left: 0.4rem;
            border-radius: 2px;
            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }
    &.ng-invalid {
        .tags-input__tags {
            border-bottom: 1px solid $red !important;
            box-shadow: 0 1px 0 $red !important;
        }
    }

    &[disabled] {
        .tags-input__host:focus {
            outline: none;
        }
        .tags-input__tags {
            background-color: #eee;
            cursor: default;
            .tags-input__tag-item {
                opacity: 0.65;
                .tags-input__remove-button {
                    cursor: default;
                    &:active {
                        color: #585858;
                    }
                }
            }
            .tags-input__input {
                background-color: #eee;
                cursor: default;
            }
        }
    }
    .tags-input__add-button {
        float: left;
        height: $sd-base-increment * 3;
        width: $sd-base-increment * 3;
        background-color: $sd-blue;
        color: $white;
        display: flex;
        align-items: center;
        text-align: center;
        margin: 0.2rem 0.4rem 0.2rem 0;
        transition: all 0.3s;
        border-radius: 2px;
        opacity: 0.5;
        padding: 0;
        justify-content: center;
        i {
            color: inherit;
        }
        &:hover {
            opacity: 1;
        }
        &[disabled], [disabled]:hover, [disabled]:active {
            opacity: 0.5;
            background-color: rgba(123, 123, 123, 0.4);
            cursor: default;
            cursor: not-allowed;
            color: scale-color($white, $alpha: -20%);
        }
    }
    .autocomplete {
        margin-top: 0.5rem;
        position: absolute;
        padding: 0.5rem 0;
        z-index: 999;
        width: 100%;
        background-color: $white;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4), 0 3px 1px -2px rgba(0, 0, 0, 0.1);
        .suggestion-list {
            margin: 0;
            padding: 0;
            list-style-type: none;
            max-height: 28rem;
            overflow-y: auto;
            position: relative;
        }
        .suggestion-item {
            padding: 0.5rem 1rem;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: $sd-text;
            background-color: $white;
            transition: all ease-in-out 0.1s;
            &.selected {
                background-color: scale-color($sd-blue, $alpha: -70%);
                &:active {
                    background-color: scale-color($sd-blue, $alpha: -25%);
                    color: $white;
                }
            }
            &[disabled], &[disabled]:hover, &[disabled]:active {
                background-color: transparent;
                opacity: 0.45;
                cursor: default;
                pointer-events: none;
            }
        }
    }
}


//TESTING TAG INPUT REACT NEW CSS

.tags-input {
    display: block;
    .tags-input__host {
        position: relative;
        margin-top: 0.5rem;
        margin-bottom: 0;
        height: 100%;
        &:active {
            outline: none;
        }
    }
    .tags-input__tags {
        padding: 0.1rem 0 0 0.1rem;
        overflow: hidden;
        word-wrap: break-word;
        cursor: text;
        background-color: transparent;
        border:none;
        transition: border linear 0.2s, box-shadow linear 0.2s;
        border-bottom: 1px solid $sd-inputBorderColor;
        height: 100%;
        &:hover {
            border-color: rgba(0,0,0,0.3);
        }
        &.focused {
            outline: none;
            border-bottom: 1px solid $sd-blue;
            box-shadow: 0 1px 0  $sd-blue;
            .tags-input__input {
                width: auto;
            }
        }
        .tags-input__tag-list {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        .tags-input__tag-item {
            @include tag-label;
            margin: 2px 4px 2px 0;
            float: left;
            transition: background-color .2s ease-out, color .1s ease-out, opacity .1s ease-out;
            background: $tag-label-background;
            color: currentColor;
            &.selected {
                background-color: scale-color($sd-blue, $alpha: -35%);

            }
            .tags-input__remove-button {
                height: 1.8rem;
                width: 1.8rem;
                padding: 0;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-size: inherit;
                line-height: 1;
                text-decoration: none;
                text-align: center;
                vertical-align: middle;
                border-radius: 50%;
                background-color: rgba(255,255,255,0.35);
                color: inherit;
                cursor: pointer;
                transition: background-color .2s ease-out, color .1s ease-out, opacity .1s ease-out;
                opacity: 0.2;
                margin-right: -1rem;
                margin-left:  0.8rem;
                &:hover {
                    opacity: 0.75;
                    text-decoration: none;
                    background-color: rgba(255,255,255,0.65);
                  }

                &:active {
                    opacity: 1;
                    background-color: rgba(255,255,255,0.85);
                    [class^="icon-"], [class*=" icon-"] {
                      color: $sd-blue;
                      opacity: 1;
                    }
                }
            }
            ti-tag-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                .tags-input__helper-box {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    span {
                        flex-grow: 1;
                    }
                }
            }
        }
        .tags-input__input {
            border: 0;
            outline: none;
            margin: 0.2rem;
            padding: 0;
            float: left;
            height: 26px;
            color: currentColor;
            background-color: transparent;
            &.invalid-tag {
                color: $red;
            }
            &::-ms-clear {
                display: none;
            }

            // Override width and box-shadow from superdesk-client-core

            &:focus {
                box-shadow: unset !important;
            }
            &::placeholder {
                opacity: 0.8;
                font-weight: 300;
                font-style: italic;
            }
        }
        &--boxed {
            background-color: rgba(0, 0, 0, 0.05);
            padding-left: 0.4rem;
            border-radius: 2px;
            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }
    &.ng-invalid {
        .tags-input__tags {
            border-bottom: 1px solid $red !important;
            box-shadow: 0 1px 0 $red !important;
        }
    }

    &[disabled] {
        .tags-input__host:focus {
            outline: none;
        }
        .tags-input__tags {
            background-color: #eee;
            cursor: default;
            .tags-input__tag-item {
                opacity: 0.65;
                .tags-input__remove-button {
                    cursor: default;
                    &:active {
                        color: #585858;
                    }
                }
            }
            .tags-input__input {
                background-color: #eee;
                cursor: default;
            }
        }
    }
    .tag-input__invalid-tag{
        border-bottom: 1px solid #E51C23 !important;
        box-shadow: 0 1px 0 #E51C23 !important;
    }
    .tags-input__add-button {
        float: left;
        height: $sd-base-increment * 3;
        width: $sd-base-increment * 3;
        background-color: $sd-blue;
        color: $white;
        display: flex;
        align-items: center;
        text-align: center;
        margin: 0.2rem 0.4rem 0.2rem 0;
        transition: all 0.3s;
        border-radius: 2px;
        opacity: 0.5;
        padding: 0;
        justify-content: center;
        i {
            color: inherit;
        }
        &:hover {
            opacity: 1;
        }
        &[disabled], [disabled]:hover, [disabled]:active {
            opacity: 0.5;
            background-color: rgba(123, 123, 123, 0.4);
            cursor: default;
            cursor: not-allowed;
            color: scale-color($white, $alpha: -20%);
        }
    }
    .autocomplete {
        margin-top: 0.5rem;
        position: absolute;
        padding: 0.5rem 0;
        z-index: 999;
        width: 100%;
        background-color: $white;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4), 0 3px 1px -2px rgba(0, 0, 0, 0.1);
        .suggestion-list {
            margin: 0;
            padding: 0;
            list-style-type: none;
            max-height: 28rem;
            overflow-y: auto;
            position: relative;
        }
        .suggestion-item {
            padding: 0.5rem 1rem;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: $sd-text;
            background-color: $white;
            transition: all ease-in-out 0.1s;
            &:hover {
                background-color: scale-color($sd-blue, $alpha: -70%);
            }
            &.selected {
                background-color: scale-color($sd-blue, $alpha: -70%);
                &:active {
                    background-color: scale-color($sd-blue, $alpha: -25%);
                    color: $white;
                }
            }
            &[disabled], &[disabled]:hover, &[disabled]:active {
                background-color: transparent;
                opacity: 0.45;
                cursor: default;
                pointer-events: none;
            }
        }
    }
}

// DARK UI ---------------------------------------------
//------------------------------------------------------

.dark-ui,
[class^="--dark-ui"],
[class*="--dark-ui"] {
    tags-input {
        .tags-input__tags {
            border-bottom-color: rgba($sd-inputBorderColor-darkUi, 0.2);
            &:hover {
                border-bottom-color: $sd-inputBorderColor-darkUi;
            }
            &.focused {
                border-bottom-color: $sd-blue;
            }
            .tags-input__tag-item {
                background: $tag-label-background-darkUi;
                &.selected {
                    background-color: scale-color($sd-blue, $alpha: -25%);
                }
            }
            &--boxed {
                background-color: rgba(255, 255, 255, 0.05);
                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }
        }
        .tags-input__add-button {
            &[disabled], [disabled]:hover, [disabled]:active {
                background-color: rgba(123, 123, 123, 0.6);
                color: scale-color($white, $alpha: -70%);
            }
        }
    }
    .tags-input__label {
        color: rgba(255, 255, 255, 0.4);
    }
}


