.sd-spinner {
    z-index: 1;
    width: var(--spinner-size);
    height: var(--spinner-size);

    &.sd-spinner--mini {
        --spinner-size: 1.8rem;
    }
    &.sd-spinner--small {
        --spinner-size: 2.4rem;
    }
    &.sd-spinner--medium {
        --spinner-size: 3.2rem;
    }
    &.sd-spinner--large {
        --spinner-size: 4.8rem;
    }
}

@keyframes rotate {
    100% {
        transform:rotate(360deg);
    }
}
@keyframes dash-new {
    0% {
        stroke-dasharray: 0 150;
        stroke-dashoffset: 0;
    }
    47.5% {
        stroke-dasharray: 42 150;
        stroke-dashoffset: -16;
    }
    95%,100% {
        stroke-dasharray: 42 150;
        stroke-dashoffset: -59;
    }
}

.sd-spinner__path {
    transform-origin:center;
    animation: rotate 2s linear infinite;
}
.sd-spinner__path circle {
    stroke-linecap: round;
    animation: dash-new 1.5s ease-in-out infinite;
}
