// TABLES : tables.scss
// 

$sd-tableBgColor: #fff;

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;
    border-top: 1px solid $sd-tableBorderColor;
    border-bottom: 1px solid $sd-tableBorderColor;


    th, td {
        padding: 1.2rem 0.8rem;
        text-align: left;
        vertical-align: top;
        border-bottom: 1px solid $sd-tableBorderColor;
        font-weight: 500;
    }
    tr:last-child {
        td {
            border-bottom: none;
        }
    }
    th {
        font-weight: 600;
        border-bottom: 2px solid $sd-tableBorderColor;
    }
    // Bottom align for column headings
    thead th {
        vertical-align: bottom;
    }
}

.table-inside { // separate class in order to avoid putting a class directly on editor3 content
    table {
        @extend .table;
    }
}

.sd-table--shadowed {
    background-color: $sd-tableBgColor;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
    border: none;
}
.sd-table {
    td {
        vertical-align: middle;
    }
    th {
        vertical-align: top;
    }
}
.sd-table--action-hover {
    td,
    .sd-display-table__cell,
    .sd-flex-table__row:not(.sd-flex-table--head) .sd-flex-table__cell {
        .icn-btn {
            visibility: hidden;
        }
    }

    tr:hover td,
    .sd-display-table__row:hover .sd-display-table__cell,
    .sd-flex-table__row:not(.sd-flex-table--head):hover .sd-flex-table__cell {
        .icn-btn {
            visibility: visible;
        }
    }
}
.sd-table-two-rows {
    padding: 0.8rem;
    vertical-align: middle;
    display: flex;
    flex-direction: column;

    span + span {
        margin-left: .4rem;
    }
}

// Div table
.sd-display-table {
    display: table;
    width: 100%;
}
.sd-display-table__head {
    display: table-row-group;

    .sd-display-table__cell {
        font-weight: 600;
        border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    }
}
.sd-display-table__body {
    display: table-row-group;
}
.sd-display-table__row {
    display: table-row;
}
.sd-display-table__cell {
    display: table-cell;
    padding: 1.2rem 0.8rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    font-weight: 500;
    text-align: left;

    &.sd-table-two-rows {
        padding: 0.8rem;
    }
}

// Flex table
.sd-flex-table {
    display: flex;
    flex-direction: column;
}
.sd-flex-table__row {
    display: flex;
    flex-direction: row;
}
.sd-flex-table__cell {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 1.2rem 0.8rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    font-weight: 500;
    text-align: left;
    min-width: 120px;
}
.sd-flex-table--head .sd-flex-table__cell {
    font-weight: 600;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}
