// TABS
// ----

// Variables
$nav-tabs-padding: 0.8rem 0;
$nav-tabs-margin: 0 1rem;
$nav-tabs-font-size: 1.4rem !default;
$nav-tabs-font-size-small: 1.2rem;
$nav-tabs-font-size-big: 1.6rem;

$nav-tab-link-color: $grayText; // default text color
$nav-tab-active-link-color: $grayDark; // active state text color
$nav-tab-link-border-color: #d8d8d8; // hover state, border bottom color  
$nav-tab-active-link-border-color: $sd-colour-interactive__base;  // active state border bottom color

// UI dark colors
$nav-tab-link-color-dark: scale-color($white, $alpha: -40%);
$nav-tab-active-link-color-dark: $white;
$nav-tab-link-border-color-dark: rgba(255, 255, 255, 0.2);
$nav-tab-active-link-border-color-dark: $sd-colour-interactive__base;

// Mixins
@mixin nav-tabs-base {
    height: $nav-height;
    display: flex;
    flex-shrink: 0;
    padding: 0 1rem;
    box-shadow: 0 1px 0 0 var(--color-border-line--light);
}
@mixin nav-tab-link(
     $link-color: $nav-tab-link-color,
     $border-bottom-hover-color: $nav-tab-link-border-color
) {
    margin: $nav-tabs-margin;
    padding: $nav-tabs-padding;
    height: $nav-height;
    line-height: 30px;
    font-size: $nav-tabs-font-size;
    color: $link-color;
    background: none;
    border:0;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    @include text-overflow();
    &:hover {
        border-bottom-color: $border-bottom-hover-color;
        background: none;
        text-decoration: none;
    }
}
@mixin nav-tab-link-active(
    $active-link-color: $grayDark,
    $border-bottom-color: $nav-tab-active-link-border-color
) {
    background: none;
    cursor: default;
    border-bottom-color: $border-bottom-color;
    color: $active-link-color;
}


// NEW 
@mixin nav-tabs-tab(
     $border-bottom-hover-color: $nav-tab-link-border-color
) {
    margin: $nav-tabs-margin;
    padding: $nav-tabs-padding;
    height: $nav-height;
    align-items: center;
    justify-content: center;
    font-size: $nav-tabs-font-size;
    color: inherit;
    background: none;
    border:0;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    @include text-overflow();
    span {
        opacity: 0.7;
        line-height: 1;
        display: inline-block;
        margin-top: 3px;
    }
    &:hover {
        border-bottom-color: $border-bottom-hover-color;
        background: none;
        text-decoration: none;
    }
}
@mixin nav-tabs-tab-active(
    $border-bottom-color: $nav-tab-active-link-border-color
) {
    background: none;
    cursor: default;
    border-bottom-color: $border-bottom-color;
    span {
        opacity: 1;
    }
}






.nav-tabs {
    @include nav-tabs-base();

    // single tab
    &__tab {
        margin-bottom: -1px;
        @include text-overflow();
        display: flex;
        flex-shrink: 1;
        // active state
        &--active,
        &--active:hover {
            flex-shrink: 0;
            .nav-tabs__link {
                @include nav-tab-link-active();
            }
        }
    }
    &__pane {
        &--padding {
            padding: 2rem;
        }
        .subnav {
            margin-top: 1px;
        }
    }
    // tab link
    &__link {
        @include nav-tab-link();
    }

    // UI dark
    &--ui-dark {
        //box-shadow: 0 1px 0 0 rgba(255,255,255,0.1);
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
        background-color: rgba(94, 169, 200, 0.03);
        .nav-tabs {        
            &__tab {
                
                // active state
                &--active,
                &--active:hover {
                    .nav-tabs__link {
                        @include nav-tab-link-active($nav-tab-active-link-color-dark, $nav-tab-active-link-border-color-dark);
                    }
                }
            }
            // tab link
            &__link {
                @include nav-tab-link($nav-tab-link-color-dark, $nav-tab-link-border-color-dark);
            }
        }
    }

    // Smaller nav tabs
    &--small {
        padding: 0 .4rem;
        .nav-tabs {
            &__link {                
                font-size: $nav-tabs-font-size-small;
                margin: 0 .8rem;
            }
        }
    }
    
    // Bigger nav tabs
    &--big, &--large {
        .nav-tabs {
            &__link {                
                font-size: $nav-tabs-font-size-big;                
            }
        }
    }

    // Nav tabs content
    &__content {
        padding: 2rem;
        overflow: auto;

        // UI dark
        &--ui-dark {
            color: $white;
        }
        &--small {
            padding: 1.2rem;
        }
    }
}


.sd-nav-tabs {
    @include nav-tabs-base();
    flex-grow: 1;
    // single tab
    &__tab {
        @include nav-tabs-tab();
        display: flex;
        flex-shrink: 1;
        // active state
        &--active,
        &--active:hover {
            @include nav-tabs-tab-active();
            flex-shrink: 0;
        }
    }
    &__pane {
        &--padding {
            padding: 2rem;
        }
        .subnav {
            margin-top: 1px;
        }
    }
    // UI dark
    &.sd-nav-tabs--ui-dark {
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
        background-color: rgba(94, 169, 200, 0.03);
        color: $white;
        .sd-nav-tabs__tab {
            &:hover {
                border-bottom-color: $nav-tab-link-border-color-dark;
            }
            // active state
            &--active,
            &--active:hover {
                @include nav-tabs-tab-active($nav-tab-active-link-border-color-dark);
            }
        }

    }

    // Smaller nav tabs
    &.sd-nav-tabs--small {
        padding: 0 .4rem;
        .sd-nav-tabs__tab {
            font-size: $nav-tabs-font-size-small;
            letter-spacing: 0.025em;
            margin: 0 .8rem;
        }
    }
    
    // Bigger nav tabs
    &.sd-nav-tabs--big, &.sd-nav-tabs--large {
        .sd-nav-tabs__tab {
            font-size: $nav-tabs-font-size-big;
        }
    }

    // Nav tabs content
    &__content {
        padding: 2rem;
        overflow: auto;

        // UI dark
        &--ui-dark {
            color: $white;
        }
        &--small {
            padding: 1.2rem;
        }
    }
}
