// TABS
// ----

// Variables
$nav-tabs-padding: 0.8rem 0;
$nav-tabs-margin: 0 1rem;
$nav-tabs-font-size: 1.4rem !default;
$nav-tabs-font-size-small: 1.2rem;
$nav-tabs-font-size-big: 1.6rem;

$nav-tab-link-color: $sd-text-light; // default text color
$nav-tab-active-link-color: $sd-text; // active state text color
$nav-tab-link-border-color: var(--sd-colour-line--strong); // hover state, border bottom color  
$nav-tab-active-link-border-color: $sd-colour-interactive;  // active state border bottom color


// Mixins
@mixin nav-tabs-base {
    height: $nav-height;
    display: flex;
    flex-shrink: 0;
    padding: 0 1rem;
    box-shadow: 0 1px 0 0 var(--color-border-line--light);
}
@mixin nav-tab-link(
     $link-color: $nav-tab-link-color,
     $border-bottom-hover-color: $nav-tab-link-border-color
) {
    margin: $nav-tabs-margin;
    padding: $nav-tabs-padding;
    height: $nav-height;
    line-height: 30px;
    font-size: $nav-tabs-font-size;
    color: $link-color;
    background: none;
    border:0;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    @include text-overflow();
    &:hover {
        border-bottom-color: $border-bottom-hover-color;
        background: none;
        text-decoration: none;
    }
}
@mixin nav-tab-link-active(
    $active-link-color: $sd-text,
    $border-bottom-color: $nav-tab-active-link-border-color
) {
    background: none;
    cursor: default;
    border-bottom-color: $border-bottom-color;
    color: $active-link-color;
}


// NEW 
@mixin nav-tabs-tab(
     $border-bottom-hover-color: $nav-tab-link-border-color
) {
    margin: $nav-tabs-margin;
    padding: $nav-tabs-padding;
    height: $nav-height;
    align-items: center;
    justify-content: center;
    font-size: $nav-tabs-font-size;
    color: $sd-text-light;
    background: none;
    border:0;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    @include text-overflow();
    span {
        opacity: 0.7;
        line-height: 1;
        display: inline-block;
        margin-top: 3px;
    }
    &:hover {
        border-bottom-color: $border-bottom-hover-color;
        background: none;
        text-decoration: none;
    }
}
@mixin nav-tabs-tab-active(
    $border-bottom-color: $nav-tab-active-link-border-color
) {
    background: none;
    cursor: default;
    border-bottom-color: $border-bottom-color;
    span {
        opacity: 1;
    }
}


.nav-tabs {
    @include nav-tabs-base();

    // single tab
    &__tab {
        margin-bottom: -1px;
        @include text-overflow();
        display: flex;
        flex-shrink: 1;
        // active state
        &--active,
        &--active:hover {
            flex-shrink: 0;
            .nav-tabs__link {
                @include nav-tab-link-active();
            }
        }
    }
    &__pane {
        &--padding {
            padding: 2rem;
        }
        .subnav {
            margin-top: 1px;
        }
    }
    // tab link
    &__link {
        @include nav-tab-link();
    }

    // Smaller nav tabs
    &--small {
        padding: 0 .4rem;
        .nav-tabs {
            &__link {                
                font-size: $nav-tabs-font-size-small;
                margin: 0 .8rem;
            }
        }
    }
    
    // Bigger nav tabs
    &--big, &--large {
        .nav-tabs {
            &__link {                
                font-size: $nav-tabs-font-size-big;                
            }
        }
    }

    // Nav tabs content
    &__content {
        padding: 2rem;
        overflow: auto;

        &--small {
            padding: 1.2rem;
        }
    }
}


.sd-nav-tabs {
    @include nav-tabs-base();
    flex-grow: 1;
    // single tab
    &__tab {
        @include nav-tabs-tab();
        display: flex;
        flex-shrink: 1;
        // active state
        &--active,
        &--active:hover {
            @include nav-tabs-tab-active();
            flex-shrink: 0;
        }
    }
    &__pane {
        &--padding {
            padding: 2rem;
        }
        .subnav {
            margin-top: 1px;
        }
    }


    // Smaller nav tabs
    &.sd-nav-tabs--small {
        padding: 0 .4rem;
        .sd-nav-tabs__tab {
            font-size: $nav-tabs-font-size-small;
            letter-spacing: 0.025em;
            margin: 0 .8rem;
        }
    }
    
    // Bigger nav tabs
    &.sd-nav-tabs--big, &.sd-nav-tabs--large {
        .sd-nav-tabs__tab {
            font-size: $nav-tabs-font-size-big;
        }
    }

    // Nav tabs content
    &__content {
        padding: 2rem;
        overflow: auto;

        &--small {
            padding: 1.2rem;
        }
    }
}
