tags-input {
    display: block;
    .host {
        position: relative;
        margin-top: 5px;
        margin-bottom: 5px;
        height: 100%;
        &:active {
            outline: none;
        }
    }
    .tags {
        -moz-appearance: textfield;
        -webkit-appearance: textfield;
        padding: 1px;
        overflow: hidden;
        word-wrap: break-word;
        cursor: text;
        background-color: #fff;
        border: 1px solid darkgray;
        box-shadow: 1px 1px 1px 0 lightgray inset;
        height: 100%;
        &.focused {
            outline: none;
            -webkit-box-shadow: 0 0 3px 1px rgba(5, 139, 242, 0.6);
            -moz-box-shadow: 0 0 3px 1px rgba(5, 139, 242, 0.6);
            box-shadow: 0 0 3px 1px rgba(5, 139, 242, 0.6);
        }
        .tag-list {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        .tag-item {
            margin: 2px;
            padding: 0 5px;
            float: left;
            height: 26px;
            line-height: 25px;
            border: 1px solid #acacac;
            border-radius: 3px;
            &.selected {
                background: green;
            }
            .remove-button {
                margin: 0 0 0 5px;
                padding: 0;
                border: none;
                background: none;
                cursor: pointer;
                vertical-align: middle;
                font: bold 16px Arial, sans-serif;
                color: #585858;
                &:active {
                    color: #ff0000;
                }
            }
        }
        .input {
            border: 0;
            outline: none;
            margin: 2px;
            padding: 0;
            padding-left: 5px;
            float: left;
            height: 26px;
            &.invalid-tag {
                color: #ff0000;
            }
            &::-ms-clear {
                display: none;
            }
        }
    }
    &.ng-invalid .tags {
        -webkit-box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
        -moz-box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
        box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
    }
    &[disabled] {
        .host:focus {
            outline: none;
        }
        .tags {
            background-color: #eee;
            cursor: default;
            .tag-item {
                opacity: 0.65;
                .remove-button {
                    cursor: default;
                    &:active {
                        color: #585858;
                    }
                }
            }
            .input {
                background-color: #eee;
                cursor: default;
            }
        }
    }
    .autocomplete {
        margin-top: 5px;
        position: absolute;
        padding: 5px 0;
        z-index: 999;
        width: 100%;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        .suggestion-list {
            margin: 0;
            padding: 0;
            list-style-type: none;
            max-height: 280px;
            overflow-y: auto;
            position: relative;
        }
        .suggestion-item {
            padding: 5px 10px;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #000;
            background-color: #fff;
            &.selected {
                color: #fff;
                background-color: #0097cf;
                em {
                    color: #fff;
                    background-color: #0097cf;
                }
            }
            em {
                color: #000;
                background-color: #fff;
            }
        }
    }
}