// Toggle box aka collapsible panel
// ----

.toggle-box {
    position: relative;
    margin-bottom: 30px;


    &.hidden {
        .toggle-box__chevron {
            i {
                transform: rotate(0);
            }
            &--circle {
                padding: 2px;
                background-color: $grayText;
                height: 20px;
                width: 20px;
                text-align: center;
                border-radius: 50%;
                i {
                    color: $white;
                }
            }
        }
        .toggle-box__content-wraper {
            max-height: 0;
            transition: all ease-out .5s;
        }
        .toggle-box__header {
            margin-bottom: 0;
        }
    }
    // Stylings
    &.toggle-box--dark {
        .toggle-box__chevron {
            i { color: $white;}
        }
        .toggle-box__label {
            color: rgba(255, 255, 255, 0.65);
        }
        .toggle-box__line {
            background: $neutral-border-color;
        }
    }
    &.toggle-box--circle {
        .toggle-box__chevron {
            background-color: rgba(123,123,123,0.5);
            height: 2rem;
            width: 2rem;
            text-align: center;
            border-radius: 50%;
            i {
                color: $white;
            }
        }
    }
    &.toggle-box--marg-b10 {
        margin-bottom: 1rem;
    }
}

.toggle-box__header {
    display: flex;
    cursor: pointer;
    margin-bottom: 1.8rem;
    align-items: center;

    .toggle-box__chevron {
        padding: 2px;
        i {
            transition: all .3s;
            transform: rotate(90deg);
        }
    }
    .toggle-box__label {
        font-size: 1.2rem;
        padding: 0 1rem 0 0.8rem;
        color: #666;
        text-transform: uppercase;
    }
    .toggle-box__line {
        flex: 1;
        height: 1px;
        margin: auto 0.4rem auto 0;
        background: $neutral-border-color;
    }
}

.toggle-box__content-wraper {
    max-height: 1000px;
    transition: all ease-out .5s;
}

.toggle-box__content {  
    animation: fadeIn 0.3s ease-in 0s 1;
}

// Buttons
.toggle-box__button {
    color: $grayLight;
    cursor: pointer;
    i {
        color: $grayLight;
        margin-right: 0.5rem;
        vertical-align: text-bottom;
    }
    &:hover {
        text-decoration: none;
        color: $white;
        i { color: $white; }
    }
}



[class^="--dark-ui"],
[class*="--dark-ui"] {
    .toggle-box__header {
        .toggle-box__label {
            color: rgba(255, 255, 255, 0.5);
        }
    }
    .toggle-box--circle {
        .toggle-box__chevron {
            background-color: $neutral-border-color;
        }
    }
}


