
/* Thanks to Jase Smith - codepen.io/jasesmith */
[sd-tooltip],
[data-sd-tooltip] {
  position: relative;

  /* Applies to all sd-tooltips */
  &::before,
  &::after {
    text-transform: none;
    font-size: 1.2rem; 
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
  }

  &::before {
    content: '';
    border: 5px solid transparent;
    z-index: 1001;
  }
  
  &::after {
    text-align: center;  
    /* Let the content set the size of the sd-tooltips */
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.8rem 1.2rem 0.9rem;
    border-radius: $border-radius__base--small;
    box-shadow: 0 8px 18px -5px rgba(0, 0, 0, 0.45);
    background: #333;
    color: #fff;
    font-weight: 400;
    z-index: 1000;
  }

  /* Make the sd-tooltips respond to hover */
  &:hover::before,
  &:hover::after {
    display: block;
  }
}

// [sd-tooltip] [flow]
[sd-tooltip] {
  /* FLOW: UP */
  &:not([flow])::before,
  &[flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
  }

  &:not([flow])::after,
  &[flow^="up"]::after {
    bottom: calc(100% + 5px);
  }
  &:not([flow])::before,
  &:not([flow])::after,
  &[flow^="up"]::before,
  &[flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -.5em);
  }

  /* FLOW: DOWN */
  &[flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #333;
  }
  &[flow^="down"]::after {
    top: calc(100% + 5px);
  }
  &[flow^="down"]::before,
  &[flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
  }

  /* FLOW: LEFT */
  &[flow^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #333;
    left: calc(0em - 5px);
    transform: translate(-.5em, -50%);
  }
  &[flow^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-.5em, -50%);
  }

  /* FLOW: RIGHT */
  &[flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #333;
    right: calc(0em - 5px);
    transform: translate(.5em, -50%);
  }
  &[flow^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(.5em, -50%);
  }

  /* FX All The Things */ 
  &:not([flow]):hover::before,
  &:not([flow]):hover::after,
  &[flow^="up"]:hover::before,
  &[flow^="up"]:hover::after,
  &[flow^="down"]:hover::before,
  &[flow^="down"]:hover::after {
    animation: tooltips-vert 200ms ease-out forwards;
  }

  &[flow^="left"]:hover::before,
  &[flow^="left"]:hover::after,
  &[flow^="right"]:hover::before,
  &[flow^="right"]:hover::after {
    animation: tooltips-horz 200ms ease-out forwards;
  }
}

// [data-sd-tooltip] [data-flow]
[data-sd-tooltip] {
  /* FLOW: UP */
  &:not([data-flow])::before,
  &[data-flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
  }

  &:not([data-flow])::after,
  &[data-flow^="up"]::after {
    bottom: calc(100% + 5px);
  }
  &:not([data-flow])::before,
  &:not([data-flow])::after,
  &[data-flow^="up"]::before,
  &[data-flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -.5em);
  }

  /* FLOW: DOWN */
  &[data-flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #333;
  }
  &[data-flow^="down"]::after {
    top: calc(100% + 5px);
  }
  &[data-flow^="down"]::before,
  &[data-flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
  }

  /* FLOW: LEFT */
  &[data-flow^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #333;
    left: calc(0em - 5px);
    transform: translate(-.5em, -50%);
  }
  &[data-flow^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-.5em, -50%);
  }

  /* FLOW: RIGHT */
  &[data-flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #333;
    right: calc(0em - 5px);
    transform: translate(.5em, -50%);
  }
  &[data-flow^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(.5em, -50%);
  }

  /* FX All The Things */ 
  &:not([data-flow]):hover::before,
  &:not([data-flow]):hover::after,
  &[data-flow^="up"]:hover::before,
  &[data-flow^="up"]:hover::after,
  &[data-flow^="down"]:hover::before,
  &[data-flow^="down"]:hover::after {
    animation: tooltips-vert 200ms ease-out forwards;
  }

  &[data-flow^="left"]:hover::before,
  &[data-flow^="left"]:hover::after,
  &[data-flow^="right"]:hover::before,
  &[data-flow^="right"]:hover::after {
    animation: tooltips-horz 200ms ease-out forwards;
  }
}

/* magic! */
[sd-tooltip]::after {
  content: attr(sd-tooltip);
}
[data-sd-tooltip]::after {
  content: attr(data-sd-tooltip);
}

/* don't show empty sd-tooltips */
[sd-tooltip='']::before,
[sd-tooltip='']::after,
[data-sd-tooltip='']::before,
[data-sd-tooltip='']::after {
  display: none !important;
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .95;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .95;
    transform: translate(0, -50%);
  }
}


$tooltip-dark-UI: #222;

[class^="--dark-ui"],
[class*="--dark-ui"] {

  [sd-tooltip],
  [data-sd-tooltip] {
    &::after {
      box-shadow: 0 8px 18px -5px rgba(0, 0, 0, 0.75);
      background: $tooltip-dark-UI;
    }
  } 
  // [sd-tooltip] [flow]
  [sd-tooltip] {
    /* FLOW: UP */
    &:not([flow])::before,
    &[flow^="up"]::before {
      border-top-color: $tooltip-dark-UI;
    }
    /* FLOW: DOWN */
    &[flow^="down"]::before {
      border-bottom-color: $tooltip-dark-UI;
    }
    /* FLOW: LEFT */
    &[flow^="left"]::before {
      border-left-color: $tooltip-dark-UI;
    }
    /* FLOW: RIGHT */
    &[flow^="right"]::before {
      border-right-color: $tooltip-dark-UI;
    }
  }
  // [data-sd-tooltip] [data-flow]
  [data-sd-tooltip] {
    /* FLOW: UP */
    &:not([data-flow])::before,
    &[data-flow^="up"]::before {

      border-top-color: $tooltip-dark-UI;
    }
    /* FLOW: DOWN */
    &[data-flow^="down"]::before {
      border-bottom-color: $tooltip-dark-UI;
    }
    /* FLOW: LEFT */
    &[data-flow^="left"]::before {

      border-left-color: $tooltip-dark-UI;
    }
    /* FLOW: RIGHT */
    &[data-flow^="right"]::before {
      border-right-color: $tooltip-dark-UI;
    }
  }
}

[disabled]:hover {
  &[sd-tooltip]::before,
  &[data-sd-tooltip]::before,
  &[sd-tooltip]::after,
  &[data-sd-tooltip]::after {
    display: none !important;
  }
}






