/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 9, 2016, 3:22:57 PM
    Author     : Nemanja Pavlovic
*/

html {
    box-sizing: border-box;
}

  // Set box-sizing globally to handle padding and border widths
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

@import 'variables/typography';
@import 'variables/colors';