//@import 'normalize';
@import 'variables';
@import 'reboot';
@import 'animations';
@import 'mixins';
@import 'helpers';
@import 'buttons';
@import 'labels';
@import 'icon-labels';
@import 'badge';
@import 'alerts';
@import 'icon-font';
@import 'big-icon-font';
@import 'modals';
@import 'tabs';
@import 'tabs-vertical';
@import 'tables';
@import 'tooltips';
@import 'carousel';
@import 'panel-info';
@import 'simple-list';
@import 'toggle-box';
@import 'drag-drop';
@import 'tag-labels';
@import 'sd-tag-input';
@import 'boxed-list';
@import 'empty-states';
@import 'master-desk';
@import 'accessibility';

// Interface elements
@import 'interface-elements/side-panel';

// Grids
@import 'grids/basic-grid';
@import 'grids/layout-grid';
@import 'grids/grid-layout';
@import 'grids/sd-kanban-list';

// Layout
@import 'layout/general';
@import 'layout/basic-layout';

// Components
@import 'components/list-item';
@import 'components/card-item';
@import 'components/sd-grid-item';
@import 'components/sd-searchbar';
@import 'components/sd-collapse-box';
@import 'components/sd-photo-preview';
@import 'components/sd-media-carousel';
@import 'components/sd-editor-popup';
@import 'components/sd-comment-box';
@import 'components/sd-slider';
@import 'components/sd-loader';
@import 'components/sd-circular-progress';
@import 'components/sd-toaster';
@import 'components/subnav';

// Form elements
@import 'form-elements/forms-general';
@import 'form-elements/inputs';
@import 'form-elements/switch';
@import 'form-elements/checkbox';
@import 'form-elements/radio';

// Dropdowns
@import 'dropdowns/basic-dropdown';
@import 'dropdowns/nested-dropdown';
@import 'dropdowns/input-dropdown';
@import 'dropdowns/_navigation_dropdown';
@import 'dropdowns/dropdown2';

// Menus
@import 'menus/sd-sidebar-menu';
@import 'menus/sd-top-menu';
@import 'menus/sd-left-navigation';
@import 'menus/sd-content-navigation';

// Editor
@import 'editor-themes';

@import '../../node_modules/primereact/resources/primereact.min.css';
@import '../../node_modules/primeicons/primeicons.css';
@import 'prime-react-superdesk-theme';

// React Components
@import 'avatar';