<header class="sd-top-menu">
    <a class="sd-top-menu__collapse-nav"><i class="icon-collapse icon--white"></i></a>
    <p class="sd-top-menu__header">Cards</p>
</header>
<main class="sd-page">
    <section class="sd-page__main-content" ng-class="{'dark-ui': darkUI}">
        <div class="subnav" ng-class="{'subnav--dark-ui': darkUI}">
            <h3 class="subnav__page-title">Tag inputs</h3>
            <button class="navbtn" ng-click="darkUI = !darkUI">
                <i class="icon-adjust"></i>
            </button>
        </div>
        <div class="sd-page__content">
            <div class="grid grid--boxed" style="max-width: 500px; margin: 0 auto">
                <div class="grid__item">
                    <h3 class="docs-page__h3">Preview</h3>
                    <br>
                    <sd-tag-input ng-model="tags" 
                                  data-max-items="1" 
                                  data-label="Max number of items limited to 1" 
                                  data-items="items" 
                                  data-field="name"
                                  data-min-length="1" 
                                  data-freetext="false">
                    </sd-tag-input>
                    <div style="margin: -26px 0 30px; opacity: 0.7;">Result: {{tags}}</div>

                    <sd-tag-input ng-model="cars" 
                                  data-label="Cars"
                                  data-items="freeItems"
                                  data-freetext="true"
                                  placeholder="Pick your favourite cars">
                    </sd-tag-input>
                    <div style="margin: -26px 0 30px; opacity: 0.7;">Result: {{cars}}</div>

                    <sd-tag-input ng-model="freetext"
                                  data-label="Free text"
                                  data-items="freeItems"
                                  data-freetext="true">
                    </sd-tag-input>
                    <div style="margin: -26px 0 30px; opacity: 0.7;">Result: {{freetext}}</div>
                    
                    <sd-tag-input ng-model="freetext"
                                  data-label="Boxed type"
                                  data-items="freeItems"
                                  data-freetext="true"
                                  data-boxed="true">
                    </sd-tag-input>
                    <div style="margin: -26px 0 30px; opacity: 0.7;">Result: {{freetext}}</div>
                    
                </div>
            </div>
        </div>
    </section>
</main>
