// CONTENT NAVIGATION
// ----

$sd-contentNavBtn-transition: background-color 0.2s ease-out, color 0.1s ease-out;

.sd-content-nav {
    background: transparent;
    display: block;
    overflow: auto;
    padding: 1rem 0;
    opacity: 1;
    transition: all .2s ease-out .3s;
}
.sd-content-nav__btn {
    display: block;
    font-size: 1.4rem;
    line-height: 100%;
    text-decoration: none;
    color: var(--color-text);
    padding: 1.6rem 2rem;
    transition: $sd-contentNavBtn-transition;
    border-inline-end: 4px solid transparent;
    &:hover {
        background-color: var(--sd-colour-interactive--alpha-20);
        color: var(--color-text);
        text-decoration: none;
    }
    &:active,
    &.sd-content-nav__btn--active {
        background-color: var(--sd-colour-interactive--alpha-10);
        color: var(--sd-colour-interactive);
    }
    &.sd-content-nav__btn--active {
        border-color: var(--sd-colour-interactive--active);
    }
}
.sd-content-nav-title {
    font-size: 1.5rem;
    font-weight: 300;

    &.sd-content-nav-title--uppercase {
        font-size: 1.3rem;
        font-weight: 400;
        text-transform: uppercase;
    }
}