$sd-topMenu-background: var(--color-bg-800);

.sd-top-menu {
    background: $sd-topMenu-background;
    height: $nav-height;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    z-index: $zindexFixedNavbar;
    margin-bottom: 0;
    transition: all 0.3s ease;
    display:flex;
    flex-direction: row;
    align-items: center;
    color: $white;
}

.sd-top-menu__collapse-nav {
    display: inline-block;
    height: $nav-height;
    line-height: $nav-height + 3;
    width: $sd-sidebarMenu-width;
    text-align: center;
    padding: 0;
    background-color: #101010;
    box-shadow: 2px 0 5px 0 rgba(0,0,0,.35);
    position: relative;
    &:hover {
        background: #000;
        cursor: pointer;
    }
}
.sd-top-menu__header {
    display: inline-block;
    height: $nav-height;
    line-height: $nav-height;
    font-size: 1.5rem;
    text-align: center;
    padding: 0 2rem;
    color: #aaa;
    margin: 0;
}

.sd-top-menu__current-user {
    width: $nav-height;
    position: relative;
    padding: 0 10px;
    width: 48px;
    .avatar {
        @include border-radius(50%);
    }
    .label {
        position: absolute;
        top: 3px;
        left: 3px;
        text-shadow: none;
    }
}

.current-user-details--compact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include sd-padding('1');
    color: $sd-text;
    min-width: 26rem;
}
.current-user-details__full-name {
    font-weight: 400;
    font-size: 1.8rem;
    margin: 16px 0 2px;

}
.current-user-details__username {
    opacity: 0.75;
    font-size: 1.4rem;
}