// LEFT NAVIGATION
// ----

$sd-leftNav-bgColor: $white;
$sd-leftNav-borderColor: #dedede;
$sd-leftNav-width: 20rem;

$sd-leftNavBtn-bgColor: rgba(94,169,200,0);
$sd-leftNavBtn-bgHoverColor: rgba(94,169,200,0.2);
$sd-leftNavBtn-bgActiveColor: rgba(94,169,200,0.1);
$sd-leftNavBtn-transition: background-color 0.2s ease-out, color 0.1s ease-out;

$sd-leftNavBtn-border: 4px solid rgba(94,169,200,0);
$sd-leftNavBtn-borderActive: 4px solid rgba(94,169,200,1);

.sd-left-nav {
    background: $sd-leftNav-bgColor;
    border-right: 1px solid $sd-leftNav-borderColor;
    display: block;
    width: $sd-leftNav-width;
    &--absolute {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
    }  
}

.sd-left-nav__btn {
    display: block;
    font-size: 1.3rem;
    line-height: 100%;
    text-decoration: none;
    color: $grayDark;
    background-color: $sd-leftNavBtn-bgColor;
    padding: 1.6rem 0 1.6rem 3rem;
    border-right: $sd-leftNavBtn-border;
    transition: $sd-leftNavBtn-transition;
    &:hover {
        background-color: $sd-leftNavBtn-bgHoverColor;
        color: $sd-text;
        text-decoration: none;
    }
    &:active, &--active {
        background-color: $sd-leftNavBtn-bgActiveColor;
        color: $sd-blue;
    }
   &--active {
        border-right: $sd-leftNavBtn-borderActive;
    }
}

.sd-left-nav__group-header {
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $grayText;
    padding: 2.6rem 0 0.9rem 1.6rem;
    border-top: 1px solid $sd-leftNav-borderColor;
    margin-top: 1rem;
    &--first {
        border: none;
        margin-top: 0;
    }
}