:root {
    // Surface (backgrounds etc.)
    --color-surface-base: var(--buoyant-grey-000);
    --color-surface-muted: var(--buoyant-grey-050);
    --color-surface-subdued: var(--buoyant-grey-100);
    --color-surface-faded: var(--buoyant-grey-125);
    --color-surface-base-translucent: var(--buoyant-grey-200-a16);
    --color-surface-muted-translucent: var(--buoyant-grey-200-a16);
    --color-surface-subdued-translucent: var(--buoyant-grey-200-a32);
    --color-surface-faded-translucent: var(--buoyant-grey-200-a32);
    // Text
    --color-text-default: var(--buoyant-grey-900);
    --color-text-muted: var(--buoyant-grey-600);
    --color-text-subdued: var(--buoyant-grey-500);
    --color-text-inverse: var(--buoyant-grey-050);
    --color-text-ondark: var(--buoyant-grey-000);
    --color-text-onlight: var(--buoyant-grey-900);
    // Line
    --color-line-x-light: var(--buoyant-grey-500-a16);
    --color-line-light: var(--buoyant-grey-500-a24);
    --color-line-medium: var(--buoyant-grey-500-a32);
    --color-line-strong: var(--buoyant-grey-500-a40);
    // Primary
    --color-primary-default: var(--brand-primary-700);
    --color-primary-highlight: var(--brand-primary);
    --color-primary-text: var(--brand-primary-800);
    --color-primary-translucent: var(--brand-primary-a16);
    --color-primary-translucent-strong: var(--brand-primary-a32);
    // Success
    --color-success-default: var(--green-brier-400);
    --color-success-highlight: var(--green-brier-300);
    --color-success-text: var(--green-brier-600);
    --color-success-translucent: var(--green-brier-400-a12);
    // Warning
    --color-warning-default: var(--syrah-soil-300);
    --color-warning-highlight: var(--syrah-soil-200);
    --color-warning-text: var(--syrah-soil-400);
    --color-warning-translucent: var(--syrah-soil-500-a12);
    // Alert
    --color-alert-default: var(--morocco-red-500);
    --color-alert-highlight: var(--morocco-red-400);
    --color-alert-text: var(--morocco-red-600);
    --color-alert-translucent: var(--morocco-red-500-a16);
    // Highlight
    --color-highlight-default: var(--blissful-berry-400);
    --color-highlight-highlight: var(--blissful-berry-300);
    --color-highlight-text: var(--blissful-berry-600);
    --color-highlight-translucent: var(--blissful-berry-500-a12);
    // Info
    --color-info-default: var(--sorcerer-blue-500);
    --color-info-highlight: var(--sorcerer-blue-300);
    --color-info-text: var(--sorcerer-blue-700);
    --color-info-translucent: var(--sorcerer-blue-500-a12);
    // Neutral
    --color-neutral-light-default: var(--buoyant-grey-300-a24);
    --color-neutral-light-text: var(--buoyant-grey-700);
    --color-neutral-medium-default: var(--buoyant-grey-200);
    --color-neutral-strong-default: var(--buoyant-grey-600);
    --color-neutral-strong-text: var(--buoyant-grey-100);
    // Interactive
    --color-interactive-default: var(--brand-primary-700);
    --color-interactive-highlight: var(--brand-primary);
    --color-interactive-text: var(--brand-primary-800);
    --color-interactive-translucent: var(--brand-primary-a16);
    --color-interactive-translucent-strong: var(--brand-primary-a32);
    --color-interactive-surface-selected: var(--brand-primary-100);
    --color-interactive-shadow-focus: var(--brand-primary-a32);
    // General clickabl content items (list item, grid item)
    --color-item-bg-normal: var(--color-surface-base);
    --color-item-bg-hover: var(--color-surface-muted);
    --color-item-bg-active: var(--color-interactive-surface-selected);
    --color-item-border-active: var(--color-interactive-translucent-strong);
    --color-item-overlay-actioning: hsl(from var(--color-surface-base) h s l / .70);
}

[data-theme="dark-ui"] {
    // Surface (backgrounds etc.)
    --color-surface-base: var(--buoyant-grey-900);
    --color-surface-muted: var(--buoyant-grey-850);
    --color-surface-subdued: var(--buoyant-grey-825);
    --color-surface-faded: var(--buoyant-grey-800);
    --color-surface-muted-translucent: var(--buoyant-grey-600-a16);
    --color-surface-subdued-translucent: var(--buoyant-grey-600-a32);
    --color-surface-faded-translucent: var(--buoyant-grey-600-a32);
    // Text
    --color-text-default: var(--buoyant-grey-050);
    --color-text-muted: var(--buoyant-grey-200);
    --color-text-subdued: var(--buoyant-grey-300);
    --color-text-inverse: var(--buoyant-grey-900);
    --color-text-ondark: var(--buoyant-grey-000);
    --color-text-onlight: var(--buoyant-grey-900);
    // Line
    --color-line-x-light: var(--buoyant-grey-300-a16);
    --color-line-light: var(--buoyant-grey-300-a24);
    --color-line-medium: var(--buoyant-grey-300-a32);
    --color-line-strong: var(--buoyant-grey-300-a40);
    // Primary
    --color-primary-default: var(--brand-primary-700);
    --color-primary-highlight: var(--brand-primary-600);
    --color-primary-text: var(--brand-primary-400);
    --color-primary-translucent: var(--brand-primary-a16);
    --color-primary-highlight-translucent: var(--brand-primary-600-a16);
    // Success
    --color-success-default: var(--green-brier-500);
    --color-success-highlight: var(--green-brier-400);
    --color-success-text: var(--green-brier-300);
    --color-success-translucent: var(--green-brier-400-a16);
    // Warning
    --color-warning-default: var(--syrah-soil-400);
    --color-warning-highlight: var(--syrah-soil-300);
    --color-warning-text: var(--syrah-soil-300);
    --color-warning-translucent: var(--syrah-soil-500-a16);
    // Alert
    --color-alert-default: var(--morocco-red-600);
    --color-alert-text: var(--morocco-red-400);
    --color-alert-translucent: var(--morocco-red-500-a16);
    // Highlight
    --color-highlight-default: var(--blissful-berry-500);
    --color-highlight-text: var(--blissful-berry-300);
    --color-highlight-translucent: var(--blissful-berry-500-a16);
    // Info
    --color-info-default: var(--sorcerer-blue-600);
    --color-info-text: var(--sorcerer-blue-300);
    --color-info-translucent: var(--sorcerer-blue-500-a16);
    // Neutral
    --color-neutral-light-default: var(--buoyant-grey-500-a24);
    --color-neutral-light-text: var(--buoyant-grey-200);
    --color-neutral-medium-default: var(--buoyant-grey-300);
    --color-neutral-strong-default: var(--buoyant-grey-600);
    --color-neutral-strong-text: var(--buoyant-grey-100);
    // Interactive
    --color-interactive-default: var(--brand-primary-700);
    --color-interactive-highlight: var(--brand-primary);
    --color-interactive-text: var(--brand-primary-400);
    --color-interactive-translucent: var(--brand-primary-a16);
    --color-interactive-translucent-strong: var(--brand-primary-a32);
    --color-interactive-surface-selected: var(--brand-primary-950);
    --color-interactive-shadow-focus: var(--brand-primary-a32);
    // General clickabl content items (list item, grid item)
    --color-item-bg-normal: var(--color-surface-base);
    --color-item-bg-hover: var(--color-surface-muted);
    --color-item-bg-active: var(--color-interactive-surface-selected);
    --color-item-border-active: var(--color-interactive-translucent-strong);
    --color-item-overlay-actioning: hsl(from var(--color-surface-base) h s l / .70);
}