<div class="flat-searchbar extended">
    <div class="search-handler" ng-class="{'search-handler--left-border': borderleft}">
        <label for="search-input" class="trigger-icon"><i class="icon-search"></i></label>
        <input id="search-input" type="text" placeholder="{{ :: label || 'Search' }}" ng-model="model" ng-model-options="{debounce: debounce}">
        <button class="search-close" ng-if="model.length" ng-click="clearInput()" ng-class="{visible: model.length}"><i class="icon-remove-sign"></i></button>

        <button class="search-close" ng-if="button && model.length" ng-click="" ng-class="{visible: button && model.length}">
            <i class="big-icon--chevron-right"></i>
        </button>
    </div>
</div>
