// Superdesk specific

.sd-searchbar, .sd-input--inline-label {
    .p-autocomplete-panel {
        margin-block-start: 0;
    }
}

.sd-input--inline-label {
    .p-autocomplete {
        display: block;
        grid-row: 2/3;
        grid-column: 2/4;
    }
}

.p-autocomplete-loader {
    &.pi {
        color: inherit !important;
        z-index: 1;
        border-radius: $border-radius__base--full;
        inset-inline-end:8px;

    }
}

.sd-searchbar {
    .p-autocomplete-loader {
        &.pi {
            font-size: 2.4rem !important;
            background-color: $white;
        }
    }
}

.sd-input {
    .p-autocomplete-loader {
        margin-block-start: -1.4rem;
        
        &.pi {
            font-size: 2rem !important;
            background-color: transparent;
        }
    }
}

.sd-input.sd-input--inline-label {
    .p-autocomplete-loader {
        margin-block-start: -1rem;
    }
}
