.form__row {
    width:100%;
    padding-bottom: 2rem;
    &--flex {
        display: flex;
        align-items: baseline;
    }
    &--no-padding {
        padding-bottom: 0;
    }
    &--small-padding, &--s-padding {
        padding-bottom: 0.8rem;
    }
    &--l-padding {
        padding-bottom: 3rem;
    }
    &--xl-padding {
        padding-bottom: 4rem;
    }
    &--inner {
        padding-bottom: 0;
        padding-top: 1rem;
    }
    &--bordered {
        padding: 1rem 0;
        border-bottom: 1px solid rgba(123, 123, 123, 0.3);
        &:first-child, &:only-child {
            border-top: 1px solid rgba(123, 123, 123, 0.3);
        }
    }
    &--flex-NEW {
        display: flex;
        align-items: baseline;
    }
}

.form__row--flex {
    // behavior for simple inline form inputs
    .sd-line-input {
        flex-grow: 1;
    }
    .sd-line-input + .btn {
        flex-grow: 0;
        vertical-align: bottom;
        margin: 0 0 0 1.2rem;
    }
    .sd-line-input + .sd-line-input{
        margin-left: 1.2rem;
    }
    // For more complex inline form combinations an additional element that goes inside .form__row--flex container is provided.
    .form__row-item {
        flex-basis: 0;
        flex-grow: 1;
        margin: 0 0.6rem;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
        &:only-child {
            margin: 0;
        }
        &--no-grow {
            flex-basis: auto;
            flex-grow: 0;
        }
    }
}

.form__row,
.form__row-item {
    label {
        vertical-align: middle;
        line-height: 100%;
        margin-right: 0.6rem;
         @include transition(color, 0.15s, ease-in);
         &.form__row-label.form-label {
             display: block;
             width: 100%;
             margin-bottom: 1rem;
             margin-right: 0;
         }
         & + div {
             margin-top: .4rem;

             .label {
                 margin-bottom: .3rem;
             }
         }
    }
}
.label--active {
    color: var(--sd-colour-interactive--darken-10);
}

.form__block {
    display: block;
    margin-bottom: 1rem;
    padding: 2rem;
    border-radius: $border-radius__base--x-small;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 1px 4px 0 rgba(0,0,0,0.2);
}
.form__heading {
    font-size: 1.6rem;
    padding-bottom: 1.2rem;
    line-height: 120%;
}

/// ---------------------------- NEW FORM LAYOUT ---------------------------- ///



.form__group {
    display: flex;
    flex-direction: row;
    width:100%;
    align-items: flex-start;
    gap: $sd-base-increment * 2;
    &--condensed {
        gap: $sd-base-increment;
    }
    &--relaxed {
        gap: $sd-base-increment * 3;
    }
    .form__item {
        margin-bottom: $sd-base-increment * 2;
    }
    &--mb-0 {
        .form__item {
            margin-bottom: 0;
        }
    }
    &--mb-1 {
        .form__item {
            margin-bottom: $sd-base-increment;
        }
    }
    &--mb-2 {
        .form__item {
            margin-bottom: $sd-base-increment * 2;
        }
    }
    &--mb-3 {
        .form__item {
            margin-bottom: $sd-base-increment * 3;
        }
    }
    &--mb-4 {
        .form__item {
            margin-bottom: $sd-base-increment * 4;
        }
    }
    &--rows, 
    &--vertical {
        flex-direction: column;
        align-items: stretch;
        .form__item {
            margin-bottom: 0 !important;
        }
        &.form__group--mb-0 {
            margin-bottom: 0;
            
        }
        &.form__group--mb-1 {
            margin-bottom: $sd-base-increment;
            
        }
        &.form__group--mb-2 {
            margin-bottom: $sd-base-increment * 2;
            
        }
        &.form__group--mb-3 {
            margin-bottom: $sd-base-increment * 3;
            
        }
        &.form__group--mb-4 {
            margin-bottom: $sd-base-increment * 4;
        }
    }
}

.form__header {
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

.form__label {
    margin-bottom: 0.8rem;
}

.form__item {
    flex: 1 1 0;
    min-width: 12rem;
    margin: 0;
    &--auto-width {
        flex-grow: 0;
        min-width: 0;
        flex-basis: auto;
    }
}

.form__text-block {
    min-height: 2.8rem;
    margin-top: $form-label-height;
    padding-top: 0.6rem;
    color: inherit;
    font-size: 1.3rem;
}
.form__item.form__item--auto-width {
    .btn {
        margin-top: $form-label-height;
    }
}

.form__group.form__group--inline-label {
    .sd-input {
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto auto auto;
        .sd-input__label {
            grid-row: 2/3;
            grid-column: 1/2;
            padding: 1rem 1rem 0 0;
        }
    }
    .form__text-block {
        margin-top: 0;
    }
    .form__item.form__item--auto-width {
        .btn {
            margin-top: 0;
        }
    }
}

.sd-form-element {
    background-color: var(--color-form-bg);
    color: var(--color-text);
}
