// FORM ELEMENTS : Input and slect : form-elements/inputs.scss
// input, textarea, select {

@mixin Line-input-base {
    @include appearance-reset();
    width: 100%;
    color: var(--color-text);
    border: 0;
    border-bottom: 1px solid var(--color-input-border);
    font-size: 1.4rem;
    background-color: var(--color-input-bg);
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    padding: 0 0.8rem;
    height: $form-input-height;
    border-radius: $border-radius__base--x-small $border-radius__base--x-small 0 0;
    display: block;
    &::placeholder {
        color: var(--color-text-lighter);
        font-weight: 400;
        opacity: 0.75;
      }
    &:hover {
        border-color: var(--color-input-border-hover);
        background-color: var(--color-input-bg--hover);
    }
    &:focus {
        box-shadow: 0 1px 0 0 var(--sd-colour-interactive);
        border-color: var(--sd-colour-interactive);
        background-color: var(--sd-colour-interactive--alpha-20);
        &::placeholder {
            opacity: 0.45;
          }
    }
}

@mixin Form-label-base {
    display: inline-block;
    font-size: 1.1rem;
    margin: 0 0.5rem 0 0;
    line-height: 1;
    color: var(--color-label-text);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.08em;
}
@mixin Boxed-label-base {
    background-color: hsla(214, 13%, 30%, 0.4);
    border-radius: var(--b-radius--small);
    color: hsl(214, 13%, 96%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 2px 8px 1px;
    font-size: 1.1rem;
    font-family: $baseFontFamily;
    font-weight: 400;
    line-height: 1.8rem;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0.08em;
    height: 1.8rem;
    transition: opacity ease 0.2s;
    justify-self: start;
    position: relative;
    margin-bottom: $sd-base-increment;
    transition: background-color ease 0.2s;
}

.form-label {
    @include Form-label-base;
    min-width: 75px;
    min-height: 1.6rem;
    &--light {
        color: var(--color-text-lighter);
        font-weight: 400;
    }
    &--marg-b10 {
        margin-bottom: 10px;
    }
    &--block {
        display: block;
    }
    &--required {
        position: relative;
        &::after {
            color:$red;
            content: "*";
            vertical-align: top;
            font-size: 1.2rem;
            padding-left: 0.3rem;
        }
    }
}
.form-label__container {
    display:flex;
    flex-direction: row;
    align-items: center;
    .form-label {
        flex-grow: 1;
    }
}
.form-label__info-block {
    color: inherit;
    font-size: 1.2rem;
    text-align: end;
    font-weight: 300;
}

.sd-line-input {
    margin: 0 0 1.8em 0;
    padding-top: 1.8rem;
    position: relative;

    &--flex-row {
        display: inline-flex;
        align-items: center;
        border-bottom: 1px solid var(--color-input-border);
        width: 100%;
    }
    &__value {
        margin-right: 6px;
        text-transform: uppercase;
    }
    input, textarea {
        &.sd-line-input__input {
            @include Line-input-base;
            &--center {
                text-align: center;
            }
        }
        &.sd-line-input__color {
            @include Line-input-base;
            width: 26px;
            height: 26px;
            border: none;
            outline: none;
            ::-webkit-color-swatch {
                border: none;
                outline: none;
                -webkit-appearance: none;
            }
            ::-webkit-color-swatch-wrapper {
                padding: 0;	
            }
        }
    }
    input[type="file"] {
        &.sd-line-input__input {
            height: 3rem;
            padding-top: 0.6rem;
            font-size: 1.3rem;
            &:focus {
                outline: none;
            }
        }
    }
    select {
        &.sd-line-input__select {
            @include Line-input-base;
            display: block;
            position: relative;
            z-index: 2;
            option {
                color: var(--color-text);
                font-size: 1.4rem;
                line-height: 2rem;
                background-color: var(--color-dropdown-menu-Bg);
            }
        }
        cursor: pointer;
    }
    textarea.sd-line-input__input {
        padding-top: 0.6rem;
        display: block;
    }
    .sd-line-input__info-left, .sd-line-input__info-right { // use for 1-2 letter info that appear inside inputs ("W" - for width; "H" - for height; px, mm - for units, etc.)
        position: absolute;
        top: 2.5rem;
        opacity: 0.3;
        font-size: 1.5rem;
        font-weight: 300;
    }
    .sd-line-input__info-right {
        right: 0.8rem;
    }
    .sd-line-input__info-left {
        left: 0.8rem;
    }

    .sd-line-input__icon-left, .sd-line-input__icon-right {
        position: absolute;
        top: 1.6rem;
        cursor: pointer;
    }
    .sd-line-input__icon-right {
        right: 0.2rem;
    }
    .sd-line-input__icon-left {
        left: 0.2rem;
    }

    &.sd-line-input--indent-l30 {
        input, textarea {
            &.sd-line-input__input {
                padding-left: 3rem;
            }
        }
    }
    &.sd-line-input--indent-r30 {
        input, textarea {
            &.sd-line-input__input {
                padding-right: 3rem;
            }
        }
    }

    .sd-line-input__label {
        @include Form-label-base;
        position: absolute;
        line-height: 100%;
        margin: 0;
        top:0;
        &--required::after {
            color:$red;
            content: "*";
            vertical-align: top;
            font-size: 1.2rem;
            padding-left: 0.3rem;
        }

    }
    .sd-line-input__hint,
    .sd-line-input__message,
    .sd-line-input__char-count {
        font-size: 1.2rem;
        line-height: 1.4rem;
        transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
        color: var(--color-text-light);
        font-weight: 300;
        letter-spacing: 0.03em;
    }
    .sd-line-input__hint {
        position: absolute;
        left: 1px;
        right: auto;
        padding-right: 5.5rem;
        margin-top: 0.4rem;
    }
    .sd-line-input__char-count {
        position: absolute;
        right: 1px;
        left: auto;
        margin-top: 0.5rem;
        font-size: 1.1rem;
        font-weight: 400;
        font-style: italic;
    }
    .sd-line-input__message {
        padding-top: 0.4rem;
    }
    &.sd-line-input--invalid {
        .sd-line-input__label,
        .sd-line-input__message {
            color:$red;
        }
        input, textarea {
            &.sd-line-input__input {
                background-color: hsla(357, 79%, 50%, 0.075);
                border-color: $red;
                &:hover {
                    background-color: hsla(357, 79%, 50%, 0.12);
                    border-color: $red;
                }
                &:focus {
                    background-color: hsla(357, 79%, 50%, 0.16);
                    border-color: $red;
                    box-shadow: 0 1px 0 0 $red;
                }
            }
        }
        select {
            &.sd-line-input__select {
                background-color: hsla(357, 79%, 50%, 0.075);
                border-color: $red;
                &:hover {
                    background-color: hsla(357, 79%, 50%, 0.12);
                    border-color: $red;
                }
                &:focus {
                    background-color: hsla(357, 79%, 50%, 0.16);
                    border-color: $red;
                    box-shadow: 0 1px 0 0 $red;
                }
            }
        }
    }

    &.sd-line-input--disabled {
        input, textarea {
            &.sd-line-input__input, &.sd-input__input:hover, &.sd-input__input:focus {
                opacity: 0.5;
                background-color: var(--color-input-bg);
                border-bottom: 1px dotted var(--color-input-border);
                cursor: not-allowed !important;
                box-shadow: none;
            }
        }
        select {
            &.sd-line-input__select, &.sd-line-input__select:hover, &.sd-line-input__select:focus {
                opacity: 0.5;
                background-color: var(--color-input-bg);
                border-bottom: 1px dotted var(--color-input-border);
                cursor: not-allowed !important;
                box-shadow: none;
            }
        }
    }


    &.sd-line-input--is-select {
        &::after {
            position: absolute;
            inset-block-start: 3.2rem;
            inset-inline-end: 0.8rem;
            display: inline-block;
            width: 0;
            height: 0;
            vertical-align: middle;
            border-left: 0.4rem solid transparent;
            border-right: 0.4rem solid transparent;
            border-top: 0.4rem solid $sd-text;
            opacity: 0.3;
            content: "";
            z-index: 0;
        }
        &:hover {
            &::after {
                opacity: 0.6;
            }
        }
        &.sd-line-input--disabled {
            &:hover {
                &::after {
                    opacity: 0.3;
                }
            }
        }
        &.sd-line-input--no-label {
            &::after {
                top: 1.4rem;
            }
        }
        &.sd-line-input--label-left {
            &::after {
                top: 1.2rem;
            }
        }
    }
    &.sd-line-input--is-color {
        .sd-line-input__label {
            line-height: 140%;
        }
    } 

    &.sd-line-input--required {
        .sd-line-input__label::after {
            color:$red;
            content: "*";
            vertical-align: top;
            font-size: 1.2rem;
            padding-left: 0.3rem;
        }
    }
    &.sd-line-input--no-label {
        padding-top: 0;
    }
    &.sd-line-input--no-margin {
        margin-bottom: 0;
    }
    &--label-left, &--label-left-auto {
        padding-top: 0;
        margin: 0;
        display: grid;
        grid-template-columns: auto 1rem 1fr auto;
        grid-template-rows: auto auto;
        grid-gap: 0;
        .sd-line-input__label {
            margin-top: 0.1rem;
            grid-column: 1/2;
            grid-row: 1/2;
            position: static;
            min-width: 7.6rem;
            max-width: 12rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .sd-line-input__input, .sd-line-input__select {
            grid-row: 1/2;
            grid-column: 3/5;
        }
        .sd-line-input__hint, .sd-line-input__message {
            position: static;
            grid-row: 2/3;
            grid-column: 3/4;
            padding-right: 0;
        }
        .sd-line-input__char-count {
            position: static;
            grid-row: 2/3;
            grid-column: 5/4;
            text-align: end;
            padding-left: 1.6rem;
        }
    }
    &--label-left-auto {
        .sd-line-input__label {
            min-width: auto;
            max-width: none;
        }
    }
    &--with-button {
        input, textarea {
            &.sd-line-input__input {
                height: 3rem;
                text-indent: 2.8rem;
            }
        }
    }
    &--with-icon-l {
        input, textarea {
            &.sd-line-input__input {
                padding-right: 3rem;
            }
        }
    }
    .sd-line-input__plus-btn {
        position: absolute;
        top: 1.8rem;
        left: 0;
        height: 2.2rem;
        width: 2.2rem;
        background-color: var(--sd-colour-interactive--alpha-70);
        transition: $button-transition;
        border-radius: $border-radius__base--x-small;
        cursor: pointer;
        text-align: center;
        &::before {
            margin-top: 0.2rem;
            content: "\e629";
            @include icon-base;
            color: $white;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        &:hover {
            background-color: $sd-colour-interactive;
        }
    }

}


/////////////////  -------------------- NEW INPUTS ---------------------  /////////////////

.sd-input {
    padding-top: 0;
    margin: 0;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: $form-label-height auto auto;
    grid-gap: 0;
    position: relative;

    .sd-input__input {
        @include Line-input-base;
        grid-row: 2/3;
        grid-column: 2/4;
    }

    textarea {
        &.sd-input__input {
            height: auto;
            min-height: $form-input-height;
        }
    }
    input[type="file"] {
        &.sd-input__input {
            height: 3rem;
            padding-top: 0.6rem;
            font-size: 1.3rem;
            &:focus {
                outline: none;
            }
        }
    }
    .sd-input__select {
        display: block;
        position: relative;
        @include Line-input-base;
        padding-inline-end: 2rem;
        grid-row: 2/3;
        grid-column: 2/4;
        min-width: 5rem;
        cursor: pointer;
        option {
            color:inherit;
            font-size: 1.4rem;
            line-height: 2rem;
            background-color: var(--color-dropdown-menu-Bg);
            color: var(--color-dropdown-menu-text);
        }
    }
    &.sd-input--is-select {
        &::after {
            position: relative;
            z-index: 1;
            grid-row: 2/3;
            grid-column: 2/4;
            align-self: center;
            justify-self: flex-end;
            display: inline-block;
            width: 0;
            height: 0;
            margin-inline-end: 1rem;
            vertical-align: middle;
            border-left: 0.4rem solid transparent;
            border-right: 0.4rem solid transparent;
            border-top: 0.4rem solid var(--color-text);
            pointer-events: none;
            opacity: 0.4;
            content: "";
            z-index: 0;
        }
        &:hover {
            &::after {
                opacity: 0.6;
            }
        }
    }
    .sd-input__message-box {
        grid-row: 3/4;
        grid-column: 2/3;
    }
    .sd-input__icon-right {
        grid-row: 2/3;
        grid-column: 3/4;
        z-index: 1;
    }
    .sd-input__hint,
    .sd-input__message,
    .sd-input__char-count {
        font-size: 1.2rem;
        line-height: 1.4rem;
        transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
        color: var(--color-text-light);
        font-weight: 300;
        margin: 0.5rem 0;
        letter-spacing: 0.03em;
        display: block;
    }
    .sd-input__char-count {
        font-size: 1.1rem;
        font-weight: 400;
        font-style: italic;
        grid-row: 3/4;
        grid-column: 3/4;
        &--error {
            color: $red;
        }
    }
    .sd-input__label {
        @include Form-label-base;
        position: relative;
        min-height: 1.6rem;
        line-height: 100%;
        margin: 0;
        grid-row: 1/2;
        grid-column: 2/4;
        &--required::after {
            color:$red;
            content: "*";
            vertical-align: top;
            font-size: 1.2rem;
            padding-inline-start: 0.3rem;
        }
        &--boxed {
            @include Boxed-label-base;
        }
    }
    &--inline-label {
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto auto auto;
        .sd-input__label {
            grid-row: 2/3;
            grid-column: 1/2;
            padding-inline-end: 1rem;
            padding-inline-start: 0;
            padding-block-start: 0.4rem;
            padding-block-end: 0;
            position: relative;

            max-width: 260px;
            min-width: 100px;
            text-align: end;
            position: relative;
            align-self: center;
            line-height: 1.2;
            &::after {
                position: absolute;
                z-index: 2;
                inset-block-start: -2px;
                inset-inline-end: 4px;
            }
        }
    }
    &--invalid {
        input, textarea {
            &.sd-input__input {
                background-color: hsla(357, 79%, 50%, 0.075);
                border-color: $red;
                &:hover {
                    background-color: hsla(357, 79%, 50%, 0.12);
                    border-color: $red;
                }
                &:focus {
                    background-color: hsla(357, 79%, 50%, 0.16);
                    border-color: $red;
                    box-shadow: 0 1px 0 0 $red;
                }
            }
        }
        select {
            &.sd-input__select {
                background-color: hsla(357, 79%, 50%, 0.075);
                border-color: $red;
                &:hover {
                    background-color: hsla(357, 79%, 50%, 0.12);
                    border-color: $red;
                }
                &:focus {
                    background-color: hsla(357, 79%, 50%, 0.16);
                    border-color: $red;
                    box-shadow: 0 1px 0 0 $red;
                }
            }
        }
        .sd-input__label, .sd-input__message {
            color: $red;
        }
    }
    &--required {
        .sd-input__label::after  {
            color:$red;
            content: "*";
            vertical-align: top;
            font-size: 1.2rem;
            padding-left: 0.3rem;
        }
        .sd-input__label.sd-input__label--boxed::after {
            position: absolute;
            inset-block-start: -4px;
            inset-inline-end: -10px;
        }
    }
    &--disabled {
        input, textarea {
            &.sd-input__input, &.sd-input__input:hover, &.sd-input__input:focus {
                opacity: 0.5;
                background-color: var(--color-input-bg);
                border-bottom: 1px dotted var(--color-input-border);
                cursor: not-allowed !important;
                box-shadow: none;
            }
        }
        select {
            &.sd-input__select, &.sd-input__select:hover, &.sd-input__select:focus {
                opacity: 0.5;
                background-color: var(--color-input-bg);
                border-bottom: 1px dotted var(--color-input-border);
                cursor: not-allowed !important;
                box-shadow: none;
            }
            &.sd-input__select:hover {
                &::after {
                    @include opacity(30);
                }
            }
        }
        .sd-input__label, .sd-input__message-box, .sd-input__char-count {
            opacity: 0.5 !important;
            pointer-events: none !important;
        }
        .sd-input__hint,
        .sd-input__message,
        .sd-input__char-count {
            pointer-events: none;
        }
    }
    &--no-label {
        grid-template-rows: auto auto auto;
    }
    &--full-width {
        flex-grow: 1;
        width: 100%;
    }
    &--boxed-style {
        .sd-input__input,
        .sd-input__select {
            border: 0;
            border: 2px solid var(--color-input-border);
            background-color: transparent;
            transition: all ease 0.3s;
            border-radius: var(--b-radius--large);
            display: block;
            &:hover {
                border-color: var(--color-input-border-hover);
                background-color: transparent;
            }
            &:focus {
                outline: none;
                border-color: var(--sd-colour-interactive--alpha-50);
                box-shadow: inset 0 0 0 4px var(--sd-colour-interactive--alpha-20);
                background-color: transparent;
            }
        }
        &.sd-input--disabled {
            input, textarea {
                &.sd-input__input, &.sd-input__input:hover, &.sd-input__input:focus {
                    opacity: 0.5;
                    background-color: transparent;
                    border: 2px solid var(--color-input-border) !important;
                    //cursor: not-allowed !important;
                    box-shadow: none;
                }
            }
            select {
                &.sd-input__select, &.sd-input__select:hover, &.sd-input__select:focus {
                    opacity: 0.5;
                    background-color: transparent;
                    border: 2px solid var(--color-input-border) !important;
                    //ursor: not-allowed !important;
                    box-shadow: none;
                }
            }
            .sd-input__label, .sd-input__message-box, .sd-input__char-count {
                opacity: 0.5;
            }
            .sd-input__hint,
            .sd-input__message,
            .sd-input__char-count {
                pointer-events: none;
            }
        }
        &.sd-input--invalid {
            input, textarea {
                &.sd-input__input {
                    &:focus {
                        background-color: hsla(357, 79%, 50%, 0.1);
                        box-shadow: none;
                    }
                }
            }
            select {
                &.sd-input__select {
                    &:focus {
                        background-color: hsla(357, 79%, 50%, 0.1);
                        box-shadow: none;
                    }
                }
            }
            .sd-input__label, .sd-input__message {
                color: $red;
            }
        }
    }
    &--medium {
        &.sd-input--boxed-style {
            .sd-input__input,
            .sd-input__select {
                border-radius: var(--b-radius--medium);
                &:focus {
                    box-shadow: inset 0 0 0 3px var(--sd-colour-interactive--alpha-20);
                }
            }
        }
    }
    &--large {
        .sd-input__input,
        .sd-input__select {
            padding: 0 1.6rem;
            min-height: 4.8rem;
            font-size: 2.4rem;
            font-weight: 500;
        }
        .sd-input__select {
            line-height: 2.4rem;
            option {
                color: var(--color-text);
                font-size: 1.4rem !important;
                line-height: 2rem;
                background-color: var(--color-dropdown-menu-Bg);
            }
        }
    }
    &--x-large {
        .sd-input__input,
        .sd-input__select {
            padding: 0 1.6rem;
            min-height: 5.6rem;
            font-size: 3.2rem;
            font-weight: 500;
        }
        .sd-input__select {
            line-height: 3.2rem;
            option {
                color: var(--color-text);
                font-size: 1.4rem !important;
                line-height: 2rem;
                background-color: var(--color-dropdown-menu-Bg);
            }
        }
    }
    &--boxed-label {
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto auto auto;
        &:hover {
            .sd-input__label {
                &.sd-input__label--boxed {
                    background-color: hsla(214, 13%, 30%, 0.54);
                }
            }
        }
        &:focus-within {
            .sd-input__label {
                &.sd-input__label--boxed {
                    background-color: var(--sd-colour-interactive--alpha-70);
                }
            }
        }
        &.sd-input--invalid {
            .sd-input__label--boxed {
                background-color: $red !important;
                color: hsla(214, 13%, 100%, 1);
            }
        }
        &.sd-input--disabled {
            .sd-input__label--boxed {
                background-color: hsla(214, 13%, 0%, 0.4) !important;
            }
        }
    }
}

/////////////////  -------------------- Duration & Time-Date input ---------------------  /////////////////

.sd-input__duration-input,
.sd-input__time-date-input {
    @include Line-input-base;
    display: flex;
    gap: 2px;
    grid-row: 2/3;
    grid-column: 2/4;
    &:focus-within {
        box-shadow: 0 1px 0 0 var(--sd-colour-interactive);
        border-color: var(--sd-colour-interactive);
        background-color: var(--sd-colour-interactive--alpha-20);
    }
}
.sd-input__duration-input {
    input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 0;
        background-color: transparent;
        height: 3.2rem;
        display: inline-block;
        color: var(--color-text);
        text-align: end;
        width: 2.5ch;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        &[type=number] {
            -moz-appearance: textfield;
        }
    }
    .sd-input__suffix {
        height: 3.2rem;
        line-height: 3.2rem;
        font-size: 1.4rem;
        color: var(--color-text-light);
        display: inline-block;
        pointer-events: none;
        margin-inline-end: 2px;
        text-align: center;
    }
}

.sd-input {
    .p-multiselect,
    .p-calendar,
    .p-multiselect,
    .p-dropdown,
    .tags-input {
        grid-row: 2/3;
        grid-column: 2/4;
    }
}