// FORM ELEMENTS : Input and slect : form-elements/inputs.scss
//

// input, textarea, select {

@mixin Line-input-base {
    width: 100%;
    @include appearance-reset();
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid $sd-inputBorderColor;
    background-color: transparent;
    padding: 0;
    font-size: 1.4rem;
    height:2.4rem;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    &:hover {
        border-color: rgba(0,0,0,0.3);
        background-color: transparent;
    }
    &:focus {
        box-shadow: 0 1px 0 0 $sd-blue;
        border-color: $sd-blue;
        background-color: transparent;
    }
}
@mixin Line-input-boxed {
    @include Line-input-base;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0 1rem;
    height: 3.2rem;
    transition: border linear 0.2s, box-shadow linear 0.2s, background-color linear 0.2s;
    &:hover {
        background-color: rgba(0, 0, 0, 0.10);
    }
    &:focus {
        background-color: rgba(0, 0, 0, 0.05);
    }
}

@mixin Form-label-base {
    display: inline-block;
    font-size: 1.1rem;
    margin: 0 0.5rem 0 0;
    line-height: 2.6rem;
    color: $grayText;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.08em;
}


.form-label {
    @include Form-label-base;
    min-width: 75px;
    &--light {
        color: $grayLight;
        font-weight: 400;
    }
    &--marg-b10 {
        margin-bottom: 10px;
    }
    &--block {
        display: block;
    }
}
.form-label__container {
    display:flex;
    flex-direction: row;
    align-items: center;
    .form-label {
        flex-grow: 1;
    }
}
.form-label__info-block {
    color: inherit;
    font-size: 1.2rem;
    text-align: right;
    font-weight: 300;
}

.sd-line-input {
    margin: 0 0 1.8em 0;
    padding-top: 1.4rem;
    position: relative;

    &--flex-row {
        display: inline-flex;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        width: 100%;
    }
    &__value {
        margin-right: 6px;
        text-transform: uppercase;
    }
    input, textarea {
        &.sd-line-input__input {
            @include Line-input-base;
            &--center {
                text-align: center;
            }
        }
        &.sd-line-input__color {
            @include Line-input-base;
            width: 26px;
            height: 26px;
            border: none;
            outline: none;
            ::-webkit-color-swatch {
                border: none;
                outline: none;
                -webkit-appearance: none;
            }
            ::-webkit-color-swatch-wrapper {
                padding: 0;	
            }
        }
    }
    input[type="file"] {
        &.sd-line-input__input {
            height: 3rem;
            padding-top: 0.6rem;
            font-size: 1.3rem;
            &:focus {
                outline: none;
            }
        }
    }
    select {
        &.sd-line-input__select {
            @include Line-input-base;
            display: block;
            position: relative;
            z-index: 2;
            option {
                color:$sd-text;
                font-size: 1.4rem;
                line-height: 2rem;
            }
        }
        cursor: pointer;
    }
    textarea.sd-line-input__input {
      padding-top: 3px;
    }
    .sd-line-input__info-left, .sd-line-input__info-right { // use for 1-2 letter info that appear inside inputs ("W" - for width; "H" - for height; px, mm - for units, etc.)
        position: absolute;
        top: 2.5rem;
        opacity: 0.3;
        font-size: 1.5rem;
        font-weight: 300;
    }
    .sd-line-input__info-right {
        right: 0.8rem;
    }
    .sd-line-input__info-left {
        left: 0.8rem;
    }

    .sd-line-input__icon-left, .sd-line-input__icon-right {
        position: absolute;
        top: 0.8rem;
        cursor: pointer;
    }
    .sd-line-input__icon-right {
        right: 0;
    }
    .sd-line-input__icon-left {
        left: 0;
    }

    &--boxed {
        padding-top: 1.8rem;
        input, textarea {
            &.sd-line-input__input {
                @include Line-input-boxed;
            }
        }
        textarea {
            &.sd-line-input__input {
                padding-top: 0.6rem;
            }
        }
        select {
            &.sd-line-input__select {
                @include Line-input-boxed;
            }
        }
        &.sd-line-input--disabled {
            input, textarea {
                &.sd-line-input__input {
                    background-color: rgba(0, 0, 0, 0.03);
                    border-bottom: 1px dotted $grayLight !important;
                }
            }
            select {
                &.sd-line-input__select, &.sd-line-input__select:hover {
                    background-color: rgba(0, 0, 0, 0.03);
                    border-bottom: 1px dotted $grayLight !important;
                }
            }
        }
        .sd-line-input__icon-right, .sd-line-input__icon-left {
            top: 1.6rem;
        }
        .sd-line-input__icon-left {
            left: 0.2rem;
        }
        .sd-line-input__icon-right {
            right: 0.2rem;
        }
    }

    &.sd-line-input--indent-l30 {
        input, textarea {
            &.sd-line-input__input {
                padding-left: 3rem;
            }
        }
    }
    &.sd-line-input--indent-r30 {
        input, textarea {
            &.sd-line-input__input {
                padding-right: 3rem;
            }
        }
    }

    .sd-line-input__label {
        @include Form-label-base;
        position: absolute;
        line-height: 100%;
        margin: 0;
        top:0;
        &--required::after {
            color:$red;
            content: "*";
            vertical-align: top;
            font-size: 1.2rem;
            padding-left: 0.3rem;
        }
    }
    .sd-line-input__hint,
    .sd-line-input__message,
    .sd-line-input__char-count {
        font-size: 1.2rem;
        line-height: 1.4rem;
        transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
        color: grey;
        font-weight: 300;
        letter-spacing: 0.03em;
    }
    .sd-line-input__hint {
        position: absolute;
        left: 1px;
        right: auto;
        padding-right: 5.5rem;
        margin-top: 0.4rem;
    }
    .sd-line-input__char-count {
        position: absolute;
        right: 1px;
        left: auto;
        margin-top: 0.5rem;
        font-size: 1.1rem;
        font-weight: 400;
        font-style: italic;
    }
    .sd-line-input__message {
        padding-top: 0.4rem;
    }
    &.sd-line-input--invalid {
        .sd-line-input__label,
        .sd-line-input__message {
            color:$red;
        }
        input, textarea {
            &.sd-line-input__input {
                border-color: $red;
                &:focus {
                    box-shadow: 0 1px 0 0 $red;
                }
            }
        }
        select {
            &.sd-line-input__select {
                border-color: $red;
                &:focus {
                    box-shadow: 0 1px 0 0 $red;
                }
            }
        }
    }

    &.sd-line-input--disabled {
        input, textarea {
            &.sd-line-input__input {
                border-bottom: 1px dotted $sd-inputBorderColor;
                cursor: not-allowed;
            }
        }
        select {
            &.sd-line-input__select {
                border-bottom: 1px dotted $sd-inputBorderColor;
                cursor: not-allowed;
            }
        }
    }


    &.sd-line-input--is-select {
        &::after {
            position: absolute;
            top: 2.6rem;
            right: 0.4rem;
            display: inline-block;
            width: 0;
            height: 0;
            vertical-align: middle;
            border-left: 0.4rem solid transparent;
            border-right: 0.4rem solid transparent;
            border-top: 0.4rem solid #000;
            @include opacity(30);
            content: "";
            z-index: 0;
        }
        &:hover {
            &::after {
                @include opacity(60);
            }
        }
        &.sd-line-input--disabled {
            &:hover {
                &::after {
                    @include opacity(30);
                }
            }
        }
        &.sd-line-input--boxed {
            &::after {
                top: 2.9rem;
                right: 0.8rem;
            }
        }
        &.sd-line-input--no-label {
            &::after {
                top: 1.2rem;
            }
            &.sd-line-input--boxed {
                &::after {
                    top: 1.4rem;
                }
            }
        }
    }
    &.sd-line-input--is-color {
        .sd-line-input__label {
            line-height: 140%;
        }
    } 
    // DARK UI
    // modifications for dark background color

    &--dark-ui {
        input, textarea, textarea {
            &.sd-line-input__input {
                border-bottom-color: rgba($sd-inputBorderColor-darkUi, 0.2);
                color: rgba($white, 0.8);
                &:hover {
                    border-bottom-color: $sd-inputBorderColor-darkUi;
                }
                &:focus {
                    box-shadow: 0 1px 0 0 $sd-blue;
                    border-color: $sd-blue;
                }
            }
        }
        select {
            &.sd-line-input__select {
                border-bottom-color: rgba($sd-inputBorderColor-darkUi, 0.2);
                color: rgba($white, 0.8);
                &:hover {
                    border-bottom-color: $sd-inputBorderColor-darkUi;
                }
                &:focus {
                    box-shadow: 0 1px 0 0 $sd-blue;
                    border-color: $sd-blue;
                }
            }
        }
        .sd-line-input__label {
            color: rgba(255,255,255,.4);
        }
        &.sd-line-input--disabled {
            input, textarea {
                &.sd-line-input__input {
                    border-bottom: 1px dotted rgba($sd-inputBorderColor-darkUi, 0.2);
                    &:focus, &:hover {
                        border-bottom: 1px dotted rgba($sd-inputBorderColor-darkUi, 0.2);
                        box-shadow: none;
                    }
                }
            }
            select {
                &.sd-line-input__select {
                    border-bottom: 1px dotted rgba($sd-inputBorderColor-darkUi, 0.2);
                    &:focus, &:hover {
                        border-bottom: 1px dotted rgba($sd-inputBorderColor-darkUi, 0.2);
                        box-shadow: none;
                    }
                }
            }
        }
        &.sd-line-input--boxed {
            input, textarea, textarea {
                &.sd-line-input__input {
                    background-color: rgba(255, 255, 255, 0.05);
                }
                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }
                &:focus {
                    background-color: rgba(255, 255, 255, 0.05);
                }
            }
            select {
                &.sd-line-input__select {
                    background-color: rgba(255, 255, 255, 0.05);
                }
                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }
                &:focus {
                    background-color: rgba(255, 255, 255, 0.05);
                }
            }
            &.sd-line-input--disabled {
                input, textarea, textarea {
                    &.sd-line-input__input {
                        background-color: rgba(255, 255, 255, 0.03);
                        border-bottom-color: rgba($sd-inputBorderColor-darkUi, 0.2) !important;
                    }
                }
                select {
                    &.sd-line-input__select, &.sd-line-input__select:hover {
                        background-color: rgba(255, 255, 255, 0.03);
                        border-bottom-color: rgba($sd-inputBorderColor-darkUi, 0.2) !important;
                    }
                }
            }
        }

        &.sd-line-input--invalid {
            input, textarea {
                &.sd-line-input__input {
                    border-color: $red;
                }
            }
            select {
                &.sd-line-input__select {
                    border-color: $red;
                }
            }
        }
        &.sd-line-input--is-select {
            &::after {
                border-top-color: #fff;
            }
        }
    }
     // End DARK UI

    &.sd-line-input--required {
        .sd-line-input__label::after {
            color:$red;
            content: "*";
            vertical-align: top;
            font-size: 1.2rem;
            padding-left: 0.3rem;
        }
    }
    &.sd-line-input--no-label {
        padding-top: 0;
    }
    &.sd-line-input--no-margin {
        margin-bottom: 0;
    }
    &--label-left, &--label-left-auto {
        padding-top: 0;
        margin: 0;
        display: grid;
        grid-template-columns: auto 1rem 1fr auto;
        grid-template-rows: auto auto;
        grid-gap: 0;
        .sd-line-input__label {
            margin-top: 0.8rem;
            grid-column: 1/2;
            grid-row: 1/2;
            position: static;
            min-width: 7.6rem;
            max-width: 12rem;
        }
        .sd-line-input__input {
            grid-row: 1/2;
            grid-column: 3/5;
        }
        .sd-line-input__hint, .sd-line-input__message {
            position: static;
            grid-row: 2/3;
            grid-column: 3/4;
            padding-right: 0;
        }
        .sd-line-input__char-count {
            position: static;
            grid-row: 2/3;
            grid-column: 5/4;
            text-align: right;
            padding-left: 1.6rem;
        }
    }
    &--label-left-auto {
        .sd-line-input__label {
            min-width: auto;
            max-width: none;
        }
    }
    &--with-button {
        input, textarea {
            &.sd-line-input__input {
                height: 3rem;
                text-indent: 2.8rem;
            }
        }
    }
    &--with-icon-l {
        input, textarea {
            &.sd-line-input__input {
                padding-right: 3rem;
            }
        }
    }
    .sd-line-input__plus-btn {
        position: absolute;
        top: 1.8rem;
        left: 0;
        height: 2.2rem;
        width: 2.2rem;
        background-color: scale-color($sd-blue, $alpha: -25%);
        transition: $button-transition;
        border-radius: 2px;
        cursor: pointer;
        text-align: center;
        &::before {
            margin-top: 0.2rem;
            content: "\e629";
            @include icon-base;
            color: $white;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        &:hover {
            background-color: $sd-blue;
        }
    }

}

[class^="--dark-ui"],
[class*="--dark-ui"] {
    .form-label {
        color: inherit;
        opacity: 0.4;
    }
}
