// RADIO BUTTON : form-elements/radio.scss

// SD radio button 

.sd-radio {
    @include transition(all, 0.2s, ease-out);
    width: 1.6rem;
    height: 1.6rem;
    display: inline-block;
    position: relative;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: $border-radius__base--full;
    vertical-align: middle;
    margin-right: 0.8rem;

    &::after {
        @include opacity(0);
        @include transition(all, 0.2s, ease-in);
        height: 0.8rem;
        width: 0.8rem;
        border-radius: $border-radius__base--full;
        content:' ';
        position: absolute;
        background-color: $sd-colour-interactive;
        top: 0.2rem;
        left: 0.2rem;
        transform: scale(0.25, 0.25);
    }

    &:hover {
        border-color: rgba(0, 0, 0, 0.4);
        cursor: pointer;
    }

    &.checked, &[checked="checked"] {
        border-color: $sd-colour-interactive;

        &::after {
            @include opacity(100);
            transform: scale(1, 1);
        }

        &:hover {
            border-color: var(--sd-colour-interactive--darken-10);
            
             &::after {
                background-color: var(--sd-colour-interactive--darken-10);
            }
        }
    }
}

label + .sd-radio {
    display: inline-block;
}

.sd-radio + label {
    display: inline-block;
    vertical-align: middle;
}
