.select-grid__overlay-panel {
    z-index: 1500 !important;
    margin-block-start: 1px;
}

.select-grid__panel {
    width: 380px;
    max-height: 560px;
    background-color: var(--color-dropdown-menu-Bg);
    box-shadow: var(--sd-shadow__dropdown);
    border-radius: var(--b-radius--small);
    display: flex;
    flex-direction: column;
}

.select-grid__header {
    padding: 1rem;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
}

.select-grid__body {
    overflow-y: auto;
    margin: 0;
    padding: 1rem;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, minmax(9rem, 1fr));
}

.select-grid__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text);
    border-radius: var(--b-radius--small);

    &:hover, &:focus {
        cursor: pointer;
    }

    &:hover {
        background: $sd-colour-background__menu-item--hover;
    }

    &:focus {
        outline: 2px solid var(--sd-colour-interactive);
        outline-offset: -2px;
    }
}

.sd-input--grid-select {
    .btn {
        grid-row: 2/3;
        grid-column: 2/4;
        background-color: var(--color-input-bg);
        border-block-end: 1px solid var(--color-input-border);
        width: 4rem;
    }

    .btn:hover {
        background-color: var(--color-input-bg--hover);
        border-bottom-color: var(--color-input-border-hover);
        box-shadow: none;
    }

    .btn:focus {
        background-color: var(--sd-colour-interactive--alpha-20);
        border-bottom-color: var(--sd-colour-interactive);
        box-shadow: 0 1px 0 0 var(--sd-colour-interactive);
    }
}

.form__item--auto-width {
    .sd-input--grid-select {
        .btn {
            margin-block-start: 0;
        }
    }
}
