.sd-toggle {
    display:inline-block;
    width:4.0rem;
    height:1.8rem;
    background: #e0e0e0;
    position:relative;
    vertical-align: middle;
    cursor:pointer;
    //margin-right: 0.5rem;
    @include border-radius(0.9rem);
    overflow: hidden;
    @include box-shadow(0, 1px, 0, 0, rgba(0,0,0,0.15), true);
    .inner {
        position:absolute;
        left:0.2rem;
        width:1.4rem;
        top:0.2rem;
        height:1.4rem;
        background:$white;
        @include border-radius(0.8rem);
        @include box-shadow(0, 1px, 0, 0, rgba(0,0,0,0.2));
        @include transition(all, 0.2s, ease-out);
    }
    &.checked {
        background: $sd-blue;
        .inner {
            left:2.4rem;
        }
    }
    input[type="checkbox"] {
        display:none;
    }
}

label + .sd-toggle {
    display: inline-block;
    vertical-align: middle;
    margin: 0 1rem 0 0.2rem;
}
.sd-toggle + label {
    display: inline-block;
    vertical-align: middle;
    margin: 0 1rem;
}