.sd-toggle, .sd-switch {
    display:inline-block;
    flex-shrink: 0;
    width:4.0rem;
    height:1.8rem;
    background: var(--sd-colour-neutral);
    position:relative;
    vertical-align: middle;
    cursor:pointer;
    border-radius: $border-radius__base--full;
    overflow: hidden;
    box-shadow: inset 0 1px 0 0 hsla(0, 0%, 0%, 0.15);

    .inner {
        position:absolute;
        left:0.2rem;
        width:1.4rem;
        top:0.2rem;
        height:1.4rem;
        background: $white;
        border-radius: $border-radius__base--full;
        box-shadow: 0 1px 0 0 hsla(0, 0%, 0%, 0.2);
        transition: all 0.2s ease;
    }

    &.checked {
        background: var(--sd-colour-interactive--active);

        .inner {
            left:2.4rem;
        }
    }

    &.disabled {
        opacity: .5;
        cursor: not-allowed;
    }

    input[type="checkbox"] {
        display:none;
    }

    &:focus-visible {
        box-shadow: 0 0 0 3px var(--sd-colour-interactive--alpha-30);
    }
}

// label + .sd-toggle,
// label + .sd-switch {
//     display: inline-block;
//     vertical-align: middle;
//     margin: 0 1rem 0 0.2rem;
// }

// .sd-toggle + label,
// .sd-switch + label {
//     display: inline-block;
//     vertical-align: middle;
//     margin: 0 1rem;
// }

.sd-toggle__wrapper, .sd-switch__wrapper {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    position: relative;
    gap: $sd-base-increment;

    label {
        margin: 0;
        line-height: 1;
    }
}

.sd-switch__group {
    display: flex;
    flex-direction: row;
    align-items: center;

    .sd-toggle__wrapper,
    .sd-switch__wrapper {
        margin-inline-end: $sd-base-increment * 3;
    }
}

.sd-switch__group--vertical {
    flex-direction: column;
    align-items: flex-start;
    gap: $sd-base-increment * 2;

    &.sd-switch__group--right {
        width: 100%;
        align-items: flex-end;
        text-align: end;
        
        .sd-toggle__wrapper,
        .sd-switch__wrapper {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-inline-end: 0;
        }

    }
}
