.p-chips {
    font-size: 14px;
    font-weight: normal;
    height: 100% !important;
}

.p-chips-token {
    margin: 2px !important;
    padding: 5px !important;
    background-color: #D0D5DB;
    border-left: 20px !important;
    border-radius: 30px !important;
}

.p-chips-token-icon	{
    font-size: 20px;
    color: #A7ADB3 !important;
}

.p-chips-multiple-container {
    width: 100%;
    border: 0;
    padding-top: 2px;
    //border-bottom: 1px solid var(--color-input-border) !important;
    //background-color: var(--color-input-bg);
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    padding: 0 0.8rem;
    height: 3.2rem;
    border-radius: 2px 2px 0 0;
    font-size: 13px;
}

.p-chips-token-label {
    //font-size: 16px;
    //color: black;
    padding-left: 3px !important;
    margin: 2px;
}

.p-chips-input-token {
    font-size: 16px;
    margin: 5px;
}
