// Default sd-card  styling
// ---------------------------------------------

//color variables
$card-item-header-bg-normal: #607d8b;
$card-item-header-bg-inactive: #b1b1b1;
$card-item-header-bg-active: $sd-blueMedium;
$card-item-header-bg-light: #bfbfbf;

//shadows
$card-item-shadow: 0 1px 4px rgba(0,0,0,.1), 0 1px 5px rgba(0,0,0,.16);
$card-item-shadow-hover: 0 1px 6px rgba(0,0,0,.16), 0 2px 8px rgba(0,0,0,.26);
$card-item-shadow-active: 0 0 4px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.16);

.sd-card {
    position: relative;
    @include border-radius(2px);
    box-shadow: $card-item-shadow;
    background-color: $white;
    color: $sd-text;
    min-height: 12rem;
    display: flex;
    flex-direction: column;
    &--with-click {
        @include transition(all, 100ms, ease-in);
        cursor: pointer;
        &:hover {
            box-shadow: $card-item-shadow-hover;
        }
        &:active {
            box-shadow: $card-item-shadow-active;
        }
    }
    .sd-card__actions   {
        margin: 0.4rem 0.4rem 0 0;
        visibility: hidden;
    }
    &:hover {
        .sd-card__actions   {
        visibility: visible;
        }
    }
    .sd-card__header {
        position: relative;
        flex-grow: 0;
        display: flex;
        flex-direction: row;
        align-items: center;        
        background-color: $card-item-header-bg-normal;
        padding: 0;
        min-height: 4rem;
        color: $white;
        @include border-radius (2px 2px 0 0);
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 4px;
            background-color: rgba(0,0,0,.2);
            @include border-radius (2px 2px 0 0);
        }
        // use only for positioning, not for styling
        &--empty {
            height:8px;
        }
        &--light {
            background-color: $card-item-header-bg-light;
        }
        &--white {
            background-color: $white;
            color: $sd-text;
            box-shadow: 0 1px 0 rgba(136, 136, 136, 0.25);
        }
        &--with-thumb {
            position: relative;
            flex-direction: column;
            .sd-card__actions {
                position: absolute;
                top: 0.4rem;
                right:0;
                z-index: 2;
            }
        }
    }
    &--active {
        .sd-card__header {
            background-color: $card-item-header-bg-active;
        }
    }
    &--inactive {
        .sd-card__header {
            background-color: $card-item-header-bg-inactive;
        }
    }
    // sd-card__heading should go inside sd-card__header
    .sd-card__heading {
        padding: 0.4rem 1.6rem 0;
        flex-grow: 1;
        font-size: 1.2rem;
        line-height: 100%;
        text-transform: uppercase;
        letter-spacing: 0.04em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: inherit;
        &--editable {
            padding: 1rem 1.6rem 1rem;
            text-transform: initial;
            &:hover {
                cursor: text;
            }
            > input {
                margin-top: 6px;
            }
        }
    }
    .sd-card__sub-header {
        background-color: #9daeb7;
        color: $white;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        padding: 0.6rem 1.6rem;
        &--success {
            background-color: $green;
        }
    }
    .sd-card__btn-group {
        margin: 14px 6px 0 0;
        &--right {
            float: right;
        }
        .btn {
            background: transparent;
            padding: 10px 2px;
            color: $white;
            opacity: 0.4;
            &:focus, &:hover {
                box-shadow: none;
                opacity: 1;
            }
            [class^="icon-"], 
            [class*=" icon-"] {
                color: $white;
            }
        }
    }
    .sd-card__thumbnail {
        padding-top: 0.4rem;
        line-height: 0;
        & + .sd-card__heading {
            background-color: $white;
            font-weight: 500;
            text-align: center;
            color: $sd-text;
            padding: 1rem 1.6rem;
            width: 100%;
            box-shadow: 0 1px 0 rgba(136, 136, 136, 0.25);
        }
    }
    .sd-card__content {
        padding: 16px;
        flex-grow: 1;
        h4 {
            text-transform: uppercase;
            font-size: 11px;
            color: rgba(0,0,0,.5);
            letter-spacing: 0.04em;
            margin-bottom: 4px;
            &.with-value {
                margin-bottom: 0;
            }
            .label {
                float: right;
                height: 15px;
                margin: auto 0;
                padding: 3px 5px 0;
                border-radius: 8px;
                color: rgba(255,255,255,1);
                background: rgba(0,0,0,.25);
                font-size: 10px;
                line-height: 100%;
                letter-spacing: .06em;
                font-weight: 400;
            }
            .value-label {
                float: right;
                font-size: 13px;
                color: #333;
                font-weight: 400;
                text-transform: none;
                letter-spacing: 0em;
            }
            &.sd-card__h4--normal-case {
                font-size: 12px;
                text-transform: initial;
            }
        }
        &--scrollable {
            min-height: 20vh;
            max-height: 30vh;
            overflow-y: auto;
        }
    }
    .sd-card__placeholder {
        padding: 16px;
        flex-grow: 1;
        height: calc(100% - 48px);
        display: flex;
        align-items: center;
        justify-content: center;
        color: $grayLight;
        font-weight: 300;
        font-size: 1.2rem;

        &--cursorPointer {
            cursor: pointer;
        }

    }
    .sd-card__content-list {
        margin: -16px;
        padding: 0;
        list-style: none;

        li, .sd-card__content-list-item {
            padding: 16px;
            border-bottom: 1px solid #ebebeb;
            &--inline {
                display: flex;
                h4 { flex: 1 1; }
                span { 
                    flex: 1 1; 
                    text-align: right;
                }
            }
            .sd-card__content-list-inline-span {
                display: inline-block;
            }
            &:last-child {
                border: none;
            }
            &--border-bottom {
                &:last-child {
                    border-bottom: 1px solid #ebebeb;
                }
            }
            &--small {
                padding: 7px 16px;
                h4 {
                    margin: 0;
                }
            }
        }
        .creation-time {
            display: block;
            font-size: 12px;
            color: #999;
            i {
                display: inline-block;
                opacity: 0.5;
                margin-top: -2px;
            }
        }
        .button__view-all {
            border-bottom: 1px dotted #5598B4;
            color: #5598B4;
            cursor: pointer;
        }
    }

    .sd-card__article-header {
        padding: 16px;
    }
    .sd-card__time-date {
        font-size: 11px;
        color: #ababab;
        font-weight: 300;
        &--reverse-color {
            color: rgba(255,255,255, 0.6);
        }
    }

    .sd-card__footer {
        padding: 0 1.6rem;
        min-height: 4.7rem;
        align-items: center;
        border-top: 1px solid #dedede;
        background-color: $sd-background;
        display: flex;
        flex-direction: row;
        @include border-radius (0 0 2px 2px);
        &--light {
            background-color: $white;
        }
        &--right-align {
            justify-content: flex-end;
        }
        &--spread {
            justify-content: space-between;
        }
    }
    .sd-card__full-click {
        position: absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
        z-index: 2;
    }
    .sd-card__thumbnail {
        width: 100%;
        position: relative;
        height: 20rem;
        overflow: hidden;
        text-align: center;
        img {
            width: 100%;
            height: auto;
        }
    }
    .sd-card__file-type-icn {
        color: $white;
        font-size: 5.2rem;
        height: 5.2rem;
        width: 5.2rem;
        padding-top: 34%;
        opacity: 0.5;
    }
}