.sd-copyable-text-box {
    display: flex;
    align-items: center;

    // TODO: Find the right color for the border
    border: 1px solid var(--sd-colour-line--light);
    border-radius: var(--b-radius--small);
    overflow: hidden;
    justify-content: center;

    // TODO: Find the right color for the background
    background-color: var(--sd-item__main-Bg);

    &__text {
        color: $grayText;
        font-size: 1.4rem;
        line-height: 1.8rem;
        padding-inline: var(--space--0-5);
        font-family: monospace;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }
}

.sd-input__label {
    color: var(--color-label-text);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.08em;
    font-size: 1.1rem;
}
