// LIST ITEMS : components/list-items.scss
// --------------

//background color 
$sd-ListItem-background: var(--sd-item__main-Bg);
$sd-ListItem-background-hover: var(--sd-item__main-Bg--hover);
$sd-ListItem-background-selected: var(--sd-item__main-Bg--selected);
$sd-ListItem-background-activated: var(--sd-item__main-Bg--activated);
//column border color
$sd-ListItem-column-border: var(--sd-colour-line--x-light);

.sd-list-item {
    display: flex;
    position: relative;
    min-height: $sd-base-increment * 5;
    flex-direction: row;
    background-color: $sd-ListItem-background;
    transition: background-color 0.2s linear;
    &:hover {
        background-color: $sd-ListItem-background-hover;
        cursor: pointer;
    }
    &--active, &.active {
        background-color: $sd-ListItem-background-activated;
    }
    &--selected, &--selected:hover, &.selected, &.selected:hover  {
        background-color: $sd-ListItem-background-selected;
        outline: 1px solid var(--sd-colour-interactive--alpha-50);
    }
    &--activated, &--activated:hover {
        background-color: $sd-ListItem-background-activated;
    }
    &--no-bg {
        background-color: transparent;
    }
    &--no-hover {
        &:hover {
            background-color: $sd-ListItem-background;
            cursor: default;
        } 
    }
    &--inactive {
        background-color: transparent;
        color: rgba(123, 123, 123, 0.75);
    }
    &--draggable {
        &:hover {
            cursor: move; /* fallback if grab is unsupported */
            cursor: grab;
            cursor: -moz-grab;
            cursor: -webkit-grab;
        }
        &:active {
            cursor: grabbing;
            cursor: -moz-grabbing;
            cursor: -webkit-grabbing;
        }
    }
    &.actioning {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 3;
            background-image: url(../img/three-dots.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 45px;
            background-color: rgba(255, 255, 255, 0.65);
        }
    }
    &.locked {
        .sd-list-item__border {
            background: $red;
        }
    }
    &.archived {
        &:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 20%;
            width: 10rem;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMTYiIGhlaWdodD0iMTE2IiB2aWV3Qm94PSIwIDAgMTE2IDExNiI+PHBhdGggZmlsbD0iIzdCN0I3QiIgZD0iTTU4IDBDMjYgMCAwIDI2IDAgNThzMjYgNTggNTggNTggNTgtMjYgNTgtNThTOTAgMCA1OCAwem0zNy4xIDM4LjhMNDYuMyA4Ny42Yy0uNS41LTEuMi41LTEuNyAwTDE4LjkgNjEuOGMtLjUtLjUtLjUtMS4yIDAtMS43bDguMi04LjJjLjUtLjUgMS4yLS41IDEuNyAwTDQ1IDY4LjFjLjMuMy44LjMgMS4xIDBsMzkuMi0zOS4yYy41LS41IDEuMi0uNSAxLjcgMGw4LjIgOC4yYy40LjUuNCAxLjItLjEgMS43eiIvPjwvc3ZnPg==);
            background-repeat:  no-repeat;
            background-size: 6rem;
            background-position: center center;
            opacity: 0.16;
        }
    }
    .avatar {
        flex-shrink: 0;
    }
}

.sd-list-item__border {
    width: 0.4rem;
    flex-grow: 0;
    flex-shrink: 0;
    background: transparent;
    &--locked, &--error {
        background: $red;
    }
    &--success, &--active {
        background: $green;
    }
    &--idle {
        background: $orange;
    }
    &--dark-blue {
        background: #4d646f;
    }
}

.sd-list-item__dot {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    width: 6px;
    height: 6px;
    border-radius: $border-radius__base--full;
    background-color: transparent;
    &--locked, &--error {
        background: $red;
    }    
    &--success, &--active {
        background: $green;
    }
    &--idle {
        background: $orange;
    }
    &--dark-blue {
        background: #4d646f;
    }
}

.sd-list-item__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid $sd-ListItem-column-border;
    padding: 0 0.8rem;
    overflow: hidden;
    flex-shrink: 0;
    &:last-child, &:last-of-type, &:only-child {
        border:none;
    }
    &--no-border {
        border:none;
    }
    &--large-padding {
        padding: 0.8rem 1.6rem;
    }
    &--no-right-padding {
        padding-right: 0;
    }
    &--grow {
        flex-grow: 1;
        flex-shrink: 1;
    }
    &--shrink {
        flex-shrink: 1;
    }
    &--has-check {
        position: relative;
        .sd-list-item__item-type {
            opacity: 1;
            margin-top: -0.2rem;
            transition: opacity 0.1s linear;
        }
        .sd-list-item__checkbox-container {
            position: absolute;
            padding: 0 0.8rem;
            top: 0;
            bottom:0;
            left:0;
            right:0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 2;
            opacity: 0;
            transition: opacity 0.2s linear; 
            .sd-check__wrapper {
                height: 1.6rem;
                width: 1.6rem;
                .sd-checkbox {
                    display: block;
                }
            }
        }
        &:hover {
            .sd-list-item__item-type {
                opacity: 0;
            }
            .sd-list-item__checkbox-container {
                opacity: 1;
            }
        }
        &.sd-list-item__column--checked, &.sd-list-item__column--checked:hover {
            .sd-list-item__item-type {
                opacity: 0;
            }
            .sd-list-item__checkbox-container {
                opacity: 1;
            }
        } 
    }
}

.sd-list-item__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    &:first-child {
        margin: 0.8rem 0 0.2rem;
    }
    &:last-child {
        margin: 0.2rem 0 0.8rem;
    }
    &:only-child {
        margin: 0.2rem 0;
    }
    &--only-child {
        margin: 0.2rem 0 !important;
    }
    &--wrap {
        flex-wrap: wrap;
    }
}
.sd-list-item__action-menu {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: center;
    padding: 0 0.6rem;
    width: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: all ease-in 0.1s;
    align-items: center;
    &--direction-row {
        flex-direction: row;
    }
    > .dropdown__toggle {
        line-height: 0;
    }
}
.sd-list-item__thumbnail, figure.sd-list-item__thumbnail {
    width: 6.4rem;
    height: 4.2rem;
    margin: auto 0.8rem;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128,128,128,0.2);
    img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        margin: auto;
        display: block;
    }
}

.sd-list-item__serial-number {
    font-size: 2rem;
    font-weight: 300;
    color: $grayLight;
}
.sd-list-item:hover, .sd-list-item--activated {
    .sd-list-item__action-menu {
        padding: 0 0.6rem;
        width: auto;
        overflow: visible;
        opacity: 1;
    }
}

.sd-list-item--element-grow {
    flex-grow: 1;
}

//  Overrides for inner elements
.sd-list-item {
    .label {
        margin-right: 0.6rem;
    }
}

.sd-list-item {
    .badge {
        margin: 0.2rem;
    }
}

.sd-list-item {
    [class^="icon-"],
    [class*=" icon-"] {
        opacity: 0.6;
        vertical-align: middle;
    }
    time {
        [class^="icon-"],
        [class*=" icon-"] {
            vertical-align: top;
            margin-right: 0.2rem;
        }  
    }
}

// Text specific styles
.sd-list-item {
    time {
        color: $grayText;
        font-size: 1.2rem;
        letter-spacing: 0.025em;
        flex-shrink: 0;
        padding-left: 1em;
    }
    .sd-list-item__slugline {
        color: $sd-slugline;
        font-weight: 500;
        font-size: 1.2rem;
        text-transform: uppercase;
        margin-right: 1rem;
    }
    .sd-list-item__headline {
        color: $sd-text;
        font-weight: 500;
        font-size: 1.3rem;
        margin-right: 1rem;
    }
    .sd-list-item__normal {
        color: $sd-text;
        font-weight: 300;
        margin-right: 1rem;
    }
    .sd-list-item__strong {
        color: $sd-text;
        font-weight: 500;
        margin-right: 1rem;
    }
    .sd-list-item__text-label {
        color: $sd-text;
        opacity: 0.7;
        font-weight: 300;
        font-style: italic;
        margin-right: 0.3rem;
        &--normal {
            font-style: normal;
        }
    }
    .sd-list-item__inline-icon,
    .sd-list-item__inline-text {
        margin-right: 0.6rem;
    }
    .sd-list-item__text-strong {
        font-weight: 500;
        color: $sd-text;
    }
    .sd-list-item__element-rm-10 {
        margin-right: 1rem;
    }
    .sd-list-item__element-lm-10 {
        margin-left: 1rem;
    }
    .sd-list-item__location {
        padding-left: 1.6rem;
        position: relative;
        &::before {
            position: absolute;
            left: 0;
            top:0.1rem;
            font-family: 'sd_icons';
            content: "\e602";
            display: inline-block;
            width: 1.4rem;
            height: 1.4rem;
            line-height: 1.4rem;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            color: scale-color($grayLight, $alpha: -20%);
        }
    }
}


.avatar {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    background-color: $avatarBG;
    border-radius: $border-radius__base--full;
    margin-right: 0.6rem;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 3.2rem;
    letter-spacing: -0.03em;
    vertical-align: middle;
    &--small {
        height: 2.4rem;
        width: 2.4rem;
        font-size: 1rem;
        line-height: 2.5rem;
    }
    &--large {
        height: 4.8rem;
        width: 4.8rem;
        font-size: 1.8rem;
        line-height: 5rem;
    }
    &--no-margin {
        margin: 0;
    }
    &--empty {
        background-color: rgba(123, 123, 123, 0.05);
        color: transparent;
        border: 1px dashed rgba(123, 123, 123, 0.6);
    }
    &--on-right {
        margin-right: 0;
        margin-left: 0.6rem;
    }
}

.dropdown__toggle {
    &:hover {
        [class^="icon-"],
        [class*=" icon-"] {
            opacity: 1;
        }
    }
    &:active {
        [class^="icon-"],
        [class*=" icon-"] {
            opacity: 1;
            color: $sd-colour-interactive;
        }
    }
}
.sd-list-item--activated {
.dropdown__toggle {
    
        [class^="icon-"],
        [class*=" icon-"] {
            opacity: 1;
            color: $sd-colour-interactive;
        }
    }
}


// NESTED list items
.sd-list-item-nested {
    display: flex;
    flex-direction: column;
    margin-top: .8rem;
}
.sd-list-item-nested__childs {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-bottom: 0.8rem;
    .sd-list-item {
        margin-top: 0;
        border-top: 1px solid var(--sd-colour-line--x-light);
    }
}
.sd-list-item-nested__parent {
    position: relative;
    z-index: 1;
}

.sd-list-item-nested--collapsed {
    .sd-list-item-nested__childs {
        transition: all ease-in 0.2s;
        max-height: 0;
        opacity: 0;
        margin-bottom: 0;
        overflow: hidden;
    }
}
.sd-list-item-nested--expanded {
    .sd-list-item-nested__childs {
        transition: all ease-in 0.2s;
        max-height: 114rem;
        opacity: 1;
    }
}

// sd list item GROUP
.sd-list-item-group {
    .sd-list-item {
        + .sd-list-item {
            border-top: 1px solid var(--sd-colour-line--x-light);
        }
    }
    &--space-between-items {
        .sd-list-item {
            + .sd-list-item {
                margin-top: .8rem;
                border-top: none;
            }
        }
        .sd-list-item-nested {
            + .sd-list-item {
                margin-top: .8rem;
                border-top: none;
            }
        }
        .sd-list-item-nested__childs {
            .sd-list-item {
                margin-top: 0;
                border-top: 1px solid var(--sd-colour-line--x-light);
            }
        }
    }
    &--margin {
        margin: 2rem;
    }
}

.sd-list-header {
    display: flex;
    height: 2rem;
    margin-bottom: 0.8rem;
    align-items: center;
    .sd-list-header__name {
        font-size: 1.1rem;
        letter-spacing: .08em;
        font-weight: 500;
        text-transform: uppercase;
        color: $gray;
        a {
            color: $sd-colour-interactive;
            text-decoration: none;
            display: inline-block;
            line-height: 1;
            &:hover {
                color: var(--sd-colour-interactive--darken-20);
                border-bottom: 1px dotted currentColor;
            }
        }  
    }
    .sd-list-header__number {
        margin-left: 1rem;
    }
    .sd-list-header__stretch-bar {
        flex-grow: 1;
        height: 1px;
        background: transparent;
        margin: auto 0;
    }
    &--m-top {
        margin-top: 2.4rem;
    }
}

