// Animated loader

.sd-loader {
    content: '';
    display: block;
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    inset-block-end: 0;
    inset-inline-start: 0;
    z-index: 99999;
    background-image: url(../img/three-dots.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60px;
    background-color: var(--sd-colour-overlay-actioning);
}
