// Large Searchbar
// -----------------------------------------------------

// Large searchbar is usualy used inside the 'subnav' component, hence the flex-grow property;

.sd-searchbar {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    position: relative;
    background-color: transparent;
    transition: background-color 0.2s ease-out;
    height: 100%; // adapts to the height of the parent element, usually .subnav. 
    max-height: $subnav-height;
    &--focused {
        background-color: $white;
    }
    &--border-r {
        border-right: 1px solid #dfdfdf;
    }
    &--border-l {
        border-left: 1px solid #dfdfdf;
    }
    &--border-l-r {
        border-right: 1px solid #dfdfdf;
        border-left: 1px solid #dfdfdf;
    }
    &--border-bottom {
        border-bottom: 1px solid rgba(123,123,123,0.2);
    }
    &--small {
        height: 3.6rem;
    }
}
.sd-searchbar__input, input[type="text"].sd-searchbar__input, input[type="search"].sd-searchbar__input {
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 1.4rem;
    padding: 0;
    color: inherit;
    align-self: auto;
    background-color: transparent;
    border: 0;
    box-shadow: none !important;
    padding-right: 1rem;
    height: auto;
    &::placeholder {
        color: $grayLight;
        font-weight: 300;
        letter-spacing: 0.03rem;
    }
}

.sd-searchbar__icon {
    flex-grow: 0;
    flex-shrink: 1;
    align-self: auto;
    width: $subnav-height;
    position: relative;
    opacity: 0.4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &::after {
        content:"\e618";
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-family: 'sd_icons';
        font-size: 16px;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
}
.sd-searchbar__search-btn {
    height: 3rem;
    width: 3rem;
    flex-grow: 0;
    flex-shrink: 0;
    align-self: center;
    margin: 0 0.7rem 0 0;
    padding: 0;
    opacity: 0.6;
    transition: all 0.2s ease-out;
    background-color: rgba(0,0,0,0.08);
    border-radius: 50%;
    i {
        margin-top: 0.2rem;
        transition: color 0.2s ease-out;
    }
    &:hover {
        opacity: 0.8;
        background-color: rgba(0,0,0,0.1);;
    }
    &:active {
        opacity: 1;
        background-color: rgba(0,0,0,0.12);;
        i {
            color: $sd-blue;
        }
    }
}
.sd-searchbar__cancel {
    height: 1.6rem;
    width: 1.6rem;
    align-self: center;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 1.2rem 0 0;
    padding: 0;
    opacity: 0.35;
    transition: opacity 0.2s ease-out;
    &:hover {
        opacity: 0.7;
    }
    &:active {
        opacity: 1;
    }
}

.subnav--dark-ui {
    .sd-searchbar--focused {
        background-color: #4E4E4E;
    }
    .sd-searchbar__search-btn {
      [class^="big-icon--"],
      [class*=" big-icon--"] {
        color: $white;
      }
    }
    .sd-searchbar__cancel {
        color: $white;
        i {
            color: $white; 
        }
    }
}

.flat-searchbar {
    flex-grow: 0;
    .search-handler {
        min-width: 48px;
        height: $nav-height;
        padding: 10px 10px 10px 14px;
        background: none;
        display: flex;
        border-right: 1px solid #e0e0e0;
        white-space: nowrap;
        @include transition(all, 0.3s, ease);
        input {
            height: 28px;
            line-height: 100%;
            font-size: 14px;
            border: 0 !important;
            width: 0;
            padding: 0;
            background-color: rgba(255,255,255,0);
            @include transition(all, 0.3s, ease);
            &:focus {
                @include box-shadow(0, 0, 0, 0, #FFF);
            }
        }
        .trigger-icon {
            @include user-select(none);
            width: 28px;
            height: 28px;
            display: inline-block;
            @include opacity(50);
            &:hover {
                cursor: pointer;
                @include opacity(80);
            }
            i {
                padding: 7px 3px 4px 6px;
            }
        }
        &--left-border {
            border-right: 0 !important;
            border-left: 1px solid #e0e0e0;
        }
    }
    .separator-handler {
        margin: 9px 0 0 5px;
        border-right: 2px dotted #bcbcbc;
        height: 30px;
        float: left;
    }

    .search-close {
        border: 0;
        background: none;
        display: none;
        @include opacity(0);
        &.visible {
            @include opacity(40);
            &:hover {
                @include opacity(100);
            }
        }
    }

    &.extended {
        flex-grow: 1;
        background-color: white;
        .search-handler {
            input {
                width: 100%;
                padding: 0 6px;
            }
            border-right: 1px solid #e0e0e0;
        }
        .separator-handler {
            margin-left: 14px;
        }
        .search-close {
            display: inline-block;
        }
    }
}
