$iconSize-large: 3.6rem;
$iconSize-small: 2.4rem;

.sd-dropzone__drop-target {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--b-radius--medium);
    min-height: $sd-base-increment * 9;
    width: 100%;
    padding: $sd-base-increment * 3;
    gap: $sd-base-increment * 1;
    transition: all 0.2s ease;
    background-color: var(--sd-colour-bg-translucent--10);
    &--height-l {
        min-height: var(--width__container--xx-small);
    }
    &.sd-dropzone__drop-target--ondragover {
        background-color: var(--sd-colour-interactive--alpha-10);
        .sd-dropzone__target-border {
            inset: 4px;
            border-color: var(--sd-colour-interactive);
        }
        .sd-dropzone__icon {
            opacity: 1;
            color: var(--sd-colour-interactive);
        }
    }
    &:hover {
        background-color: var(--sd-colour-interactive--alpha-10);
        cursor: pointer;
        .sd-dropzone__target-border {
            border-color: var(--sd-colour-interactive--alpha-30);
        }
    }
    &:active {
        background-color: var(--sd-colour-interactive--alpha-20);
        .sd-dropzone__target-border {
            border-color: var(--sd-colour-interactive);
        }
    }
}

.sd-dropzone__target-border {
    position: absolute;
    inset: 2px;
    border: 2px dashed var(--sd-colour-line--medium);
    border-radius: var(--b-radius--medium);
    transition: all 0.3s ease;
    z-index: 0;
}
.sd-dropzone__icon {
    width: 5.6rem;
    height: 5.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(0, 0%, 100%, 0.5);
    border-radius: var(--b-radius--full);
    [class^="big-icon--"],
    [class*=" big-icon--"] {
        margin-top: -4px;
        width: $iconSize-large;
        height: $iconSize-large;
        font-size: $iconSize-large;
        line-height: $iconSize-large;
        opacity: 0.5;
    }
    &--small {
        width: 4rem;
        height: 4rem;
        [class^="big-icon--"],
        [class*=" big-icon--"] {
            width: $iconSize-small;
            height: $iconSize-small;
            font-size: $iconSize-small;
            line-height: $iconSize-small;
            opacity: 0.5;
        }
    }
}
.sd-dropzone__action {
    margin: 0 auto;
}
.sd-dropzone__heading {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: $baseFontFamilySerif;
    color: var(--color-text-light);
}
.sd-dropzone__description {
    opacity: 0.7;
    text-align: center;
    max-width: 320px;
    margin: 0 auto;
    font-size: 1.4rem;
    position: relative;
    z-index: 0;
    pointer-events: none;
}
.sd-dropzone__input {
    opacity: 0;
    position: absolute;
    inset: 2px;
    z-index: 1;
    &:hover {
        cursor: pointer;
    }
}