
$photo-nav-transition: all 0.2s ease-out;

.sd-photo-preview  {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-gap: 0;
    height: 100vh;
    position: relative;
    overflow: hidden;
    &--grid-only {
        grid-template-rows: 0 1fr;
        .sd-photo-preview__image {
            height: 0;
            overflow: hidden;
        }
        .sd-photo-preview__thumb-strip {
            overflow-y: auto;
            &--with-controls {
                padding-top: 4.8rem;
            }
        }
    }
}

.sd-photo-preview__thumb-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 4.8rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(32, 32, 32, 0.9);
    padding: 0 2rem;
}

.sd-photo-preview__image {
    // flex-grow: 1;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    background-color: #111;
    max-height: 100%; // needed for firefox
    &.actioning {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 999;
            background-image: url(../img/three-dots.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 60px;
            background-color: rgba(0, 0, 0, 0.85);
        }
    }
}

.sd-photo-preview__image img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    margin: auto;
} 

.sd-photo-preview__thumb-strip {
    grid-column: 1/2;
    grid-row: 2/3;
    min-height: 16rem;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow-y: auto;
}


@mixin photoNavButton-style(
    $background: rgba(0,0,0,1),
    $background-normal: scale-color($background, $alpha: -20%),
    $background-hover: scale-color($background, $alpha: -10%),
    $background-active: $sd-blue) 
{
    border-radius: 50%;
    cursor: pointer;
    height: 5.6rem;
    line-height: 5.6rem;
    position: absolute;
    top: calc(50% - 2.8rem);
    width: 5.6rem;
    box-shadow: 0 4px 24px rgba(0,0,0,.20), 0 10px 28px rgba(0,0,0,.35);
    color: $white;
    transition: $photo-nav-transition;
    background-color: $background-normal;
    opacity: 0.3;
    &:hover {
        opacity: 0.6;
        background-color: $background-hover;
    }
    &:active {
        opacity: 0.8;
        background-color: $background-active;
    }
    &::after {
        content: " ";
        font-family: 'sd_icons';
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        top:0;
        left:0;
        text-align: center;
        z-index: 2;
        color: $white;
        width: 5.6rem;
        font-size: 3.2rem;
    }
}

.sd-photo-preview__slide-in-button {
    position: absolute;
    top: 2.4rem;
    right: 0;
    z-index: 2;
    background-color: rgba(255,255,255,0.1);
    height:4.8rem;
    width:4.8rem;
    color: $white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 1.6rem;
    border-radius: 6px 0 0 6px;
    opacity: 0.5;
    cursor: pointer;
    text-decoration: none !important;
    transition: $photo-nav-transition;
    [class^="icon-"],
    [class*=" icon-"] {
        color: $white; 
        flex-shrink: 0;
    }
    &:hover {
        opacity: 1;
    }
    &:active {
        background-color: $sd-blue;
        opacity: 1;
    }
}

.sd-photo-preview__nav-button {
    @include photoNavButton-style;
    &--next {
        right: 0.8rem;
        color: inherit;
        &::after {
            content: "\e643";
        }
    }
    &--prev {
        left: 0.8rem;
        color: inherit;
        &::after {
            content: "\e642";
        }
    }
}

.upload__target {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0; 
    left:0;
    z-index: 0;
    border: 2px dashed $sd-blue;
    background-color: scale-color($sd-blue, $alpha: -90%);
}

.upload__info {
    margin: 0 auto;
    max-width: 40rem;
    position: relative;
    top: 50%;
    margin-top: -10.6rem;
    z-index: 1;
}
.upload__info-icon {
    margin: 0 auto;
    height: 7.4rem;
    width: 9rem;
    background-image: url(../img/ICON_image_stack--white.svg); 
    opacity: 0.25;
    text-align: center;
}
.upload__info-heading {
    margin: 0 auto;
    opacity: 0.5;
    text-align: center;
    padding-top: 3rem;
    text-align: center;
    color: #a0a0a0;
    font-size: 2.4rem;
    font-weight: 300;
}
.upload__info-label {
    position: relative;
    text-align: center;
    font-style: italic;
    margin: 2.2rem auto;
    color: inherit;
    opacity: 0.5;
    &::after, &::before {
        content: "___________";
        position: absolute;
        top: -0.5rem;
        color: inherit;
        opacity: 0.25;
    }
    &::after { 
        margin-left: 1.5rem;
    }
    &::before {
        margin-left: -7.8rem;
    }
}
.upload__info-button {
    display: block;
    margin: 0 auto;
    text-align: center;
    opacity: 0.75;
}


.sd-photo-preview__thumb-strip {
    &:hover {
        .upload-target {
            display: block;
        }
    }
}