// Default sd-card  styling
// ---------------------------------------------

$sd-grid-item-thumb-bg: rgba(44,44,44,1);

//background color 
$sd-grid-item-Bg: $white;
$sd-grid-item-Bg-selected: $white;
$sd-grid-item-Bg-activated: #e3f1f6;
//background color - dark UI
$sd-grid-item-Bg-darkUI: $grayDark;
$sd-grid-item-Bg-darkUI-selected: #283237;
$sd-grid-item-Bg-darkUI-activated: #35393b;

//shadows
$sd-grid-item-shadow: 0 1px 4px rgba(0,0,0,.1), 0 1px 5px rgba(0,0,0,.16);
$sd-grid-item-shadow-hover: 0 1px 6px rgba(0,0,0,.16), 0 2px 8px rgba(0,0,0,.26);
$sd-grid-item-shadow-activated: 0 0 4px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.16);
//shadows - dark UI
$sd-grid-item-shadow-darkUI: 0 1px 4px rgba(0, 0, 0, 0.6), 0 1px 5px rgba(0, 0, 0, 0.36);
$sd-grid-item-shadow-darkUI-hover: 0 1px 6px rgba(0, 0, 0, 0.8), 0 1px 10px rgba(0, 0, 0, 0.46);
$sd-grid-item-shadow-darkUI-activated: 0 1px 1px rgba(0, 0, 0, 0.7), 0 1px 3px rgba(0, 0, 0, 0.36);


.sd-grid-item {
    position: relative;
    @include border-radius(2px);
    box-shadow: $sd-grid-item-shadow;
    background-color: $white;
    color: $sd-text;
    // min-height: 12rem;
    display: flex;
    flex-direction: column;
    @include transition(all, 100ms, ease-in);
    &--with-click {
        @include transition(all, 100ms, ease-in);
        cursor: pointer;
        &:hover {
            box-shadow: $sd-grid-item-shadow-hover;
            background-color: darken($sd-grid-item-Bg, 2%);
        }
        &:active {
            box-shadow: $sd-grid-item-shadow-activated;
        }
    }
    &--activated, &--active, &.active {
        outline: 1px solid scale-color($sd-blue, $alpha: -60%);
        background-color: $sd-grid-item-Bg-activated;
        &:hover {
            background-color: darken($sd-grid-item-Bg-activated, 2%);
        }

    }
    &.actioning {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 3;
            background-image: url(../img/three-dots.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 60px;
            background-color: rgba(255, 255, 255, 0.85);
        }
    }
    
    &--selected, &.selected {
        outline: 2px solid $sd-blue;
    }
    .sd-grid-item__actions   {
        margin:0;
        visibility: hidden;
        &--top {
            position: absolute;
            top: 0.8rem;
            right: 0.5rem;
            z-index: 2;
        }
    }
    .sd-grid-item__remove  {
        margin:0;
        position: absolute;
        top: 0.3rem;
        right: 0.3rem;
        z-index: 2;
        opacity: 0;
        height: 2.8rem;
        width:  2.8rem;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        transition: opacity ease-in-out 0.2;
    }

    .sd-grid-item__checkbox {
        visibility: hidden;
        position: absolute;
        top: 0.8rem;
        left: 0.8rem;
        padding: 0.2rem;
        background: rgba(255,255,255,.15);
        border-radius: 2px;
        z-index: 2;
        height: 1.6rem;
        width: 1.6rem;
        border: 2px solid rgba(255,255,255, 0.4);
        outline: 2px solid rgba(0,0,0,.25);
        .sd-check__wrapper {
            position: absolute;
            height: 1.6rem;
            width: 1.6rem;
            margin: 0;
            top:-4px;
            left:-2px;
        }
        > .sd-checkbox {
            position: absolute;
            height: 1.6rem;
            width: 1.6rem;
            margin: 0;
            top: -2px;
            left: -2px;
        }
        .sd-check-new__wrapper {
            visibility: hidden;
            padding: 0;
            position: absolute;
            height: 1.6rem;
            width: 1.6rem;
            margin: 0;
            top:-2px;
            left:-2px;
            .sd-check-new {
                position: absolute;
                height: 1.6rem;
                width: 1.6rem;
                margin: 0;
            }
        }

    }

    &:hover {
        .sd-grid-item__actions {
            visibility: visible;
        }
        .sd-grid-item__remove  {
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
        }
        .sd-grid-item__checkbox {
            visibility: visible;
            .sd-check-new__wrapper {
                visibility: visible;
            }

        }
    }
    &.sd-grid-item--selected, &.selected {
        .sd-grid-item__checkbox {
            visibility: visible;
        }
        &:hover {
            .sd-grid-item__checkbox {
                visibility: visible;
            }
        }
    }
    &.sd-grid-item--overflow-v {
        overflow: visible;
        .sd-grid-item__thumb {
            overflow: visible;
        }
    }

    .sd-grid-item__thumb {
        position: relative;
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;        
        background-color: $sd-grid-item-thumb-bg;
        padding: 0;
        min-height: 4rem;
        color: $white;
        @include border-radius (2px 2px 0 0);
        width: 100%;
        position: relative;
        height: 14rem;
        overflow: hidden;
        text-align: center;
        img {
            max-width: 100%;
            max-height: 100%;;
            height: auto;
            margin: auto;
            pointer-events: none;
            transition: filter ease-in-out 0.3s;
        }
        .sd-grid-item__type-icon {
            margin: auto;
            height: 4.8rem;
            width: 4.8rem;
            font-size: 4.8rem;
            line-height: 4.8rem;
            color: currentColor;
            opacity: 0.25; 
        }
        &--white {
            background-color: $white;
            color: $sd-text;
            box-shadow: 0 1px 0 rgba(136, 136, 136, 0.25);
        }
        &:hover {
            img {
                filter: brightness(40%);
            }
        }
        &--uploading {
            img {
                filter: brightness(40%);
            }
        }
    }
    .sd-grid-item__progress {
        z-index: 2;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0.4rem;
        background-color: rgba(0, 0, 0, 0.4); 
    }
    .sd-grid-item__progress-circle {
        z-index: 2;
        position: absolute;
        height: 5.6rem;
        width: 5.6rem;
        top: 50%;
        margin-top: -2.8rem;
        border-radius: 50%;
        background-color: rgba(0,0,0,0.3);
        padding: 0.2rem;
    }
    .sd-grid-item__progress-bar {
        display: block;
        height: 0.4rem;
        width: 0%; 
        background-color: $green;
        top: 50
    }

    .sd-grid-item--element-grow {
        flex-grow: 1;
    }
    .sd-grid-item__content-block {
        flex-grow: 0;
    }

    .sd-grid-item__content {
        padding: 1.2rem;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        position: relative;
        h4 {
            text-transform: uppercase;
            font-size: 11px;
            color: rgba(0,0,0,.5);
            letter-spacing: 0.04em;
            margin-bottom: 4px;
            &.with-value {
                margin-bottom: 0;
            }
            .label {
                float: right;
                height: 15px;
                margin: auto 0;
                padding: 3px 5px 0;
                border-radius: 8px;
                color: rgba(255,255,255,1);
                background: rgba(0,0,0,.25);
                font-size: 10px;
                line-height: 100%;
                letter-spacing: .06em;
                font-weight: 400;
            }
            .value-label {
                float: right;
                font-size: 13px;
                color: #333;
                font-weight: 400;
                text-transform: none;
                letter-spacing: 0em;
            }
            &.sd-grid-item__h4--normal-case {
                font-size: 12px;
                text-transform: initial;
            }
        }
        &--scrollable {
            max-height: 20vh;
            overflow-y: auto;
        }
    }
    .sd-grid-item__placeholder {
        padding: 16px;
        flex-grow: 1;
        height: calc(100% - 48px);
        display: flex;
        align-items: center;
        justify-content: center;
        color: $grayLight;
        font-weight: 300;
        font-size: 1.2rem;
        &--cursorPointer {
            cursor: pointer;
        }
    }

    .sd-grid-item__article-header {
        padding: 1.6rem;
    }
    .sd-grid-item__time-date {
        font-size: 11px;
        color: #ababab;
        font-weight: 300;
        &--reverse-color {
            color: rgba(255,255,255, 0.6);
        }
    }

    .sd-grid-item__footer {
        padding: 0.4rem 0.2rem;
        border-top: 1px solid #dedede8c;
        display: flex;
        flex-direction: row;
        align-items: center;
        min-height: 3.7rem;
        flex-shrink: 0;
        @include border-radius (0 0 2px 2px);
        &--light {
            background-color: $white;
        }
        &--right-align {
            justify-content: flex-end;
        }
        &--spread {
            justify-content: space-between;
        }
        &--padded {
            padding: 0.4rem 1.2rem;
        }
        .sd-grid-item__footer-block {
            &--multi-l {
                flex-grow: 1;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-left: 0.4rem;
            }
            &--multi-r {
                flex-grow: 1;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                padding-right: 0.4rem;
            }
            &--single-r {
                flex-grow: 0;
            }
        }
        .sd-grid-item__footer-block-item {
            margin: 0 0.4rem;
            flex-shrink: 0;
        }
        time {
            display: inline-block;
        }
    }

    .sd-grid-item__full-click {
        position: absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
        z-index: 2;
    }

    .sd-grid-item__file-type-icn {
        color: $white;
        font-size: 5.2rem;
        height: 5.2rem;
        width: 5.2rem;
        padding-top: 8.5rem;
        opacity: 0.5;
    }

    .sd-grid-item__type-icn {
        opacity: 0.75;
    }

    .sd-grid-item__slugline {
        color: $sd-slugline;
        font-weight: 500;
        font-size: 1.1rem;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin-right: 1rem;
    }
    .sd-grid-item__title {
        font-weight: 400;
        letter-spacing: 0.03em;
        font-size: 1.4rem;
        margin-bottom: 1rem;
        word-break: break-all;
    }

    .sd-grid-item__text-light {
        font-weight: 300;
        font-size: 1.2rem;
        letter-spacing: 0.04em;
        opacity: 0.7;
    }

    time {
        display: block;
        color: #747474;
        font-size: 1.2rem;
        letter-spacing: 0.025em;
        flex-shrink: 0;  
    }
    p {
        margin-bottom: 1rem;
        &.error {
            margin: auto;
            padding: 1.2rem;
            opacity: 0.75;
            color: $red;
        }
    }
    &--small {
        .sd-grid-item__thumb {
            height: 10rem;
        }
    }
    .sd-grid-item__state-border {
        height: 3px;
        flex-grow: 0;
        flex-shrink: 0;
        background: none;
    }
    &.locked, &--locked {
        .sd-grid-item__state-border {
            background: $red;
        }
    }
    &.archived, &--archived {
        .sd-grid-item__content {
            //position: relative;
            &:after {
                content: "";
                width: 9.2rem;
                height: 9.2rem;
                position: absolute;
                background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMTYiIGhlaWdodD0iMTE2IiB2aWV3Qm94PSIwIDAgMTE2IDExNiI+PHBhdGggZmlsbD0iIzdCN0I3QiIgZD0iTTU4IDBDMjYgMCAwIDI2IDAgNThzMjYgNTggNTggNTggNTgtMjYgNTgtNThTOTAgMCA1OCAwem0zNy4xIDM4LjhMNDYuMyA4Ny42Yy0uNS41LTEuMi41LTEuNyAwTDE4LjkgNjEuOGMtLjUtLjUtLjUtMS4yIDAtMS43bDguMi04LjJjLjUtLjUgMS4yLS41IDEuNyAwTDQ1IDY4LjFjLjMuMy44LjMgMS4xIDBsMzkuMi0zOS4yYy41LS41IDEuMi0uNSAxLjcgMGw4LjIgOC4yYy40LjUuNCAxLjItLjEgMS43eiIvPjwvc3ZnPg==) no-repeat;
                background-size: 11.6rem;
                background-position: 0 0;
                bottom: 0;
                right: 0rem;
                opacity: 0.14;
            }
        }
    }   
}

.sd-grid-item__text-label {
    font-weight: 300;
    font-style: italic;
    margin-right: 0.3rem;
    opacity: 0.7;
}
.sd-grid-item__text-strong {
    font-weight: 400;
}


.sd-grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 2rem;
    margin: 2.4rem;
    &--small {
        grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
        grid-gap: 1.6rem;
        margin: 2rem;
    }
    &--medium {
        grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    }
    &--large {
        grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
    }
    &--no-rl-margin {
        margin-left:0;
        margin-right: 0;
    }
    &--small-margin {
        margin: 1rem;
    }
    &--no-margin {
        margin: 0;
    }
    &--auto-fit {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
    &--gap-l {
        grid-gap: 3.2rem;
    }
    &--gap-xl {
        grid-gap: 4rem;
    }


}

.dark-ui {
    &.sd-column-box__main-column {
        background-color: #444;
    }
    .sd-column-box__main-column {
        background-color: #444;
    }
    .sd-grid-item {
        background-color: $sd-grid-item-Bg-darkUI;
        color: rgba(255,255,255, 0.6);
        box-shadow: $sd-grid-item-shadow-darkUI;
        .sd-grid-item__thumb {
            background-color: #212121;
        }
        .sd-grid-item__footer {
            border-top: 1px solid rgba(255,255,255,0.03);
            color: rgba(255,255,255, 0.6);
        }
        .sd-grid-item__content {
            color: rgba(255,255,255, 0.6);
        }
        .sd-grid-item__slugline {
            color: $sd-slugline-darkUI;
        }
        .sd-grid-item__type-icn {
            color: $white;
        }
        .sd-grid-item__text-label {
            color: #fff;
            opacity: 0.4;
        }
        .sd-grid-item__text-strong {
            color: #fff;
            opacity: 0.5;
        }
        &--activated {
            background-color: $sd-grid-item-Bg-darkUI-activated;
            &:hover {
                background-color: darken($sd-grid-item-Bg-darkUI-activated, 2%);
            }
        }
        &--with-click {
            &:hover {
                box-shadow: $sd-grid-item-shadow-darkUI-hover;
                background-color: lighten($sd-grid-item-Bg-darkUI, 2%);
            }
            &.sd-grid-item--activated {
                &:hover {
                    background-color: darken($sd-grid-item-Bg-darkUI-activated, 2%);
                }
            }
            &.sd-grid-item--selected, &.selected  {
                background-color: $sd-grid-item-Bg-darkUI-selected;
                &:hover {
                    background-color: darken($sd-grid-item-Bg-darkUI-selected, 2%);
                }
            }
            &:active {
                box-shadow: $sd-grid-item-shadow-darkUI-activated;
            }
        }
        &.actioning {
            &::before {
                background-color: rgba(51, 51, 51, 0.85);
            }
        }
    }
}

.sd-grid-item-wrapper {
    display: flex;
    flex-direction: column;
}
.sd-grid-item-header {
    padding: 4px 0;
    margin-bottom: 6px;
    border-bottom: 5px solid #4d4d4d;
    display: flex;

    &__heading {
        color: $grayDarker;
        font-size: 15px;
        font-weight: 500;
        flex-grow: 1;

        & + div {
            margin-left: 8px;
        }

        a {
            text-decoration: none;
            color: inherit;

            span {
                border-bottom: 1px dotted $sd-blueMedium;
            }

            [class^="icon-"],
            [class*=" icon-"] {
                color: $sd-blueMedium;
                margin-left: 8px;
            }

            &:hover {
                span {
                    border-bottom-style: solid;
                }
            }
        }
    }
}