.sd-notification-panel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    position: fixed;
    color: var(--color-text);
    inset-block-start: $nav-height;
    inset-block-end: 3.2rem;
    inset-inline-end: -336px;
    width: 32rem;
    background: hsla(218, 13%, 12%, 0.82);
    backdrop-filter: blur(6px);
    box-shadow: 0 2px 12px hsla(0, 0%, 0%, 0.32), 0 1px 4px hsla(0, 0%, 0%, 0.32), 0 0 0 1px var(--sd-colour-line--light);
    z-index: 100;
    transition: inset-inline-end 0.2s ease;
    border-radius: var(--b-radius--x-large);
    margin: 12px 0;
    &.sd-notification-panel--open {
        inset-inline-end: 12px;
    }
}

.sd-notification-panel__header {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    height: $nav-height;
    border-bottom: 1px solid var(--sd-colour-line--light);
    padding-inline: $sd-base-increment * 2 $sd-base-increment;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sd-notification-panel__title {
    font-size: 16px;
    color: var(--color-text);
    font-weight: 300;
    margin-inline-end: auto;
    padding-inline-end: $sd-base-increment;
}

.sd-notification-panel__content {
    grid-row: 2 / 2;
    grid-column: 1 / 2;
    overflow-y: auto;
    position: relative;
    padding: $sd-base-increment * 2;
}