// Large Searchbar
// -----------------------------------------------------

// Large searchbar is usualy used inside the 'subnav' component, hence the flex-grow property;

.sd-searchbar {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    position: relative;
    background-color: transparent;
    transition: all 0.2s ease-out;
    height: 100%; // adapts to the height of the parent element, usually .subnav. 
    max-height: $subnav-height;
    &--focused {
        background-color: $white;
        box-shadow: inset 0 0 0 1px scale-color($sd-colour-interactive__base, $alpha: -50%), inset 0 0 0 6px scale-color($sd-colour-interactive__base, $alpha: -85%);
    }
    &--border-r {
        border-right: 1px solid #dfdfdf;
    }
    &--border-l {
        border-left: 1px solid #dfdfdf;
    }
    &--border-l-r {
        border-right: 1px solid #dfdfdf;
        border-left: 1px solid #dfdfdf;
    }
    &--border-bottom {
        border-bottom: 1px solid rgba(123,123,123,0.2);
    }
    &--small {
        height: 3.6rem;
    }
    &--boxed {
        height: 4rem;
        border-radius: $border-radius__base--medium;
        border: 1px solid rgba(123,123,123,0.4);
        background-color: $white;
        box-shadow: inset 0 2px 4px rgba(0,0,0,0.14);
        &:hover {
            border-color: rgba(123,123,123,0.6);
        }
        &.sd-searchbar--focused {
            border-color: scale-color($sd-colour-interactive__base, $alpha: 0.75);
            box-shadow: inset 0 0 0 1px scale-color($sd-colour-interactive__base, $alpha: -90%), inset 0 0 0 4px scale-color($sd-colour-interactive__base, $alpha: -90%);

        }
        &.sd-searchbar--invalid {
            border-color: rgba(229, 28, 35, 0.75);
            box-shadow: inset 0 0 0 1px rgba(229,28,35,0.1), inset 0 0 0 4px rgba(229,28,35,0.1);

        }
        &.sd-searchbar--disabled {
            opacity: 0.5;
            cursor: not-allowed !important;
            .sd-searchbar__input {
                cursor: not-allowed !important;
            }
            &:hover {
                border-color: rgba(123,123,123,0.4);
            }
        }
    }
}
.sd-searchbar__input, input[type="text"].sd-searchbar__input, input[type="search"].sd-searchbar__input {
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 1.4rem;
    padding: 0;
    color: inherit;
    align-self: auto;
    background-color: transparent;
    border: 0;
    box-shadow: none !important;
    padding-right: 1rem;
    height: auto;
    &::placeholder {
        color: $grayLight;
        font-weight: 300;
        letter-spacing: 0.03rem;
    }
}

.sd-searchbar__icon {
    flex-grow: 0;
    flex-shrink: 1;
    align-self: auto;
    width: $subnav-height;
    position: relative;
    opacity: 0.4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &::after {
        content:"\e618";
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-family: 'sd_icons';
        font-size: 16px;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
}
.sd-searchbar--boxed {
    .sd-searchbar__icon {
        width: 4rem;
        margin-right: 0;
    }

}
.sd-searchbar__search-btn {
    height: 2.8rem;;
    width: 2.8rem;;
    flex-grow: 0;
    flex-shrink: 0;
    align-self: center;
    margin: 0 0.8rem 0 0;
    padding: 0;
    opacity: 0.6;
    transition: all 0.2s ease-out;
    background-color: scale-color($sd-colour-interactive__base, $alpha: -65%);
    border-radius: $border-radius__base--full;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
        transition: color 0.2s ease-out;
        color: $sd-colour-interactive__base;
    }
    &:hover {
        background-color: scale-color($sd-colour-interactive__base, $alpha: -30%);
        i {
            color: $white;
        }
    }
    &:active {
        background-color: scale-color($sd-colour-interactive__base, $alpha: -4%);
        i {
            color: $white;
        }
    }
}
.sd-searchbar__cancel {
    height: 1.6rem;
    width: 1.6rem;
    align-self: center;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 1rem 0 0;
    padding: 0;
    opacity: 0.35;
    transition: opacity 0.2s ease-out;
    color: currentColor;
    i {
        color: inherit; 
    }
    &:hover {
        opacity: 0.7;
    }
    &:active {
        opacity: 1;
    }
}
.sd-searchbar__message-box {
    font-size: 1.3rem;
    line-height: 1.4rem;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    color: $grayText;
    font-weight: 300;
    margin: 0.5rem 0;
    letter-spacing: 0.03em;
    display: block;
    margin-top: 8px;
    .sd-searchbar__message {
        color: $red;
    }
}

.subnav--dark-ui {
    .sd-searchbar--focused {
        background-color: rgba(0,0,0,0.25);
    }
    .sd-searchbar__search-btn {
      [class^="big-icon--"],
      [class*=" big-icon--"] {
        color: $white;
      }
    }
}

.flat-searchbar {
    flex-grow: 0;
    .search-handler {
        min-width: 48px;
        height: $nav-height;
        padding: 10px 10px 10px 14px;
        background: none;
        display: flex;
        border-right: 1px solid #e0e0e0;
        white-space: nowrap;
        @include transition(all, 0.3s, ease);
        input {
            height: 28px;
            line-height: 100%;
            font-size: 14px;
            border: 0 !important;
            width: 0;
            padding: 0;
            background-color: rgba(255,255,255,0);
            @include transition(all, 0.3s, ease);
            &:focus {
                @include box-shadow(0, 0, 0, 0, #FFF);
            }
        }
        .trigger-icon {
            @include user-select(none);
            width: 28px;
            height: 28px;
            display: inline-block;
            @include opacity(50);
            &:hover {
                cursor: pointer;
                @include opacity(80);
            }
            i {
                padding: 7px 3px 4px 6px;
            }
        }
        &--left-border {
            border-right: 0 !important;
            border-left: 1px solid #e0e0e0;
        }
    }
    .separator-handler {
        margin: 9px 0 0 5px;
        border-right: 2px dotted #bcbcbc;
        height: 30px;
        float: left;
    }

    .search-close {
        border: 0;
        background: none;
        display: none;
        @include opacity(0);
        &.visible {
            @include opacity(40);
            &:hover {
                @include opacity(100);
            }
        }
    }

    &.extended {
        flex-grow: 1;
        background-color: white;
        .search-handler {
            input {
                width: auto;
                padding: 0 6px;
                flex-grow: 1;
            }
            border-right: 1px solid #e0e0e0;
        }
        .separator-handler {
            margin-left: 14px;
        }
        .search-close {
            display: inline-block;
        }
    }
}

[data-theme="dark-ui"] {
    .sd-searchbar--boxed {
        background-color: rgba(0,0,0,0.2);
        box-shadow: inset 0 2px 4px rgba(0,0,0,0.4);
        &.sd-searchbar--focused {
            border-color: rgba(61,143,177,0.75);
            background-color: rgba(0,0,0,0.25) !important;
            box-shadow: inset 0 0 0 1px rgba(61,143,177,0.2), inset 0 0 0 4px rgba(61,143,177,0.16);
        }

    }
} 
