.sd-collapse-box {
    display: flex;
    flex-direction: column;
    border-radius: $border-radius__base--small;
    position: relative;
    margin-block-end: 1rem;
    border: 1px solid var(--sd-colour--shadow-line--m);

    .sd-collapse-box__header {
        display: block;
        flex-grow: 0;
        position: relative;
        min-height: 3.8rem;
        animation: fadeIn 0.3s ease-in 0s 1;    
    }

    .sd-collapse-box__tools {
        position: absolute;
        inset-inline-end: 1rem;
        inset-block-start: 0.8rem;
        z-index: 2;
        color: var(--color-icon-default);

        .sd-collapse-box__collapse-btn {
            flex-grow: 1;
            color: var(--color-icon-default);

            &:hover {
                .icn-btn {
                    background-color: hsla(214, 13%, 60%, 0.25);
                    color: $white;
                    opacity: 1;
                }
            }

            &:active {
                .icn-btn {
                    background-color: hsla(214, 13%, 70%, 0.25);
                    color: $sd-colour-interactive;
                    opacity: 1;
                }
            }
        }
    }

    .sd-collapse-box__tools--flex {
        position: relative;
        inset-inline-end: 0;
        inset-block-start: 0;
        display: flex;
        flex-direction: row;
        margin: -1.4rem -1rem;
    }

    .sd-collapse-box__content-wraper {
        flex-grow: 1;
        position: relative;
        transition: all ease-in-out .4s;
        max-height: 0;
    }

    .sd-collapse-box__content {
        padding: 2rem;
        display: none;
        animation: fadeIn 0.3s ease-in 0s 1;
    }

    .sd-collapse-box__content--border-locked {
        border-inline-start: 4px solid $red;
    }

    .sd-collapse-box__content--border-success {
        border-inline-start: 4px solid $green;
    }

    .sd-collapse-box__content-block { // place inside .sd-collapse-box__content
        padding: 1rem;
        margin: 0 -2rem 3rem -2rem;
    }

    .sd-collapse-box__content-block--top {
        margin-block-start: 2.2rem;
    }
}

.sd-collapse-box--open {
    .sd-collapse-box__content-wraper {
        max-height: 80rem;
    }

    .sd-collapse-box__content {
        display: block;
        animation: fadeIn 0.3s ease-in 0s 1;
    }

    .sd-collapse-box__header {
        display: none;
        animation: fadeIn 0.3s ease-in 0s 1;    
    }
}

.sd-collapse-box--margin-small {
    margin-block-end: 0.5rem;
}

.sd-collapse-box__content, .sd-collapse-box__content-block {
    .form__row:last-of-type {
        padding-block-end: 0;
    }
}

.sd-collapse-box__sliding-toolbar-wrapper {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    height: 4.6rem;
    overflow: hidden;
    border-radius: $border-radius__base--x-small $border-radius__base--x-small 0 0;
}

.sd-collapse-box__sliding-toolbar {
    position: absolute;
    display: flex;
    align-items: center;
    inset-block-start: 0;
    height: 4.2rem;
    inset-inline-start: 0;
    inset-inline-end: 0;
    z-index: 3;
    padding: 0 16px;
    color: var(--color-text);
    animation: dropOut2 0.3s cubic-bezier(0.695, 0.105, 0.285, 1.275) 1;
    background-color: var(--sd-colour-bg__sliding-toolbar);
    box-shadow: var(--sd-shadow__sliding-toolbar);
    
    .sliding-toolbar__inner {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }
}

// NEW COLLAPSE BOX
.new-collapse-box {
    --collapse-box-clor-bg: var(--sd-colour-panel-bg--100);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 0fr auto;
    border-radius: var(--b-radius--small);
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease;
    outline: 1px solid var(--sd-colour-line--x-light);
}
.new-collapse-box__header {
    grid-row: 1 / 2;
    height: auto;
    padding: 0;
    overflow: hidden;
    transition: all 0.2s ease;
    .hide-on-open {
        display: none;
    }
}
.new-collapse-box__content {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    overflow: hidden;
    padding-block: 0;
    background-color: var(--sd-colour-panel-bg--100);
    transition: grid-template-rows 0.2s ease;
}
.new-collapse-box {
    &.new-collapse-box--open {
        grid-template-rows: auto 1fr auto;
        .new-collapse-box__content {
            > .new-collapse-box__content-inner {
                overflow-y: auto;
                .new-collapse-box { // Nested -- collapse-box inside a parent collapse-box
                    &.new-collapse-box--open {
                        .new-collapse-box__content {
                            .new-collapse-box__content-inner {
                                animation: fadeIn2 0.3s ease-in 0s 1;
                            }
                        }
                    }
                }
            }
        }
        &:focus-within {
            outline-color: var(--sd-colour-interactive);
        }
    }
    .sd-list-item {
        border-radius: var(--b-radius--small) var(--b-radius--small) 0 0;

        + .sd-list-item {
            border-block-start: none;
        }

        .sd-list-item__border {
            border-radius: var(--b-radius--small) 0 0 0;
        }
    }
}
.new-collapse-box__divider {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 100%;
    background: linear-gradient(to bottom, transparent 50%, var(--collapse-box-clor-bg) 50%);
    padding-inline: 0;
    margin-inline: 0;
    margin-block-start: -9px;
    margin-block-end: 8px;
    border-block-start: 0;
    border-block-end: 0;
    border-inline-start: 0;
    border-inline-end: 0;
    border-block-start-color: var(--sd-colour-line--light);
    border-style: solid;
    &::before,
    &::after {
        content: "";
        position: relative;
        inset-block-start: 50%;
        width: 50%;
        border-block-start: 1px solid transparent;
        border-top-color: transparent;
        border-top-color: inherit;
        border-block-end: 0;
        border-inline-start: 0;
        border-inline-end: 0;
        transform: translateY(50%);
        border-style: inherit;
    }
    .new-collapse-box__divider-label {
        background-color: var(--collapse-box-button-color-bg-default);
        color: var(--collapse-box-button-color-fg-default);
        transition: all 0.2s ease;
    }
    &:hover {
        border-block-start-color: var(--sd-colour-line--medium);
        .new-collapse-box__divider-label {
            background-color: var(--collapse-box-button-color-bg-hover);
            color: var(--collapse-box-button-color-fg-hover);
            transition: all 0.2s ease;
        }           
    }
}

.new-collapse-box {
    > .new-collapse-box__header  {
        .new-collapse-box__header-inner {
           transition: all .2s ease;
           min-height: auto;
           .hide-on-open {
                animation: appear .2s;
                display: flex;
                opacity: 1;
           }
       }
   }
    &.new-collapse-box--open {
        > .new-collapse-box__header  {
             .new-collapse-box__header-inner {
                min-height: var(--space--4);
                background-color: var(--sd-item__main-Bg);
                .hide-on-open {
                    display: none;
                    opacity: 0;
                    animation: vanish .2s;
                }
            }
        }
    }
}

