.comment-box__reply-item {
    border-bottom: 1px solid rgba(123,123,123,0.2);
}

.comment-box__input {
    padding: 0.4rem;
    border-radius: 2px;
    border: 1px solid rgba(123,123,123,0.4);
    height: 2.8rem;
    resize: none;
}
.comment-box__reply-toolbar {
    display: none;
    padding-top: 1rem;
    &--active {
        display: block;
    }
}
.comment-box__button-toolbar {
    margin-top: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    &--right {
        justify-content: flex-end;
    }
    &--small {
        margin-top: 0.6rem;
    }
}
