

.sd-collapse-box {
    display: flex;
    flex-direction: column;
    border-radius: $border-radius__base--small;
    position: relative;
    margin-bottom: 1rem;
    border: 1px solid var(--sd-colour--shadow-line--m);
    .sd-collapse-box__header {
        display: block;
        flex-grow: 0;
        position: relative;
        min-height: 3.8rem;
        animation: fadeIn 0.3s ease-in 0s 1;    
    }
    .sd-collapse-box__tools {
        position: absolute;
        right: 1rem;
        top: 0.8rem;
        z-index: 2;
        color: var(--color-icon-default);
        &--flex {
            position: relative;
            right: 0;
            top: 0;
            display: flex;
            flex-direction: row;
            margin: -1.4rem -1rem;
        }
        .sd-collapse-box__collapse-btn {
            flex-grow: 1;
            color: var(--color-icon-default);
            &:hover {
                .icn-btn {
                    background-color: hsla(214, 13%, 60%, 0.25);
                    color: $white;
                    opacity: 1;
                }
            }
            &:active {
                .icn-btn {
                    background-color: hsla(214, 13%, 70%, 0.25);
                    color: $sd-colour-interactive;
                    opacity: 1;
                }
            }
        }
    }

    .sd-collapse-box__content-wraper {
        flex-grow: 1;
        position: relative;
        transition: all ease-in-out .4s;
        max-height: 0;
    }
    .sd-collapse-box__content {
        padding: 2rem;
        display: none;
        animation: fadeIn 0.3s ease-in 0s 1;

        &--border-locked {
            border-left: 4px solid $red;
        }
        &--border-success {
            border-left: 4px solid $green;
        }
    }
    .sd-collapse-box__content-block { // place inside .sd-collapse-box__content
        padding: 1rem;
        margin: 0 -2rem 3rem -2rem;
        &--top {
            margin-top: 2.2rem;
        }
    }

    &--open {
        .sd-collapse-box__content-wraper {
            max-height: 80rem;
        }
        .sd-collapse-box__content {
            display: block;
            animation: fadeIn 0.3s ease-in 0s 1;
        }
        .sd-collapse-box__header {
            display: none;
            animation: fadeIn 0.3s ease-in 0s 1;    
        }
    }
    &--margin-small {
        margin-bottom: 0.5rem;
    }

}

.sd-collapse-box__content, .sd-collapse-box__content-block {
    .form__row:last-of-type {
        padding-bottom: 0;
    }
}

.sd-collapse-box__sliding-toolbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4.6rem;
    overflow: hidden;
    border-radius: $border-radius__base--x-small $border-radius__base--x-small 0 0;
}
.sd-collapse-box__sliding-toolbar {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    height: 4.2rem;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 0 16px;
    color: var(--color-text);
    animation: dropOut2 0.3s cubic-bezier(0.695, 0.105, 0.285, 1.275) 1;
    background-color: var(--sd-colour-bg__sliding-toolbar);
    box-shadow: var(--sd-shadow__sliding-toolbar);
    .sliding-toolbar__inner {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }
}
