// Animated loader

.sd-loader {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    background-image: url(../img/three-dots.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60px;
    background-color: var(--sd-colour-overlay-actioning);
}
