@import '../variables/_colors.scss';

.progress-bar-container {
    display: inline-block;
    position: relative;

    .progress-text {
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 30px;
        font-family: arial;
        color: #666;
        z-index: 1;
    }

    .progress-text em {
        font-size: 14px;
        font-style: normal;
    }
}

.progress-svg {
    width: 200px;
    height: 200px;
    transform: rotate(-90deg);

    circle {
        stroke: #e5e5e5;
        stroke-width: 12;
        fill: #fafafa;
    }

    .progressbar {
        stroke: $sd-green;
        fill: transparent;
        transition: all .5s;
    }
}
