// Large Searchbar

// Large searchbar is usualy used inside the 'subnav' component, hence the flex-grow property;

.sd-searchbar {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    position: relative;
    background-color: transparent;
    transition: all 0.2s ease-out;
    height: 100%; // adapts to the height of the parent element, usually .subnav. 
    max-height: $subnav-height;
}

.sd-searchbar--focused {
    background-color: var(--sd-colour-bg__searchbar);
    box-shadow: inset 0 0 0 1px var(--sd-colour-interactive--alpha-50), inset 0 0 0 6px var(--sd-colour-interactive--alpha-20);
}

.sd-searchbar--border-r {
    border-right: 1px solid var(--sd-colour-line--x-light);
}

.sd-searchbar--border-l {
    border-left: 1px solid var(--sd-colour-line--x-light);
}

.sd-searchbar--border-l-r {
    border-right: 1px solid var(--sd-colour-line--x-light);
    border-left: 1px solid var(--sd-colour-line--x-light);
}

.sd-searchbar--border-bottom {
    border-bottom: 1px solid var(--sd-colour-line--light);
}

.sd-searchbar--small {
    height: 3.6rem;
}

.sd-searchbar--boxed {
    height: 4rem;
    border-radius: $border-radius__base--medium;
    border: 1px solid var(--color-border-line--medium);
    background-color: var(--sd-colour-bg__searchbar);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.14);
    transition: box-shadow 0.2s ease-out;

    &:hover {
        border-color: rgba(123,123,123,0.6);
    }

    &.sd-searchbar--focused,
    &:focus-within {
        transition: box-shadow 0.2s ease-out;
        border-color: var(--sd-colour-interactive--alpha-70);
        box-shadow: inset 0 0 0 1px var(--sd-colour-interactive--alpha-50), inset 0 0 0 4px var(--sd-colour-interactive--alpha-20);

    }

    &.sd-searchbar--invalid {
        border-color: rgba(229, 28, 35, 0.75);
        box-shadow: inset 0 0 0 1px rgba(229,28,35,0.1), inset 0 0 0 4px rgba(229,28,35,0.1);

    }

    &.sd-searchbar--disabled {
        opacity: 0.5;
        cursor: not-allowed !important;

        .sd-searchbar__input {
            cursor: not-allowed !important;
        }

        &:hover {
            border-color: rgba(123,123,123,0.4);
        }
    }
}

.sd-searchbar__input, input[type="text"].sd-searchbar__input, input[type="search"].sd-searchbar__input {
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 1.4rem;
    padding: 0;
    color: $sd-text;
    align-self: auto;
    background-color: transparent;
    border: 0;
    box-shadow: none !important;
    padding-right: 1rem;
    height: auto;

    &::placeholder {
        color: $sd-text-light;
        font-weight: 300;
        letter-spacing: 0.03rem;
    }
}

.sd-searchbar__icon {
    flex-grow: 0;
    flex-shrink: 1;
    align-self: auto;
    width: $subnav-height;
    position: relative;
    opacity: 0.4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
        content:"\e618";
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-family: 'sd_icons';
        font-size: 16px;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        color: $sd-text;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
}

.sd-searchbar--boxed {
    .sd-searchbar__icon {
        width: 4rem;
        margin-right: 0;
    }
}

.sd-searchbar__search-btn {
    height: 2.8rem;
    width: 2.8rem;
    flex-grow: 0;
    flex-shrink: 0;
    align-self: center;
    margin: 0;
    margin-inline-end: 0.8rem;
    padding: 0;
    opacity: 0.8;
    transition: all 0.2s ease-out;
    background-color: var(--sd-colour-interactive--alpha-30);
    border-radius: $border-radius__base--full;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
        transition: color 0.2s ease-out;
        color: $sd-colour-interactive;
    }

    &:hover {
        background-color: var(--sd-colour-interactive--alpha-80);
        i {
            color: $white;
        }
    }

    &:active {
        background-color: $sd-colour-interactive;
        opacity: 1;
        i {
            color: $white;
        }
    }
}

.sd-searchbar__search-btn--active {
    background-color: $sd-colour-interactive;
    opacity: 1;

    i {
        color: $white;
    }
}

[dir="rtl"] {
    .sd-searchbar__search-btn {
        i.icon-chevron-right-thin {
            transform: rotate(180deg);
        }
    }
}

.sd-searchbar__cancel {
    height: 1.6rem;
    width: 1.6rem;
    align-self: center;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
    margin-inline-end: 1rem;
    padding: 0;
    opacity: 0.35;
    transition: opacity 0.2s ease-out;
    color: currentColor;

    i {
        color: $sd-text; 
    }

    &:hover {
        opacity: 0.7;
    }

    &:active {
        opacity: 1;
    }
}
.sd-searchbar__message-box {
    font-size: 1.3rem;
    line-height: 1.4rem;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    color: $sd-text-light;
    font-weight: 300;
    margin: 0.5rem 0;
    letter-spacing: 0.03em;
    display: block;
    margin-top: 8px;

    .sd-searchbar__message {
        color: $red;
    }
}

[data-theme="dark-ui"] {
    .sd-searchbar--boxed {
        background-color: hsla(0, 0%, 0%, 0.2);
        
        &.sd-searchbar--focused {
            background-color: hsla(0, 0%, 0%, 0.25) !important;
        }

    }
} 
