// Default sd-card  styling
// ---------------------------------------------

$sd-grid-item-thumb-bg: rgba(44,44,44,1);

//background color 
$sd-grid-item-Bg: $white;
$sd-grid-item-Bg-selected: $white;
$sd-grid-item-Bg-activated: #e3f1f6;
//background color - dark UI
$sd-grid-item-Bg-darkUI: $grayDark;
$sd-grid-item-Bg-darkUI-selected: #283237;
$sd-grid-item-Bg-darkUI-activated: #35393b;

//shadows
$sd-grid-item-shadow: 0 1px 4px rgba(0,0,0,.1), 0 1px 5px rgba(0,0,0,.16);
$sd-grid-item-shadow-hover: 0 1px 6px rgba(0,0,0,.16), 0 2px 8px rgba(0,0,0,.26);
$sd-grid-item-shadow-activated: 0 0 4px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.16);
//shadows - dark UI
$sd-grid-item-shadow-darkUI: 0 1px 4px rgba(0, 0, 0, 0.6), 0 1px 5px rgba(0, 0, 0, 0.36);
$sd-grid-item-shadow-darkUI-hover: 0 1px 6px rgba(0, 0, 0, 0.8), 0 1px 10px rgba(0, 0, 0, 0.46);
$sd-grid-item-shadow-darkUI-activated: 0 1px 1px rgba(0, 0, 0, 0.7), 0 1px 3px rgba(0, 0, 0, 0.36);


.sd-grid-item {
    position: relative;
    @include border-radius(2px);
    box-shadow: $sd-grid-item-shadow;
    background-color: $white;
    color: $sd-text;
    // min-height: 12rem;
    display: flex;
    flex-direction: column;
    @include transition(all, 100ms, ease-in);
    &--with-click {
        @include transition(all, 100ms, ease-in);
        cursor: pointer;
        &:hover {
            box-shadow: $sd-grid-item-shadow-hover;
            background-color: darken($sd-grid-item-Bg, 2%);
        }
        &:active {
            box-shadow: $sd-grid-item-shadow-activated;
        }
    }
    &--activated {
        outline: 1px solid scale-color($sd-blue, $alpha: -60%);
        background-color: $sd-grid-item-Bg-activated;
        &:hover {
            background-color: darken($sd-grid-item-Bg-activated, 2%);
        }
    }
    &--selected, &.selected {
        outline: 2px solid $sd-blue;
    }
    .sd-grid-item__actions   {
        margin:0;
        visibility: hidden;
        &--top {
            position: absolute;
            top: 0.8rem;
            right: 0.5rem;
            z-index: 2;
        }
    }

    .sd-grid-item__checkbox {
        visibility: hidden;
        position: absolute;
        top: 0.8rem;
        left: 0.8rem;
        padding: 0.2rem;
        background: rgba(255,255,255,.15);
        border-radius: 2px;
        z-index: 2;
        height: 1.6rem;
        width: 1.6rem;
        border: 2px solid rgba(255,255,255, 0.4);
        outline: 2px solid rgba(0,0,0,.25);
        .sd-check__wrapper {
            position: absolute;
            height: 1.6rem;
            width: 1.6rem;
            margin: 0;
            position: absolute;
            top:-4px;
            left:-2px;
        }

    }

    &:hover {
        .sd-grid-item__actions, 
        .sd-grid-item__checkbox {
            visibility: visible;
        }
    }
    &.sd-grid-item--selected, &.selected {
        .sd-grid-item__checkbox {
            visibility: visible;
        }
        &:hover {
            .sd-grid-item__checkbox {
                visibility: visible;
            }
        }
    }

    
    .sd-grid-item__thumb {
        position: relative;
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;        
        background-color: $sd-grid-item-thumb-bg;
        padding: 0;
        min-height: 4rem;
        color: $white;
        @include border-radius (2px 2px 0 0);
        width: 100%;
        position: relative;
        height: 14rem;
        overflow: hidden;
        text-align: center;
        img {
            max-width: 100%;
            max-height: 100%;;
            height: auto;
            margin: auto;
        }
        .sd-grid-item__type-icon {
            margin: auto;
            height: 4.8rem;
            width: 4.8rem;
            font-size: 4.8rem;
            line-height: 4.8rem;
            color: currentColor;
            opacity: 0.25; 
        }
        &--white {
            background-color: $white;
            color: $sd-text;
            box-shadow: 0 1px 0 rgba(136, 136, 136, 0.25);
        }
    }
    .sd-grid-item--element-grow {
        flex-grow: 1;
    }
    .sd-grid-item__content-block {
        flex-grow: 0;
    }

    .sd-grid-item__content {
        padding: 1.2rem;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        h4 {
            text-transform: uppercase;
            font-size: 11px;
            color: rgba(0,0,0,.5);
            letter-spacing: 0.04em;
            margin-bottom: 4px;
            &.with-value {
                margin-bottom: 0;
            }
            .label {
                float: right;
                height: 15px;
                margin: auto 0;
                padding: 3px 5px 0;
                border-radius: 8px;
                color: rgba(255,255,255,1);
                background: rgba(0,0,0,.25);
                font-size: 10px;
                line-height: 100%;
                letter-spacing: .06em;
                font-weight: 400;
            }
            .value-label {
                float: right;
                font-size: 13px;
                color: #333;
                font-weight: 400;
                text-transform: none;
                letter-spacing: 0em;
            }
            &.sd-grid-item__h4--normal-case {
                font-size: 12px;
                text-transform: initial;
            }
        }
        &--scrollable {
            max-height: 20vh;
            overflow-y: auto;
        }
    }
    .sd-grid-item__placeholder {
        padding: 16px;
        flex-grow: 1;
        height: calc(100% - 48px);
        display: flex;
        align-items: center;
        justify-content: center;
        color: $grayLight;
        font-weight: 300;
        font-size: 1.2rem;
        &--cursorPointer {
            cursor: pointer;
        }
    }

    .sd-grid-item__article-header {
        padding: 1.6rem;
    }
    .sd-grid-item__time-date {
        font-size: 11px;
        color: #ababab;
        font-weight: 300;
        &--reverse-color {
            color: rgba(255,255,255, 0.6);
        }
    }

    .sd-grid-item__footer {
        padding: 0.4rem 0.2rem;
        border-top: 1px solid #dedede8c;
        display: flex;
        flex-direction: row;
        align-items: center;
        min-height: 3.7rem;
        flex-shrink: 0;
        @include border-radius (0 0 2px 2px);
        &--light {
            background-color: $white;
        }
        &--right-align {
            justify-content: flex-end;
        }
        &--spread {
            justify-content: space-between;
        }
        .sd-grid-item__footer-block {
            &--multi-l {
                flex-grow: 1;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-left: 0.4rem;
            }
            &--single-r {
                flex-grow: 0;
            }
            .sd-grid-item__footer-block-item {
                margin: 0 0.4rem;
                flex-shrink: 0;
            }
        }
    }
    .sd-grid-item__full-click {
        position: absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
        z-index: 2;
    }

    .sd-grid-item__file-type-icn {
        color: $white;
        font-size: 5.2rem;
        height: 5.2rem;
        width: 5.2rem;
        padding-top: 8.5rem;
        opacity: 0.5;
    }

    .sd-grid-item__type-icn {
        opacity: 0.4;
    }

    .sd-grid-item__slugline {
        color: $sd-slugline;
        font-weight: 500;
        font-size: 1.1rem;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin-right: 1rem;
    }

    time {
        display: block;
        color: #747474;
        font-size: 1.2rem;
        letter-spacing: 0.025em;
        flex-shrink: 0;  
    }
    p {
        margin-bottom: 1rem;
    }
    &--small {
        .sd-grid-item__thumb {
            height: 10rem;
        }
    }    
}

.sd-grid-item__text-label {
    font-weight: 300;
    font-style: italic;
    margin-right: 0.3rem;
    opacity: 0.7;
}
.sd-grid-item__text-strong {
    font-weight: 400;
}



.sd-grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 2rem;
    margin: 2.4rem;
    &--small {
        grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
        grid-gap: 1.6rem;
        margin: 2rem;
    }
    &--no-rl-margin {
        margin-left:0;
        margin-right: 0;
    }
}

.dark-ui {
    &.sd-column-box__main-column {
        background-color: #444;
    }
    .sd-column-box__main-column {
        background-color: #444;
    }
    .sd-grid-item {
        background-color: $sd-grid-item-Bg-darkUI;
        color: rgba(255,255,255, 0.6);
        box-shadow: $sd-grid-item-shadow-darkUI;
        .sd-grid-item__thumb {
            background-color: #212121;
        }
        .sd-grid-item__footer {
            border-top: 1px solid rgba(255,255,255,0.03);
            color: rgba(255,255,255, 0.6);
        }
        .sd-grid-item__content {
            color: rgba(255,255,255, 0.6);
        }
        .sd-grid-item__slugline {
            color: $sd-slugline-darkUI;
        }
        .sd-grid-item__type-icn {
            color: $white;
        }
        .sd-grid-item__text-label {
            color: #fff;
            opacity: 0.4;
        }
        .sd-grid-item__text-strong {
            color: #fff;
            opacity: 0.5;
        }
        &--activated {
            background-color: $sd-grid-item-Bg-darkUI-activated;
            &:hover {
                background-color: darken($sd-grid-item-Bg-darkUI-activated, 2%);
            }
        }
        &--with-click {
            &:hover {
                box-shadow: $sd-grid-item-shadow-darkUI-hover;
                background-color: lighten($sd-grid-item-Bg-darkUI, 2%);
            }
            &.sd-grid-item--activated {
                &:hover {
                    background-color: darken($sd-grid-item-Bg-darkUI-activated, 2%);
                }
            }
            &.sd-grid-item--selected, &.selected  {
                background-color: $sd-grid-item-Bg-darkUI-selected;
                &:hover {
                    background-color: darken($sd-grid-item-Bg-darkUI-selected, 2%);
                }
            }
            &:active {
                box-shadow: $sd-grid-item-shadow-darkUI-activated;
            }
        }



    }
}