.comment-box__reply-item {
    border-bottom: 1px solid var(--sd-colour-line--light);
}

.comment-box__input {
    padding: 0.4rem;
    border-radius: $border-radius__base--small;
    border: 1px solid var(--sd-colour-line--light);
    height: 2.8rem;
    resize: none;
}
.comment-box__reply-toolbar {
    display: none;
    padding-top: 1rem;
    &--active {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: var(--gap--small);
    }
}
.comment-box__button-toolbar {
    margin-top: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap--small);
    &--right {
        justify-content: flex-end;
    }
    &--small {
        margin-top: 0.6rem;
    }
}
