$sd-toast-height: 4rem !default;
$sd-toast-min-width: 32rem !default;
$sd-toast-max-width: 56rem !default;
$sd-toast-margin: 2rem !default;

$toast-palette: $sd-basic-palette;

$toast-sizes: (
    fixed-s: 32rem,
    fixed-m: 40rem,
    fixed-l: 48rem,
    fixed-xl: 56rem,
);


.sd-toast__container {
    display: flex!important;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 40;
    overflow: hidden;
    padding: 0 20px 20px;
    pointer-events: none;
    &.sd-toast__container--top {
        top: 0;
        bottom: auto;
    }
    &.sd-toast__container--top-left {
        top: 0;
        bottom: auto;
        align-items: flex-start;
    }
    &.sd-toast__container--top-right {
        top: 0;
        bottom: auto;
        align-items: flex-end;
    }
    &.sd-toast__container--bottom {
        flex-direction: column-reverse;
        top: auto;
        bottom: 0;
    }
    &.sd-toast__container--bottom-left {
        flex-direction: column-reverse;
        top: auto;
        bottom: 0;
        align-items: flex-start;
    }
    &.sd-toast__container--bottom-right {
        flex-direction: column-reverse;
        top: auto;
        bottom: 0;
        align-items: flex-end;
    }
}
.sd-toast {
	display: flex;
	align-items: flex-start;
	position: relative!important;
    margin: 2rem 0 0;
    @include sd-padding('1-5');
    border-radius: 3px;
    overflow: hidden;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, .06), 0 2px 4px rgba(0, 0, 0, .12), 0 8px 12px rgba(0, 0, 0, .16);
	background-color: $white;
	min-width: $sd-toast-min-width;
    max-width: $sd-toast-max-width;
    pointer-events: all; 
    &--appear,
    &--enter {
        transform: translateY(-40px); 
        height: 0px;  
    }
    &--appear-active,
    &--enter-active {
        transform: translateY(0);
        transition-property: transform, height;
        transition-duration:.3s;
        transition-timing-function: cubic-bezier(.54, 1.12, .38, 1.11);
        //transition: transform cubic-bezier(.54, 1.12, .38, 1.11) .3s;
        transition-delay: 0;
        -webkit-transition-delay: 0;
    }
    &.sd-toast--appear ~ .sd-toast,
    &.sd-toast--enter ~ .sd-toast {
        transform: translateY(-40px);
    }
    .sd-toast__icon {
        [class^="icon-"] {
            color: inherit;
            display: block;
            margin: 0.6rem 0.4rem 0.6rem 0.6rem;
        }
    }
    &--exit {
        opacity: 1;
        -webkit-filter: blur(0);
        filter: blur(0);
    }
    &--exit-active {
        opacity: 0;
        filter: blur(10px);
        transition-property: opacity, filter;
        transition-duration: .3s;
        transition-timing-function: cubic-bezier(.4, 1, .75, .9);
        transition-delay: 0;
    }
    &.sd-toast--exit ~ .sd-toast {
        transform: translateY(0);
    }
    &.sd-toast--exit-active ~ .sd-toast {
        transform: translateY(-40px);
        transition-property: transform;
        transition-duration: .1s;
        transition-timing-function: cubic-bezier(.4, 1, .75, .9);
        transition-delay: 50ms;
    }

    @each $name, $color in $toast-palette {
        &.sd-toast--#{$name} {
            &::before {
                content: "";
                width: 4px;
                height: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
                background-color: $color;
            }
            .sd-toast__icon {
                color: $color;
            }
        }
    }
    @each $name, $size in $toast-sizes {
        &.sd-toast--#{$name} {
            width: $size;
        }
    }
}

.sd-toast__message {
    flex: 1 1 auto;
    padding: 0.4rem 1.2rem 0.4rem 1.2rem;
    font-size: 1.4rem;
    line-height: 150%;
    color: $grayText;
    p + p {
        margin-top: 0.8rem;

    }
}
.sd-toast__message-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.2rem;
    time {
        font-size: 1.2rem;
        color: $grayLight;
        margin-right: 0.2rem;
    }
    .sd-toast__heading {
        flex-grow: 1;   
    }
}

.sd-toast__heading, h4 {
    font-size: inherit;
    font-weight: 600;
}
.sd-toast__actions {
    flex: 0 0 auto;
    opacity: 0.4;
    margin: -0.2rem -0.4rem 0 0;
}
.sd-toast__icon {
    flex: 0 0 auto;
}
.sd-toast__avatar {
    flex: 0 0 auto;
    margin: 0.6rem 0.4rem 0.6rem 0.6rem;
}

.sd-toast__container--bottom .sd-toast {
    &.sd-toast--enter:not(.sd-toast--enter-active),
    &.sd-toast--enter:not(.sd-toast--enter-active) ~ .sd-toast,
    &.sd-toast--leave-active ~ .sd-toast {
        transform: translateY($sd-toast-margin + $sd-toast-height);
    }
}
