$sd-slider-transition: transform .4s cubic-bezier(.25,.8,.25,1), background-color .4s cubic-bezier(.25,.8,.25,1), opacity .4s cubic-bezier(.25,.8,.25,1);

.sd-slider__range, input[type="range"] {
    width: 100%;
    position: relative;
    height: 0.2rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    background-color: rgba(123, 123, 123, 0.5);
    cursor: pointer;
    user-select: none;
    touch-action: none;
    border: 0;
    padding: 0;
    min-height: 0;
    -webkit-appearance: none;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 1.6rem;
        height: 1.6rem;
        transform: scale(1);
        border-radius: $border-radius__base--full;
        background-color: $sd-colour-interactive;
        transition: $sd-slider-transition;
        touch-action: manipulation;
        cursor: pointer;
        cursor: -webkit-grab;
        cursor: grab;

        &:hover {
            background-color: var(--sd-colour-interactive--darken-10);
        }

        &:active {
            transform: scale(1.4);
            cursor: -webkit-grabbing;
            cursor: grabbing;
        }
    }

    &:focus {
        box-shadow: 0 0 0 1px rgba(123, 123, 123, 0.3);

        &::-webkit-slider-thumb {
            background-color: var(--sd-colour-interactive--darken-10);
        }
    }
}

.sd-slider {
    position: relative;
    height: 0.2rem;
    margin-top: 1.25rem;
    margin-bottom: 2.25rem;
    background-color: rgba(123, 123, 123, 0.5);
    cursor: pointer;
    user-select: none;
    touch-action: none;
    -webkit-appearance: none;
}

.sd-slider__handle {
    position: absolute;
    top: -0.7rem;
    left: 0;
    z-index: 1;
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    transform: scale(1);
    border-radius: $border-radius__base--full;
    background-color: $sd-colour-interactive;
    transition: $sd-slider-transition;
    touch-action: manipulation;
    cursor: pointer;
    cursor: -webkit-grab;
    cursor: grab;

    &:hover {
        background-color: var(--sd-colour-interactive--darken-10);
    }

    &:active, &--active {
        transform: scale(1.4);
        cursor: -webkit-grabbing;
        cursor: grabbing;
    }
}
.sd-slider__focus-ring {
    position: absolute;
    top: -1.4rem;
    left: 0;
    z-index: 0;
    margin-left: -0.7rem;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    transform: scale(0);
    border-radius: $border-radius__base--full;
    background-color: var(--sd-colour-interactive--alpha-30);
    opacity: 0;
    transition: $sd-slider-transition;
    
    &:focus {
        transform: scale(1);
        opacity: 1;
        background-color: var(--sd-colour-interactive--darken-10);
    }
}

.sd-slider__fill {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    max-width: 100%;
    height: 0.2rem;
    background-color: $sd-colour-interactive;
    transition: $sd-slider-transition;
}
