// colors
$editor-neutral-border: 			var(--sd-editor-colour__controls-border);
$editor-neutral-bg: 				var(--sd-editor-colour__controls-bg);
$editor-neutral-color: 				var(--sd-editor-colour__txt);

$editor-styleButton-color: 			var(--sd-editor-colour__txt);
$editor-styleButton-active-color: 	var(--sd-editor-colour__button-txt--active);
$editor-styleButton-size: 			3.2rem;

.Editor3-styleButton {
	color: inherit;
	cursor: pointer;
	margin: 0.4rem 0.2rem;
	height: $editor-styleButton-size;
	min-width: $editor-styleButton-size;
	padding: 0.6rem;
	display: inline-block;
	border-radius: var(--b-radius--medium);
	text-align: center;
	line-height: 1.6rem;
	transition: all 0.2s ease;

	[class*="icon-"] {
		transition: opacity 0.2s ease;
		color: inherit;
		opacity: 0.8;
		vertical-align: middle;
	}

	&:hover {
		background-color: hsla(214, 13%, 60%, 0.25);
		[class*="icon-"] {
			color: inherit;
			opacity: 1;
		}
	}

	.inactive {
		[class*="icon-"] {
			opacity: 0.4;
		}
		&:hover {
			[class*="icon-"] {
				opacity: 0.4;
			}
		}
	}
	
	&.Editor3-activeButton, &.Editor3-activeButton:hover {
		color: var(--color-text-ondark);
		background-color: var(--color-interactive-default);
		[class*="icon-"] {
			opacity: 1;
		}
	}
}

.Editor3-styleButton--short {
	padding-inline-end: 0.2rem;
	margin-inline-end: -1rem;
}
