// colors
$editor-neutral-border: 			var(--sd-editor-colour__controls-border);
$editor-neutral-bg: 				var(--sd-editor-colour__controls-bg);
$editor-neutral-color: 				var(--sd-editor-colour__txt);

$editor-styleButton-color: 			var(--sd-editor-colour__txt);
$editor-styleButton-active-color: 	var(--sd-editor-colour__button-txt--active);
$editor-styleButton-size: 			3rem;

.Editor3-styleButton {
	color: $editor-styleButton-color;
	cursor: pointer;
	margin: 0.4rem 0.2rem;
	height: $editor-styleButton-size;
	min-width: $editor-styleButton-size;
	padding: 0.6rem;
	display: inline-block;
	border-radius: $editor-styleButton-size / 2;
	text-align: center;
	line-height: 1.6rem;

	[class*="icon-"] {
		color: inherit;
		opacity: 0.5;
		vertical-align: middle;
	}

	&:hover {
		[class*="icon-"] {
			color: inherit;
			opacity: 0.9;
		}
	}

	.inactive {
		[class*="icon-"] {
			opacity: 0.2;
		}
		&:hover {
			[class*="icon-"] {
				opacity: 0.2;
			}
		}
	}
	
	&.Editor3-activeButton, &.Editor3-activeButton:hover {
		color: $editor-styleButton-active-color;
		background-color: rgba(0, 0, 0, 0.075);
		[class*="icon-"] {
			opacity: 1;
		}
	}
}

.Editor3-styleButton--short {
	padding-inline-end: 0.2rem;
	margin-inline-end: -1rem;
}
