<section class="docs-page__container">
    <h2 class="docs-page__h2 docs-page__text-align--center">Icon font</h2>
    <p class="docs-page__paragraph docs-page__text-align--center">Small icons are added with custom icon font.<br>
        Example: <code>&lt;i class="icon-photo"&gt;&lt;/i&gt;</code>
    </p>
    <ul class="docs-page__icon-font-list">
        <li><i class="icon-photo"></i><span>icon-photo</span></li>
        <li><i class="icon-video"></i><span>icon-video</span></li>
        <li><i class="icon-map-marker"></i><span>icon-map-marker</span></li>
        <li><i class="icon-slideshow"></i><span>icon-slideshow</span></li>
        <li><i class="icon-text"></i><span>icon-text</span></li>
        <li><i class="icon-file"></i><span>icon-file</span></li>
        <li><i class="icon-calendar"></i><span>icon-calendar</span></li>
        <li><i class="icon-composite"></i><span>icon-composite</span></li>
        <li><i class="icon-audio"></i><span>icon-audio</span></li>
        <li><i class="icon-stream"></i><span>icon-stream</span></li>
        <li><i class="icon-ingest"></i><span>icon-ingest</span></li>
        <li><i class="icon-archive"></i><span>icon-archive</span></li>
        <li><i class="icon-time"></i><span>icon-time</span></li>
        <li><i class="icon-pin"></i><span>icon-pin</span></li>
        <li><i class="icon-expand"></i><span>icon-expand</span></li>
        <li><i class="icon-ascending"></i><span>icon-ascending</span></li>
        <li><i class="icon-descending"></i><span>icon-descending</span></li>
        <li><i class="icon-th"></i><span>icon-th, icon-grid-view</span></li>
        <li><i class="icon-th-list"></i><span>icon-th-list, icon-list-view</span></li>
        <li><i class="icon-pencil"></i><span>icon-pencil</span></li>
        <li><i class="icon-lock"></i><span>icon-lock</span></li>
        <li><i class="icon-retweet"></i><span>icon-retweet</span></li>
        <li><i class="icon-unspike"></i><span>icon-unspike</span></li>
        <li><i class="icon-fullscreen"></i><span>icon-fullscreen</span></li>
        <li><i class="icon-fetch-as"></i><span>icon-fetch-as</span></li>
        <li><i class="icon-search"></i><span>icon-search</span></li>
        <li><i class="icon-star"></i><span>icon-star</span></li>
        <li><i class="icon-star-empty"></i><span>icon-star-empty</span></li>
        <li><i class="icon-multi-star"></i><span>icon-multi-star</span></li>
        <li><i class="icon-th-large"></i><span>icon-th-large</span></li>
        <li><i class="icon-ok"></i><span>icon-ok</span></li>
        <li><i class="icon-zoom-in"></i><span>icon-zoom-in</span></li>
        <li><i class="icon-zoom-out"></i><span>icon-zoom-out</span></li>
        <li><i class="icon-signal"></i><span>icon-signal</span></li>
        <li><i class="icon-filter-large"></i><span>icon-filter-large</span></li>
        <li><i class="icon-trash"></i><span>icon-trash</span></li>
        <li><i class="icon-user"></i><span>icon-user</span></li>
        <li><i class="icon-download"></i><span>icon-download</span></li>
        <li><i class="icon-upload"></i><span>icon-upload</span></li>
        <li><i class="icon-repeat"></i><span>icon-repeat</span></li>
        <li><i class="icon-refresh"></i><span>icon-refresh</span></li>
        <li><i class="icon-list-alt"></i><span>icon-list-alt</span></li>
        <li><i class="icon-plus-large"></i><span>icon-plus-large</span></li>
        <li><i class="icon-picture"></i><span>icon-picture</span></li>
        <li><i class="icon-question-sign"></i><span>icon-question-sign</span></li>
        <li><i class="icon-info-sign"></i><span>icon-info-sign</span></li>                                
        <li><i class="icon-plus-sign"></i><span>icon-plus-sign</span></li>
        <li><i class="icon-minus-sign"></i><span>icon-minus-sign</span></li>
        <li><i class="icon-remove-sign"></i><span>icon-remove-sign</span></li>
        <li><i class="icon-share-alt"></i><span>icon-share-alt</span></li>
        <li><i class="icon-exclamation-sign"></i><span>icon-exclamation-sign</span></li>
        <li><i class="icon-eye-open"></i><span>icon-eye-open</span></li>
        <li><i class="icon-copy"></i><span>icon-copy</span></li>
        <li><i class="icon-comment"></i><span>icon-comment</span></li>
        <li><i class="icon-warning-sign"></i><span>icon-warning-sign</span></li>
        <li><i class="icon-adjust"></i><span>icon-adjust</span></li>
        <li><i class="icon-folder-close"></i><span>icon-folder-close</span></li>
        <li><i class="icon-folder-open"></i><span>icon-folder-open</span></li>
        <li><i class="icon-download-alt"></i><span>icon-download-alt</span></li>
        <li><i class="icon-tasks"></i><span>icon-tasks</span></li>
        <li><i class="icon-globe"></i><span>icon-globe</span></li>
        <li><i class="icon-link"></i><span>icon-link</span></li>
        <li><i class="icon-expand-thin"></i><span>icon-expand-thin</span></li>
        <li><i class="icon-assign"></i><span>icon-assign</span></li>
        <li><i class="icon-dots"></i><span>icon-dots</span></li>
        <li><i class="icon-dots-vertical"></i><span>icon-dots-vertical</span></li>
        <li><i class="icon-backward-thin"></i><span>icon-backward-thin</span></li>
        <li><i class="icon-forward-thin"></i><span>icon-forward-thin</span></li>
        <li><i class="icon-chevron-left-thin"></i><span>icon-chevron-left-thin</span></li>
        <li><i class="icon-chevron-right-thin"></i><span>icon-chevron-right-thin</span></li>
        <li><i class="icon-switches"></i><span>icon-switches</span></li>
        <li><i class="icon-plus-small"></i><span>icon-plus-small</span></li>
        <li><i class="icon-minus-small"></i><span>icon-minus-small</span></li>
        <li><i class="icon-close-small"></i><span>icon-close-small</span></li>    
        <li><i class="icon-post"></i><span>icon-post</span></li>
        <li><i class="icon-external"></i><span>icon-external</span></li>
        <li><i class="icon-chevron-up-thin"></i><span>icon-chevron-up-thin</span></li>
        <li><i class="icon-chevron-down-thin"></i><span>icon-chevron-down-thin</span></li>
        <li><i class="icon-pick"></i><span>icon-pick</span></li>
        <li><i class="icon-revert"></i><span>icon-revert</span></li>
        <li><i class="icon-package-plus"></i><span>icon-package-plus</span></li>
        <li><i class="icon-list-plus"></i><span>icon-list-plus</span></li>
        <li><i class="icon-envelope"></i><span>icon-envelope</span></li>
        <li><i class="icon-heart"></i><span>icon-heart</span></li>
        <li><i class="icon-home"></i><span>icon-home</span></li>
        <li><i class="icon-print"></i><span>icon-print</span></li>
        <li><i class="icon-font"></i><span>icon-font</span></li>
        <li><i class="icon-bold"></i><span>icon-bold</span></li>
        <li><i class="icon-italic"></i><span>icon-italic</span></li>
        <li><i class="icon-underline"></i><span>icon-underline</span></li>                                 
        <li><i class="icon-strikethrough"></i><span>icon-strikethrough</span></li>
        <li><i class="icon-align-left"></i><span>icon-align-left</span></li>
        <li><i class="icon-align-center"></i><span>icon-align-center</span></li>
        <li><i class="icon-align-right"></i><span>icon-align-right</span></li>
        <li><i class="icon-align-justify"></i><span>icon-align-justify</span></li>
        <li><i class="icon-unordered-list"></i><span>icon-unordered-list</span></li>
        <li><i class="icon-indent-left"></i><span>icon-indent-left</span></li>
        <li><i class="icon-indent-right"></i><span>icon-indent-right</span></li>
        <li><i class="icon-ban-circle"></i><span>icon-ban-circle</span></li>
        <li><i class="icon-bell"></i><span>icon-bell</span></li>
        <li><i class="icon-random"></i><span>icon-random</span></li>
        <li><i class="icon-settings"></i><span>icon-settings</span></li>
        <li><i class="icon-package-create"></i><span>icon-package-create</span></li>
        <li><i class="icon-list-menu"></i><span>icon-list-menu</span></li>
        <li><i class="icon-new-doc"></i><span>icon-new-doc</span></li>
        <li><i class="icon-edit-line"></i><span>icon-edit-line</span></li>
        <li><i class="icon-calendar-list"></i><span>icon-calendar-list</span></li>
        <li><i class="icon-collapse"></i><span>icon-collapse</span></li>
        <li><i class="icon-broadcast"></i><span>icon-broadcast</span></li>
        <li><i class="icon-broadcast-create"></i><span>icon-broadcast-create</span></li>
        <li><i class="icon-kill"></i><span>icon-kill</span></li>
        <li><i class="icon-graphic"></i><span>icon-graphic</span></li>
        <li><i class="icon-close-thick"></i><span>icon-close-thick</span></li>
        <li><i class="icon-move"></i><span>icon-move</span></li>
        <li><i class="icon-takes-package"></i><span>icon-takes-package</span></li>
        <li><i class="icon-highlight-package"></i><span>icon-highlight-package</span></li>
        <li><i class="icon-preview-mode"></i><span>icon-preview-mode</span></li>
        <li><i class="icon-unlocked"></i><span>icon-unlocked</span></li>
        <li><i class="icon-code"></i><span>icon-code</span></li>
        <li><i class="icon-cut"></i><span>icon-cut</span></li>
        <li><i class="icon-paste"></i><span>icon-paste</span></li>
        <li><i class="icon-arrow-left"></i><span>icon-arrow-left</span></li>
        <li><i class="icon-arrow-right"></i><span>icon-arrow-right</span></li>
        <li><i class="icon-info-large"></i><span>icon-info-large</span></li>
        <li><i class="icon-help-large"></i><span>icon-help-large</span></li>
        <li><i class="icon-attachment"></i><span>icon-attachment</span></li>
        <li><i class="icon-attachment-large"></i><span>icon-attachment-large</span></li>
        <li><i class="icon-table"></i><span>icon-table</span></li>
        <li><i class="icon-ordered-list"></i><span>icon-ordered-list</span></li>
        <li><i class="icon-heading-1"></i><span>icon-heading-1</span></li>
        <li><i class="icon-heading-2"></i><span>icon-heading-2</span></li>
        <li><i class="icon-heading-3"></i><span>icon-heading-3</span></li>
        <li><i class="icon-heading-4"></i><span>icon-heading-4</span></li>
        <li><i class="icon-heading-5"></i><span>icon-heading-5</span></li>
        <li><i class="icon-heading-6"></i><span>icon-heading-6</span></li>
        <li><i class="icon-quote"></i><span>icon-quote</span></li>
        <li><i class="icon-multiedit"></i><span>icon-multiedit</span></li>
        <li><i class="icon-phone"></i><span>icon-phone</span></li>
        <li><i class="icon-mobile"></i><span>icon-mobile</span></li>
        <li><i class="icon-twitter"></i><span>icon-twitter</span></li>
        <li><i class="icon-facebook"></i><span>icon-facebook</span></li>
        <li><i class="icon-linked-in"></i><span>icon-linked-in</span></li>
        <li><i class="icon-twitter-circle"></i><span>icon-twitter-circle</span></li>
        <li><i class="icon-facebook-circle"></i><span>icon-facebook-circle</span></li>
        <li><i class="icon-linked-in-circle"></i><span>icon-linked-in-circle</span></li>
        <li><i class="icon-recurring"></i><span>icon-recurring</span></li>
        <li><i class="icon-paragraph"></i><span>icon-paragraph</span></li>
        <li><i class="icon-suggestion"></i><span>icon-suggestion</span></li>
        <li><i class="icon-event"></i><span>icon-event</span></li>
        <li><i class="icon-kanban-view"></i><span>icon-kanban-view</span></li>
        <li><i class="icon-subscript"></i><span>icon-subscript</span></li>
        <li><i class="icon-superscript"></i><span>icon-superscript</span></li>
        <li><i class="icon-clear-format"></i><span>icon-clear-format</span></li>
        <li><i class="icon-preformatted"></i><span>icon-preformatted</span></li>
        <li><i class="icon-crop"></i><span>icon-crop</span></li>
        <li><i class="icon-flip-horizontal"></i><span>icon-flip-horizontal</span></li>
        <li><i class="icon-flip-vertical"></i><span>icon-flip-vertical</span></li>
        <li><i class="icon-rotate-right"></i><span>icon-rotate-right</span></li>
        <li><i class="icon-rotate-left"></i><span>icon-rotate-left</span></li>
        <li><i class="icon-business"></i><span>icon-business</span></li>
        <li><i class="icon-paywall"></i><span>icon-paywall</span></li>
        <li><i class="icon-analytics"></i><span>icon-analytics</span></li>
        <li><i class="icon-amp"></i><span>icon-amp</span></li>
        <li><i class="icon-undo"></i><span>icon-undo</span></li>
        <li><i class="icon-redo"></i><span>icon-redo</span></li>
        <li><i class="icon-instagram"></i><span>icon-instagram</span></li>
        <li><i class="icon-play"></i><span>icon-play</span></li>
        <li><i class="icon-stop"></i><span>icon-stop</span></li>
        <li><i class="icon-pause"></i><span>icon-pause</span></li>
        <li><i class="icon-fast_rewind"></i><span>icon-fast_rewind</span></li>
        <li><i class="icon-fast_forward"></i><span>icon-fast_forward</span></li>
        <li><i class="icon-skip_previous"></i><span>icon-skip_previous</span></li>
        <li><i class="icon-skip_next"></i><span>icon-skip_next</span></li>
        <li><i class="icon-add-image"></i><span>icon-add-image</span></li>
        <li><i class="icon-add-gallery"></i><span>icon-add-gallery</span></li>
        <li><i class="icon-text-format"></i><span>icon-text-format</span></li>
        <li><i class="icon-to-uppercase"></i><span>icon-to-uppercase</span></li>
        <li><i class="icon-to-lowercase"></i><span>icon-to-lowercase</span></li>
        <li><i class="icon-arrow-small"></i><span>icon-arrow-small</span></li>
    </ul>
    <h3 class="docs-page__h3 docs-page__text-align--center">Additional icon colors</h3>
    <p class="docs-page__paragraph docs-page__text-align--center">There are 2 custom icon colors, blue and white (for dark backgrounds).<br />Use modifiers icon--blue and icon--white, example:<br /> <code>&lt;i class="icon-photo icon--blue"&gt;&lt;/i&gt;</code></p>
    <ul class="docs-page__icon-font-list">
        <li><i class="icon-photo icon--blue"></i><span>icon-photo</span></li>
        <li class="docs-page__icon-font-list--dark"><i class="icon-video icon--white"></i><span>icon-video</span></li>
    </ul>
</section>