<section class="docs-page__container">
    <h2 class="docs-page__h2">Other form elements</h2>

    <h3 class="docs-page__h3">Form Label</h3>
    <p class="docs-page__paragraph">Usage: As a single element where the syle of the default form label is needed.</p>

    <h4 class="docs-page__h4">Modifiers:</h4>
    <ul>
        <li>
            <p class="docs-page__paragraph">
                <code>.form-label--light</code><br> 
            Lighter gray variation of the form label
            </p>
        </li>
        <li>
            <p class="docs-page__paragraph">
                <code>.form-label--marg-b10</code><br> 
                Adds a bottom margin of 10 pixels.
            </p>
        </li>
        <li>
            <p class="docs-page__paragraph">
                <code>.form-label--block</code><br> 
                The form label has <i>inline-block</i> as the default display property. This modifier changes it to <i>block</i>.
            </p>
        </li>
    </ul>
    <div class="docs-page__code-window" doc-tabs>
        <div class="docs-page__window-bar">
            <a id="example" href="#" class="active">Example</a>
            <a id="markup" href="#">Markup</a>
        </div> 
        <div class="docs-page__window-content">
            <div class="docs-page__code-example">
                <p class="docs-page__paragraph docs-page__paragraph--topMarginL">// Default</p>
                <div class="docs-page__content-row">
                    <span class="form-label">Form label</span>
                </div>
                <p class="docs-page__paragraph">// Light</p>
                <div class="docs-page__content-row">
                    <span class="form-label form-label--light">Form label light</span>
                </div>
            </div>
            <div class="docs-page__code-markup">
                <pre class="prettyprint lang-html linenums">
                    <!-- // Default -->
                    <span class="form-label">Form label</span>
                    <!-- // Light -->
                    <span class="form-label">Form label light</span>
                </pre>
            </div>
        </div>
    </div>
</section>    