<section class="docs-page__container">
    <h2 class="docs-page__h2">Slider control</h2>
    <p class="docs-page__paragraph">Work in progress</p>
    <div class="docs-page__code-window" doc-tabs>
        <div class="docs-page__window-bar">
            <a id="example" href="#" class="active">Example</a>
            <a id="markup" href="#">Markup</a>
        </div> 
        <div class="docs-page__window-content">
            <div class="docs-page__code-example">
                <div class="docs-page__content-row">

                    <div class="sd-slider">
                        <span class="sd-slider__handle" role="slider" tabindex="1"></span>
                        <span class="sd-slider__fill"></span>
                        <span class="sd-slider__focus-ring"></span>
                        <input type="hidden">
                    </div>

                    <input type="range" class="sd-slider__range" min="0" max="100">
                </div>
            </div>
            <div class="docs-page__code-markup">
                <pre class="prettyprint lang-html linenums">


                </pre>
            </div>
        </div>
    </div>
</section>    