<section class="docs-page__container">
    <h2 class="docs-page__h2">Tag labels</h2>
    <p class="docs-page__paragraph">Add the .tag-label class to an element to create a Tag style label. In the code example <code>&lt;span&gt;</code> is used, but any tag will do.</p>
    <div class="docs-page__code-window" doc-tabs>
        <div class="docs-page__window-bar">
            <a id="example" href="#" class="active">Example</a>
            <a id="markup" href="#">Markup</a>
        </div>
        <div class="docs-page__window-content">
            <div class="docs-page__code-example">
                <p class="docs-page__paragraph">// Rounded (default)</p>
                <div class="docs-page__content-row">
                    <div class="tag-label">
                        This is a tag
                        <button class="tag-label__remove"><i class="icon-close-small"></i></button>
                    </div>
                    <div class="tag-label tag-label--darker">
                        This is a another tag
                        <button class="tag-label__remove"><i class="icon-close-small"></i></button>
                    </div>
                    <div class="tag-label tag-label--highlight1">
                        Lorem ipsum
                        <button class="tag-label__remove"><i class="icon-close-small"></i></button>
                    </div>
                    <div class="tag-label tag-label--highlight2">
                        Dolor amet
                        <button class="tag-label__remove"><i class="icon-close-small"></i></button>
                    </div>
                </div>
                <p class="docs-page__paragraph">// Square version</p>
                <div class="docs-page__content-row">
                    <div class="tag-label tag-label--square">
                        This is a square tag
                        <button class="tag-label__remove"><i class="icon-close-small"></i></button>
                    </div>
                    <div class="tag-label tag-label--darker tag-label--square">
                        Lorem ipsum
                        <button class="tag-label__remove"><i class="icon-close-small"></i></button>
                    </div>
                    <div class="tag-label tag-label--highlight1 tag-label--square">
                        Dolor amet
                        <button class="tag-label__remove"><i class="icon-close-small"></i></button>
                    </div>
                </div>
            </div>
            <div class="docs-page__code-markup">
                <pre class="prettyprint lang-html linenums">
                    <span class="tag-label">1</span>
                    <span class="tag-label tag-label--primary">2</span>
                    <span class="tag-label tag-label--success">A</span>
                    <span class="tag-label tag-label--warning">B</span>
                    <span class="tag-label tag-label--alert">6</span>
                </pre>
            </div>
        </div>
    </div>
</section>