<section class="docs-page__container"> 
    <h2 class="docs-page__h2">Text helpers</h2>
    <p class="docs-page__paragraph">
        <span class="label label--large label--no-transform label--alert">Work in progress</span>
    </p>

    <h4 class="docs-page__h4">Font weight and italics</h4>
    <p class="docs-page__paragraph">
        The class names for this are prett much self explanatory so not much explanation is provided.
    </p>
    <ul class="sd-margin-t--2">
        <li>
            <p class="docs-page__paragraph">
                <code>sd-text__normal</code><br>
                // Sets the font style to normal
            </p>
        </li>
        <li>
            <p class="docs-page__paragraph">
                <code>sd-text__strong</code><br>
                // Sets the font style to bold
            </p>
        </li>
        <li>
            <p class="docs-page__paragraph">
                <code>sd-text__light</code><br>
                // Sets the font style to light
            </p>
        </li>
        <li>
            <p class="docs-page__paragraph">
                <code>sd-text__italic</code><br>
                // Sets the font style to italic
            </p>
        </li>
        <li>
            <p class="docs-page__paragraph">
                <code>sd-text__right</code><br>
                // Aligns the text to the right
            </p>
        </li>
        <li>
            <p class="docs-page__paragraph">
                <code>sd-text__center</code><br>
                // Aligns the text to the center
            </p>
        </li>
        <li>
            <p class="docs-page__paragraph">
                <code>sd-text__serif</code><br>
                // Changes the font family to a serif version. Currently set to <span class="sd-text__normal">Merriweather</span> in Superdesk, with a fallback to <span class="sd-text__italic">Georgia, 'Times New Roman', Times, serif</span>;
            </p>
        </li>
    </ul>
</section>   