<h2 class="docs-page__h2">Alerts</h2>
<p class="docs-page__paragraph">Provide contextual feedback or info messages for user actions with the handful of available alert box options.</p>
<div class="docs-page__code-window" doc-tabs>
    <div class="docs-page__window-bar">
        <a id="example" href="#" class="active">Example</a>
        <a id="markup" href="#">Markup</a>
    </div>
    <div class="docs-page__window-content">
        <div class="docs-page__code-example">
            <p class="docs-page__paragraph">// Hollow style (preferred usage)</p>
            <div class="sd-alert sd-alert--hollow">
                <button class="sd-alert__close"></button>
                Fusce nec ex et dolor rhoncus iaculis maximus sit amet lorem. Nunc posuere, ligula quis dictum tempor, lectus diam pharetra est, id fringilla leo urna vel arcu.
            </div>
            <div class="sd-alert sd-alert--hollow sd-alert--alert">
                <button class="sd-alert__close"></button>
                Sed tincidunt ipsum metus, consectetur vestibulum turpis luctus in. Vestibulum ut ex vulputate, lacinia mauris vel, accumsan libero. Morbi dapibus non felis et convallis. Sed at dolor vel nisl aliquam vehicula.
            </div>
            <div class="sd-alert sd-alert--hollow sd-alert--sd-green">
                <button class="sd-alert__close"></button>
                In mattis tellus odio, quis dictum sapien pellentesque in. Phasellus dignissim tempus ante at congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus bibendum lacinia.
            </div>
            <div class="sd-alert sd-alert--hollow sd-alert--primary">
                <button class="sd-alert__close"></button>
                Integer elementum vestibulum ipsum a rhoncus. Cras et tortor tempus, imperdiet neque sit amet, imperdiet elit. Nunc eleifend sollicitudin molestie. Aliquam nec enim orci.
            </div>

            <p class="docs-page__paragraph">// Filled</p>
            <div class="sd-alert sd-alert--sd-green">
                <button class="sd-alert__close"></button>
                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis. Praesent vulputate eros nisi, et porta magna eleifend et. Duis non sagittis erat. 
            </div>
            <div class="sd-alert sd-alert--warning">
                <button class="sd-alert__close"></button>
                Praesent vulputate eros nisi, et porta magna eleifend et. Duis non sagittis erat. Morbi sollicitudin non eros non egestas. Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            </div>
        </div>
        <div class="docs-page__code-markup">
            <pre class="prettyprint lang-html linenums">
            <!--Hollow style (preferred usage)-->
            <div class="sd-alert sd-alert--hollow">
                <button class="sd-alert__close"></button>
                Fusce nec ex et dolor rhoncus iaculis maximus sit amet lorem. Nunc posuere, ligula quis dictum tempor, lectus diam pharetra est, id fringilla leo urna vel arcu.
            </div>
            <div class="sd-alert sd-alert--hollow sd-alert--alert">
                <button class="sd-alert__close"></button>
                Sed tincidunt ipsum metus, consectetur vestibulum turpis luctus in. Vestibulum ut ex vulputate, lacinia mauris vel, accumsan libero. Morbi dapibus non felis et convallis. Sed at dolor vel nisl aliquam vehicula.
            </div>
            <div class="sd-alert sd-alert--hollow sd-alert--sd-green">
                <button class="sd-alert__close"></button>
                In mattis tellus odio, quis dictum sapien pellentesque in. Phasellus dignissim tempus ante at congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus bibendum lacinia.
            </div>
            <div class="sd-alert sd-alert--hollow sd-alert--primary">
                <button class="sd-alert__close"></button>
                Integer elementum vestibulum ipsum a rhoncus. Cras et tortor tempus, imperdiet neque sit amet, imperdiet elit. Nunc eleifend sollicitudin molestie. Aliquam nec enim orci.
            </div>

            <!--Filled-->
            <div class="sd-alert sd-alert--sd-green">
                <button class="sd-alert__close"></button>
                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis. Praesent vulputate eros nisi, et porta magna eleifend et. Duis non sagittis erat. 
            </div>
            <div class="sd-alert sd-alert--warning">
                <button class="sd-alert__close"></button>
                Praesent vulputate eros nisi, et porta magna eleifend et. Duis non sagittis erat. Morbi sollicitudin non eros non egestas. Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            </div>
            </pre>
        </div>
    </div>
</div>
