<h2 class="docs-page__h2">Badge</h2>
<p class="docs-page__paragraph">Add the .badge class to an element to create a badge. In the code example <code>&lt;span&gt;</code> is used, but any tag will do.</p>
<div class="docs-page__code-window" doc-tabs>
    <div class="docs-page__window-bar">
        <a id="example" href="#" class="active">Example</a>
        <a id="markup" href="#">Markup</a>
    </div>
    <div class="docs-page__window-content">
        <div class="docs-page__code-example">
            <div class="docs-page__content-row">
                <span class="badge">1</span>
                <span class="badge badge--primary">2</span>
                <span class="badge badge--success">A</span>
                <span class="badge badge--warning">B</span>
                <span class="badge badge--alert">6</span>
                <span class="badge badge--highlight">2318</span>
            </div>
        </div>
        <div class="docs-page__code-markup">
            <pre class="prettyprint lang-html linenums">
                 <span class="badge">1</span>
                <span class="badge badge--primary">2</span>
                <span class="badge badge--success">A</span>
                <span class="badge badge--warning">B</span>
                <span class="badge badge--alert">6</span>
                <span class="badge badge--highlight">2318</span>
            </pre>
        </div>
    </div>
</div>