<h2 class="docs-page__h2">Checkbox</h2>
<p class="docs-page__paragraph">To create a SD styled checkbox add the <code>sd-checkbox</code> class, the <code>sd-check</code> directive and <code>ng-model=""</code>to a <code>&lt;span&gt;</code> element. For cases where there are many options to select from there is a button style checkbox. To use this version append <code>sd-checkbox--button-style</code> to the <code>sd-checkbox</code> class.</p>
<div class="docs-page__code-window" doc-tabs>
    <div class="docs-page__window-bar">
        <a id="example" href="#" class="active">Example</a>
        <a id="markup" href="#">Markup</a>
    </div>
    <div class="docs-page__window-content">
        <div class="docs-page__code-example">
            <p class="docs-page__paragraph">// Basic SD checkbox</p>
            <div class="form__row">
                <span class="sd-checkbox" sd-check ng-model="abc"></span><label ng-click="abc = !abc" ng-class="{'label--active': abc}">Checkbox label</label> 
            </div>
            <div class="form__row">
                <label ng-click="def = !def" ng-class="{'label--active': def}">Checkbox label</label><span class="sd-checkbox" sd-check ng-model="def"></span>
            </div>
            <p class="docs-page__paragraph docs-page__paragraph--topMarginL">// Button style checkbox</p>
            <div class="form__row">
                <span class="sd-checkbox sd-checkbox--button-style" sd-check ng-model="ghi">Button style checkbox</span> <span class="sd-checkbox sd-checkbox--button-style" sd-check ng-model="jkl">Check this out</span> <span class="sd-checkbox sd-checkbox--button-style" sd-check ng-model="omn">Check this!</span>
            </div>
        </div>

        <div class="docs-page__code-markup">
            <pre class="prettyprint lang-html linenums">
                 <!--Basic SD checkbox-->
                <div class="form__row">
                    <span class="sd-checkbox" sd-check ng-model="abc"></span><label ng-click="abc = !abc">Checkbox label</label> 
                </div>
                <div class="form__row">
                    <label ng-click="def = !def">Checkbox label</label><span class="sd-checkbox" sd-check ng-model="def"></span>
                </div>
                <!--Button style checkbox-->
                <div class="form__row">
                    <span class="sd-checkbox sd-checkbox--button-style" sd-check ng-model="ghi">Button style checkbox</span> <span class="sd-checkbox sd-checkbox--button-style" sd-check ng-model="jkl">Check this out</span> <span class="sd-checkbox sd-checkbox--button-style" sd-check ng-model="omn">Check this!</span>
                </div>
            </pre>
        </div>
    </div>
</div>