<h2 class="docs-page__h2">Form elements</h2>
<h3 class="docs-page__h3">Inputs</h3>
<p class="docs-page__paragraph">Line inputs are based on the Material design inputs. They include useful elements like hint text <code>.sd-line-input__hint</code>, error messages <code>.sd-line-input__message</code> and character count <code>.sd-line-input__char-count</code>.</p>
<div class="docs-page__code-window" doc-tabs>
    <div class="docs-page__window-bar">
        <a id="example" href="#" class="active">Example</a>
        <a id="markup" href="#">Markup</a>
    </div>
    <div class="docs-page__window-content">
        <div class="docs-page__code-example">
            <p class="docs-page__paragraph">Input with hint text and character count.</p>
            <div class="sd-line-input">
                <label class="sd-line-input__label">Basic label</label>
                <input class="sd-line-input__input" type="text">
                <div class="sd-line-input__char-count">000/900</div>
                <span class="sd-line-input__hint">This is a hint text. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</span>
            </div>
            <p class="docs-page__paragraph docs-page__paragraph--topMarginL">Input with error message.</p>
            <div class="sd-line-input sd-line-input--invalid">
                <label class="sd-line-input__label">Basic label</label>
                <input class="sd-line-input__input" type="text">
                <div class="sd-line-input__message">This field is required.</div>
            </div>
        </div>
        <div class="docs-page__code-markup">
            <pre class="prettyprint lang-html linenums">
                 <!--Input with hint text and character count.-->
                <div class="sd-line-input">
                    <label class="sd-line-input__label">Basic label</label>
                    <input class="sd-line-input__input" type="text">
                    <div class="sd-line-input__char-count">000/900</div>
                    <span class="sd-line-input__hint">This is a hint text. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</span>
                </div>
                <!--Input with error message.-->
                <div class="sd-line-input sd-line-input--invalid">
                    <label class="sd-line-input__label">Basic label</label>
                    <input class="sd-line-input__input" type="text">
                    <div class="sd-line-input__message">This field is required.</div>
                </div>
            </pre>
        </div>
    </div>
</div>