<section class="docs-page__container">
    <h2 class="docs-page__h2">Icon Labels</h2>
    <p class="docs-page__paragraph">Icon labels are inline styles for displaying icon with text label. Use color classes to change label's color.</p>
    <div class="docs-page__code-window" doc-tabs>
        <div class="docs-page__window-bar">
            <a id="example" href="#" class="active">Example</a>
            <a id="markup" href="#">Markup</a>
        </div> 
        <div class="docs-page__window-content">
            <div class="docs-page__code-example">
                <div class="docs-page__content-row">
                    <span class="label-icon"><i class="icon-photo"></i> Default label</span>
                    <span class="label-icon label-icon--primary"><i class="icon-facebook"></i>Label primary</span>
                    <span class="label-icon label-icon--success"><i class="icon-text"></i>Label success</span>
                    <span class="label-icon label-icon--warning"><i class="icon-paywall"></i>Label warning</span>
                    <span class="label-icon label-icon--alert"><i class="icon-trash"></i>Label alert</span>
                    <span class="label-icon label-icon--highlight"><i class="icon-composite"></i>Label highlight</span>
                    <span class="label-icon label-icon--sd-green"><i class="icon-video"></i>Label sd-green</span>
                </div>
            </div>
            <div class="docs-page__code-markup">
                <pre class="prettyprint lang-html linenums">
                    <span class="label-icon"><i class="icon-photo"></i>Default label</span>
                    <span class="label-icon label-icon--primary"><i class="icon-facebook"></i>Label primary</span>
                    <span class="label-icon label-icon--success"><i class="icon-text"></i>Label success</span>
                    <span class="label-icon label-icon--warning"><i class="icon-paywall"></i>Label warning</span>
                    <span class="label-icon label-icon--alert"><i class="icon-trash"></i>Label alert</span>
                    <span class="label-icon label-icon--highlight"><i class="icon-composite"></i>Label highlight</span>
                    <span class="label-icon label-icon--sd-green"><i class="icon-video"></i>Label sd-green</span>
                </pre>
            </div>
        </div>
    </div>
</section>