<h2 class="docs-page__h2">Inputs</h2>
<p class="docs-page__paragraph">Line inputs are based on Material design style inputs. They include useful elements like hint text <code>.sd-line-input__hint</code>, error messages <code>.sd-line-input__message</code> and character count <code>.sd-line-input__char-count</code>.</p>
<div class="docs-page__code-window" doc-tabs>
    <div class="docs-page__window-bar">
        <a id="example" href="#" class="active">Example</a>
        <a id="markup" href="#">Markup</a>
    </div>
    <div class="docs-page__window-content">
        <div class="docs-page__code-example">
            <p class="docs-page__paragraph">// Input with hint text and character count.</p>
            <div class="sd-line-input">
                <label class="sd-line-input__label">Headline</label>
                <input class="sd-line-input__input" type="text">
                <div class="sd-line-input__char-count">00/90</div>
                <span class="sd-line-input__hint">This is a hint text. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</span>
            </div>
            <p class="docs-page__paragraph docs-page__paragraph--topMarginL">// Input with error message.</p>
            <div class="sd-line-input sd-line-input--invalid">
                <label class="sd-line-input__label">Description</label>
                <input class="sd-line-input__input" type="text">
                <div class="sd-line-input__message">This field is required.</div>
            </div>

            <p class="docs-page__paragraph docs-page__paragraph--topMarginL">// Inline input fields.</p>
            <div class="form__row form__row--flex">
                <div class="sd-line-input">
                    <label class="sd-line-input__label">Name</label>
                    <input class="sd-line-input__input" type="text">
                    <span class="sd-line-input__hint">Sed a nunc non lectus fringilla suscipit.</span>
                </div>
                <div class="sd-line-input">
                    <label class="sd-line-input__label">Last name</label>
                    <input class="sd-line-input__input" type="text">
                    <span class="sd-line-input__hint">Proin ornare ligula eu tellus tempus elementum.</span>
                </div>
                <div class="sd-line-input">
                    <label class="sd-line-input__label">Address</label>
                    <input class="sd-line-input__input" type="text">
                    <div class="sd-line-input__hint">In facilisis scelerisque dui vel dignissim.</div>
                </div>
                <a class="btn">Submit</a>
            </div>

            <p class="docs-page__paragraph docs-page__paragraph--topMarginL">// Inline input fields with additional containers.</p>
            <div class="form__row form__row--flex">
                <div class="form__row-item">
                    <div class="sd-line-input">
                        <label class="sd-line-input__label">Label 1</label>
                        <input class="sd-line-input__input" type="text">
                        <span class="sd-line-input__hint">Duis autem vel eum iriure.</span>
                    </div>
                </div>
                <div class="form__row-item">
                    <div class="sd-line-input">
                        <label class="sd-line-input__label">Label 2</label>
                        <input class="sd-line-input__input" type="text">
                        <span class="sd-line-input__hint">Dolor in hendrerit.</span>
                    </div>
                </div>
                <div class="form__row-item form__row-item--no-grow">
                    <span>Duis autem vel dolor.</span>
                </div>
                <div class="form__row-item">
                    <div class="sd-line-input">
                        <label class="sd-line-input__label">Label 3</label>
                        <input class="sd-line-input__input" type="text">
                        <span class="sd-line-input__hint">Velit esse consequat.</span>
                    </div>
                </div>
                <div class="form__row-item">
                    <div class="sd-line-input">
                        <label class="sd-line-input__label">Label 4</label>
                        <input class="sd-line-input__input" type="text">
                        <span class="sd-line-input__hint">Iriure dolor in hendrerit.</span>
                    </div>
                </div>
                <div class="form__row-item form__row-item--no-grow">
                    <a class="btn">Submit</a>
                </div>
            </div>
        </div>
        <div class="docs-page__code-markup">
            <pre class="prettyprint lang-html linenums">
                 <!--Input with hint text and character count.-->
                <div class="sd-line-input">
                    <label class="sd-line-input__label">Basic label</label>
                    <input class="sd-line-input__input" type="text">
                    <div class="sd-line-input__char-count">00/00</div>
                    <span class="sd-line-input__hint">This is a hint text. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</span>
                </div>
                <!--Input with error message.-->
                <div class="sd-line-input sd-line-input--invalid">
                    <label class="sd-line-input__label">Basic label</label>
                    <input class="sd-line-input__input" type="text">
                    <div class="sd-line-input__message">This field is required.</div>
                </div>
                <!--Inline input fields.-->
                <div class="form__row form__row--flex">
                    <div class="sd-line-input">
                        <label class="sd-line-input__label">Name</label>
                        <input class="sd-line-input__input" type="text">
                        <span class="sd-line-input__hint">Sed a nunc non lectus fringilla suscipit.</span>
                    </div>
                    <div class="sd-line-input">
                        <label class="sd-line-input__label">Last name</label>
                        <input class="sd-line-input__input" type="text">
                        <span class="sd-line-input__hint">Proin ornare ligula eu tellus tempus elementum.</span>
                    </div>
                    <div class="sd-line-input">
                        <label class="sd-line-input__label">Address</label>
                        <input class="sd-line-input__input" type="text">
                        <div class="sd-line-input__hint">In facilisis scelerisque dui vel dignissim.</div>
                    </div>
                    <a class="btn">Submit</a>
                </div>
                <!--Inline input fields with additional containers-->
                <div class="form__row form__row--flex">
                    <div class="form__row-item">
                        <div class="sd-line-input">
                            <label class="sd-line-input__label">Label 1</label>
                            <input class="sd-line-input__input" type="text">
                            <span class="sd-line-input__hint">Duis autem vel eum iriure.</span>
                        </div>
                    </div>
                    <div class="form__row-item">
                        <div class="sd-line-input">
                            <label class="sd-line-input__label">Label 2</label>
                            <input class="sd-line-input__input" type="text">
                            <span class="sd-line-input__hint">Dolor in hendrerit.</span>
                        </div>
                    </div>
                    <div class="form__row-item form__row-item--no-grow">
                        <span>Duis autem vel dolor.</span>
                    </div>
                    <div class="form__row-item">
                        <div class="sd-line-input">
                            <label class="sd-line-input__label">Label 3</label>
                            <input class="sd-line-input__input" type="text">
                            <span class="sd-line-input__hint">Velit esse consequat.</span>
                        </div>
                    </div>
                    <div class="form__row-item">
                        <div class="sd-line-input">
                            <label class="sd-line-input__label">Label 4</label>
                            <input class="sd-line-input__input" type="text">
                            <span class="sd-line-input__hint">Iriure dolor in hendrerit.</span>
                        </div>
                    </div>
                    <div class="form__row-item form__row-item--no-grow">
                        <a class="btn">Submit</a>
                    </div>
                </div>
            </pre>
        </div>
    </div>
</div>