<h2 class="docs-page__h2">Labels</h2>
<p class="docs-page__paragraph">Labels are inline styles that can be dropped into body text. For example, labels are used to show the state of items in Superdesk.</p>
<h3 class="docs-page__h3">Sizing</h3>
<div class="docs-page__code-window" doc-tabs>
    <div class="docs-page__window-bar">
        <a id="example" href="#" class="active">Example</a>
        <a id="markup" href="#">Markup</a>
    </div> 
    <div class="docs-page__window-content">
        <div class="docs-page__code-example">
            <div class="docs-page__content-row">
                <span class="label">default label</span>
                <span class="label label--large">large label</span>
            </div>
        </div>
        <div class="docs-page__code-markup">
            <pre class="prettyprint lang-html linenums">
                 <span class="label">default label</span>
                <span class="label label--large">large label</span>
            </pre>
        </div>
    </div>
</div>

<h3 class="docs-page__h3">Coloring</h3>
<p class="docs-page__paragraph">By default labels have a wider color palette than buttons and badges.</p>

<div class="docs-page__code-window" doc-tabs>
    <div class="docs-page__window-bar">
        <a id="example" href="#" class="active">Example</a>
        <a id="markup" href="#">Markup</a>
    </div> 
    <div class="docs-page__window-content">
        <div class="docs-page__code-example">
            <div class="docs-page__content-row">
                <span class="label">default label</span>
                <span class="label label--primary">primary label</span>
                <span class="label label--success">success label</span>
                <span class="label label--yellow2">Color label</span>
                <span class="label label--warning">warning label</span>
                <span class="label label--orange2">Color label</span>
                <span class="label label--alert">alert label</span>
                <span class="label label--red2">Color label</span>
                <span class="label label--highlight">highlight label</span>
                <span class="label label--highlight2">Color label</span>
                <span class="label label--highlight3">Color label</span>
                <span class="label label--highlight4">Color label</span>
                <span class="label label--darkBlue2">Color label</span>
            </div>
        </div>
        <div class="docs-page__code-markup">
            <pre class="prettyprint lang-html linenums">
                 <span class="label">default label</span>
                <span class="label label--primary">primary label</span>
                <span class="label label--success">success label</span>
                <span class="label label--yellow2">Color label</span>
                <span class="label label--warning">warning label</span>
                <span class="label label--orange2">Color label</span>
                <span class="label label--alert">alert label</span>
                <span class="label label--red2">Color label</span>
                <span class="label label--highlight">highlight label</span>
                <span class="label label--highlight2">Color label</span>
                <span class="label label--highlight3">Color label</span>
                <span class="label label--highlight4">Color label</span>
                <span class="label label--darkBlue2">Color label</span>
            </pre>
        </div>
    </div>
</div>
<h3 class="docs-page__h3">Hollow style</h3>
<div class="docs-page__code-window" doc-tabs>
    <div class="docs-page__window-bar">
        <a id="example" href="#" class="active">Example</a>
        <a id="markup" href="#">Markup</a>
    </div> 
    <div class="docs-page__window-content">
        <div class="docs-page__code-example">
            <div class="docs-page__content-row">
                <span class="label label--hollow">default label</span>
                <span class="label label--primary label--hollow">primary label</span>
                <span class="label label--success label--hollow">success label</span>
                <span class="label label--yellow2 label--hollow">Color label</span>
                <span class="label label--warning label--hollow">warning label</span>
                <span class="label label--orange2 label--hollow">Color label</span>
                <span class="label label--alert label--hollow">alert label</span>
                <span class="label label--red2 label--hollow">Color label</span>
                <span class="label label--highlight label--hollow">highlight label</span>
                <span class="label label--highlight2 label--hollow">Color label</span>
                <span class="label label--highlight3 label--hollow">Color label</span>
                <span class="label label--highlight4 label--hollow">Color label</span>
                <span class="label label--darkBlue2 label--hollow">Color label</span>
            </div>  
        </div>
        <div class="docs-page__code-markup">
            <pre class="prettyprint lang-html linenums">
                 <span class="label label--hollow">default label</span>
                <span class="label label--primary label--hollow">primary label</span>
                <span class="label label--success label--hollow">success label</span>
                <span class="label label--yellow2 label--hollow">Color label</span>
                <span class="label label--warning label--hollow">warning label</span>
                <span class="label label--orange2 label--hollow">Color label</span>
                <span class="label label--alert label--hollow">alert label</span>
                <span class="label label--red2 label--hollow">Color label</span>
                <span class="label label--highlight label--hollow">highlight label</span>
                <span class="label label--highlight2 label--hollow">Color label</span>
                <span class="label label--highlight3 label--hollow">Color label</span>
                <span class="label label--highlight4 label--hollow">Color label</span>
                <span class="label label--darkBlue2 label--hollow">Color label</span>
            </pre>
        </div>
    </div>
</div>