<section class="docs-page__container">  
    <h2 class="docs-page__h2">Animated loader</h2>
    <p class="docs-page__paragraph">Use an empty div with class <code>sd-loader</code> inside an element where the loader should show up. For dark UI add modifier class <code>sd-loader--dark-ui</code>. Parent element that holds the loader should have relative position.</p>
    <div class="docs-page__code-window" doc-tabs>
        <div class="docs-page__window-bar">
            <a id="example" href="#" class="active">Example</a>
            <a id="markup" href="#">Markup</a>
        </div> 
        <div class="docs-page__window-content">
            <div class="docs-page__code-example">
                <div class="docs-page__content-row">                
                    <div class="sd-list-item sd-shadow--z1">
                        <div class="sd-loader"></div>
                        <div class="sd-list-item__border sd-list-item__border--locked"></div>
                        <div class="sd-list-item__column"><i class="icon-text"></i></div>
                        <div class="sd-list-item__column">
                            <span class="badge">1</span>
                        </div>
                        <div class="sd-list-item__column sd-list-item__column--grow sd-list-item__column--no-border">
                            <div class="sd-list-item__row">
                                <span class="sd-overflow-ellipsis">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequatvel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet.</span>
                                <time title="March 22, 2017 11:08 AM">11:08, 22.03.2017</time>
                            </div>
                        </div>
                        <div class="sd-list-item__action-menu sd-list-item__action-menu--direction-row">
                            <button class="icn-btn">
                                <i class="icon-trash"></i>
                            </button>
                            <button class="icn-btn">
                                <i class="icon-pencil"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="docs-page__code-markup">
                <pre class="prettyprint lang-html linenums">
                    <div class="sd-list-item sd-shadow--z1">
                        <div class="sd-loader"></div>
                        <div class="sd-list-item__border sd-list-item__border--locked"></div>
                        <div class="sd-list-item__column"><i class="icon-text"></i></div>
                        <div class="sd-list-item__column">
                            <span class="badge">1</span>
                        </div>
                        <div class="sd-list-item__column sd-list-item__column--grow sd-list-item__column--no-border">
                            <div class="sd-list-item__row">
                                <span class="sd-overflow-ellipsis">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequatvel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet.</span>
                                <time title="March 22, 2017 11:08 AM">11:08, 22.03.2017</time>
                            </div>
                        </div>
                        <div class="sd-list-item__action-menu sd-list-item__action-menu--direction-row">
                            <button class="icn-btn">
                                <i class="icon-trash"></i>
                            </button>
                            <button class="icn-btn">
                                <i class="icon-pencil"></i>
                            </button>
                        </div>
                    </div>
                </pre>
            </div>
        </div>
    </div>
</section>  