<section class="docs-page__container">
    <h2 class="docs-page__h2">Shadows</h2>
    <p class="docs-page__paragraph">
            While some components in the Superdesk UI framework allready have predefined shadows, you can also quickly add a shadow with our <code>sd-shadow</code> helper classes.
            Included are four default sizes based on the imagined height of the element from the surface.
        </p>
    <div class="docs-page__code-window">
        <div class="sd-grid-list">
            <div class="docs-page__example-box sd-shadow--z1">
                <p>sd-shadow--z1</p>
            </div>
            <div class="docs-page__example-box sd-shadow--z2">
                <p>sd-shadow--z2</p>
            </div>
            <div class="docs-page__example-box sd-shadow--z3">
                <p>sd-shadow--z3</p>
            </div>
            <div class="docs-page__example-box sd-shadow--z4">
                <p>sd-shadow--z4</p>
            </div>
        
        </div>
    </div>
</section>