<section class="docs-page__container"> 
    <h2 class="docs-page__h2">Switch</h2>
    <p class="docs-page__paragraph">Add the directive <code>sd-switch</code> and the <code>ng-model=" "</code> attribute to a <code>&lt;span&gt;</code> to create a switch. 
    Labels can be placed on both left and right side. To place the switch on a single line use the <code>form__row</code> container.</p>
    <div class="docs-page__code-window" doc-tabs>
        <div class="docs-page__window-bar">
            <a id="example" href="#" class="active">Example</a>
            <a id="markup" href="#">Markup</a>
        </div>
        <div class="docs-page__window-content">
            <div class="docs-page__code-example">
                <div class="form__row">
                    <span ng-model="AB" sd-switch></span>
                </div>
                <div class="form__row">
                    <label>Label for switch</label><span ng-model="CD" sd-switch></span>
                </div>
                <div class="form__row">
                    <span ng-model="EF" sd-switch></span><label>Label on the right</label>
                </div>
            </div>
            <div class="docs-page__code-markup">
                <pre class="prettyprint lang-html linenums">
                    <span ng-model="AB" sd-switch ng-non-bindable></span>
                    <label>Label for switch</label><span ng-model="AB" sd-switch ng-non-bindable></span>
                    <span ng-model="AB" sd-switch ng-non-bindable></span><label>Label on the right</label>
                </pre>
            </div>
        </div>
    </div>
</section>   