<section class="docs-page__container">
    <h2 class="docs-page__h2">Tables</h2>
    <p class="docs-page__paragraph">Default look of tables in Superdesk</p>
    <div class="docs-page__code-window" doc-tabs>
        <div class="docs-page__window-bar">
            <a id="example" href="#" class="active">Example</a>
            <a id="markup" href="#">Markup</a>
        </div>
        <div class="docs-page__window-content">
            <div class="docs-page__code-example">
                <table class="sd-table">
                    <thead>
                        <tr>
                            <th>Full name</th>
                            <th>Usernam</th>
                            <th>Role</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Johnny Doe</td>
                            <td>doejohn</td>
                            <td>Reporter</td>
                            <td>johnny.doe@sourcefabric.org</td>
                        </tr>
                        <tr>
                            <td>Jane Doe</td>
                            <td>janedoe</td>
                            <td>Producer</td>
                            <td>jane.doe@sourcefabric.org</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="docs-page__code-markup">
                <pre class="prettyprint lang-html linenums">
                    <!--Basic SD table-->
                    <table>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </pre>
            </div>
        </div>
    </div>
</section>