<section class="docs-page__container"> 
    <h2 class="docs-page__h2">Text helpers</h2>
    <p class="docs-page__paragraph">
        <span class="label label--large label--no-transform label--alert">Work in progress</span>
    </p>

    <h4 class="docs-page__h4">Font weight and italics</h4>
    <p class="docs-page__paragraph">
        The class names for this are prett much self explanatory so not much explanation is provided.
    </p>
    <ul class="sd-margin-t--2">
        <li>
            <p class="docs-page__paragraph">
                <code>sd-text__normal</code><br>
                // Sets the font style to normal
            </p>
        </li>
        <li>
            <p class="docs-page__paragraph">
                <code>sd-text__strong</code><br>
                // Sets the font style to bold
            </p>
        </li>
        <li>
            <p class="docs-page__paragraph">
                <code>sd-text__light</code><br>
                // Sets the font style to light
            </p>
        </li>
        <li>
            <p class="docs-page__paragraph">
                <code>sd-text__italic</code><br>
                // Sets the font style to italic
            </p>
        </li>
    </ul>
</section>   