<section class="docs-page__container">    
    <h2 class="docs-page__h2">Toggle box (Collapsible panel)</h2>
    <div class="docs-page__code-window" doc-tabs>
        <div class="docs-page__window-bar">
            <a id="example" href="#" class="active">Example</a>
            <a id="markup" href="#">Markup</a>
        </div>
        <div class="docs-page__window-content">
            <div class="docs-page__code-example">
                <div class="docs-page__content-row">
                    <div sd-toggle-box data-title="Toggle header" data-open="true">
                        <span>Define your content here. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt 
                            ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo 
                            dolores et ea rebum. Stet clita kasd gubergren.
                        </span>
                    </div>
                    <toggle-box-next data-title="'Second toggle header'" is-open="false">
                        <span>Content goes here. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt 
                            ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        </span>
                    </toggle-box-next>
                </div>
                <p class="docs-page__paragraph">// Alternative styling with circled chevron</p>
                <div class="docs-page__content-row">
                    <div sd-toggle-box data-title="Toggle header circle" data-style="circle" data-open="false">
                        <span>Define your content here. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt 
                            ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo 
                            dolores et ea rebum. Stet clita kasd gubergren.
                        </span>
                    </div>
                    <toggle-box-next data-title="'Second toggle header circle'" style="'circle'" is-open="false">
                        <span>Content goes here. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt 
                            ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        </span>
                    </toggle-box-next>
                </div>
            </div>
            <div class="docs-page__code-markup">
                <pre class="prettyprint lang-html linenums">
                    
                        <!-- Usage in Angular: -->

                        <toggle-box-next data-title="'Title goes here'" ng-non-bindable>
                            <div>Content goes here</div>
                        </toggle-box-next>

                        <!-- Usage in React: -->

                        <ToggleBoxNext title="{'Title goes here'}" ng-non-bindable>
                            <div>Content goes here</div>
                        </ToggleBoxNext>

                        <!-- Deprecated usage via Angular directive: -->

                        <div sd-toggle-box data-title="Toggle header" data-open="true" ng-non-bindable>
                            <div>Content goes here</div>
                        </div>
                
                </pre>
            </div>
        </div>
    </div>
</section>