<div class="sd-welcome-modal__backdrop"></div>
<div class="sd-welcome-modal">
    <div class="sd-welcome-modal__dialog">
        <div class="sd-welcome-modal__content">
            <div class="sd-welcome-modal__page">
                <div class="sd-welcome-modal__page-header">
                    <h2 class="sd-welcome-modal__page-heading">Lorem ipsum dolor</h2>
                    <img class="sd-welcome-modal__page-header-illustration" src="img/illustration_users.png" alt="User rolew">
                </div>
                <div class="sd-welcome-modal__page-text">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
                </div>
                <div class="sd-welcome-modal__page-footer">
                    <a class="btn btn--large btn--sd-green">Ok, i got it!</a>
                </div>
            </div>
        </div>
        <a class="sd-welcome-modal__nav-button sd-welcome-modal__nav-button--prev"></a>
        <a class="sd-welcome-modal__nav-button sd-welcome-modal__nav-button--end"></a>
        <div class="sd-welcome-modal__page-indication-bar">
            <span class="sd-welcome-modal__page-indicator"></span><span class="sd-welcome-modal__page-indicator sd-welcome-modal__page-indicator--selcted"></span><span class="sd-welcome-modal__page-indicator"></span>
        </div>
    </div>
</div>