@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic,500italic,700italic,300,300italic');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400&subset=latin-ext');

.docs-page {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 140%;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}
h1.docs-page__h1 {
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    margin: 0;
    flex-grow: 1;
    font-family: 'Merriweather', serif;
    letter-spacing: 0.02em;
}
h2.docs-page__h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 140%;
    margin: 0 0 0.6em 0;
}
h2.docs-page__group-heading {
    font-size: 36px;
    font-weight: 300;
    margin: 1.6em 0 -0.6em 0;
    line-height: 140%;
    color: #747474;
    color: #999;
}
h2.docs-page__group-heading:first-of-type {
    margin-top: 1em;
}
h3.docs-page__h3 {
    font-size: 23px;
    line-height: 140%;
    margin: 0 0 0.4em 0;
}
h4.docs-page__h4 {
    font-size: 18px;
    line-height: 140%;
    margin: 0 0 0.4em 0;
}
p.docs-page__paragraph, div.docs-page__paragraph {
    font-size: 16px;
    margin: 1em 0;
    line-height: 150%;
    font-weight: 300;
}
.docs-page__code-example p.docs-page__paragraph {
    color: #7abcd1;
}

p.docs-page__paragraph--topMarginL {
    margin-top: 3em;
}
.docs-page__code-example p.docs-page__paragraph--small {
    color: #999;
    font-size: 14px;
    margin: -1em 0 1em;
}
p.docs-page__paragraph:first-child {
    margin: 0 0 1em;
}
p.docs-page__paragraph b, div.docs-page__paragraph b {
    font-weight: 400;
}
.docs-page .link {
    color: #5eadc8;
    text-decoration: none;
}
.docs-page .link:hover {
    text-decoration: underline;
}
.docs-page__header {
    background: #5eadc8;
    background: #22385a;
    color: white;
    padding: 0 24px;
    height: 64px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;  
    align-items: center;
    box-shadow: 0 1px 6px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,0.12);
    z-index: 2;
}
.docs-page__header-nav {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
}
.docs-page__header-nav-item {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0 8px;
}
.docs-page__header-nav-link {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    line-height: 64px;
    transition: all 0.2s ease-in-out;
    padding: 0 2px;
    letter-spacing: 0.01em;
    opacity: 0.75;
}
.docs-page__header-nav-link:hover {
    opacity: 1;
}
.docs-page__header-nav-item--active .docs-page__header-nav-link {
    border-color: rgb(27, 176, 108);
    opacity: 1;
}
.docs-page__header .form__row {
    padding-bottom: 0;
}
.docs-page__footer {
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 20px;
    font-size: 12px;
}
.docs-page__container-fluid {
    padding: 0;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    overflow-y: auto;
    padding: 24px 32px 40px 32px;
}
.docs-page__sidebar {
    margin: 0;
    transition: all .2s ease;
    padding: 20px 0;
    box-sizing: border-box;
    transition: all .2s ease;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 280px;
    background-color: #ebebeb;
    overflow-y: auto;
}
.docs-page__sidebar.scroll {
    top: 0;
    margin-top: 0;
}
.docs-page__content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    overflow-y: auto;
    position: relative;
}
.docs-page__nav {
    margin-bottom: 40px;
}
.docs-page__nav-title {
    text-transform: uppercase;
    color: #333;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.1em;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 6px;
    padding-left: 20px;
}
.docs-page__nav > li:first-child .docs-page__nav-title {
    margin-top: 0;
}

.docs-page__nav-item {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    color: #666;
    border-left: 4px solid transparent;
}
.docs-page__nav-item a {
    font-size: 14px;
    line-height: 32px;
    display: block;
    padding-left: 24px;
    color: #666;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    text-decoration: none;
    transition: all ease-in-out 0.2s;
}
.docs-page__nav-item a:hover {
    color: #333;
    background-color: rgba(255, 255, 255, 0.4);
}
.docs-page__nav-item a:active {
    color: #333;
    
    background-color: rgba(94, 169, 200, 0.2);
}

.docs-page__nav-item.docs-page__nav-item--active {
    border-color: rgba(94, 169, 200, 1);
    background-color: rgba(255, 255, 255, 0.7);
}

.docs-page__nav-item.docs-page__nav-item--active a {
    color: rgba(94, 169, 200, 1);
}

.docs-page__section {
    padding: 40px 0 0;
}
.docs-page__section:last-child {
    padding: 40px 0 100px;
}
.docs-page__pre {
    display: block;
    padding: 9.5px;
    margin: 0;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.docs-page__code-window {
    border: 1px solid rgba(123, 123, 123, 0.2);
    border-radius: 2px;
    margin: 10px 0 20px;
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.07);
    box-shadow: 0 2px 8px rgba(0,0,0,.07);
}
.docs-page__window-bar {
    padding: 10px;
    border-top: 1px solid #eaeae9;
    border-bottom: 1px solid #dfdfde;
    background: #ebebeb;
}
.docs-page__window-bar>a, .docs-page__window-bar>span {
    font-size: 16px;
    color: #999;
    padding: 0 4px;
    text-decoration: none;
}
.docs-page__window-bar>a.active {
    color: #5eadc8;
}
.docs-page__code--large {
    font-size: 1.5rem;
    color: #555;
    font-family: 'Source Code Pro', monospace;
    line-height: 150%;
    font-weight: 400;
}
.docs-page__code-example {
    padding: 20px;
}
.docs-page__code-example--grey {
    background-color: #f8f8f8;
}
.docs-page__code-example .docs-page__content-block {
    margin-bottom: 20px;
}
.docs-page__code-example .docs-page__content-row > .btn,
.docs-page__code-example .docs-page__content-row > .label,
.docs-page__code-example .docs-page__content-row > .badge,
.docs-page__code-example .docs-page__content-row > .label-icon {
    margin-right: 6px;
    margin-bottom: 10px;
}

.docs-page__content-row {
    margin-bottom: 20px;
}
.docs-page__content-row--ui-dark {
    background: #3b3b3b;
    padding: 10px;
}
.docs-page__content-row--gray {
    background: #F2F2F2;
    padding: 10px;
}
.docs-page__code-markup {
    display: none;
    background-color: #000;
    padding: 16px 16px 16px 36px;
    overflow-y: scroll;
}
.docs-page__code-markup ol {
    margin-left: 10px;
}


pre.prettyprint {
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    line-height: 150%;
    font-weight: 300;
}

.docs-page__paragraph code {
    font-size: 85%;
    padding: 0.2em 0.4em;
    background-color: rgba(0,0,0,0.07);
    border-radius: 3px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

.docs-page__unordered-list {
    font-size: 16px;
    margin: 1em 0 2em;
    line-height: 150%;
    font-weight: 300;

}
.docs-page__unordered-list li {
    list-style-type: disc;
    margin-bottom: 0.25em;
    margin-left: 1.5em;  
}

.docs-page__code-example .flex-grid .flex-grid__item,
.docs-page__code-example .grid .grid__item {
    background-color: #fff;
    min-height: 60px;
    border: 1px dotted rgba(0,0,0,0.2);
}
.docs-page__code-example .grid.grid--boxed .grid__item {
    background-color: transparent;
}
.docs-page__code-example .grid.grid--boxed.grid--boxed-styled .grid__item {
    background-color: #fff;
}
.docs-page__code-example .grid .grid .grid__item {
    border: 1px dotted #5eadc8;
}
.docs-page__code-example .flex-grid .flex-grid__item {
    padding: 20px;
}
.docs-page__code-example .flex-grid.flex-grid--boxed .flex-grid__item {
    background-color: #fff !important;
    border:none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0,0,0,.12) !important;
}
.docs-page__icon-font-list {
    margin: 40px auto 20px;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}
.docs-page__icon-font-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
    margin: 0 24px;
    box-sizing: border-box;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
}
.docs-page__icon-font-list li:hover {
    box-shadow: 0 1px 6px rgba(0,0,0,.24);
}

.docs-page__icon-font-list li i {
    margin-bottom: 8px;
    color: #000;
}

.docs-page__container {
    max-width: 832px;
    margin: 30px auto 0;
}
.docs-page__container--large {
    max-width: 1200px;
}
.docs-page__container--full-h {
    height: calc(100vh - 64px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.docs-page__container .docs-page__h2,
.docs-page__container .docs-page__h3,
.docs-page__container .docs-page__code-window,
.docs-page__container .docs-page__paragraph {
    max-width: none !important;
}

.docs-page__content-block {
    display: flex;
    flex-direction: row;
    margin: 0 -16px;
}
.docs-page__content-block-item {
    flex: 1 1;
    flex-direction: row;
    margin: 0 16px;
}
.docs-page__figure {

}
.docs-page__figure-media {
    width: 100%;
    background: #dedede;
    border: 1px solid #cccccc;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.docs-page__figure-media img {
    max-width: 100%;
}
.docs-page__figure-caption {
    font-size: 14px;
    margin-top: 12px;
    line-height: 150%;
}
.docs-page__caption-heading {
    border-top: 8px solid;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    max-width: 100%;
    padding: 8px 0 8px;
    line-height: 120%;
}
.docs-page__caption-heading--do {
    border-color: #4caf50;
    color: #2e7b32;
}
.docs-page__caption-heading--dont {
    border-color: #d32f2f;
    color: #d32f2f;
}
.docs-page__caption-heading--caution {
    border-color: #f9a825;
    color: #f57f17;
}

.docs-page__text-align--center {
    text-align: center;
    margin-right: auto !important;
    margin-left: auto !important;
}

.docs-page__icon-font-list li span {
    font-size: 13px;
    text-align: center;
    color: #747474;
}

.docs-page__icon-font-list--dark {
    background: #666;
    color: lightgray !important;
}
.docs-page__icon-font-list--dark span {
    color: lightgray !important;
}

.docs-page__playground_picker {
    text-align: right;
}

.docs-page__playground_picker .dropdown__toggle {
    color: white !important;
    letter-spacing: 0.02em;
}

.docs-page__playground_picker .dropdown__toggle .dropdown__caret {
    border-top-color: #fff !important;
}

[react-playground] {
    grid-column: 2/3;
}

/* ---------------- COLOR SWATCHES ---------------- */

.doc-swatches__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    grid-column-gap: 1.6rem;
    grid-row-gap: 2.4rem;
    margin: 0;
}

.doc-swatches__wrapper {
    flex: auto;
  }
  
.doc-swatches__title {
    padding: 6px 12px;
    margin-bottom: 4px;
    text-transform: capitalize;
}
    
.doc-swatches__title h3 {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Merriweather', serif;
    letter-spacing: 0.02em;
    margin: 0;
    color: #fff;
}


.doc-swatches__swatch-item:nth-child(n+7) {
    color: #fff;
}

.doc-swatches__swatch-item {
    padding: 6px 12px;
    display: block;
    font-size: 12px;
    letter-spacing: 0.06em;
}

.docs-page__example-box {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 16rem;
    border-radius: 4px;
}
.docs-page__example-box p {
    text-align: center;
    color: #969696;
    font-size: 1.6rem;
    font-weight: 300; 
    margin: 0;
}


/* -------------- END COLOR SWATCHES -------------- */

/*// extra large screen media query /100em = 1600px/*/
@media only screen and (min-width: 100em) {
    .docs-page__section {
        max-width: 80%;
    } 
    /* .docs-page__container-fluid .docs-page__h2,
    .docs-page__container-fluid .docs-page__paragraph,
    .docs-page__container-fluid .docs-page__code-window {
        max-width: 72%;
    } 
    .doc-swatches__grid {
        max-width: 80%;
    }*/
}