@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic,500italic,700italic,300,300italic');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400&subset=latin-ext');

body.docs-page {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 140%;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}
h1.docs-page__h1 {
    font-size: 36px;
    font-weight: 300;
    line-height: 140%;
    margin: 0;
}
h2.docs-page__h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 140%;
    margin: 0 0 0.6em 0;
}
h2.docs-page__group-heading {
   font-size: 36px;
   font-weight: 300;
   margin: 1.6em 0 -0.6em 0;
   line-height: 140%;
   color: #747474;
   color: #999;
}
h2.docs-page__group-heading:first-of-type {
    margin-top: 1em;
}
h3.docs-page__h3 {
    font-size: 23px;
    line-height: 140%;
    margin: 0 0 0.4em 0;
}
h4.docs-page__h4 {
    font-size: 18px;
    line-height: 140%;
    margin: 0 0 0.4em 0;
}
p.docs-page__paragraph {
    font-size: 16px;
    margin: 1em 0;
    line-height: 150%;
    font-weight: 300;
}
.docs-page__code-example p.docs-page__paragraph {
    color: #7abcd1;
}

p.docs-page__paragraph--topMarginL {
    margin-top: 3em;
}
.docs-page__code-example p.docs-page__paragraph--small {
    color: #999;
    font-size: 14px;
    margin: -1em 0 1em;
}
p.docs-page__paragraph:first-child {
    margin: 0 0 1em;
}
p.docs-page__paragraph b {
    font-weight: 500;
}
.docs-page .link {
    color: #5eadc8;
    text-decoration: none;
}
.docs-page .link:hover {
    text-decoration: underline;
}
.docs-page__header {
    background: #5eadc8;
    color: white;
    padding: 15px 20px;
}
.docs-page__footer {
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 20px;
    font-size: 12px;
}
.docs-page__container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.docs-page__sidebar {
    position: fixed;
    top: 80px;
    bottom: 0;
    overflow-y: auto;
    width: 220px;
    padding: 20px 15px 40px;
    margin: 20px 0;
    box-sizing: border-box;
    transition: all .2s ease;
}
.docs-page__sidebar.scroll {
    top: 0;
    margin-top: 0;
}
.docs-page__content {
    margin-left: 240px;
    min-width: 600px;
}
.docs-page__nav-title {
    text-transform: uppercase;
    color: #a3a3a3;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.1em;
    display: inline-block;
    margin-top: 16px;
}
.docs-page__nav>li:first-child .docs-page__nav-title {
    margin-top: 0;
}
.docs-page__nav>li {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    color: #666;
}
.docs-page__nav>li>a {
    font-size: 16px;
    line-height: 36px;
    color: #666;
    text-decoration: none;
}
.docs-page__nav>li>a:hover {
    color: #333;
    opacity: 1;
}
.docs-page__nav>li.active a {
    color: #5eadc8;
}

.docs-page__section {
    padding: 40px 0 0;
}
.docs-page__section:last-child {
    padding: 40px 0 100px;
}
.docs-page__pre {
    display: block;
    padding: 9.5px;
    margin: 0;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.docs-page__code-window {
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    margin: 10px 0 20px;
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.07);
    box-shadow: 0 2px 8px rgba(0,0,0,.07);
}
.docs-page__window-bar {
    padding: 10px;
    border-top: 1px solid #eaeae9;
    border-bottom: 1px solid #dfdfde;
    background: #ebebeb;
}
.docs-page__window-bar>a {
    font-size: 16px;
    color: #999;
    padding: 0 4px;
    text-decoration: none;
}
.docs-page__window-bar>a.active {
    color: #5eadc8;
}
.docs-page__code-example {
    padding: 20px;
}
.docs-page__code-example--grey {
    background-color: #f8f8f8;
}
.docs-page__code-example .docs-page__content-block {
    margin-bottom: 20px;
}
.docs-page__code-example .docs-page__content-row > .btn,
.docs-page__code-example .docs-page__content-row > .label,
.docs-page__code-example .docs-page__content-row > .badge {
    margin-right: 6px;
    margin-bottom: 10px;
}

.docs-page__content-row {
    margin-bottom: 20px;
}
.docs-page__content-row--ui-dark {
    background: #3b3b3b;
    padding: 10px;
}
.docs-page__content-row--gray {
    background: #F2F2F2;
    padding: 10px;
}
.docs-page__code-markup {
    display: none;
    background-color: #000;
    padding: 16px 16px 16px 36px;
    overflow-y: scroll;
}
.docs-page__code-markup ol {
    margin-left: 10px;
}


pre.prettyprint {
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    line-height: 150%;
    font-weight: 300;
}

p.docs-page__paragraph code {
    font-size: 85%;
    padding: 0.2em 0.4em;
    background-color: rgba(0,0,0,0.07);
    border-radius: 3px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

.docs-page__code-example .flex-grid .flex-grid__item,
.docs-page__code-example .grid .grid__item {
    background-color: #fff;
    min-height: 60px;
    border: 1px dotted rgba(0,0,0,0.2);
}
.docs-page__code-example .grid.grid--boxed .grid__item {
    background-color: transparent;
}
.docs-page__code-example .grid.grid--boxed.grid--boxed-styled .grid__item {
    background-color: #fff;
}
.docs-page__code-example .grid .grid .grid__item {
    border: 1px dotted #5eadc8;
}
.docs-page__code-example .flex-grid .flex-grid__item {
    padding: 20px;
}
.docs-page__code-example .flex-grid.flex-grid--boxed .flex-grid__item {
    background-color: #fff !important;
    border:none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0,0,0,.12) !important;
}
.docs-page__icon-font-list {
    margin: 20px 0;
}
.docs-page__icon-font-list li {
    display: inline-block;
    width: 200px;
    min-height: 30px;
    padding: 4px 8px;
    margin-right: 20px;
    margin-bottom: 25px;
    color: gray;
    box-sizing: border-box;
    border-radius: 2px;
}
.docs-page__icon-font-list--big li {
    width: 300px;
    padding: 4px 8px;
    margin-right: 20px;
    margin-bottom: 25px;
}

.docs-page__icon-font-list--big {
    margin-top: 45px;
}

.docs-page__icon-font-list li i {
    margin-right: 10px;
    vertical-align: middle;
}

.docs-page__icon-font-list--big li i {
    margin-right: 16px;
}

.docs-page__icon-font-list li span {
    font-size: 14px;
    vertical-align: middle;

}

.docs-page__icon-font-list--dark {
    background: #666;
    color: lightgray !important;
}

/*// extra large screen media query /100em = 1600px/*/
@media only screen and (min-width: 100em) {
    .docs-page__content {
        max-width: 70%;
    }

}