// LAYOUT : Basic Layouts : layout/basic-layout.scss
// -----------------------------------------------------

// ============================================================================
// 
// ============================================================================

.sd-page {
    position: absolute;
    top: 48px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    overflow: hidden;
}

.sd-page__sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.sd-page__main-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;

    &--double-left-nav {
        left: 400px;
    } 
}

.sd-page__sidebar {
    & + .sd-page__main-content {
        left: 200px;
    }
    & + .sd-content-navigation-panel {
        left: 200px;
        top: 0;
        bottom: 0;
        position: absolute;
    }
}

.sd-page__header {
    height:48px;
    flex-shrink: 0;
    border-bottom: 1px solid #dedede;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    z-index: 2;
    &--white {
        background-color: $white;
    }
    &--justify-space-between {
        justify-content: space-between;
    }
}

.sd-page__element-grow {
    flex-grow: 1;
    display: inline-block;

    &--x-padding {
        padding: 0 20px;
    }
}

.sd-page__page-heading {
    font-size: 1.6rem;
    color: $sd-text;
    font-weight: 500;
}

.sd-page__content {
    flex-grow: 1;
    padding: 20px;
    overflow: auto;

    &--centered-dashboard {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 80px auto;
    }
}

.sd-page__flex-helper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0; // fix for Firefox
}

.sd-overlay-panel {
    z-index: 2;
    position: absolute;
    top: $subnav-height;
    right: 0;
    bottom: 3rem;
    width: 0;
    background-color: $white;
    color: $sd-text;
    box-shadow: -2px 0 12px 0 rgba(0,0,0,0.3);
    overflow: hidden;
    transition: all 0.1s ease-out;
    .side-panel {
        opacity: 0;
        transition: all 0.2s ease-out;
        transition-delay: .1s;
    }
    &--dark-ui {
        background-color: $sd-background-darkUI;
        color: $white;
    }
    &--open {
        width:40rem;
        overflow: auto;
        .side-panel {
            opacity: 1;
        }
        &.sd-overlay-panel--large {
            width:68rem;
        }
    }

}

.dark-ui {
    .sd-page__content {
        background-color: $grayMedium;
        color: $white;
    }
}