// LAYOUT : Basic Layouts : layout/basic-layout.scss

.sd-page {
    position: absolute;
    inset-block-start: 48px;
    inset-block-end: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    background: #fff;
    overflow: hidden;
}

.sd-page__sidebar {
    position: absolute;
    inset-block-start: 0;
    inset-block-end: 0;
    inset-inline-start: 0;
}

.sd-page__main-content {
    position: absolute;
    inset-block-start: 0;
    inset-block-end: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    background-color: var(--sd-colour-panel-bg--100);
    display: flex;
    flex-direction: column;
}

.sd-page__main-content--double-left-nav {
    inset-inline-start: 400px;
} 

.sd-page__sidebar {
    & + .sd-page__main-content {
        inset-inline-start: 240px;
    }

    & + .sd-content-navigation-panel {
        inset-inline-start: 240px;
        inset-block-start: 0;
        inset-block-end: 0;
        position: absolute;
    }
}

.sd-page__header {
    height:48px;
    flex-shrink: 0;
    border-block-end: 1px solid var(--sd-colour-line--light);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    z-index: 3;
}

.sd-page__header--justify-space-between {
    justify-content: space-between;
}

.sd-page__element-grow {
    flex-grow: 1;
    display: inline-block;
}

.sd-page__element-grow--x-padding {
    padding: 0 20px;
}

.sd-page__page-heading {
    font-size: 1.6rem;
    color: $sd-text;
    font-weight: 500;
}

.sd-page__content {
    flex-grow: 1;
    padding: 20px;
    overflow: auto;
    background-color: $mainListBackGround;
}

.sd-page__content--centered-dashboard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;

    .sd-grid-list {
        width: 60%;
        margin: 0 auto;
    }
}

.sd-page__flex-helper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0; // fix for Firefox
}

.sd-overlay-panel {
    z-index: 2;
    position: absolute;
    inset-block-start: $subnav-height;
    inset-inline-end: 0;
    inset-block-end: 3rem;
    width: 0;
    background-color: $white;
    color: $sd-text;
    box-shadow: -2px 0 12px 0 rgba(0,0,0,0.3);
    overflow: hidden;
    transition: all 0.1s ease-out;

    .side-panel {
        opacity: 0;
        transition: all 0.2s ease-out;
        transition-delay: .1s;
    }
}

.sd-overlay-panel--open {
    width:40rem;
    overflow: auto;

    .side-panel {
        opacity: 1;
    }
    
    &.sd-overlay-panel--large {
        width:68rem;
    }
}

[data-theme="dark-ui"] {
    .sd-overlay-panel {
        .side-panel {
            .side-panel__header {
                background-color: var(--sd-colour-bg--01);
            }
        }
    }
}
