.sd-container {
    display: flex;
    align-items: center;
    align-self: stretch;
}

.sd-container--inline-flex {
    display: inline-flex;
}

.sd-container--block {
    display: block;
}

.sd-container--direction-row {
    flex-direction: row;
}

.sd-container--direction-column {
    flex-direction: column;
    align-items: flex-start;
}

.sd-container--gap-none {
    gap: 0;
}

.sd-container--gap-x-small {
    gap: $sd-base-increment / 2;
}

.sd-container--gap-small {
    gap: $sd-base-increment;
}

.sd-container--gap-medium {
    gap: $sd-base-increment * 1.5;
}

.sd-container--gap-large {
    gap: $sd-base-increment * 2;
}
