// LAYOUT : General : layout/general.scss
// -----------------------------------------------------

// ============================================================================
// SUBNAV
// ============================================================================

.subnav {
    position: relative;
    display: flex;
    height:$subnav-height;
    background: $subnav-background;
    border-bottom: 0px;
    @include box-shadow-both(0 1px 3px rgba(0,0,0,0.07), 0 1px 0 0 rgba(0,0,0,0.1));
    @include transition(all, 0.3s, ease);
    z-index: 1001;
    align-items: center;
    color: $sd-text;
    flex-shrink: 0;
    &--padded {
        padding: 10px 20px;
    }
    &--darker {
        background: $subnav-background-darker;
    }
    &--dark-blue-grey {
      background: $subnav-background-dark-blue-grey;
      color: $white;
        .navbtn:hover {
          background: rgba(255, 255, 255, 0.20);
      }
    }
    &--mid-blue-grey {
      background: $subnav-background-mid-blue-grey;
      color: $white;
    }
    &--absolute {
      position: absolute;
      top:48px;
      left:0;
      right:0;
    }
    &--dark-ui {
      background: $subnav-background-darkUi;
      @include box-shadow-both(0 1px 3px rgba(0,0,0,0.12), 0 1px 0 0 rgba(0,0,0,0.1));
      color: $white;
    }
    + .subnav,
    &--lower-z-index {
      z-index: 999;
  }
  .sd-check__group {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.subnav__element-grow {
  flex-grow: 1;
}
.subnav__page-title {
  padding: 1rem 2rem;
  color: inherit;
  font-size: 1.8rem;
  line-height: 2.8rem;
  flex-grow: 1;
  @include text-overflow();
  @include text-normal();
  &--no-grow {
    flex-grow: 0;
  }
}
.subnav__desk-stage {
    flex-grow: 1;
}


.subnav {
  &.subnav--level2 {
      position: absolute;
      top:0;
      left: 0;
      z-index: 2;
      box-shadow: none;
  }
}

.subnav__sliding-toolbar {
  @include sliding-toolbar; // See mixins.scss for details
}

.button-stack {
  height:$subnav-height !important;
  position: relative;
  margin: 0 20px 0 0;
  float: left;
    > .btn {
    margin-left: 20px;
    margin-top: 10px;
  }
  &.right-stack, &--right {
    float: right;
    margin: 0 0 0 5px;
    .navbtn {
      border-left: 1px solid rgba(0,0,0,0.1) !important;
      border-right: 0 !important;
    }
    > .btn {
      margin-right: 12px;
      margin-left: 0;
    }
  }
}

.navbtn {
    position: relative;
    display: inline-block;
    height: $subnav-height;
    width: 4.8rem;
    padding: 0 10px;
    background: transparent;
    color: inherit;
    text-align: center;
    line-height: 5.6rem;
    text-decoration: none;
    border: 0;
    border-left: 1px solid rgba(0,0,0,.1);
    cursor:pointer;
    transition: background-color 0.2s ease-out, color 0.1s ease-out;
    i {
        opacity: 0.75;
        vertical-align: baseline !important;
        transition: opacity 0.2s ease-out;
    }
    [class^="big-icon--"],
    [class*=" big-icon--"] {
      line-height: 1;
      color: currentColor;
      display: block;
    }
    .big-icon--send-to {
      margin-left: 0.3rem;
    }
    [class^="icon-"],
    [class*=" icon-"] {
      color: currentColor;
    }
    &:hover {
        background: rgba(255, 255, 255, 0.5);
        > i {
            opacity: 1;
        }
    }
    &.navbtn--left {
      border-left: none;
      border-right: 1px solid rgba(0,0,0,.1);
    }
    &.navbtn--blue {
        background: $sd-blue;
        border-left: 1px solid lighten($sd-blue, 10%);
        color: $white;
        &.disabled {
            background: #898989;
        }
    }
    &.navbtn--text-only {
      width: auto;
      line-height: $subnav-height;
      padding: 0 20px;
      border-left: none;
      font-size: 1.5rem;
    }
    &.navbtn--border-r {
      border-right: 1px solid rgba(0,0,0,.1) !important;
    }
    &.navbtn--highlighted {
      background-color: $purple !important;
      transition: all 0.3s;
      padding: 0 0 0 9px;
      color: $white;
      &:hover {
        background-color: darken($purple, 10%);
      }
    }
    &.navbtn--darker {
      background-color: rgba(0, 0, 0, 0.05);
    }
    &.navbtn--active {
      background-color: $sd-blue;
        > i {
          opacity: 1;
          color: $white;
      }
    }
    &.navbtn--publish {
      background-color: rgba(0, 0, 0, 0.05);
    }
}
.subnav--dark-ui {
  .navbtn:hover {
    background-color: rgba(255, 255, 255, 0.06);
  }
}
.dropdown.open {
    .navbtn {
        background: rgba(255, 255, 255, 1);
        box-shadow: -2px -1px 5px -2px rgba(0, 0, 0, 0.2), 3px -1px 5px -2px rgba(0, 0, 0, 0.2);
        z-index: $zindexDropdown + 1;
        > i {
            opacity: 1;
            color: $sd-blue;
        }
    }
    .sd-create-btn {
      i {
        color: $white;
      }
    }
}

.subnav__stretch-bar {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0 16px;
  align-items: center;
  &.subnav__stretch-bar--right {
    text-align: right;
    justify-content: flex-end;
  }
}
.subnav__content-bar {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 1;
  margin: 0 16px;
  align-items: center;
  &.subnav__content-bar--right {
    text-align: right;
    justify-content: flex-end;
  }
}
.subnav__spacer {
  width: 1px;
  height: $subnav-height;
  flex-grow: 0;
  border-left: 1px solid rgba(0,0,0,.1);
  margin: auto 2rem;
  &--dotted {
    border-left: 1px dotted rgba(0,0,0,.3);
    height: $subnav-height / 2;
  }
  &--no-r-margin {
    margin-right: -0.1rem;
  }
  &--no-l-margin {
    margin-left: 0;
  }
  &--no-margin {
    margin-left: 0;
    margin-right: 0; 
  }
  
}
.subnav__button-stack {
  position: relative;
  //max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  
  &--square-buttons {
    height:48px;
    margin: 0 0 0 16px;
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 0;
    flex-shrink: 1;
    max-width: 100%;
  }
  &--custom-buttons {
    margin: 0 auto;
    padding: 10px 12px;
    border: 1px solid rgba(0,0,0,0.1);
    border-width: 0 1px;
    box-sizing: border-box;
    display: flex;
    max-width: 100%;
    .btn {
      flex-grow: 0;
      margin:0 4px;
    }
    .btn__text--short {
      display: none;
    }
    .btn__text {
      display: inline;
    }
  }
  &--right {
    text-align: right;
    padding-right: 2rem;
  }
  &--padded {
    padding: 0 1rem;
    flex-shrink: 0;
  }
}

.subnav__button-stack--custom-buttons {
  .btn__text--short {
    display: none;
  }
  .btn__text {
    display: inline;
  }
}
.compact {
  .subnav__button-stack--custom-buttons {
    .btn__text--short {
      display: inline;
    }
    .btn__text {
      display: none;
    }
  }
}

.subnav__button-stack--default {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  padding: 10px 0;
  .btn {
    flex-grow: 0;
    margin:0 4px;
  }
  .btn--close {
    .btn__text--alt-icon {
      display: none;
    }
    .btn__text {
      display: inline;
    }
  }
}

.subnav__button-stack--default {
  &.compact {
    .btn--close {
      padding: 0 3px 0 6px;
      .btn__text--alt-icon {
        display: inline;
        opacity: 0.7;
      }
      .btn__text {
        display: none;
      }
    }
  }
}
a.text-link {
  text-decoration: none;
  color: $sd-blueMedium;
  transition: all 0.1s ease-in;
  display: inline-block;
  &:hover {
    color: darken($sd-blueMedium, 10%);
    text-decoration: underline;
  }
  [class^="icon-"], [class*=" icon-"] {
    color: currentColor;
    vertical-align: middle;
    margin-right: 0.3rem;
    position: relative;
    top: -0.2rem;
  }
  &.text-link--white {
    color: rgba(255, 255, 255, 0.4);
    &:hover {
      color: rgba(255, 255, 255, 0.75);
      text-decoration: none;
    }
    &:active {
      color: rgba(255, 255, 255, 1);
    }
  }
}

// ============================================================================
// PLANNING SPECIFIC ADDITIONS FOR RESPONSIVE BEHAVIOUR OF THE SUBNAV BAR
// ============================================================================

.subnav--responsive {

  .navbtn.navbtn--text-only {
    font-size: 1.4rem;
  }

  .subnav__stretch-bar {
    margin-right: 0;
  }

  .subnav__spacer {
    margin-left: 1.2rem;
  }

  #planning-dropdown {
    display: none;
    margin-left: -1.2rem;
  }

  .dropdown__toggle {
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 2.6rem !important;
    .dropdown__caret {
      position: absolute;
      top: 50%;
      right: 1rem;
    }
  }
  .navbtn {
    flex-shrink: 0;
  }
  .navbtn.navbtn--text-only {
    flex-shrink: 1;
    padding: 0 1.2rem;
  }
}

.sd-page-content--slide-in--open {
  .subnav--responsive {
    .sd-check__wrapper + .sd-check__wrapper {
      margin-left: 0.4rem;
    }

    .subnav__stretch-bar {
      margin: 0 1.2rem;
      margin-right: 0;
    }

    .subnav__button-stack--padded {
      padding: 0 0.6rem;
    }

    .navbtn.navbtn--text-only {
      font-size: 1.3rem;
    }
  }
}

// ------------- MEDIA QUERIES ---------------------
// -------------------------------------------------

@media only screen and (max-width: 1366px) {
  .sd-page-content--slide-in--open .sd-page-content__content-block--30-slide {
    width: 50rem;
  }

  .sd-page-content--slide-in--open .sd-page-content__content-block--main {
    width: calc(100vw - 54.8rem);
  }
}

// Editing Closed

@media only screen and (max-width: 800px) {
  .subnav--responsive {
    #planning-dropdown {
      display: block;
    }
    #planning-buttons {
      display: none;
    }
    .dropdown__toggle {
      max-width: 160px;
    }
    &.compact--level-1 {
      .dropdown__toggle {
        max-width: 160px;
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .subnav--responsive.compact--level-1 {
    #planning-dropdown {
      display: block;
    }
    #planning-buttons {
      display: none;
    }
  }
}

// Editing Open

@media only screen and (max-width: 1480px) {
  .sd-page-content--slide-in--open {
    .subnav--responsive {
      &.compact--level-1 {
        #planning-dropdown {
          display: block;
        }
        #planning-buttons {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 1250px) {
  .sd-page-content--slide-in--open {
    .subnav--responsive {
      #planning-dropdown {
        display: block;
      }
      #planning-buttons {
        display: none;
      }
      .dropdown__toggle {
        max-width: 160px;
      }
    }
  }
}
