<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Superdesk UI Framework</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
    </head>
    <body class="docs-page" ng-app="ui-docs" doc-playground>
        <header class="docs-page__header" ng-if="!route.current.$$route.playground">
            <h1 class="docs-page__h1">Superdesk UI Framework</h1>
            <div class="docs-page__playground_picker">
                <div class="form__row">
                    <div class="dropdown" dropdown>
                        <button class="dropdown__toggle" dropdown__toggle>
                            Superdesk playground
                            <span class="dropdown__caret"></span>
                        </button>
                        <ul class="dropdown__menu">
                            <li ng-repeat="playground in playgrounds">
                                <a href="#{{playground.originalPath}}" target="_blank">{{playground.title}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown" dropdown>
                        <button class="dropdown__toggle" dropdown__toggle>
                            Publisher playground
                            <span class="dropdown__caret"></span>
                        </button>
                        <ul class="dropdown__menu">
                            <li ng-repeat="playground in publisherPlaygrounds">
                                <a href="#{{playground.originalPath}}" target="_blank">{{playground.title}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <aside class="docs-page__sidebar" doc-scroll ng-class="{scroll:boolChangeClass}" ng-if="!route.current.$$route.playground && !route.current.$$route.react">
            <ul class="docs-page__nav" doc-nav>
                <li ng-repeat="group in components">
                    <span class="docs-page__nav-title">{{group.name}}</span>
                    <ul class="docs-page__nav--sub-level">
                        <li class="docs-page__nav-item" ng-repeat="(name, item) in group.items" ng-class="{'docs-page__nav-item--active': isActive(name)}"><a href="#{{name}}">{{item.name}}</a></li>
                    </ul>
                </li>
            </ul>
        </aside>

        <main class="docs-page__content" ng-class="{'docs-page__container-fluid': !route.current.$$route.playground}" ng-view></main>

        <div react-playground ng-if="route.current.$$route.react"></div>
    </body>
</html>
