<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Superdesk UI Playground</title>
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/vendor.css">
        <link rel="stylesheet" href="../dist/superdesk-ui-framework.min.css">
    </head>
    <body class="docs-page" ng-app="ui-docs">
        <div style="height:100vh; background: #f8f8f8;">
            <div class="side-panel side-panel--shadow-left" style="width:600px;">
                <div class="side-panel__header">
                     <ul class="nav-tabs">
                        <li ng-class="{'nav-tabs__tab--active': !tab || tab === 'content'}" class="nav-tabs__tab">
                            <button ng-click="tab = 'content'" class="nav-tabs__link"><span translate="">Content</span></button>
                        </li>
                        <li ng-class="{'nav-tabs__tab--active': tab === 'metadata'}" class="nav-tabs__tab">
                            <button ng-click="tab = 'metadata'" class="nav-tabs__link"><span translate="">Metadata</span></button>
                        </li>
                        <li ng-class="{'nav-tabs__tab--active': tab === 'duplicates'}" class="nav-tabs__tab">
                            <button ng-click="tab = 'duplicates'" class="nav-tabs__link"><span translate="">Duplicates</span></button>
                        </li>
                    </ul> 
                </div>
                <div class="side-panel__content" style="padding: 30px">

                        <div class="sd-collapse-box sd-shadow--z2" ng-class="{'sd-collapse-box--open' : isOpen1}">
                            <div class="sd-collapse-box__header" ng-click="isOpen1 = !isOpen1">
                                <!-- list item  -->
                                <div class="sd-list-item sd-list-item--no-bg">
                                    <div class="sd-list-item__border"></div>
                                    <div class="sd-list-item__column sd-list-item__column--no-border">
                                        <figure class="avatar avatar--no-margin">sd</figure>
                                        <!-- <i class="icon-calendar"></i> -->
                                    </div>
                                    <div class="sd-list-item__column sd-list-item__column--grow sd-list-item__column--no-border">
                                        <div class="sd-list-item__row">
                                            <i class="icon-photo sd-list-item__inline-icon"></i> 
                                            <span class="sd-overflow-ellipsis sd-list-item--element-grow">Photo</span>
                                            <time title="March 22, 2017 11:08 AM"><i class="icon-time"></i> Saturday, 7. October 13:35</time>
                                        </div>
                                        <div class="sd-list-item__row">
                                            <span class="sd-overflow-ellipsis sd-list-item--element-grow"><span class="sd-list-item__text-label sd-list-item__text-label--normal">Desk:</span>Sports; <span class="sd-list-item__text-label sd-list-item__text-label--normal">Assignee:</span>Mika Karapet</span>
                                        </div>
                                    </div>
                                    <div class="sd-list-item__action-menu sd-list-item__action-menu--direction-row">
                                        <button class="icn-btn">
                                            <i class="icon-dots-vertical"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- END list item  -->
                            </div>
                            <div class="sd-collapse-box__content-wraper">
                                <div class="sd-collapse-box__content">
                                    <div class="sd-collapse-box__tools">
                                        <a class="icn-btn" sd-tooltip="Collapse" flow="left" ng-click="isOpen1 = false"><i class="icon-chevron-up-thin"></i></a>
                                        <a class="icn-btn"><i class="icon-dots-vertical"></i></a>
                                    </div>
                                    <div class="sd-collapse-box__content-block sd-collapse-box__content-block--top">
                                        <div class="sd-list-item sd-list-item--no-bg sd-list-item--no-hover">
                                            <div class="sd-list-item__border"></div>
                                            <div class="sd-list-item__column sd-list-item__column--no-border">
                                                <figure class="avatar avatar--no-margin avatar--large">sd</figure>
                                            </div>
                                            <div class="sd-list-item__column sd-list-item__column--grow sd-list-item__column--no-border">
                                                <div class="sd-list-item__row">
                                                    <span class="sd-overflow-ellipsis sd-list-item--element-grow"><span class="sd-list-item__text-label sd-list-item__text-label--normal">Desk:</span>Sports</span>
                                                </div>
                                                <div class="sd-list-item__row">
                                                    <span class="sd-overflow-ellipsis sd-list-item--element-grow"><span class="sd-list-item__text-label sd-list-item__text-label--normal">Assignee:</span>Mika Karapet</span>
                                                </div>
                                            </div>
                                            <div class="sd-list-item__column sd-list-item__column--no-border">
                                                <a class="btn btn--hollow btn--small">Reassign</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form__row">
                                        <div class="sd-line-input sd-line-input--is-select">
                                            <label class="sd-line-input__label">Type</label>
                                            <select class="sd-line-input__select">
                                                <option value="">Text</option>
                                                <option value="">Video</option>
                                                <option value="">Audio</option>
                                                <option value="">Infographics</option>
                                                <option value="">Live Blog</option>
                                                <option value="">Live Video</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form__row">
                                        <div class="sd-line-input">
                                            <label class="sd-line-input__label">Slugline</label>
                                            <input class="sd-line-input__input" type="text">
                                        </div>
                                    </div>
                                    <div class="form__row">
                                        <div class="sd-line-input">
                                            <label class="sd-line-input__label">Ed note</label>
                                            <textarea class="sd-line-input__input"></textarea>
                                        </div>
                                    </div>
                                    <div class="form__row">
                                        <div class="sd-line-input">
                                            <label class="sd-line-input__label">Internal Note</label>
                                            <textarea class="sd-line-input__input"></textarea>
                                        </div>
                                    </div>

                                    <div class="form__row">
                                        <div class="sd-line-input sd-line-input--is-select">
                                            <label class="sd-line-input__label">Coverage Status</label>
                                            <select class="sd-line-input__select">
                                                <option value="">Planned</option>
                                                <option value="">On merit</option>
                                                <option value="">Not planned</option>
                                                <option value="">On request</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form__row form__row--flex">
                                            <label class="form-label">Due</label>
                                            <div class="sd-line-input sd-line-input--no-margin">
                                                <a class="icn-btn sd-line-input__icon-right"><i class="icon-calendar"></i></a>
                                                <input class="sd-line-input__input" type="text">
                                            </div>
                                            <div class="sd-line-input sd-line-input--no-margin">
                                                <a class="icn-btn sd-line-input__icon-right"><i class="icon-time"></i></a>
                                                <input class="sd-line-input__input" type="text">
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>



                    <div sd-toggle-box data-title="Some title" data-open="true" style="margin:20px 10px;">
                        <p class="simple-list simple-list--dotted simple-list--comfortable" style="margin:0; padding:0 10px;">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt 
                            ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo 
                            dolores et ea rebum. Stet clita kasd gubergren.
                        </p>
                    </div>
                    <div sd-toggle-box data-title="Some title" data-open="false" style="margin:20px 10px;">
                        <p class="simple-list simple-list--dotted simple-list--comfortable" style="margin:0; padding:0 10px;">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt 
                            ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        </p>
                    </div>
                    <ul class="simple-list simple-list--dotted simple-list--comfortable" style="margin:10px;">
                        <li class="simple-list__item">Add your content...</li>
                        <li class="simple-list__item">Add your content...</li>
                        <li class="simple-list__item">Add your content...</li>
                        <li class="simple-list__item">Add your content...</li>
                        <li class="simple-list__item">Add your content...</li>
                        <li class="simple-list__item">Add your content...</li>
                        <li class="simple-list__item">Add your content...</li>
                        <li class="simple-list__item">Add your content...</li>
                        <li class="simple-list__item">Add your content...</li>
                        <li class="simple-list__item">Add your content...</li>
                    </ul>
                </div>
                <div class="side-panel__footer">

                </div>
            </div>
        </div>
        <script type="text/javascript" src="js/vendor.js"></script>
        <script type="text/javascript" src="../dist/superdesk-ui-framework.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
    </body>
</html>
