.side-panel {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-gap: 0;
    height: 100vh;
    position: relative;
    background-color: $white;
    .side-panel__header {
        grid-column: 1/2;
        grid-row: 1/2;
        z-index: 2;
        position: relative;
        min-height: 4.8rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        &--border-b {
            box-shadow: 0 1px 0 rgba(0,0,0,.12);
        }
        .nav-tabs {
            flex-grow: 1;
        }
    }
    .side-panel__sliding-toolbar {
        @include sliding-toolbar; // See mixins.scss for details
    }
    
    .side-panel__heading {
        padding: 0 2rem 0 2rem;
        margin: 0;
        font-size: 1.5rem;
        color: $gray;
        font-weight: 300;
        letter-spacing: 0.02em;
        &--big {
            color: $sd-text;
            font-weight: 400;
            font-size: 1.8rem;
            letter-spacing: 0.01em;
        }
    }
    .side-panel__close {
        position: absolute;
        right: 1rem;
        top: 1.1rem;
        z-index: 2;
        color: $gray;
    }
    .side-panel__tools {
        position: absolute;
        right: 1rem;
        top: 1.1rem;
        z-index: 2;
        color: $gray;
        .icn-btn {
            margin-left: 0.2rem;
        }
    }
    .side-panel__content {
        grid-column: 1/2;
        grid-row: 2/3;
        z-index: 1;
        overflow: auto;
    }
    .side-panel__content-block {
        padding: 2rem;
        &--pad-top-0 {
            padding-top: 0;
        }
        &--boxed {
            padding: 1.6rem;
            border-radius: 3px;
            margin-bottom: 1rem;
        }
        &--pad-small {
            padding: 1.4rem 2rem 0.6rem;
        }
        &--flex {
            display: flex;
            align-items: top;
        }
    }
    // Use only inside cside-panel__content-block--flex for grouping and positioning content
    .side-panel__content-block-inner {
        flex-grow: 0;
        &--right {
            text-align: right;
        }
        &--grow {
            flex-grow: 1;
        }
    }


    .side-panel__top-tools {
        padding: 2rem;
        background-color: $grayLighter;
        padding: 1.2rem 1rem 1.2rem 2rem;
        display: flex;
        align-items: center;
        .side-panel__top-tools-left {
            text-align: left;
            flex-grow: 1;
        }
        .side-panel__top-tools-right {
            text-align: right;
            flex-grow: 1;
        }
    }
    .side-panel__footer {
        grid-column: 1/2;
        grid-row: 3/4;
        z-index: 2;
        &--button-box {
            background-color: #f1f1f1;
            padding: 1rem 2rem;
            position: relative;
            &::before {
                position: absolute;
                content: '';
                top: -0.4rem;
                left: 0;
                right: 0;
                height: 0.4rem;
                background-image: linear-gradient(to top,rgba(0,0,0,.1) 0%,rgba(0,0,0,0) 100%);
            }
        }
    }
    &.side-panel--shadow-left::after {
        display:block;
        top: 0;
        bottom: 0;
        content: '';
        width: 4px;
        position: absolute;
        right: 0;
        z-index: 80;
        background-image: linear-gradient(to left,rgba(0,0,0,.12) 0%,rgba(0,0,0,0) 100%);
    }
    &.side-panel--shadow-right::after {
        display:block;
        top: 0;
        bottom: 0;
        content: '';
        width: 4px;
        position: absolute;
        left: 0;
        z-index: 80;
        background-image: linear-gradient(to right,rgba(0,0,0,.12) 0%,rgba(0,0,0,0) 100%);
    }
    &.side-panel--transparent {
        background-color: transparent;
        .side-panel__header {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
}