$side-panel-Bg: $white;
$side-panel-Bg-darkUi: darken($grayMedium, 4%);

.side-panel {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-gap: 0;
    height: 100%;
    position: relative;
    background-color: $side-panel-Bg;
    .side-panel__header {
        grid-column: 1/2;
        grid-row: 1/2;
        z-index: 1;
        position: relative;
        min-height: 4.8rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        &--border-b {
            box-shadow: 0 1px 0 rgba(0,0,0,.12);
        }
        .nav-tabs {
            flex-grow: 1;
        }
        &--dark-blue-grey {
            background-color: $subnav-background-dark-blue-grey;
            color: $white;
        }
        &--border-bottom {
            box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
        }
    }
    .side-panel__sliding-toolbar {
        @include sliding-toolbar; // See mixins.scss for details
    }
    
    .side-panel__heading {
        padding: 0 2rem 0 2rem;
        margin: 0;
        font-size: 1.5rem;
        color: inherit;
        opacity: 0.8;
        font-weight: 300;
        letter-spacing: 0.02em;
        &--big {
            color: $sd-text;
            font-weight: 400;
            font-size: 1.8rem;
            letter-spacing: 0.01em;
        }
    }
    .side-panel__close {
        position: absolute;
        right: 1rem;
        top: 1.1rem;
        z-index: 2;
        color: $gray;
    }
    .side-panel__tools {
        position: absolute;
        right: 1rem;
        top: 1.1rem;
        z-index: 2;
        color: inherit;
        .icn-btn {
            margin-left: 0.2rem;
        }
    }
    .side-panel__content {
        grid-column: 1/2;
        grid-row: 2/3;
        z-index: 1;
        overflow: auto;
        &--flex {
            display: flex;
            flex-direction: column;
        }
        &--split {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            .side-panel__content-block--left {
                grid-column: 1/2;
                grid-row: 1/2;
                overflow-y: auto;
                background-color: rgba(0,0,0,.1);
            }
            .side-panel__content-block--right {
                grid-column: 2/3;
                grid-row: 1/2;
                overflow-y: auto;
            }
        }
    }
    .side-panel__content-tab-nav {
        min-height: 4.8rem;
        flex-grow: 0;
        flex-shrink: 0;
    }
    .side-panel__content-tab-content {
        flex-grow: 1;
        overflow: auto;
    }
    .side-panel__image-actions {
        position: absolute;
        top: 1.8rem;
        right: 0.5rem;
        z-index: 2;
    }
    .side-panel__content-block {
        padding: 2rem;
        &--pad-top-0 {
            padding-top: 0;
        }
        &--boxed {
            padding: 1.6rem;
            border-radius: 3px;
            margin-bottom: 1rem;
        }
        &--pad-small {
            padding: 1.4rem 2rem 0.6rem;
        }
        &--flex {
            display: flex;
            align-items: flex-start;
        }
        &--image {
            padding: 1rem 0 0 0;
            position: relative;
            .side-panel__image-actions {
                visibility: hidden;
            }
            img {
                display: block;
                max-width: 100%;
                max-height: 100%;
                height: auto;
                margin: auto;
            }
            &:hover {
                .side-panel__image-actions {
                    visibility: visible;
                }
            }
        }
        &--space-between {
            justify-content: space-between;
        }
        .side-panel__heading {
            padding: 0;
        }
    }
    // collapsible header
    .side-panel-collapsible-header {
        position: relative;
        padding: .8rem 2rem;
        box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.2);
        margin-bottom: 1rem;
        min-height: 40px;
        //transition: min-height 0.3s 0.3s ease-in;

        &__fixed {
            padding: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__collapsible {            
            height: 0;
            padding: 0;
            overflow: hidden;
            opacity: 0;
            transition: opacity 0.3s 0.4s;
        }
        &__toggle {
            position: absolute;
            width: 21px;
            height: 21px;
            border: 0;
            padding: 0;
            left: 50%;
            margin-left: -10.5px;
            bottom: -11px;
            background-color: #fff;
            z-index: 3;
            line-height: 0;
            border-radius: 50%;
            box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
            transition: transform 0.5s;

            &.active {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
        &.active {
            min-height: 150px;
            //transition: min-height 1s ease-in;

            .side-panel-collapsible-header__collapsible { 
                height: auto;
                opacity: 1;
                padding: .8rem 0;
            }
        }
    }
    .side-panel__content-block-heading {
        font-size: 1.9rem;
        line-height: 120%;
        font-weight: 500;
        margin: 2rem 0;

        &--small-margin {
            margin: 1rem 0;
        }
    }
    .side-panel__content-block-text {
        font-size: 1.5rem;
        line-height: 140%;
        font-weight: 300;
        word-wrap: break-word;
        padding-bottom: 1rem;
    }
    // Use only inside cside-panel__content-block--flex for grouping and positioning content
    .side-panel__content-block-inner {
        flex-grow: 0;
        &--right {
            text-align: right;
        }
        &--grow {
            flex-grow: 1;
        }
        .double-size-icn {
            margin: 0.1rem 1rem 0 0;
        }
    }
    .side-panel__content-block-overlay {
        position: absolute;
        top: 4.8rem;
        bottom: 6.4rem;
        right: -34rem;
        width: 34rem;
        background-color: #222;
        transition: all .2s ease;

        .side-panel {
            opacity: 0;
            transition: all 0.2s ease-out;
            transition-delay: .1s;
        }

        &--open {
            right: 0;

            .side-panel {
                opacity: 1;
            }
        }
    }

    .side-panel__top-tools {
        padding: 2rem;
        background-color: rgba(0,0,0,0.06);
        padding: 1.2rem 1rem 1.2rem 2rem;
        display: flex;
        align-items: center;
        .side-panel__top-tools-left {
            text-align: left;
            flex-grow: 1;
        }
        .side-panel__top-tools-right {
            text-align: right;
            flex-grow: 1;
        }
        &--dark-blue-grey {
            background: $subnav-background-dark-blue-grey;
            color: $white;
        }
    }
    .side-panel__footer {
        grid-column: 1/2;
        grid-row: 3/4;
        z-index: 2;
        &--button-box, &--button-box-large {
            //background-color: #f1f1f1;
            padding: 1rem 2rem;
            position: relative;
            &::before {
                position: absolute;
                content: '';
                top: -0.4rem;
                left: 0;
                right: 0;
                height: 0.4rem;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                background-image: linear-gradient(to top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
            }
        }
        &--button-box-large {
            padding: 1.4rem 2rem;
            .btn + .btn, .side-panel__footer-buttons--flex + .btn {
                margin-top: 1rem;
                margin-left: 0;
            }
        }
        .side-panel__footer-buttons--flex {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-basis: 0;
            .btn + .btn {
                margin-left: 0.8rem;
                margin-top: 0;
            }
        } 
    }
    &.side-panel--shadow-left::after {
        display:block;
        top: 0;
        bottom: 0;
        content: '';
        width: 4px;
        position: absolute;
        right: 0;
        z-index: 80;
        background-image: linear-gradient(to left,rgba(0,0,0,.12) 0%,rgba(0,0,0,0) 100%);
    }
    &.side-panel--shadow-right::after {
        display:block;
        top: 0;
        bottom: 0;
        content: '';
        width: 4px;
        position: absolute;
        left: 0;
        z-index: 80;
        background-image: linear-gradient(to right,rgba(0,0,0,.12) 0%,rgba(0,0,0,0) 100%);
    }
    &.side-panel--transparent {
        background-color: transparent;
        .side-panel__header {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
    &--dark-ui {
        background-color: $side-panel-Bg-darkUi;
        color: $white;
        .side-panel__heading {
            color: scale-color($white, $alpha: -50%);
            &--big {
                color: scale-color($white, $alpha: -20%);
            }
        }
        .side-panel__footer--button-box, .side-panel__footer--button-box-large {
            //background-color: scale-color($sd-background-darkUI, $lightness: -12%);
            background-color: rgba(94, 169, 200, 0.03);
            //border-top: 1px solid rgba(0,0,0,.04);
            &::before {
                background-image: linear-gradient(to top,rgba(0,0,0,.14) 0%,rgba(0,0,0,0) 100%);
            }
        }
        .dropdown__caret {
            border-top: 4px solid #FFF;
            opacity: .6;
        }
    }
}

// DARK UI ---------------------------------------------
//------------------------------------------------------

.dark-ui,
[class^="--dark-ui"],
[class*="--dark-ui"] {
    .side-panel {
        background-color: $side-panel-Bg-darkUi;
        color: $white;
        &.side-panel--transparent {
            background-color: transparent;
            .side-panel__header {
                box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
                background-color: rgba(94, 169, 200, 0.03);
            }
            .side-panel__footer {
                &--button-box, &--button-box-large {
                    background-color: rgba(94, 169, 200, 0.1);
                }
            }
        }
    }
}

