<div class="sd-page-grid--basic docs-page__content" doc-modal>
    <header class="sd-top-menu">
        <a href="" class="sd-top-menu__collapse-nav"><i class="icon-collapse icon--white"></i></a>
        <p class="sd-top-menu__header">Publisher</p>
    </header>

    <section class="sd-content sd-page-content--slide-in" ng-class="{
            'sd-page-content--slide-in--open' : editorOpen}">

        <div class="sd-sidebar-menu sd-page-content__left-tabs">
            <ul>
                <li sd-tooltip="Dashboard" flow="right">
                    <a href="" class="sd-sidebar-menu__btn">
                        <i class="sd-sidebar-menu__main-icon big-icon--dashboard"></i>
                        <i class="sd-sidebar-menu__helper-icon big-icon--chevron-left"></i>
                    </a>
                </li>
                <li sd-tooltip="Monitoring" flow="right">
                    <a href="" class="sd-sidebar-menu__btn">
                        <i class="sd-sidebar-menu__main-icon big-icon--view"></i>
                        <i class="sd-sidebar-menu__helper-icon big-icon--chevron-left"></i>
                    </a>
                </li>
                <li sd-tooltip="Highlights" flow="right">
                    <a href="" class="sd-sidebar-menu__btn">
                        <i class="sd-sidebar-menu__main-icon big-icon--marked-star"></i>
                        <i class="sd-sidebar-menu__helper-icon big-icon--chevron-left"></i>
                    </a>
                </li>
                <li sd-tooltip="Spiked" flow="right">
                    <a href="" class="sd-sidebar-menu__btn">
                        <i class="sd-sidebar-menu__main-icon big-icon--spike"></i>
                        <i class="sd-sidebar-menu__helper-icon big-icon--chevron-left"></i>
                    </a>
                </li>
                <li class="sd-sidebar-menu__spacer">
                </li>
                <li sd-tooltip="Personal" flow="right">
                    <a href="" class="sd-sidebar-menu__btn">
                        <i class="sd-sidebar-menu__main-icon big-icon--personal"></i>
                        <i class="sd-sidebar-menu__helper-icon big-icon--chevron-left"></i>
                    </a>
                </li>
                <li sd-tooltip="Search" flow="right">
                    <a href="" class="sd-sidebar-menu__btn">
                        <i class="sd-sidebar-menu__main-icon big-icon--global-search"></i>
                        <i class="sd-sidebar-menu__helper-icon big-icon--chevron-left"></i>
                    </a>
                </li>
                <li class="sd-sidebar-menu__spacer">
                </li>
                <li sd-tooltip="Publisher" flow="right">
                    <a href="" class="sd-sidebar-menu__btn sd-sidebar-menu__btn--active">
                        <i class="sd-sidebar-menu__main-icon big-icon--publisher"></i>                        
                    </a>
                </li>
                <li sd-tooltip="Planning" flow="right">
                    <a href="" class="sd-sidebar-menu__btn">
                        <i class="sd-sidebar-menu__main-icon big-icon--calendar"></i>
                        <i class="sd-sidebar-menu__helper-icon big-icon--chevron-left"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="sd-sidebar-menu sd-sidebar-menu--second-level sd-page-content__left-tabs">
            <ul>
                <li sd-tooltip="Dashboard" flow="right">
                    <a href="" class="sd-sidebar-menu__btn sd-sidebar-menu__btn--active">
                        <i class="sd-sidebar-menu__main-icon big-icon--dashboard-alt"></i>                        
                    </a>
                </li>
                <li sd-tooltip="Output Control" flow="right">
                    <a href="" class="sd-sidebar-menu__btn">
                        <i class="sd-sidebar-menu__main-icon big-icon--web"></i>                        
                    </a>
                </li>                
            </ul>
        </div>
        <div class="sd-page-content__content-block sd-page-content__content-block--double-sidebar" ng-class="{'open-filters': !leftFilterOpen}">
            <div class="subnav">
                <button class="navbtn navbtn--left">
                    <i class="icon-arrow-left"></i>
                </button>
                <h3 class="subnav__page-title">Content Lists</h3>
                <div class="dropdown dropdown--align-right" dropdown="">
                    <button class="navbtn dropdown sd-create-btn dropdown-toggle" dropdown__toggle="" aria-haspopup="true" aria-expanded="false">
                        <i class="icon-plus-large"></i>
                        <span class="circle"></span>
                    </button>   
                    <ul class="dropdown__menu dropdown--align-right">
                        <li>
                            <div class="dropdown__menu-label">Create new site</div>
                        </li>
                        <li class="dropdown__menu-divider"></li>
                        <li><button>Superdesk Publisher</button></li>
                        <li><button>Wordpress</button></li>                        
                    </ul>
                </div>
            </div>
            <div class="sd-column-box--3">
                <div class="sd-content-navigation-panel sd-content-navigation-panel--border-right">
                    <div class="subnav subnav--padded subnav--lower-z-index">
                        <h3 class="sd-content-nav-title">Website</h3>
                    </div>
                    <nav class="sd-content-nav">
                        <ul>
                            <li><a href="#" class="sd-content-nav__btn sd-content-nav__btn--active">Daily Telegraph</a></li>
                            <li><a href="#" class="sd-content-nav__btn">The Torch</a></li>
                            <li><a href="#" class="sd-content-nav__btn">Gotham Globe</a></li>
                            <li><a href="#" class="sd-content-nav__btn">Daily Bugle</a></li>
                            <li><a href="#" class="sd-content-nav__btn">The Daily Star</a></li>
                            <li><a href="#" class="sd-content-nav__btn">Sourcefabric.org</a></li>
                        </ul>
                    </nav>
                </div>                
                <div class="flex-grid flex-grid--grow flex-grid--small-1">
                    <div class="flex-grid__item flex-grid__item--d-flex flex-grid__item--column">
                        <div class="subnav subnav--lower-z-index subnav--mid-blue-grey">
                            <button class="navbtn navbtn--left">
                                <i class="icon-th"></i>
                            </button>
                            <button class="navbtn navbtn--left navbtn--darker" ng-click="leftFilterOpen = !leftFilterOpen" ng-class="{'navbtn--active': !leftFilterOpen}">
                                <i class="icon-filter-large"></i>
                            </button>
                            <button class="navbtn navbtn--left">
                                <i class="icon-search"></i>
                            </button>
                            <div class="dropdown" dropdown="">
                                <button class="dropdown__toggle navbtn navbtn--text-only dropdown-toggle" dropdown-toggle="">Breaking News
                                    <span class="dropdown__caret"></span>
                                </button>
                                <ul class="dropdown__menu scrollable">
                                    <li><div class="dropdown__menu-label">Content lists</div></li>
                                    <li><button>Breaking News</button></li>                                
                                    <li><button>Politics teaser / Home</button></li>                                
                                    <li><button>Entertainment teaser / Home</button></li>                                
                                    <li><button>Custom automated list</button></li>                                
                                </ul>
                            </div>
                        </div>
                        
                        <div class="sd-column-box--3">
                            <!-- filters -->
                            <div class="sd-filters-panel sd-filters-panel--border-right">
                                <div class="side-panel side-panel--transparent side-panel--shadow-right">
                                    <div class="side-panel__header side-panel__header--border-b">
                                            <a class="icn-btn side-panel__close" sd-tooltip="Close filters" flow="left" ng-click="leftFilterOpen = !leftFilterOpen"><i class="icon-close-small"></i></a>
                                        <h3 class="side-panel__heading side-panel__heading--big">Automatic List Criteria</h3>
                                    </div>
                                    <div class="side-panel__content">
                                        <div class="side-panel__content-block">
                                            <div class="form__row">
                                                <div class="sd-line-input sd-line-input--no-margin sd-line-input--with-button">
                                                    <span class="sd-line-input__plus-btn"></span>
                                                    <label class="sd-line-input__label">Routes</label>
                                                    <input class="sd-line-input__input" type="text">
                                                </div>
                                            </div>
                                            <div class="form__row">
                                                <div class="sd-line-input sd-line-input--no-margin sd-line-input--with-button">
                                                    <span class="sd-line-input__plus-btn"></span>
                                                    <label class="sd-line-input__label">Author</label>
                                                    <input class="sd-line-input__input" type="text">
                                                </div>
                                            </div>
                                            <div class="form__row form__row--flex">
                                                <div class="sd-line-input sd-line-input--no-margin">
                                                    <a class="icn-btn sd-line-input__icon-right"><i class="icon-calendar"></i></a>
                                                    <label class="sd-line-input__label">Published date</label>
                                                    <input class="sd-line-input__input" type="text">
                                                </div>                                                    
                                            </div>
                                            <div class="form__row form__row--flex">
                                                <div class="sd-line-input sd-line-input--no-margin">
                                                    <a class="icn-btn sd-line-input__icon-right"><i class="icon-calendar"></i></a>
                                                    <label class="sd-line-input__label">Published after</label>
                                                    <input class="sd-line-input__input" type="text">
                                                </div>                                                    
                                            </div>
                                            <div class="form__row form__row--flex">
                                                <div class="sd-line-input sd-line-input--no-margin">
                                                    <a class="icn-btn sd-line-input__icon-right"><i class="icon-calendar"></i></a>
                                                    <label class="sd-line-input__label">Published before</label>
                                                    <input class="sd-line-input__input" type="text">
                                                </div>                                                    
                                            </div>
                                            <div class="form__row">
                                                <div class="sd-line-input sd-line-input--no-margin sd-line-input--with-button">
                                                    <span class="sd-line-input__plus-btn"></span>
                                                    <label class="sd-line-input__label">Metadata</label>
                                                    <input class="sd-line-input__input" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="side-panel__footer side-panel__footer--button-box">
                                        <div class="flex-grid flex-grid--boxed-small flex-grid--small-1">
                                            <a class="btn btn--primary btn--large">Update Criteria</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sd-column-box__main-column">          
                                <div class="sd-list-item-group sd-shadow--z2">
                                    <div class="sd-list-item">
                                        <div class="sd-list-item__column sd-list-item__column--no-border sd-list-item__column--no-right-padding">
                                            <img src="/th01.jpg" class="sd-list-item__thumbnail" />
                                        </div>
                                        <div class="sd-list-item__column sd-list-item__column--grow">
                                            <div class="sd-list-item__row">
                                                <span class="sd-overflow-ellipsis sd-list-item__text-strong">Occaecat ad consequat officia esse occaecat pariatur et deserunt nulla pariatur Lorem aliquip eu.</span> 
                                            </div>
                                            <div class="sd-list-item__row">
                                                <span class="sd-overflow-ellipsis sd-list-item--element-grow">3 months ago</span>
                                                <span class="label label--success label--hollow">Style</span>
                                            </div>
                                        </div>                                                            
                                    </div>
                                    <div class="sd-list-item">
                                        <div class="sd-list-item__column sd-list-item__column--no-border sd-list-item__column--no-right-padding">
                                            <img src="/th02.jpg" class="sd-list-item__thumbnail" />
                                        </div>
                                        <div class="sd-list-item__column sd-list-item__column--grow">
                                            <div class="sd-list-item__row">
                                                <span class="sd-overflow-ellipsis sd-list-item__text-strong">Nostrud elit commodo exercitation enim ullamco dolor velit Lorem elit.</span> 
                                            </div>
                                            <div class="sd-list-item__row">
                                                <span class="sd-overflow-ellipsis sd-list-item--element-grow">3 months ago</span>
                                                <span class="label label--success label--hollow">Politics</span>
                                            </div>
                                        </div>                                                            
                                    </div>
                                    <div class="sd-list-item">                                
                                        <div class="sd-list-item__column sd-list-item__column--grow">
                                            <div class="sd-list-item__row">
                                                <span class="sd-overflow-ellipsis sd-list-item__text-strong">Dolor magna et tempor ullamco labore velit voluptate dolor nulla.</span> 
                                            </div>
                                            <div class="sd-list-item__row">
                                                <span class="sd-overflow-ellipsis sd-list-item--element-grow">3 months ago</span>
                                                <span class="label label--success label--hollow">Business</span>
                                            </div>
                                        </div>                                                            
                                    </div>
                                    <div class="sd-list-item">                                
                                        <div class="sd-list-item__column sd-list-item__column--grow">
                                            <div class="sd-list-item__row">
                                                <span class="sd-overflow-ellipsis sd-list-item__text-strong">Labore minim sint aliquip quis exercitation id culpa occaecat consequat.</span>
                                            </div>
                                            <div class="sd-list-item__row">
                                                <span class="sd-overflow-ellipsis sd-list-item--element-grow">3 months ago</span>
                                                <span class="label label--success label--hollow">Travel</span>
                                            </div>
                                        </div>                                                            
                                    </div>
                                    <div class="sd-list-item">
                                        <div class="sd-list-item__column sd-list-item__column--no-border sd-list-item__column--no-right-padding">
                                            <img src="/th03.jpg" class="sd-list-item__thumbnail" />
                                        </div>
                                        <div class="sd-list-item__column sd-list-item__column--grow">
                                            <div class="sd-list-item__row">
                                                <span class="sd-overflow-ellipsis sd-list-item__text-strong">Dolor laboris consectetur excepteur ex velit mollit ad enim.</span> 
                                            </div>
                                            <div class="sd-list-item__row">
                                                <span class="sd-overflow-ellipsis sd-list-item--element-grow">3 months ago</span>
                                                <span class="label label--success label--hollow">Business</span>
                                            </div>
                                        </div>                                                            
                                    </div>
                                    <div class="sd-list-item">                                
                                        <div class="sd-list-item__column sd-list-item__column--grow">
                                            <div class="sd-list-item__row">
                                                <span class="sd-overflow-ellipsis sd-list-item__text-strong">Nulla laborum reprehenderit proident enim pariatur.</span> 
                                            </div>
                                            <div class="sd-list-item__row">
                                                <span class="sd-overflow-ellipsis sd-list-item--element-grow">4 months ago</span>
                                                <span class="label label--success label--hollow">Style</span>
                                            </div>
                                        </div>                                                            
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>

                </div>

            </div>
        </div>



    </section>
    <footer class="bottom-bar ">
        This is the optional footer.
    </footer>
</div>
