// variables/colors.scss
// -----------------------------------------------------
$black:                 #000;
$grayDarker:            #222;
$grayDark:              #333;
$gray:                  #666;
$grayText:              #747474;
$grayLight:             #999;
$grayLighter:           #F5F5F5;
$white:                 #fff;

//Basic colors
$sd-blue:               #5ea9c8;
$sd-blueMedium:         #3d8fb1;
$sd-blueDark:           #005b7f;
$sd-text:               $grayDark;
$sd-hover:              #eff7fa;
$green:                 #46a546;
$red:                   #E51C23;
$yellow:                #ffc40d;
$orange:                #dd8200;
$purple:                #9c27b0;
//Extended colors
$fernGreen:             #56812e;
$oldGold:               #d2a800;
$darkOrange:            #da7200;
$fireBrick:             #be1600;
$deepPink:              #e30083;
$darkMagenta:           #8b008b;
$darkViolet:            #7300ab;
$navy:                  #000080;

$sd-background:         #f8f8f8;

$sd-basic-palette: (
  default: $grayDark,
  primary: $sd-blue,
  success: $green,
  warning: $orange,
  alert: $red,
  highlight: $purple,
);

$sd-extended-palette: (
  default: $grayDark,
  primary: $sd-blue,
  success: $green,
  warning: $orange,
  alert: $red,
  highlight: $purple,

  success2: $fernGreen,
  yellow2: $oldGold,
  orange2: $darkOrange,
  red2: $fireBrick,
  highlight2: $deepPink,
  highlight3: $darkMagenta,
  highlight4: $darkViolet,
  darkBlue2: $navy,
);

// Internal variables used for colors
$primary-color: map-get($sd-basic-palette, primary);
$default-color: map-get($sd-basic-palette, default);
