// variables/colors.scss
// -----------------------------------------------------
$black:                 #000;
$grayDarker:            #222;
$grayDark:              #333;
$grayMedium:            #444;
$gray:                  #666;
$grayNeutral:           #7b7b7b;
$grayText:              #747474;
$grayLight:             #999;
$grayLighter:           #F5F5F5;
$white:                 #fff;

// Basic colors
$sd-blue:               #5ea9c8;
$sd-blueMedium:         #3d8fb1;
$sd-blueDark:           #005b7f;
$sd-green:              #1eb06c;

$green:                 #46a546;
$red:                   #E51C23;
$yellow:                #ffc40d;
$orange:                #dd8200;
$purple:                #9c27b0;
// Extended colors
$fernGreen:             #56812e;
$oldGold:               #d2a800;
$darkOrange:            #da7200;
$fireBrick:             #be1600;
$deepPink:              #e30083;
$darkMagenta:           #8b008b;
$darkViolet:            #7300ab;
$navy:                  #000080;

// Panel backgrounds
$panel-bg--00:          #fff;
$panel-bg--01:          #f8f8f8;
$panel-bg--02:          #f5f5f5;
$panel-bg--03:          #ededed;
$panel-bg--04:          #dedede;
$panel-bg--05:          #a1a1a1;


// Text specific colors
$sd-text:               $grayDark;
$sd-slugline:           $sd-blueDark;
$sd-slugline-darkUI:    #678b98;

// Light border color that works well on white and dark backgrounds
$neutral-border-color: scale-color($grayNeutral, $alpha: -50%);

// Misc
$avatarBG:              #67afa1;
$sd-background:         #f8f8f8;
$sd-background-darkUI:  #3b3b3b;
$sd-filters-bg:         #ededed;
$sd-filters-darkUI-bg:  #333;

$sd-hover:              #eff7fa;
$transparent-gray:      rgba(0,0,0,.15);
$transparent-white:     rgba(255,255,255,0.4);
$sd-inputBorderColor:   $transparent-gray;
$sd-tableBorderColor:   $transparent-gray;
$photoBG-dark:          #2c2c2c;
$annotation-color:      #a2df56;
$comment-color:         #fff16f;

$sd-inputBorderColor-darkUi: $transparent-white;

$subnav-background: $grayLighter;
$subnav-background-darkUi: #404040;
$subnav-background-darker: #dedede;
$subnav-background-dark-blue-grey: #59727d;
$subnav-background-mid-blue-grey:#747c87;

$sd-basic-palette: (
  default: $grayDark,
  primary: $sd-blue,
  success: $green,
  warning: $orange,
  alert: $red,
  highlight: $purple,
  sd-green: $sd-green, 
);

$sd-extended-palette: (
  default: $grayDark,
  primary: $sd-blue,
  success: $green,
  warning: $orange,
  alert: $red,
  highlight: $purple,

  success2: $fernGreen,
  yellow2: $oldGold,
  orange2: $darkOrange,
  red2: $fireBrick,
  highlight2: $deepPink,
  highlight3: $darkMagenta,
  highlight4: $darkViolet,
  darkBlue2: $navy,
  sd-green: $sd-green,
);

$sd-basic-palette-ui-dark: (
  default: $grayLighter,
  primary: $sd-blue,
  success: $green,
  warning: $orange,
  alert: $red,
  highlight: #bf00e0,
  sd-green: $sd-green,
);

// Dark UI


// Internal variables used for colors
$primary-color: map-get($sd-basic-palette, primary);
$default-color: map-get($sd-basic-palette, default);
$default-color-ui-dark: map-get($sd-basic-palette-ui-dark, default);


// Additional colors with shades -- Material design based
$baseColors: (
  red:          #F44336,
  pink:         #E91E63,
  purple:       #9C27B0,
  deep-purple:  #673AB7,
  indigo:       #3F51B5,
  blue:         #2196F3,
  light-blue:   #03A9F4,
  cyan:         #00BCD4,
  teal:         #009688,
  green:        #4CAF50,
  light-green:  #8BC34A,
  lime:         #CDDC39,
  yellow:       #FFEB3B,
  amber:        #FFC107,
  orange:       #FF9800,
  deep-orange:  #FF5722,
  brown:        #795548,
  grey:         #9E9E9E,
  blue-grey:    #607D8B
);

@function colorMap($baseColors, $variations) {
  $colors:();
  
  @each $color, $value in $baseColors {
    $maxVar: 36;
    $mid: $variations / 2;
    $dist: $mid - 1;
    $step: $maxVar / $dist;
    
    // lighten and darken
    @for $i from 1 through $dist {
      $percent: $maxVar - ($step * ($i - 1));
      $darken: ($variations - $i) * 100;
      $lighten: $i * 100;

      $colors: map-merge($colors, (
         #{$color}--#{$lighten}: lighten($value, $percent),
         #{$color}--#{$darken}:  darken($value, $percent)
      ));
    }

    // middle eg 500
    $colors: map-merge($colors, (#{$color}--50: lighten($value, 38.7)));
    $colors: map-merge($colors, (#{$color}--#{$variations/2*100}: $value));
  }
  @return $colors;
}

@each $color, $value in colorMap($baseColors, 10) {
  .#{$color} { 
    background-color: $value;
  }
}
