// variables/colors.scss
// -----------------------------------------------------
$black:                 #000;
$grayDarker:            #222;
$grayDark:              #333;
$grayMedium:            #444;
$gray:                  #666;
$grayNeutral:           #7b7b7b;
$grayText:              #747474;
$grayLight:             #999;
$grayLighter:           #F5F5F5;
$white:                 #fff;

// Greys
$gray--900:             #333;
$gray--800:             #444;
$gray--700:             #555;
$gray--600:             #666;
$gray--500:             #747474;
$gray--400:             #888;
$gray--300:             #999;
$gray--200:             #ccc;
$gray--100:             #dedede;
$gray--75:              #ededed;
$grey--50:              #F5F5F5;

// Basic colors
$sd-blue:               #5ea9c8;
$sd-blueMedium:         #3d8fb1;
$sd-blueDark:           #005b7f;
$sd-green:              #1eb06c;

$green:                 #46a546;
$red:                   #E51C23;
$yellow:                #ffc40d;
$orange:                #dd8200;
$purple:                #9c27b0;
// Extended colors
$fernGreen:             #56812e;
$oldGold:               #d2a800;
$darkOrange:            #da7200;
$fireBrick:             #be1600;
$deepPink:              #e30083;
$darkMagenta:           #8b008b;
$darkViolet:            #7300ab;
$navy:                  #000080;

// Panel backgrounds
$panel-bg--00:          #fff;
$panel-bg--01:          #f8f8f8;
$panel-bg--02:          #f5f5f5;
$panel-bg--03:          #ededed;
$panel-bg--04:          #dedede;
$panel-bg--05:          #a1a1a1;


// Text specific colors
//Subnav colours
:root {
  --sd-slugline-color: #005b7f;
  }

$sd-text:               $grayDark;
$sd-slugline:           var(--sd-slugline-color);
$sd-slugline-darkUI:    #678b98;

// Light border color that works well on white and dark backgrounds
$neutral-border-color: scale-color($grayNeutral, $alpha: -50%);

// Misc
$avatarBG:              #67afa1;
$sd-background:         #f8f8f8;
$sd-background-darkUI:  #3b3b3b;
$sd-filters-bg:         #ededed;
$sd-filters-darkUI-bg:  #333;

$sd-hover:              #eff7fa;
$transparent-gray:      rgba(0,0,0,.15);
$transparent-white:     rgba(255,255,255,0.4);
$sd-inputBorderColor:   $transparent-gray;
$sd-tableBorderColor:   $transparent-gray;
$photoBG-dark:          #2c2c2c;
$annotation-color:      #a2df56;
$comment-color:         #fff16f;

$sd-inputBorderColor-darkUi: $transparent-white;

//Subnav colours
:root {
--subNavBG-50: #F5F5F5;
--subNavBG-100: #dedede;
--subNavBG-blueGrey-500: #607D8B;
--subNavBG-blueGrey-600: #4d6570;
--subNavBG-darkUi: #404040;
}

$subnav-background: var(--subNavBG-50);
$subnav-background-darker: var(--subNavBG-100);
$subnav-background-blue-grey: var(--subNavBG-blueGrey-500);
$subnav-background-blue-grey-darker: var(--subNavBG-blueGrey-600);
$subnav-background-dark-blue-grey: var(--subNavBG-blueGrey-600);
$subnav-background-darkUi: var(--subNavBG-darkUi);

$sd-basic-palette: (
  default: $grayDark,
  primary: $sd-blue,
  success: $green,
  warning: $orange,
  alert: $red,
  highlight: $purple,
  sd-green: $sd-green, 
);

$sd-extended-palette: (
  default: $grayDark,
  primary: $sd-blue,
  success: $green,
  warning: $orange,
  alert: $red,
  highlight: $purple,

  success2: $fernGreen,
  yellow2: $oldGold,
  orange2: $darkOrange,
  red2: $fireBrick,
  highlight2: $deepPink,
  highlight3: $darkMagenta,
  highlight4: $darkViolet,
  darkBlue2: $navy,
  sd-green: $sd-green,
);

$sd-basic-palette-ui-dark: (
  default: $grayLighter,
  primary: $sd-blue,
  success: $green,
  warning: $orange,
  alert: $red,
  highlight: #bf00e0,
  sd-green: $sd-green,
);

// Dark UI


// Internal variables used for colors
$primary-color: map-get($sd-basic-palette, primary);
$default-color: map-get($sd-basic-palette, default);
$default-color-ui-dark: map-get($sd-basic-palette-ui-dark, default);


// Additional colors with shades -- Material design based
$baseColors: (
  red:          #F44336,
  pink:         #E91E63,
  purple:       #9C27B0,
  deep-purple:  #673AB7,
  indigo:       #3F51B5,
  blue:         #2196F3,
  light-blue:   #03A9F4,
  cyan:         #00BCD4,
  teal:         #009688,
  green:        #4CAF50,
  light-green:  #8BC34A,
  lime:         #CDDC39,
  yellow:       #FFEB3B,
  amber:        #FFC107,
  orange:       #FF9800,
  deep-orange:  #FF5722,
  brown:        #795548,
  grey:         #929292,
  blue-grey:    #607D8B
);

@function colorMap($baseColors, $variations) {
  $colors:();
  
  @each $color, $value in $baseColors {
    $maxVar: 36;
    $mid: $variations / 2;
    $dist: $mid - 1;
    $step: $maxVar / $dist;
    
    // lighten and darken
    @for $i from 1 through $dist {
      $percent: $maxVar - ($step * ($i - 1));
      $darken: ($variations - $i) * 100;
      $lighten: $i * 100;

      $colors: map-merge($colors, (
         #{$color}--#{$lighten}: lighten($value, $percent),
         #{$color}--#{$darken}:  darken($value, $percent)
      ));
    }

    // middle eg 500
    $colors: map-merge($colors, (#{$color}--50: lighten($value, 38.7)));
    $colors: map-merge($colors, (#{$color}--#{$variations/2*100}: $value));
  }
  @return $colors;
}

@each $color, $value in colorMap($baseColors, 10) {
  .#{$color} { 
    background-color: $value;
  }
  .hollow-#{$color} { 
    color: $value !important;
    border-color: $value !important;
    &:hover{
      color: $value !important;
    }
  }
  .text-#{$color} { 
    color: $value;
  }
}

// CSS variables for default (light) theme

:root, [data-theme="light-ui"] {  
  --color-input-bg:           rgba(0,0,0,0.05);
  --color-input-bg--hover:    rgba(0,0,0,0.08);
  --color-input-bg--focus:    rgba(94, 169, 200, 0.14);
  --color-label-text:         rgba(116,116,116,1);

  --color-input-border:       rgba(0,0,0,.15);
  --color-input-border-hover: rgba(0,0,0,.3);

  --color-form-bg:            rgba(255,255,255,0);
  --color-text:               rgb(51, 51, 51); // equals #333;
  --color-text-light:         rgba(51,51,51,0.75);

  --color-contrast-bg:        #fff;
  --color-contrast-bg--hover: #f4f4f4;

  --color-selected-bg:        #eaf2f5;
  --color-selected-bg--hover: #dfebf0;

  --color-bg-00:              #ffffff;
  --color-bg-50:              #f8f8f8;
  --color-bg-100:             #ededed;
  --color-bg-150:             #dfdfdf;
  --color-bg-200:             #a1a1a1;

  --color-bg-800:             #2c2c2c;

  --color-kanban-border:      #4d4d4d;

  --color-inset-search-bg:           #ffffff;
  --color-inset-search-border:       rgba(0,0,0,.20);
  --color-inset-search-border-hover: rgba(0,0,0,.35);

  --color-assignment-to-do:      #c4170b; //red--700
  --color-assignment-progress:   #d17d00; //orange--600
  --color-assignment-completed:  #74a838; //light-green--600
}

// CSS variables for dark theme

[data-theme="dark-ui"] {
  color: #fff;
  --sd-slugline-color:        #005b7f;

  --color-input-bg:           rgba(255,255,255,0.05);
  --color-input-bg--hover:    rgba(255,255,255,0.08);
  --color-input-bg--focus:    rgba(94,169,200,0.14);
  --color-label-text:         rgba(255,255,255,0.5);

  --color-input-border:       rgba(255,255,255,0.4);
  --color-input-border-hover: rgba(255,255,255,0.6);

  --color-form-bg:            #3b3b3b;
  --color-text:               rgb(244, 244, 244);
  --color-text-light:         rgba(244, 244, 244,0.75);

  --color-contrast-bg:        #333;
  --color-contrast-bg--hover: #383838;
  
  --color-selected-bg:        #35393b;
  --color-selected-bg--hover: #3b4246;

  --color-bg-00:              #111111;
  --color-bg-50:              #3f3f3f;
  --color-bg-100:             #3a3a3a;
  --color-bg-150:             #303030;
  --color-bg-200:             #484848;

  --color-bg-800:             #212121;

  --color-kanban-border:      #8e8e8e;

  --color-inset-search-bg:    rgba(0,0,0,0.2);
  --color-inset-search-border:       rgba(255,255,255,0.35);
  --color-inset-search-border-hover: rgba(255,255,255,0.55);
  
  [class^="big-icon--"],
  [class*=" big-icon--"] {
    color: $white;
  }
}

[class^="--dark-ui"],
[class*="--dark-ui"] {
  --color-contrast-bg:        #333;
  --color-contrast-bg--hover: #383838;
}

[data-theme="accessible-light-ui"] {
  --font-size-large: 1.5rem;

  --color-accessible-text:    #111;
  --sd-slugline-color:        #0400ff;

  color: #000;

  --color-input-bg:           rgba(0,0,0,0.05);
  --color-input-bg--hover:    rgba(0,0,0,0.08);
  --color-input-bg--focus:    rgba(94, 169, 200, 0.14);
  --color-label-text:         rgb(63, 63, 63);

  --color-input-border:       rgba(0,0,0,.35);
  --color-input-border-hover: rgba(0,0,0,.8);

  --color-form-bg:            rgba(255,255,255,0);
  --color-text:               #111;

  --color-contrast-bg:        #fff;
  --color-contrast-bg--hover: #f4f4f4;

  --color-selected-bg:        #eaf2f5;
  --color-selected-bg--hover: #dfebf0;

  --color-bg-00:              #ffffff;
  --color-bg-50:              #f8f8f8;
  --color-bg-100:             #ededed;
  --color-bg-150:             #dfdfdf;
  --color-bg-200:             #a1a1a1;

  --color-bg-800:             #2c2c2c;


  --color-accessible-primary: #0400ff;

  [class^="icon-"],
  [class*=" icon-"],
  [class^="big-icon--"],
  [class*=" big-icon--"] {
    color: #000;
  }

  .sd-checkbox--button-style {
    color: #111;
  }
  .sd-checkbox--button-style.checked,
  .sd-checkbox--button-style[checked="checked"] {
    background-color: var(--color-accessible-primary);
    border-color: var(--color-accessible-primary);
    border-top-color: #020158;
    color: #fff;
    &:hover {
      background-color: #020166;
      border-color: #020166;
      border-top-color: #010036;
    }
  }
  .sd-create-btn .circle {
    background-color: var(--color-accessible-primary);
  }

  .navbtn.navbtn--active {
    background-color: #444;
    color: $white;
  }
  .btn {
    color: var(--color-accessible-text);
    font-weight: 600;
    font-size: 1.4rem;
    &.btn--primary {
      background-color: var(--color-accessible-primary);
      color: $white;
    }
    &.btn--hollow {
      background-color: $white;
    }
  }

  .sd-list-item {
    font-size: 1.5rem;
    .sd-list-item__slugline {
      font-size: 1.3rem;
    }
    time {
      color: #484848;
      font-weight: 400;
    }
  }
  .badge {
    font-size: 1.2rem;
    line-height: 1.1em;
    font-weight: 600;
  }
  .side-panel {
    background-color: $white;
    color: var(--color-accessible-text);
    .side-panel__header {
      background-color: $white;
    }
    .side-panel__heading {
      font-weight: 500;
      color: var(--color-accessible-text);
    }
    p {
      font-size: 1.6rem;
      line-height: 1.5;
      color: var(--color-accessible-text);
    }
    .sd-text__date-and-author {
      font-size: 1.4rem;
      time {
        font-weight: 400;
        color: #595959;
      }
    }
    &.side-panel--dark-ui {
      background-color: var(--color-bg-800);
      color: $white;
     i[class^="icon-"] {
        color: $white;
      }
      .side-panel__header {
        background-color: var(--color-bg-800);
        color: $white !important;
        i[class^="icon-"] {
          color: $white !important;
        }
        
      }
    }
  }

  .sd-input {
    .sd-input__label {
      font-weight: 600;
      font-size: 1.2rem;
    }
    .sd-input__input,
    .sd-input__select {
      font-size: 1.5rem;
    }
    .sd-input__hint,
    .sd-input__message {
      font-size: 1.4rem;
      margin: 0.8rem 0;
    }
    .sd-input__hint {
      color: #444;
    }
  }

  .form-label {
    font-size: 1.2rem;
    font-weight: 500;
    &.form-label--light {
      color: #525252;
    }
  }

  .navbtn {
    color: #111;
    [class^="icon-"], [class*=" icon-"] {
      color: currentColor;
    }
  }

  .dropdown__menu-label {
    font-size: 1.2rem;
    color: #585858;
  }
  .dropdown__toggle:active,
  .dropdown.open .dropdown__toggle {
    color: var(--color-accessible-primary);
  }
  .dropdown__menu li a:not(.btn),
  .dropdown__menu li button:not(.btn):not(.dropdown__menu-close):not(.toggle-button),
  .dropdown__menu .dropdown__menu-item a:not(.btn), 
  .dropdown__menu .dropdown__menu-item button:not(.btn):not(.dropdown__menu-close):not(.toggle-button) {
    color: currentColor;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .dropdown__menu li a:not(.btn):hover,
  .dropdown__menu li a:not(.btn):focus,
  .dropdown__menu li button:not(.btn):not(.dropdown__menu-close):not(.toggle-button):hover,
  .dropdown__menu li button:not(.btn):not(.dropdown__menu-close):not(.toggle-button):focus,
  .dropdown__menu .dropdown__menu-item a:not(.btn):hover,
  .dropdown__menu .dropdown__menu-item a:not(.btn):focus,
  .dropdown__menu .dropdown__menu-item button:not(.btn):not(.dropdown__menu-close):not(.toggle-button):hover,
  .dropdown__menu .dropdown__menu-item button:not(.btn):not(.dropdown__menu-close):not(.toggle-button):focus {
    background: var(--color-accessible-primary);
    color: $white;
     > i[class^="icon-"] {
      color: $white;
    }
  }
  .dropdown.open .navbtn > i {
    color: var(--color-accessible-primary);
  }



  .sd-text__slugline,
  p.sd-text__slugline {
    color: var(--color-accessible-primary) !important;
  }

  .toggle-box--circle .toggle-box__chevron {
    background-color: rgba(123, 123, 123, 0.5);
    height: 2rem;
    width: 2rem;
    text-align: center;
    border-radius: 50%;
  }
  .toggle-box__label {
    font-size: 1.4rem;
    color: var(--color-label-text);
    font-weight: 500;
  }

  .sd-grid-item {
    time {
      color: #484848;
      font-size: 1.3rem;
      font-weight: 400;
    }
    .sd-grid-item__slugline {
      font-size: 1.2rem;
    }
  }
  .nav-tabs {
    .nav-tabs__link {
      font-size: 1.6rem;
      font-weight: 500;
    }
    &--big {
      .nav-tabs__link {
        font-size: 2rem;
      }
    }
  }

  .nav-tabs__tab--active, 
  .nav-tabs__tab--active:hover {
    .nav-tabs__link {
      border-bottom-color: var(--color-accessible-primary);
      color: var(--color-accessible-text);
    }
  }

  .side-panel.side-panel--dark-ui {
    .nav-tabs__tab {
        .nav-tabs__link {
          border-bottom-color: transparent;
          color: $white;
          opacity: 0.6;
      }
      &:hover {
        .nav-tabs__link {
          border-bottom-color: rgba(255,255,255,.25);
          opacity: 1;
        }
      }
      &.nav-tabs__tab--active,
      &.nav-tabs__tab--active:hover {
        .nav-tabs__link {
          border-bottom-color: hsla(240, 100%, 65%, 1);
          color: $white;
          opacity: 1;
        }
      }
    }

    .toggle-box__label {
      color: $white;
    }

    .sd-line-input .sd-line-input__label {
      color: $white;
      opacity: 0.7;
    }

    a.text-link.text-link--white {
      color: $white;
      opacity: 0.75;
      &:hover {
        opacity: 1;
      }
    }
  }
  .badge {
    &.badge--primary {
      background-color: var(--color-accessible-primary);
    }
    &.badge--success {
      background-color: #006115;
    }
    &.badge--warning {
      background-color: #854900;
    }
  }
  .sd-sidebar-menu__btn--active, .sd-sidebar-menu__btn--active:hover {
    background-color: var(--color-accessible-primary);

  }
}