// DESIGN TOKENS
// ====================================================

$sd-base-increment: 0.8rem;

// TYPOGRAPHY
// ----------------------------------------------------
$font-size__base: 1.3rem;
$font-size__base--: 1.3rem;

$font-size__button--default: 1.2rem;
$font-size__button--small: 1rem;
$font-size__button--large: 1.4rem;

$font-size__heading--1: 1.4rem;

$font-size__editor_base: 1.6rem;
$font-size__editor_H1: 2em;
$font-size__editor_H2: 1.5em;
$font-size__editor_H3: 1.125em;
$font-size__editor_H4: 0.875em;
$font-size__editor_H5: 0.75em;
$font-size__editor_H6: 0.6875em;

// SHAPES & SIZES
// ----------------------------------------------------

// left and right side-tab navigation width

$sd-sidebarMenu-width: 4.8rem;
$nav-height: 4.8rem;
$subnav-height: 4.8rem;

// Heights
$height-input--default: $sd-base-increment * 4;

$height__button--default: $height-input--default;
$height__button--small: $sd-base-increment * 3;
$height__button--large: $sd-base-increment * 5;

$height__label--default: $sd-base-increment * 2;
$height__label--large: $sd-base-increment * 3;

$height__icon-button--default: $height-input--default;
$height__icon-button--small: $sd-base-increment * 3;

$height__modal-header: $sd-base-increment * 6;
$height__modal-footer: $sd-base-increment * 6;

// Spaces
$padding__button--default: 0 1.2rem !default;
$padding__button--small: 0 0.8rem;
$padding__button--large: 0 1.6rem;

$padding__label--default: 0 0.8rem;
$padding__label--large: 0.5rem 1.2rem;

// Border Radius
$border-radius__base--x-small: 2px;
$border-radius__base--small: 3px;
$border-radius__base--medium: 4px;
$border-radius__base--large: 6px;
$border-radius__base--x-large: 8px;
$border-radius__base--full: 9999px;


:root {
    // WIDTHS
    --width__container--xx-small:  24rem;
    --width__container--x-small:   32rem;
    --width__container--small:     40rem;
    --width__container--medium:    48rem;
    --width__container--large:     56rem;
    --width__container--x-large:   72rem;
    --width__container--xx-large:  80rem;
    --width__container--xxx-large: 120rem;
    --width__container--full:      100%;

    // modal sizes
    --width__modal--small:         40rem;
    --width__modal--medium:        64rem;
    --width__modal--large:         80rem;
    --width__modal--x-large:       80vw;
}


:root, [data-theme="light-ui"] {
    --sd-shadow-outline: hsla(0, 0%, 0%, 0);
    --sd-shadow__dropdown: 0 0 0 1px var(--sd-shadow-outline), 0 2px 10px hsla(0, 0%, 0%, 0.4), 0 3px 1px -2px hsla(0, 0%, 0%, 0.1);
    --sd-shadow__modal: 0 0 0 1px var(--sd-shadow-outline), 0 0 8px 2px hsla(0, 0%, 0%, 0.3);
}

[data-theme="dark-ui"], .dark-ui {
    --sd-shadow-outline: hsla(0, 0%, 100%, 0.08);
    --sd-shadow__dropdown: 0 0 0 1px var(--sd-shadow-outline), 0 2px 10px hsla(0, 0%, 0%, 0.6), 0 3px 1px -2px hsla(0, 0%, 0%, 0.2);
    --sd-shadow__modal: 0 0 0 1px var(--sd-shadow-outline), 0 0 8px 2px hsla(0, 0%, 0%, 0.4);
}

// ELEVATIONS
// ----------------------------------------------------

$shadow__base--z1: 0 1px 3px rgba(0,0,0,.16), 0 0 1px rgba(0,0,0,.1);
$shadow__base--z2: 0 1px 4px rgba(0,0,0,.16), 0 2px 6px rgba(0,0,0,.12), 0 0 1px rgba(0,0,0,.1);
$shadow__base--z3: 0 1px 6px rgba(0,0,0,.16), 0 3px 8px rgba(0,0,0,.24), 0 0 1px rgba(0,0,0,.1);
$shadow__base--z4: 0 2px 10px rgba(0,0,0,.2), 0 6px 16px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.1);

$shadow__dropdown--default: var(--sd-shadow__dropdown);
$shadow__modal--default: var(--sd-shadow__modal);




// TRANSITIONS
// ----------------------------------------------------

$sd-transition__menu-item: background-color ease 0.1s;
