$zindexDropdown: 1000;
$zindexFixedNavbar: 1030;
$sd-main-menu-width: 30rem;

$sd-base-increment: 0.8rem;

// Border Radius
$border-radius__base--x-small:  var(--b-radius--x-small);
$border-radius__base--small:    var(--b-radius--small);
$border-radius__base--medium:   var(--b-radius--medium);
$border-radius__base--large:    var(--b-radius--large);
$border-radius__base--x-large:  var(--b-radius--x-large);
$border-radius__base--full:     var(--b-radius--full);

// TYPOGRAPHY
// ----------------------------------------------------
$font-size__base: 1.3rem;
$font-size__base--: 1.3rem;

$font-size__button--default: 1.2rem;
$font-size__button--small: 1rem;
$font-size__button--large: 1.4rem;

$font-size__heading--1: 1.4rem;

$font-size__editor_base: 1.6rem;
$font-size__editor_H1: 2em;
$font-size__editor_H2: 1.5em;
$font-size__editor_H3: 1.125em;
$font-size__editor_H4: 0.875em;
$font-size__editor_H5: 0.75em;
$font-size__editor_H6: 0.6875em;

// SHAPES & SIZES
// ----------------------------------------------------

// left and right side-tab navigation width

$sd-sidebarMenu-width: 4.8rem;
$nav-height: 4.8rem;
$subnav-height: 4.8rem;

// Heights
$height-input--default: $sd-base-increment * 4;

$height__button--default: $height-input--default;
$height__button--small: $sd-base-increment * 3;
$height__button--large: $sd-base-increment * 5;
$height__button--x-large: $sd-base-increment * 7;


$height__label--default: $sd-base-increment * 2;
$height__label--large: $sd-base-increment * 3;

$height__icon-button--default: $height-input--default;
$height__icon-button--small: $sd-base-increment * 3;

$height__modal-header: $sd-base-increment * 6;
$height__modal-footer: $sd-base-increment * 6;

// Spaces
$padding-x__button--default: 1.2rem !default;
$padding-x__button--small: 0.8rem;
$padding-x__button--large: 1.6rem;

$padding-x__label--default: 0.8rem;
$padding-y__label--large: 0.5rem;
$padding-x__label--large: 1.2rem;


// ELEVATIONS
// ----------------------------------------------------
$shadow__base--z1: 0 1px 3px rgba(0,0,0,.16), 0 0 1px rgba(0,0,0,.1);
$shadow__base--z2: 0 1px 4px rgba(0,0,0,.16), 0 2px 6px rgba(0,0,0,.12), 0 0 1px rgba(0,0,0,.1);
$shadow__base--z3: 0 1px 6px rgba(0,0,0,.16), 0 3px 8px rgba(0,0,0,.24), 0 0 1px rgba(0,0,0,.1);
$shadow__base--z4: 0 2px 10px rgba(0,0,0,.2), 0 6px 16px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.1);

$shadow__dropdown--default: var(--sd-shadow__dropdown);
$shadow__modal--default: var(--sd-shadow__modal);


// TRANSITIONS
// ----------------------------------------------------
$sd-transition__menu-item: background-color ease 0.1s;


// FORM ELEMENTS
// ----------------------------------------------------
$form-label-height: $sd-base-increment * 2;
$form-input-height: $sd-base-increment * 4;
