// variables/typography.scss
// -----------------------------------------------------

$baseFontSize: 13px;
$baseFontFamily: "Roboto", Helvetica, Arial, sans-serif;
$baseFontFamilyMono:'Roboto Mono', 'Consolas', 'monaco', monospace;
$baseFontFamilySerif: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
$baseLineHeight: 140%;
$altFontFamily: Georgia, "Times New Roman", Times, serif;

$headingsFontFamily: inherit; // empty to use BS default, $baseFontFamily
$headingsFontWeight: bold;    // instead of browser default, bold