.p-tieredmenu {
    &, .p-submenu-list {
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        background: $white;
        box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    }
}

.p-menuitem-text {
    font-size: 1.2rem;
}

.p-menu-separator {
    width: 100%;
    height: 1px;
    background: #e5e5e5;
}

.p-menuitem-link {
    padding: .8rem 1.6rem;
    min-width: 100px;
    font-size: 14px;
    color: $sd-text;

    &:hover {
        background: $sd-colour-background__menu-item--hover;
    }

    &:focus {
        outline: 2px solid $sd-colour-interactive__base;
        outline-offset: -2px;
    }
}

.p-menuitem-icon {
    margin-right: 0.8rem;
}