.p-dropdown {
    @include pr-input-item-base;
    padding: 6px 8px;
}

.p-dropdown-clear-icon {
    position: static;
    margin: 0;
}

.p-dropdown-clear-icon,
.p-dropdown-trigger-icon {
    margin-left: 8px;
}

.p-dropdown-item {
    @include pr-menu-item-base;
}

.p-dropdown-panel {
    @include pr-dropdown-panel-base;
}

.p-dropdown-filter-container {
    border-radius: $border-radius__base--small $border-radius__base--small 0 0;
    padding: 8px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.08);
}

.p-dropdown-filter {
    border: 1px solid rgba(128,128,128,0.5);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.12);
    border-radius: $border-radius__base--small;
    padding-right: 20px;
    padding: 4px;
    height: 28px;
    transition: all ease 0.2s;
    &:focus {
        border: 1px solid $sd-colour-interactive;
        box-shadow: inset var(--sd-colour-interactive--alpha-20) 0px 0px 0px 0.2rem;
    }
}

.p-dropdown-loader-icon {
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 12px;
}

.p-dropdown-empty-message {
    padding: 6px 8px;
}
