.p-datepicker {
    @include pr-dropdown-panel-base;
    padding: 12px;
    margin-top: 1px;
    .p-datepicker-title {
        text-transform: uppercase;
        font-weight: bold;
        line-height: 1;
        margin: 0 2.3em;
        text-align: center;
    }

    .p-datepicker-header {
        position: relative;
        flex-wrap: wrap;
        padding: .5em 0;
    }

    table {
        border: none;
    }
}

// display month and year on separate lines
.p-datepicker-month,
p-datepicker-year {
    display: block;
}

.p-datepicker {
    td, th {
        border: 0;
        padding: 0
    }

    &.p-component {
        display: block !important;
    }
}

// add background when hovering a selectable date
.p-datepicker table td > span {
    &:not(.p-highlight):not(.p-disabled) {
        &:hover {
            background-color: $sd-colour-background__menu-item--hover;
        }
        &:active {
            background-color: $sd-colour-background__menu-item--active;
        }
    }
}

// styles for a day box
.p-datepicker table td > span {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: $border-radius__base--x-small;
    font-weight: normal;
    margin-left: 3px;
    margin-right: 3px;
    transition: $sd-transition__menu-item;
}


// selected date style
.p-datepicker .p-highlight {
    background-color: $sd-colour-interactive;
    color: $white;
}


// calendar icon button
.p-datepicker-trigger {
    @extend .p-inputtext;
    font-size: 1.4em;
    cursor: pointer;


    .p-button-icon-left {
        color: #7F7F7F;
    }

    &:not(.p-disabled) .p-button-icon-left:hover {
        color: $sd-colour-interactive;
    }
}

.p-calendar {
    @include pr-input-item-base;
    .p-inputtext {
        color: inherit;
        height: $height-input--default;
        background-color: transparent;
        border: none;
        font-size: 1.4rem;
        padding: 0.2rem 0.8rem 0;
        width: 100%;
    }
}

.p-calendar-w-btn {
    width: 116px;

    .p-inputtext {
        width: calc(100% - 24px);
    }

    .p-datepicker-trigger {
        width: 2.4rem;
        height: 2.4rem;
        color: inherit;
        margin: 0 4px 0 0;
        [class^="icon-"],
        [class*=" icon-"] {
            color: inherit;
            margin-top: -2px;
            opacity: 0.75;
        }
        &:hover {
            [class^="icon-"],
            [class*=" icon-"] {
                opacity: 0.99;
            }
        }

    }
}