.p-dialog-mask.p-component-overlay {
    background-color: hsla(214, 13%, 16%, 0.5) !important;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    z-index: 1000;
}



.p-dialog-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    background-color: transparent;
    transition-property: background-color;
}

.p-dialog-visible {
    display: flex;
}

.p-dialog-mask.p-component-overlay {
    pointer-events: auto;
}

.p-dialog {
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    max-height: 90%;
    transform: scale(1);
    
    overflow: hidden;
}

.p-dialog-content {
    overflow-y: auto;
}

.p-dialog-flex {
    display: flex;
}

.p-dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    height: $height__modal-header;
}

.p-dialog-footer {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: $height__modal-footer;
}

.p-dialog .p-dialog-header-icons {
    display: flex;
    align-items: center;
}

.p-dialog .p-dialog-header-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

/* Fluid */
.p-fluid .p-dialog-footer .p-button {
    width: auto;
}

/* Animation */
/* Center */
.p-dialog-enter {
    opacity: 0;
    transform: scale(0.7);
}

.p-dialog-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 150ms cubic-bezier(0, 0, 0.2, 1);
}

.p-dialog-enter-done {
    transform: none;
}

.p-dialog-exit-active {
    opacity: 0;
    transform: scale(0.7);
    transition: all 150ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

/* Top, Bottom, Left, Right, Top* and Bottom* */
.p-dialog-top .p-dialog,
.p-dialog-bottom .p-dialog,
.p-dialog-left .p-dialog,
.p-dialog-right .p-dialog,
.p-dialog-top-left .p-dialog,
.p-dialog-top-right .p-dialog,
.p-dialog-bottom-left .p-dialog,
.p-dialog-bottom-right .p-dialog {
    margin: .75em;
    transition: all .3s ease-out;
}

.p-dialog-top .p-dialog-enter,
.p-dialog-top .p-dialog-exit-active {
    transform: translate3d(0px, -100%, 0px);
}

.p-dialog-bottom .p-dialog-enter,
.p-dialog-bottom .p-dialog-exit-active {
    transform: translate3d(0px, 100%, 0px);
}

.p-dialog-left .p-dialog-enter,
.p-dialog-left .p-dialog-exit-active,
.p-dialog-top-left .p-dialog-enter,
.p-dialog-top-left .p-dialog-exit-active,
.p-dialog-bottom-left .p-dialog-enter,
.p-dialog-bottom-left .p-dialog-exit-active {
    transform: translate3d(-100%, 0px, 0px);
}

.p-dialog-right .p-dialog-enter,
.p-dialog-right .p-dialog-exit-active,
.p-dialog-top-right .p-dialog-enter,
.p-dialog-top-right .p-dialog-exit-active,
.p-dialog-bottom-right .p-dialog-enter,
.p-dialog-bottom-right .p-dialog-exit-active {
    transform: translate3d(100%, 0px, 0px);
}

.p-dialog-top .p-dialog-enter-active,
.p-dialog-bottom .p-dialog-enter-active,
.p-dialog-left .p-dialog-enter-active,
.p-dialog-top-left .p-dialog-enter-active,
.p-dialog-bottom-left .p-dialog-enter-active,
.p-dialog-right .p-dialog-enter-active,
.p-dialog-top-right .p-dialog-enter-active,
.p-dialog-bottom-right .p-dialog-enter-active {
    transform: translate3d(0px, 0px, 0px);
}

/* Maximize */
.p-dialog-maximized {
    -webkit-transition: none;
    transition: none;
    transform: none;
    width: 100vw !important;
    max-height: 100%;
    height: 100%;
}

.p-dialog-maximized .p-dialog-content {
    flex-grow: 1;
}

/* Position */
.p-dialog-left {
    justify-content: flex-start;
}

.p-dialog-right {
    justify-content: flex-end;
}

.p-dialog-top {
    align-items: flex-start;
}

.p-dialog-top-left {
    justify-content: flex-start;
    align-items: flex-start;
}

.p-dialog-top-right {
    justify-content: flex-end;
    align-items: flex-start;
}

.p-dialog-bottom {
    align-items: flex-end;
}

.p-dialog-bottom-left {
    justify-content: flex-start;
    align-items: flex-end;
}

.p-dialog-bottom-right {
    justify-content: flex-end;
    align-items: flex-end;
}


.p-dialog {
    border-radius: $border-radius__base--large;
    box-shadow: var(--sd-shadow__modal);
    border: 0 none;
    background-color: var(--color-modal-Bg);
}

.p-dialog .p-dialog-header {
    border-bottom: 0 none;
    background: transparent;
    position: relative;
    z-index: 1012;
    padding: 0.8rem 0.8rem 0.8rem 1.6rem;
    border-top-right-radius: $border-radius__base--large;
    border-top-left-radius: $border-radius__base--large;
    box-shadow: 0 1px 0 var(--sd-colour-line--x-light);
}

.p-dialog .p-dialog-header .p-dialog-title {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 27px;
    opacity: 0.8;
    @include sd-padding('2', 'right');
}

.p-dialog .p-dialog-header .p-dialog-header-icon {
    width: 2.4rem;
    height: 2.4rem;
    border: 0 none;
    background: transparent;
    border-radius: $border-radius__base--full;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    margin-right: 0;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
    border-color: transparent;

}

.p-dialog .p-dialog-header .p-dialog-header-icon:focus-visible {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: $icn-button-focus-box-shadow;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
    margin-right: 0;
}

.p-dialog .p-dialog-content {
    background-color: transparent;
    font-size: 1.4rem;
    p {
        line-height: 1.5;
    }
}

.p-dialog .p-dialog-footer {
    border-top: 0 none;
    background-color: transparent;
    padding: 0.8rem 1.6rem;
    text-align: end;
    border-bottom-right-radius: $border-radius__base--full;
    border-bottom-left-radius: $border-radius__base--full;
    box-shadow: 0 -1px 0 var(--sd-colour-line--x-light);
    position: relative;
    z-index: 2;
}

.p-dialog .p-dialog-footer button {
    margin: 0 0.5rem 0 0;
    width: auto;
}

.p-dialog-header-close {
    .p-dialog-header-close-icon {
        display: inline-block;
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-size: 16px;
        font-family: 'sd_icons';
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        color: var(--color-icon-default);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        opacity: 0.6;
        transition: color .1s ease-out, opacity .1s ease-out;
        &::before {
            content: "\e647";
        }
    }
    &:hover {
        .p-dialog-header-close-icon {
            opacity: 1;
        }
    }
    &:active {
        .p-dialog-header-close-icon {
            color: $sd-colour-interactive !important;
            opacity: 1;
        }
    }
}

.p-dialog-content {
    // size
    &--small {
        width: var(--width__modal--small);
    }
    &--medium {
        width: var(--width__modal--medium);
    }
    &--large {
        width: var(--width__modal--large);
        min-height: 20rem;
    }
    &--x-large {
        width: var(--width__modal--x-large);
        //min-height: 30rem;
        height: calc(100vh - 200px);
    }
    // padding
    &--0-padding {
        padding: 0 !important;
    }
    &--s-padding {
        padding: $sd-base-increment * 2;
    }
    &--m-padding {
        padding: $sd-base-increment * 3
    }
    &--l-padding {
        padding: $sd-base-increment * 4;
    }
}

.p-dialog-content-bg {
    &--default {
        background-color: transparent !important;
    }
    &--dark {
        background-color: var(--sd-colour-panel-bg--200) !important;
    }
    &--medium {
        background-color: var(--sd-colour-panel-bg--100) !important;
    }
}

.p-dialog-content {
    //max-height: 100%;
    .sd-main-content-grid {
        height: 100% !important;
    }
}
