@use "../variables/colors";
@use "../variables/dimensions";

.p-tieredmenu {
    min-width: 200px;
    &, .p-submenu-list {
        padding-block-start: dimensions.$sd-base-increment;
        padding-block-end: dimensions.$sd-base-increment;
        background-color: var(--color-dropdown-menu-Bg);
        box-shadow: dimensions.$shadow__dropdown--default;
        border-radius: dimensions.$border-radius__base--small;
    }
    .p-menuitem-link {
        width: 100%;
        max-width: 36ch;
    }
    .p-menuitem--group-label {
        .p-menuitem-link {
            padding-block: .4rem;
            cursor: default;
            opacity: 1;

            &:hover, &:focus-visible {
                background: transparent;
            }
        }

        .p-menuitem-text {
            text-transform: uppercase;
            font-size: 1.1rem;
            color: var(--color-text-subdued);
            font-weight: 500;
        }
    }

    .p-menuitem--switch {
        .p-menuitem-link {
            cursor: pointer;
        }
    }

    .sd-menuitem__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        width: 100%;
    }

    .sd-menuitem__label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .sd-menuitem__end-adornment {
        flex-shrink: 0;
        margin-inline-start: auto;
    }

    .sd-menuitem__shortcut {
        color: var(--color-text-subdued);
        font-size: 1.2rem;
        font-style: italic;
    }

    .p-menuitem-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }
    .p-submenu-list {
        .p-menuitem-text {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.p-tieredmenu {
    .p-menuitem-text {
        font-size: 1.3rem;
        line-height: 1.1;
    }
}

.p-menu-separator {
    width: 100%;
    height: 1px;
    margin: dimensions.$sd-base-increment 0;
    background: var(--sd-colour-line--light);
}

.p-menuitem-link {
    padding: .8rem 1.6rem;
    min-width: 100px;
    font-size: 14px;
    color: var(--color-text);
    width: 100%;

    &:hover, &:focus-visible {
        background: colors.$sd-colour-background__menu-item--hover;
    }

    .p-menuitem-icon {
        margin-inline-end: 0.8rem;
        color: var(--color-icon-default);
    }
}
