@use "pr-general";

.p-autocomplete {
    display: contents;
}

.p-inputwrapper {
    position: relative;
}

.p-autocomplete-panel {
    @include pr-general.pr-dropdown-panel-base;
    margin-block-start: 16px;
    padding: 1rem 0;

    .p-autocomplete-items {
        padding: 0;
    }

    .p-autocomplete-list-item, .p-autocomplete-item {
        @include pr-general.pr-menu-item-base;
        
        b {
            font-weight: 600;
        }
    }
}
