.p-datepicker {
    @include pr-dropdown-panel-base;
    padding: 12px;
    margin-block-start: 1px;

    .p-datepicker-title {
        text-transform: uppercase;
        font-weight: bold;
        line-height: 1;
        margin: 0 auto;
        text-align: center;
    }

    .p-datepicker-header {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding: .8em 4px;
        min-height: 32px;
        margin-block-end: 8px;

        .p-datepicker-prev,
        .p-datepicker-next {
            display: flex;
            flex: 0 0 auto;
            align-items: center;
            justify-content: center;
            border-radius: var(--b-radius--full);
            height: $sd-base-increment * 4;
            width: $sd-base-increment * 4;
            transition: all 0.2s ease-out, color 0.1s ease-out;

            &:hover {
                background-color: hsla(214, 13%, 55%, 0.2);
            }

            &:active {
                background-color: hsla(214, 13%, 55%, 0.3);
                color: var(--sd-colour-interactive);
            }

            &:focus-visible {
                background-color: hsla(214, 13%, 55%, 0.2);
                box-shadow: $icn-button-focus-box-shadow;
                outline: none;

                [class^="icon-"], [class*=" icon-"] {
                    opacity: 1;
                }
            }

        }

        .datepicker-header-toolbar {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-block-end: 16px;
            gap: $sd-base-increment;

            button {
                flex: 1 1;
            }
        }
    }

    table {
        border: none;
    }
}

// display month and year on separate lines
.p-datepicker-month,
.p-datepicker-year {
    display: block;
    text-align: center;
}

.p-datepicker-year {
    font-weight: 400;
    margin-block-start: 4px;
    color: var(--color-text-light);
}

.p-datepicker {
    td, th {
        border: 0;
        padding: 0
    }

    &.p-component {
        display: block !important;
    }
}

// add background when hovering a selectable date
.p-datepicker table td > span {
    &:not(.p-highlight):not(.p-disabled) {
        transition: all ease 0.2s;

        &:hover {
            background-color: var(--sd-colour-interactive--alpha-10);
            box-shadow: inset 0 0 0 1px var(--sd-colour-interactive);
        }

        &:active {
            background-color: var(--sd-colour-interactive--alpha-20);
        }
    }
}

// styles for a day box
.p-datepicker table td > span {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: $border-radius__base--x-small;
    font-weight: normal;
    margin-inline-start: 4px;
    margin-inline-end: 4px;
    transition: $sd-transition__menu-item;
}

.p-datepicker table thead th > span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 24px;
    text-align: center;
    font-weight: normal;
    margin-inline-start: 4px;
    margin-inline-end: 4px;
}

// selected date style
.p-datepicker .p-highlight {
    background-color: $sd-colour-interactive;
    color: $white;
}

// calendar icon button
.p-datepicker-trigger {
    @extend .p-inputtext;
    font-size: 1.4em;
    cursor: pointer;

    .p-button-icon-left {
        color: #7F7F7F;
    }

    &:not(.p-disabled) .p-button-icon-left:hover {
        color: $sd-colour-interactive;
    }
}

.p-calendar {
    @include pr-input-item-base;

    .p-inputtext {
        color: var(--color-text);
        height: $height-input--default;
        background-color: transparent;
        border: none;
        font-size: 1.4rem;
        padding: 0.2rem 0.8rem 0;
        width: 100%;
    }
    &.sd-input--disabled:hover {
        opacity: 0.5;
        cursor: not-allowed;
        .p-calendar {
            .p-calendar-icon {
                pointer-events: none;
            }
            border-block-end: 1px dotted var(--color-input-border);
            background-color: var(--color-input-bg);
        }
    }
}

.p-calendar-w-btn {
    width: 116px;

    .p-inputtext {
        width: calc(100% - 24px);
    }

    .p-datepicker-trigger {
        width: 2.4rem;
        height: 2.4rem;
        color: inherit;
        margin: 0 4px 0 0;

        [class^="icon-"],
        [class*=" icon-"] {
            color: var(--color-text);
            margin-block-start: -2px;
            opacity: 0.75;
        }

        &:hover {
            [class^="icon-"],
            [class*=" icon-"] {
                opacity: 0.99;
            }
        }

    }
}

.p-datepicker-calendar {
    margin-block-end: 8px;
}

.p-datepicker-today > span {
    background-color: var(--sd-colour-interactive--alpha-20);
}

.sd-input__input-container {
    .p-calendar {
        display: flex;
        &.p-calendar-w-btn {
            min-width: 116px;
            width: auto;
        }
    }
}