// DROPDOWN MENUS : Basic : dropdowns/basic-dropdowns.scss
// --------------

$dropdownBackground:            $white;
$dropdownBorder:                1px solid #c6c6c6;
$dropdownLinkColor:             $sd-text;
$dropdownLinkColorHover:        $sd-text;
$dropdownLinkBackgroundHover:   $sd-hover;

// Use the .menu class on any <li> element within the topbar or ul.tabs and you'll get some superfancy dropdowns
.dropdown {
    position: relative;
    display: inline-block;

    // align to top in order to prevent a space at the bottom
    // which is caused by display: inline-block
    vertical-align: top;

    a {
        color: $dropdownLinkColor;
    }
    a:hover {
        text-decoration: none;
    }
    button {
        -webkit-appearance: none;
    }
}

.dropdown__toggle {
    cursor: pointer;
    i { vertical-align: sub; }
}

// Triggers dropdown on a hover
.dropdown.dropdown--hover:hover {
    .dropdown__menu { display: block; }
}

.dropdown__toggle:active,
.dropdown.open .dropdown__toggle {
    outline: 0;
    color: $sd-blue;
}

.dropdown.open .dropdown .dropdown__toggle {
    color: $grayDark;
}

.dropdown__more-actions .dropdown__toggle > i {
    opacity: 0.3;
}
.dropdown__more-actions .dropdown__toggle:hover > i,
.dropdown__more-actions.open .dropdown__toggle > i {
    opacity: 1;
}


// Dropdown arrow/caret
// --------------------

.dropdown__caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    margin-top: -2px;
    margin-left: 4px;
    border-left:  4px solid transparent;
    border-right: 4px solid transparent;
    border-top:   4px solid $black;
    opacity: .3;
    content: "";
    @include transition(all, 0.1s, ease-in);
    &.dropdown__caret--white, 
    &.white {
        border-top-color: $white;
    }
}

.dropdown:hover .dropdown__caret,
.dropdown.open .dropdown__caret {
    opacity: 1;
}

.dropdown.open .dropdown__caret {
    border-top-color: $sd-blue;
}

// The dropdown menu
// ----------------------
.dropdown__menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: $zindexDropdown;
    display: none; // none by default, but block on "open" of the menu
    min-width: 200px;
    padding: 1rem 0;
    margin: 0; // override default ul
    list-style: none;
    background-color: $dropdownBackground;
    box-shadow: 0 2px 10px rgba(0,0,0,.4),0 3px 1px -2px rgba(0,0,0,.1);
    border-radius: 0;
    text-align: left;

    // Links within the dropdown menu
    li, .dropdown__menu-item {
        a:not(.btn), button:not(.btn):not(.dropdown__menu-close):not(.toggle-button) {
            display: block;
            font-weight: normal;
            line-height: $baseLineHeight;
            white-space: nowrap;
            width: 100%;
            min-width: 200px;
            position: relative;
            color: $dropdownLinkColor;
            background: none;
            padding: .6rem 1.6rem;
            margin-bottom: .2rem;
            font-size: 1.3rem;
            text-decoration: none;
            text-align: left;
            > i[class^="icon-"], i[class*=" icon-"] {
                margin-right: 1rem;
                margin-top: -0.3rem;
                min-width: 1.9rem;
                vertical-align: middle;
            }
            &.disabled, &[disabled] {
                opacity: .5;
            }
        }
        a:not(.btn), button:not(.btn):not(.dropdown__menu-close):not(.toggle-button) {
            &:hover, &:focus {
                background: $dropdownLinkBackgroundHover;
                text-decoration: none;
                cursor: pointer;
            }
            &:active {
                background: darken($dropdownLinkBackgroundHover, 10%);
            }
            &.disabled:hover, &[disabled]:hover {
                background: none;
                cursor: default;
            }
        }
        .preferred-desk {
            background-color: lighten($sd-blue, 30%) !important;
        }
    }
    &.dropdown__menu--plain {
        li, .dropdown__menu-item {
            padding: .5rem .7rem;
            &:hover {
                background: $dropdownLinkBackgroundHover;
                cursor: pointer;
            }
        }
    }
}

// Dividers (basically an hr) within the dropdown
.dropdown__menu-divider {
    height: 1px;
    margin: 0.8rem 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

// Button variation for menu items with active state (.dropdown__menu-item--active); 
// List item variation (.dropdown__menu-item--highlighted) adds background color to the .li item
.dropdown__menu {
    .dropdown__menu-item--active {
        button, button:hover {
            background-color: lighten($sd-blue, 10%) !important;
            color: white !important;
            [class^="icon-"], [class*=" icon-"],
            [class^="filetype-icon-"], [class*=" filetype-icon-"] {
                color: white !important;
            }
        }
        button:hover {
            background-color: $sd-blue !important;
        }
    }
    .dropdown__menu-item--highlighted {
        background-color: lighten($darkViolet, 30%);
    }
    .dropdown__menu-item--no-link {
        font-weight: 400;
        line-height: 1.8rem;
        position: relative;
        color: #747474;
        padding: .6rem 1.6rem;
        margin-bottom: .2rem;
        font-size: 1.3rem;
        text-align: left;
    }
    label {
        display: inline-block;
        margin: 0;
        + .dropdown__menu-info {
            margin-left: 4px;
        }
    }
}

.dropdown__menu-label {
    text-transform: uppercase;
    font-size: 1.1rem;
    color: $grayLight;
    font-weight: 500;
    padding-left: 1.6rem;
    margin-bottom: .6rem;
    .dropdown__menu-close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        padding: 0;
        margin: 0;
        border: 0;
        width: auto;
        opacity: .3;
        background-color: transparent;
        cursor: pointer;
        i { margin-right: 0 !important; }
        &:hover, &:focus {
            background-color: transparent;
            opacity: 1;
        }
    }
}
.dropdown__menu-header {
    font-weight: 300;
    font-size: 1.5rem;
    color: $grayLight;
    padding-left: 1.6rem;
}

.dropdown__menu-footer {
    padding: 1rem;
    margin-top: 0.6rem;
    border-top: 1px solid #e5e5e5;
    &--align-right {
        text-align: right;
    }
}

.dropdown__menu-info {
    color: $grayLight;
    font-style: italic;
    vertical-align: middle;
}
.dropdown__menu-item {
    padding: 0;
    &--left-10 {
        padding-left: 1rem;
    }
}

.dropdown__menu--padded-l10 {
    > li {
        padding-left: 1rem;
    }
    .dropdown__menu-item {
        padding: 0;
    }
}

// Aligns the dropdown menu to right
.dropdown__menu--right {
    right: 0;
    left: auto;
}

.dropdown__menu {
    .menu-item--active {
        button, button:hover {
            background-color: lighten($sd-blue, 10%);
            color: white;
            [class^="icon-"], [class*=" icon-"],
            [class^="filetype-icon-"], [class*=" filetype-icon-"] {
                color: white;
            }
        }
        button:hover {
            background-color: $sd-blue;
        }
    }
}

// Open state for the dropdown
// ---------------------------
.dropdown.open {
    > .dropdown__menu {
        display: block;
        &.dropdown__menu--scrollable {
            max-height: 350px;
            overflow: auto;
            overflow-x: hidden;
        }
    }
}

//Right aligned dropdowns
.dropdown--align-right .dropdown__menu, .dropdown--align-right.dropdown__menu {
    left: auto;
    right: 0;
    &:before {
        left: auto;
        right:10px;
    }
}


.dropdown--dropup {
    // Reverse the caret
    .dropdown__caret {
        border-top: 0;
        border-bottom: 4px solid $black;
        content: "\2191";
        @include transition(all, 0.2s, eas-in);
    }
    // Different positioning for bottom up menu
    .dropdown__menu {
        top: auto;
        bottom: 100%;
        margin-bottom: 4px;
    }
    &.open {
        .dropdown__caret {
            border-bottom-color: $sd-blue !important;
        }
    }
}

.dropdown--dropleft {
    display: inline-block;
    vertical-align: middle;
    .dropdown__menu {
        top: -2.3rem;
        left: auto;
        right: calc(100% + 0.3rem);
    }
}

.dropdown--dropright {
    display: inline-block;
    vertical-align: middle;
    .dropdown__menu {
        top: -2.3rem;
        left: 100%;
    }
}
.dropdown--dropright.open {
    .dropdown__caret {
        transform: rotate(-90deg);

    }
}
.dropdown--dropleft.open {
    .dropdown__caret {
        transform: rotate(90deg);

    }
}
.dropdown--dropright, .dropdown--dropleft {
    &.dropdown--dropup {
        .dropdown__menu {
            bottom: -2.3rem;
            top: auto;
        }
    }
}

// CLassic dropdown with no arrow
// -------------------------------------------------
.dropdown--noarrow {
    display: inline-block;
    .dropdown__menu {
        margin: 0;
        max-height: 250px;
        overflow: auto;
    }
    .dropdown__menu:before {
        display: none;
    }
    .dropdown {
        .dropdown__toggle {
            display: block;
            padding: 3px 15px;
            clear: both;
            font-weight: normal;
            line-height: 18px;
            white-space: nowrap;
        }
    }
    &.open li > .dropdown .dropdown__toggle {
        display: block;
        padding: 5px 7px;
        margin: 0;
        clear: both;
        font-weight: normal;
        line-height: 18px;
        white-space: nowrap;
    }
}

.dropdown--noarrow.dropdown--no-scroll {
    .dropdown__menu {
        max-height: none;
        overflow: visible;
    }
} 

// CLassic scrollable dropdown
// -------------------------------------------------

// .dropdown.dropdown--scrollable {
//     .dropdown__menu {
//         max-height: 250px;
//         overflow: auto;
//     }
// }

// Classic dropdown with bigger width
// -------------------------------------------------
.dropdown--bigger {
    .dropdown__menu {
        min-width: 238px;
    }
}
.dropdown--bigger-500 {
    .dropdown__menu {
        min-width: 300px;
    }
}

// Activity dropdown
// -------------------------------------------------
.dropdown--more-activity {
    .dropdown__menu {
        min-width: 0;
        padding: 5px;
        border-radius: 0px;
        border:0;
        z-index: 1;
        margin-top: -1px;
        &:before {
            display: none;
        }
        li {
            display: inline-block;
            vertical-align: middle;
            a {
                padding: 0;
                i {
                    margin-right: 0;
                }
                span {
                    display: none;
                }
            }
        }
    }
}

// Dark dropdowns
// -------------------------------------------------
.dropdown.dropdown--dark {
    .dropdown__toggle {
        text-align: left;
        background: #4f4f4f;
        padding: 10px 15px;
        border-radius: 2px;
        color: #fff;
        .dropdown__caret {
            border-top-color: $white;
        }
    }
}

// Full width dropdown 
// -------------------------------------------------
.dropdown.dropdown--full-width {
    width: 100%;
    .dropdown__toggle {
        .dropdown__caret {
            float: right;
            margin-top: 6px;
        }
    }
}

// Multiedit dropdown
// -------------------------------------------------

.dropdown__menu--multiedit {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    li {
        margin-bottom: 4px;
    }
    li button {
        width: 300px !important;
        padding-right: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        border-radius: 0;
        i {
            position: absolute;
            right: -5px;
            top: 9px;
        }
        &.disabled, &.disabled:hover {
            background: #f0f0f0;
            i {
                opacity: .2;
            }
        }
    }
    li .msg {
        padding: 0 20px;
    }
}

.dark-ui {
    .dropdown__caret {
        border-top-color: $white;
    }
    .dropdown.open .dropdown__caret {
        border-top-color: #5ea9c8;
    }
}

