// Dropdown integrated in input field

.dropdown.dropdown--input-addon {
    position: absolute;
    inset-inline-end: 12px;
    margin-block-start: -1px;

    > .dropdown__toggle {
        height: 22px;
        line-height: 0;
        padding: 2px 6px;
        box-shadow: none;
        margin-block-end: 2px;
        background-color: transparent;
        box-shadow: none;

        .dropdown__caret {
            padding: 0px;
            margin-inline-start: 0;
        }
    }
    
    &.open > .dropdown__toggle {
        background-color: transparent;
    }
}
