// Nested dropdowns
// -------------------------------------------------
.dropdown {
    &.open {
        li .dropdown {
            display: block;
            float: none;
            .dropdown__toggle {
                padding-right: 2.4rem;
                &::after {
                    position: absolute;
                    right:0.8rem;
                    top:22%;
                    display: block;
                    width: 1.6rem;
                    height: 1.6rem; 
                    line-height: 1.6rem;
                    font-family: 'sd_icons';
                    content: "\e643";
                    font-size: 1.6rem;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    opacity: .4;
                }
            }
            &:not(.open) .dropdown__menu {
                display: none;
            }
            > .dropdown__menu {
                left: 100%;
                right: auto;
                top: 0;
                min-width: 160px;
                z-index: 10;
                &.dropdown__menu--submenu-left {
                    left: auto;
                    right: 100%;
                }
                &.upward {
                    top: auto;
                    bottom: -16px;
                }
                &.dropdown--align-right {
                    left: auto;
                    right: 0;
                }
            }
            &.dropdown--dropup > .dropdown__menu {
                top: auto;
            }
            &:hover {
                > .dropdown__menu {
                    display: block;
                }
            }
        }
    }
}

.dropdown.dropdown--dropup {
    &.open {
        li .dropdown {
            > .dropdown__menu {
                top: auto;
                bottom: -16px;
            }
        }
    }
}