
.sd-widget.metadata {
    .dropdown {
        margin-right: -5px;
        .dropdown__toggle {
            display: inline-block;
            max-width: 100%;
            min-width: 40px;
            box-sizing: border-box;
            height: 28px;
            margin-top: -5px;
            border-radius: $border-radius__base--x-small;
            border: 1px solid #f8f8f8;
            padding: 4px 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            &:hover {
                cursor: pointer;
            }
        }
        .dropdown__menu {
            &:before {
                display: none;
            }
            margin: 0;
            margin-top: -5px;
            box-sizing: border-box;
            border-radius:0;
            max-width: $tabpane-width - 40px;
            button {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    &.small {
        .dropdown {
            .dropdown__toggle {
                width: 40px;
            }
            .dropdown__menu    {
                width: 70px;
                min-width: 0;
            }
        }
    }

    .dropdown-nested {
        position: absolute;
        right: 0px;
        margin-top: 0px;
    }
}
